[2021-06-10 06:59] rieckpil opened #1738 "Configuration to disable default JVM perfcounters"
**Is your feature request related to a problem? Please describe.**

We're using Spring Boot (+ Actuator) and the Azure Java Agent 3.1.0 to expose metrics, logs, and other telemetry data. Currently, we emit metric information about the JVM (threads, memory, GC, etc.) twice: once by the AI Java Agent itself (I guess the internal package is called [`perfcounter`](https://github.com/microsoft/Applicat

[2021-06-14 05:43] trask commented on #1665
Hey @stevendick-swissre,

Metric filters are available now in 3.1.1, please see the docs at
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-telemetry-processors#metric-filter

We didn't support `include` because of concerns how that would work with built-in metrics and jmx metrics, whereas `exclude` seems unambiguous, "I want to exclude these specific metrics".

This doesn

[2021-06-14 05:54] trask commented on #1738
hey @rieckpil! check out the just recently released metrics filters: https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-telemetry-processors#metric-filter

[2021-06-14 05:57] trask commented on #1734
The kafka integration doesn't capture these metrics, so I don't think you should see duplicates, but let us know if you are seeing duplicates for some reason.

[2021-06-14 06:02] trask commented on #1733
hey @geertn!

the count on that screen takes the sampling rate into consideration (so it gives you approx the real count for your application).

you can check the raw telemetry by going to "logs" and querying the requests table:

![image](https://user-images.githubusercontent.com/218610/121846032-31a7a680-cc9b-11eb-8120-c4dbd099ed97.png)

let us know if this answers your question or if you are sti

[2021-06-14 06:03] #1703 closed

[2021-06-14 07:51] rieckpil commented on #1738
Thanks for getting back so quickly, @trask.

So the solution could be to list all internal perf counters like this?

[code]

The only _downside_ I see with this approach is that potential renamings of the metric name or when new perf counters are added could _break_ this.

I'll give it a try and list all perf counters in the `exclude` field 👍

[2021-06-14 11:19] geertn commented on #1733
Thanks for your reply, I still see the issue:

![gh-requests](https://user-images.githubusercontent.com/4923332/121884323-16787d80-cd13-11eb-980f-31268fe9422a.png)

[2021-06-14 13:33] stevendick-swissre commented on #1734
I haven't confirmed duplicates, it was a suspicion assuming metrics were captured both from Micrometer and the Kafka libs.

If the kafka integration doesn't capture metrics, what does it capture? Just the dependencies?

Does the agent only capture metrics from Micrometer?

[2021-06-14 15:16] paveljakov commented on #1685
Hello,

In our case we need to provide sampling overrides and processors as well as cloud role name and connection string (these can be configured using environment variable). Also when I looked at the source code, I saw that entire json configuration file content can be provided as a environment variable. But for us it would be nice to be able to keep all application configurations in one place,

[2021-06-14 16:12] wcislo opened #1743 "Using Java Agent with AI SDK"
**What we have:**

Right now we are using AI SDK v 2.6.3 for tracking HTTP operations and remote dependencies. We use it in multi-tenant system, and it is important for us to incorporate additional information about tenant (which is passed via request headers) in our telemetry data.
1. For incoming requests, we use a filter:

[code]
 What we achive is visible distinction between requests for tenan

[2021-06-14 18:27] #1634 closed

[2021-06-14 18:36] trask commented on #1632
Closing, there was a memory leak that was fixed in 3.1.1, please let us know if you upgrade to 3.1.1 and continue to see any issues.

[2021-06-14 18:36] #1632 closed

[2021-06-14 18:37] trask commented on #1684
hey @paveljakov! are you able to set the environment variable in the startup script for each java process separately?

[2021-06-14 18:48] trask commented on #1685
hey @paveljakov, the main concern with loading configuration files from external locations is that we need to know the configuration on startup, and so it introduces complexities if the external location is not available, or takes too long to respond.

environment variables can be set in your Intellij Run/Debug Configurations

ya, this would be nice, though merging configurations gets complex.

[2021-06-14 18:50] trask commented on #1733
hi @geertn, in the above query, you have `sum(itemCount)`, which still takes sampling into consideration.

e.g. when sampling is set to 1%, all of the telemetry records have `itemCount = 100`, because each one represents approximately 100 records

[2021-06-14 18:54] trask commented on #1734
it captures dependencies (producers) and requests (consumers), and propagates distributed tracing headers so that they are linked as part of a single transaction (e.g. in the Application Map and End-to-end transaction view).

what you see in the `customMetrics` table? yes, those are only from JMX metrics that have been configured (plus a few that are default), and from Micrometer

[2021-06-14 20:57] geertn commented on #1733
Hi @trask thanks for your patience :) Even though the query is returning the amount with sampling taken into consideration I still wouldn't expect the numbers go up when changing to 3.1.1 even though I'm not changing the sampling rate.

I changed the query into
[code]

The peak numbers below (the peak being 3.1.1) basically correlates with the amount of requests this process is actually handling.

[2021-06-14 21:26] trask commented on #1733
Interesting, I'm not sure what's going on, I just tried locally with sampling percentage 1, and it's working for me as expected on both 3.0.2 and 3.1.1 (didn't try any other versions).

Is there any chance you could put together a repro that I can run and troubleshoot?

[2021-06-15 00:51] kryalama commented on #1605
@rkganji we recently added log processor feature in version 3.1.1. Here is an example on how to mask sensitive data in logs. https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-telemetry-processors-examples#masking-sensitive-data-in-log-message
Please give it a try.

[2021-06-15 06:05] stevendick-swissre commented on #1734
Thanks for clarifying.

[2021-06-15 06:05] #1734 closed

[2021-06-15 07:40] wcislo commented on #1743
I tried to convert as much code to configuration (span processors) as I could, but again I encountered problems:
1. https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-sampling-overrides#common-span-attributes lists *some common attributes* - where I can find all of them? I tried https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semant

[2021-06-15 13:03] geertn commented on #1733
I see it consistently in production but reproducing locally didn't work yet. I'll let you know if I can set something up useful.

[2021-06-16 14:18] geertn commented on #1733
Weirdly enough we can only reproduce it consistently in production. I'll spend more time on it, but if you are interested I would be happy to show you in a shared screen session. Something that might be related is a log message that we only see when running with 3.1.1 and not with 3.0.2:

[code]

We run this with `openjdk version "1.8.0_282"` and apparently run into a compatibility issue between j

[2021-06-16 16:00] MS-jgol commented on #1722
@stevendick-swissre We have a different thread on this, and the metrics overrides that we recently released should help.
It would be great to arrange a meeting between our teams. Would you be able to reach out to jgol at microsoft.com?

[2021-06-16 16:32] stevendick-swissre commented on #1722
@trask has cleared up which integrations are the source of metrics with the agent.

Combined with:
- the agent supporting metric exclusions
- figuring out how to get Spring Boot/Micrometer to conditionally enable/disable metrics

I think we're good for now and can now gain control over our App insights ingestion costs.

I may be back in another ticket to learn how to control the volume of dependen

[2021-06-17 03:27] trask commented on #1674
hey @dma1979! this should work in recent versions if you set the instrumentation key on the telemetry record itself, e.g.

[code]

[2021-06-17 03:32] trask commented on #1743
hey @wcislo! I'm having a hard time following exactly what's working and what's not for you. Would it be possible for you to create a small repro to demonstrate? I think that would help us to guide you to a solution.

[2021-06-17 03:45] trask commented on #1733
hey @geertn, this debug message is expected in 3.1.1 because it now includes [Java 11 HttpClient](https://docs.oracle.com/en/java/javase/11/docs/api/java.net.http/java/net/http/HttpClient.html) instrumentation

keep us posted on your findings

[2021-06-17 03:49] #1727 closed

[2021-06-17 03:50] trask commented on #1691
Closing, but please feel free to post further comment or a new issue.

[2021-06-17 03:50] #1691 closed

[2021-06-17 03:51] trask commented on #1722
Closing, but please feel free to post further comment or a new issue.

[2021-06-17 03:51] #1722 closed

[2021-06-17 03:53] trask commented on #1631
Let us know if you find anything.

Closing in the meantime, but please feel free to post further comment or create a new issue.

[2021-06-17 03:53] #1631 closed

[2021-06-17 03:53] trask commented on #1570
Closing, but please feel free to post further comment or create a new issue.

[2021-06-17 03:53] #1570 closed

[2021-06-17 03:53] trask commented on #1546
Closing, but please feel free to post further comment or create a new issue.

[2021-06-17 03:53] #1546 closed

[2021-06-17 03:54] trask commented on #1509
Closing, but please feel free to post further comment or create a new issue.

[2021-06-17 03:54] #1509 closed

[2021-06-17 03:55] trask commented on #1506
Closing, but please feel free to post further comment or create a new issue.

[2021-06-17 03:55] #1506 closed

[2021-06-17 03:55] trask commented on #1490
Closing, but please feel free to post further comment or create a new issue.

[2021-06-17 03:55] #1490 closed

[2021-06-17 03:57] trask commented on #1605
Closing since this feature is now released, but please feel free to post additional comment on this issue, or create a new issue, if you have further questions.

[2021-06-17 03:57] #1605 closed

[2021-06-17 09:12] wcislo commented on #1743
1. Auto-collected operations:
Use this code:
`RequestTelemetry requestTelemetry = ThreadContext.getRequestTelemetryContext().getHttpRequestTelemetry(); requestTelemetry.getProperties().putIfAbsent("TENANT", tenantHolder.getTenant()); requestTelemetry.setName(tenantHolder.getTenant() + " " + requestTelemetry.getName());`

With pure SDK v2.6.3:  This code works, name is modified and visible in Azure

[2021-06-22 08:42] paveljakov commented on #1685
Hello @trask,

I understand your concern about timeouts, etc.

Yes. But the problem is that we are pushing all developers to use AI before creating PRs to analyze how their changes impact the system overall (we had issues where developers unknowingly introduce N+1 call problem, etc.). And I would like to make their life as simple as possible. Some people open multiple services at the same time, so

[2021-06-22 08:57] paveljakov commented on #1684
Hi @trask,

As mentioned in #1685, we are pushing all developers to use AI before creating PRs to analyze how their changes impact the system overall and I would like to make their life as simple as possible. Some people open multiple services at the same time, some open single one each time. Asking to configure Environment Variables for each run configuration is not ideal and can lead to misconfi

[2021-06-22 14:49] rieckpil commented on #1738
I managed to exclude the perfcounters collected by the Application Insights Agent itself with the following `applicationinsights.json` and AI 3.1.1.

[code]

@trask I'm closing this ticket. Introducing a boolean to toggle on/off such out-of-the-box metrics might be still beneficial to avoid manual efforts whenever there's a new perfcounter.

[2021-06-22 14:49] #1738 closed

[2021-06-22 19:03] zoomingrocket opened #1752 "Operation Names not in new format with 3.1.1 GA Agent"
### Expected behavior
Not all Operation names are in format of Http Method - Path, only some reflecting new format
E.g. POST /vet.html

### Actual behavior
Old v3.0 Agent Behavior when preview option for includeHttpMethodInOperationName is set
 "preview": {
    "includeHttpMethodInOperationName": true
}
i.e. HTTP POST or HTTP GET
### To Reproduce
Upgrade Agent JAR to 3.1.1 and restart JVM

#### Sa

[2021-06-23 03:57] trask commented on #1752
hey @zoomingrocket! what server web framework(s) are you using?

is it the same server web framework in both the cases where its capturing the route, and the cases where its capturing `HTTP GET`?

did this work in a prior Application Insights Java version?

[2021-06-23 04:04] zoomingrocket commented on #1752
I will need to dig a bit for underlying libraries as it is proprietary
middleware platform.

With v3.0 GA behavior was just url paths as operation name before we added
preview option to switch to HTTP Method operation name and with v3.1.1 we
were going to get Method + Path so were excited but seeing partial behavior.

Anything i can print out in diagnostic log for more info?

On Tue, Jun 22, 2021

[2021-06-23 06:30] trask commented on #1752
If you can enable agent debug logging:

[code]

and repro and attach the full debug log, that will give me some clues where to look next.

[2021-06-23 06:57] stevendick-swissre opened #1757 "Rate limit or filter logging and exceptions"
# Desired outcome
A way to limit misbehaving applications that are spamming the same logging or exceptions via the App Insights agent.

# Context
We had an application generate 4 million exceptions in a 6 hour period overnight in our test environment that caused us to hit our data cap. This application's implementation is niave as it was stuck in a fail loop and the exceptions were all the same, b

[2021-06-23 15:04] zoomingrocket commented on #1236
@trask  - Confirming that we are able to see instrumentation for RabbitMQ and E2E correlation. Verified with v3.1.1. GA agent, sorry got to it late.

![image](https://user-images.githubusercontent.com/2420449/123120815-a18ffc80-d412-11eb-9f6f-f9b31e3f07b3.png)

Huge help, thanks for getting this feature in!

[2021-06-23 22:45] dma1979 commented on #1674
hi @trask , thank you for your piece of advice.

But it  still doesn't work by setting intrumentation key on the record itslef:
[code]

Regarding versions:
"applicationinsights-agent: 3.0.2"
 "applicationinsights-web:2.6.3"

[2021-06-23 23:04] trask commented on #1674
oh, sorry, you will need 3.0.4 or later for that to work

[2021-06-24 22:28] dma1979 commented on #1674
Thank you @trask for your quick response.
Here the results:
1) (+) OK, when AppInsightAgent's instrumentation-key and custom event instrumentation-key are different but both belong to the same IngestionEndpoint, f.e. eastus2-0
2) (+) OK, when custom event instrumentation-key is not set, then just single one from AppInsightAgent's is used.
3) (-) NOT_OK, when AppInsightAgent's instrumentation-key b

[2021-06-26 19:09] martijnburgers opened #1771 "How to add custom dimensions to a trace"
I am running a Java Quarkus application with `applicationinsights-agent-3.1.1.jar` .

The applications logs in json format

[code]
The last line also includes custom `properties` created with the following line of code:

[code]

Application Insights shows every log line (trace) as shown above but the `customDimensions` never include the custom properties. It only shows:

[code]

How can we add cus

[2021-06-27 03:51] trask commented on #1757
Hey @stevendick-swissre, were the exception stack traces the primary problem, since they tend to be large?

What do you think about a simple rate limit on the capturing of exception stack traces, and when the rate limit is hit, we just stop collecting stack traces on exception telemetry?

(the advantage of continuing to collect the basic exception telemetry after the rate limit is hit, is that the

[2021-06-28 13:41] jbrailsford opened #1775 "Ability to disable calls to instance metadata endpoint"
Currently when running the AI integration for Java for code that's deployed outside of Azure, we see repeated calls to the instance metadata service endpoint (http://169.254.169.254:80) - naturally these fail given it's not running in an environment with that available.

Ideally it should be possible to disable this module in the same way it's possible to disable some of the automatic dependency t

[2021-06-29 06:50] stevendick-swissre commented on #1757
That's a definite improvement on the current behaviour, but I don't see value in capturing exceptions without the stacktrace.

These 4 million exceptions in my original example are all identical, except for the timestamp when they happened. I calculate roughly 185 exceptions a second.

I'd rather have the option to rate limit an exception to once every 1/5/60 seconds and completely drop the duplic

[2021-06-30 02:59] trask commented on #1771
hey @martijnburgers! What logging framework are you using?

[2021-06-30 03:05] trask commented on #1775
hi @jbrailsford! where are you seeing these calls? is the agent logging them, or are you capturing/seeing them some other way? thx

[2021-06-30 08:34] martijnburgers commented on #1771
Quarkus is using  JBoss Log Manager and the JBoss Logging facade: `org.jboss.logging.Logger`

[2021-06-30 16:59] trask commented on #1757
@stevendick-swissre can you send me email (trask.stalnaker@microsoft.com)? It looks like you had another issue yesterday, and I want to make sure we get you sorted quickly.

[2021-07-03 02:14] VikramNisarga opened #1791 "In Spring boot, Error controller(/error) will shown in the failure requests tab instead of the actual request URI"
### Expected behavior
In Spring boot if a request is failed, the request URI should be captured

### Actual behavior
URI of the default error controller is captured

![image](https://user-images.githubusercontent.com/26029452/124340344-2547a700-dbd2-11eb-9425-6aadc1226525.png)

### System information
Please provide the following information:
 - SDK Version: 3.0.1
 - OS type and version: ubuntu 18.

[2021-07-03 15:48] Torrenal commented on #1061
I'm willing to discuss and/or assist with this.
I have insights and cxf both working locally in Java 11 using modules, but I would rather work _with_ other people for a formal submission rather than dumping a large "fix" for people to consider.   What I have locally here works for me... but certainly breaks some things, making it a less than ideal as a universal solution).

[2021-07-03 18:55] trask commented on #1791
hey @VikramNisarga! I think this may be resolved in 3.1.1, can you give that a try?

[2021-07-04 21:51] jbrailsford commented on #1775
Hey @trask, apologies for the delay, will confirm _what_ is logging them with our dev team tomorrow AM (UK time).

In the meantime, this may be of help, these are the log messages that are emitted:

[code]

[2021-07-05 07:48] jbrailsford commented on #1775
Back again, it appears that the exceptions are being logged by Log4J.

[2021-07-06 01:14] Torrenal commented on #1061
Perhaps things might be best served if I draw up a detailed "how to" document for creating a demonstrational jlink image of an application that includes a fair number of non-modular jars (insights included? No reason not to) and link that back here.  Anybody know a good open-source thing I can use for this? (brownie points if it uses CXF - that gets into a couple ticklish areas that can trip peopl

[2021-07-06 02:32] VikramNisarga commented on #1791
Hey @trask, after updating the agent the HTTP verb is getting added to /error but it's still not showing the request URI
[]()![Screenshot_20210706-080008.jpg](https://user-images.githubusercontent.com/26029452/124533710-76ed6d00-de30-11eb-9ede-ef2bb4a3ac0a.jpg)

[2021-07-06 09:39] tobiasdiez commented on #515
Just for the record, we still see this problem.

From what I get from the logs, it's one exception that occurs at the users side but is then logged multiple times in the application insights.

[2021-07-06 16:52] Luisrod12 commented on #1099
Any Updates on getting this capability included in Java on its roadmap?

Thanks in advance.

[2021-07-07 01:05] #1699 closed

[2021-07-07 08:22] ejbp commented on #1099
I missed your message. We have it up and running on production, so Yes, I'm still using this workaround.

[2021-07-08 10:56] garridobarrera opened #1795 "Application failed to start when use applicationinsights-spring-boot-starter:2.6.3 due to more than one telemetryConfiguration bean defined"
### Expected behavior
Application start successful with more than one bean of type telemetryConfiguration. Is it possible to qualified the parameter telemetryConfiguration in the public class ApplicationInsightsTelemetryAutoConfiguration class?. Suggestion:
[code]

### Actual behavior
I have a project witch export metrics through application insights. In that configuration it have a qualified bean

[2021-07-09 00:23] kryalama commented on #1674
@dma1979 I am guessing the application insights endpoint is redirecting with 308 response when telemetry is sent to eastus2-3. And as of today the agent donot support redirects. Could you please confirm if you see any redirects through debugger tool like Fiddler.

[2021-07-13 06:05] VikramNisarga commented on #1791
Closing the issue as its working fine in 3.1.1

[2021-07-13 06:05] #1791 closed

[2021-07-14 19:34] bora-fsd opened #1798 "Not seeing custom metric after following the example in documentation"
### Expected behavior
Following the [custom metrics documentation using micrometer](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent#send-custom-metrics-using-micrometer), I would expect a custom metric named `test_counter` to be shown on the Azure Monitoring - Metrics Dashboard.

### Actual behavior
Registered micrometer custom metric does not appear under Metric dro

[2021-07-15 05:14] trask commented on #1798
hey @bora-fsd! can you post the agent log from your attempt with 3.1.1?

[2021-07-15 13:18] bora-fsd commented on #1798
@trask here it is:

[code]

Note that the SSLException happens randomly, although the SocketException is happening all the time. Firewall rules are not blocking the executable. App Insights is reporting cpu/memory when the application is running.

Java code:

[code]

my build.gradle:

[code]

[2021-07-15 17:42] heyams commented on #1798
169.254.169.254:80 is for [Azure metadata service](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=windows) for vm metadata.  From a non-vm app, it will not be reachable.  We shutdown this http call when it's not from a vm in the latest fix.  @trask can we plan for a new release so that @bora-fsd can try it out?

[2021-07-15 19:50] trask commented on #1798
@heyams oh yes, thx! that means those errors shouldn't be affecting the micrometer telemetry then.

@bora-fsd do you see data when you query the `customMetrics` table directly?

also, in the screenshot above, did you check under Metric Namespace: "Log-based metrics"?

[2021-07-15 20:35] bora-fsd commented on #1798
@trask I have checked Log Based Metrics, Application Insights Standard Metrics and there's a Custom `azure.applicationinsights` section as well - it's not there either.

I have queried `customMetrics` table and it is not appearing in there - but I do see other (GC, memory, etc.) metrics in that table.

[2021-07-15 20:49] trask commented on #1798
Great, that helps. Can you [enable debug logging](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#self-diagnostics), and run your app for a few minutes and then post your full applicationinsights.log?

[2021-07-15 21:13] bora-fsd commented on #1798
Attached applicationinsights log file with debug enabled

[applicationinsights.log](https://github.com/microsoft/ApplicationInsights-Java/files/6826254/applicationinsights.log)

[2021-07-16 05:32] trask commented on #1798
hey @bora-fsd, sorry I'm not able to see what might be the issue. is there any chance you can provide a repro that we can use to troubleshoot?

[2021-07-16 15:08] GideonTer opened #1800 "HTTP requests telemetry data is not send by ApplicationInsights-Java after upgrading Tomcat version 9 to 10 (containing javax.* to jakarta.* namespace change)"
### Expected behavior
We upgraded our Tomcat version from version 9 to 10, under which our services are now running (Apache Tomcat Version 10.0.8).This upgrade contains a change in the javax.* to jakarta.* namespace.
I'd expect following the upgrade (and possible converting the applicationinsights-agent.jar with the migration tool) that our service would keep on sending http request data to Applic

[2021-07-16 15:29] bora-fsd commented on #1798
Attached a simple spring boot application.

Place applicationinsights-agent-3.1.1 and applicationinsights.json in the root directory and update `gradle.properties` with the path to the SDK. To run it with gradle, use `gradlew bootRun`

[monitor-poc-java.zip](https://github.com/microsoft/ApplicationInsights-Java/files/6831750/monitor-poc-java.zip)

[2021-07-17 18:40] trask commented on #1798
hey @bora-fsd, thanks so much for the repro!

it looks like setting `org.gradle.jvmargs` only applies to the gradle task, and not your spring boot application.

setting the jvm args like below will apply them to your spring boot application:

[code]

[2021-07-17 20:15] bora-fsd commented on #1798
Weird, as I kept getting logs when running the application with gradle jvmargs. Anyways, the custom metrics are being reported now, thank you very much for your help!

[2021-07-17 20:15] #1798 closed

[2021-07-20 04:49] trask commented on #1775
hey @jbrailsford, sorry for the late reply, logging this at INFO was not intentional, and will be [fixed in the next release](https://github.com/microsoft/ApplicationInsights-Java/issues/1798#issuecomment-880890503) 👍

[2021-07-20 15:09] jbrailsford commented on #1775
hey @trask - that's great to hear, thanks for letting me know!

[2021-07-21 16:10] #1800 closed

[2021-07-21 19:52] derkoe opened #1805 "When running on App Service the wrong client IP is reported"
### Expected behavior
We are using the App Insights Java agent on App Service and have [IP masking turned off](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-collection?tabs=net#storing-ip-address-data). The expected behavior is that "request" logs should include the correct client IP in the field `client_IP`.

### Actual behavior
The field `client_IP` is filled with one of the outbou

[2021-07-21 20:06] derkoe commented on #1805
It seems that the problem is with the "X-Forwarded-For" header. Azure App Service send the port and the IP address in this header - other load balancers and proxies only the IP address.

* Azure App Service: `X-Forwarded-For: 183.13.21.23:56155`
* NGINX/HAProxy: `X-Forwarded-For: 183.13.21.23`

The agent (or App Insights itself) cannot parse the IP:Port combination and uses the App Service IP in t

[2021-07-22 02:50] trask commented on #1800
@GideonTer thanks for posting! support for Servlet 5.0 has been merged and will be included in the next release

[2021-07-22 02:57] trask commented on #1805
@derkoe great finding! we'll target this for the next release

[2021-07-22 03:55] trask commented on #1805
Submitted fix upstream, will pull in here shortly https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/3651

[2021-07-22 21:47] kryalama commented on #1674
@dma1979 we are adding support to redirects in the following PR https://github.com/microsoft/ApplicationInsights-Java/pull/1809

[2021-07-23 01:51] #1805 closed

[2021-07-23 04:32] trask commented on #1775
This is fixed in `main` and will be in 3.2.0-BETA.2

[2021-07-23 04:32] #1775 closed

[2021-07-23 04:35] trask commented on #1009
We believe this is fixed in next release (3.2.0-BETA.2). If you run into this issue in 3.2.0-BETA.2 or later, please open a new issue to let us know, thx!

[2021-07-23 04:35] #1009 closed

[2021-07-23 20:52] #1021 closed

[2021-07-25 11:03] Anand0583 opened #1814 "Spring Boot - AppInsight does not should the Application Map for RestTemplate with HttpClient"
Hello Team,

I have created 2 microservices using Spring Boot and I am trying to create the Application Map using AppInsights.
But in AppInsight we only see 2 Separate Spring Boot application and they are not connected.

![image](https://user-images.githubusercontent.com/35911769/126896795-02ffe2eb-ddd2-4518-8d8a-9142c2dd8ebf.png)

I have followed all the steps which have been mentioned in the Mic

[2021-07-26 20:55] #1684 closed

[2021-07-27 05:08] Torrenal commented on #1061
Document location: http://modules.torrenal.com/
It's a work-in-progress, not specific to insights, and is presently mostly incomplete, possibly not entirely coherent (draft version done late at night, and my first language is bash, not English) but I think I have enough there now to give more enterprising developers a useful starting point...
Basically I've taken a cxf example project, tacked on i

[2021-07-27 08:16] konstantinblaesi opened #1815 "More documentation/examples for applicationinsights.json"
**Is your feature request related to a problem? Please describe.**
Upgrading from insights agent 2.x to 3.x

**Describe the solution you would like**
Documentation is not so clear to me
* Is applicationinsights.json replacing AI-Agent.xml ? It seems like it is
* What would the applicationinsights.json look like for this AI-Agent.xml?
[code]

Could I use some telemetry processor in applicationinsig

[2021-07-27 13:00] #1752 closed

[2021-07-27 18:20] voollasandeepkumar-wandisco opened #1816 "application insights jar 3.0.1 is throwing a socket timeout"
we are running  AI agent with our service using -javaagent:/XXXX/XXXX/applicationinsights-agent-3.0.1.jar

we have observed below error is that something that needs to addressed on our end or yours ?

-or can we ignore this ??

Jul 24 07:29:09 frp01 metric-cruncher[50474]: java.net.SocketTimeoutException: Read timed out
Jul 24 07:29:09 frp01 metric-cruncher[50474]: at java.net.SocketInputStream.so

[2021-07-28 01:20] trask commented on #1816
hi @voollasandeepkumar-wandisco! this is an exception connecting to the ingestion service to send telemetry to azure portal. it should have been stored to disk and sent later. more recent versions report this exception message better if you want to upgrade to 3.1.1

[2021-07-28 01:27] trask commented on #1815
hey @konstantinblaesi!

correct

`MaxStatementQueryLimitInMS` was related to query plans, which are not captured in 3.x, so there is no comparable setting in 3.x

[2021-07-28 01:46] trask commented on #1814
hi @Anand0583! can you try with 3.x? https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-upgrade-from-2x

many more things work out-of-the-box now in 3.x

[2021-07-28 18:07] #1674 closed

[2021-07-28 19:32] shashankkr opened #1817 "AI Agent with SLF4j"
### Expected behavior
logs getting populated in traces

### Actual behavior
logs not getting populated in traces

### To Reproduce
   <dependency>
            <groupId>org.slf4j</groupId>
            <artifactId>slf4j-simple</artifactId>
            <version>1.7.32</version>
        </dependency>
        <dependency>
            <groupId>org.slf4j</groupId>
            <artifactId>slf4j-api</artif

[2021-07-29 00:50] trask commented on #1817
hey @shashankkr! slf4j-simple is not supported currently, only slf4j over logback

[2021-07-29 13:24] shashankkr commented on #1817
@trask thank you, its working now.

[2021-07-29 13:24] #1817 closed

[2021-07-30 13:00] #1733 closed

[2021-08-02 13:03] kasdihacene opened #1825 "Excluding some http requests (health check)"
Hello,

I'm trying to exclude and supress some traces reported by the agent, like the http requests `/actuator/health`

![image](https://user-images.githubusercontent.com/25183892/127865772-2be9df5a-7911-4352-ab36-718e6d2ddb26.png)

I updated the version of the agent (now I'm pointing to 3.1.1) and am using the sampling solution on my applicationInsights.xml file like, bellow:

[code]
someone can

[2021-08-02 17:15] trask commented on #1825
hey @kasdihacene! `ApplicationInsights.xml` and `AI-Agent.xml` are only used by 2.x

for excluding health checks in 3.x, check out https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-sampling-overrides#example-suppress-collecting-telemetry-for-health-checks

[2021-08-03 10:10] nachoge opened #1831 "Different behaviour on ExecutionContext Logger & Log4j Loggers"
Hi,

Probably this is not a bug but a misconfiguration....

We are using ApplicationInsights in JAVA SDK Azure functions. The thing is we have functions which executes the main BL. On the other hand by have a maven artifact with a lot helper classes which uses the log4j.

Logs in AI are ok when ExecutionContext logger is used, that is, there's a custom Prop -InvocationId among others- which relate

[2021-08-03 10:38] Anand0583 commented on #1814
Hello @trask can you please let me know whether after having the applicationinsights-spring-boot-starter included in the build.gradle should we also add the javaagent

Or only the applicationinsights-spring-boot-starter is sufficient to be added in the spring-boot application.

Thanks & Warm Regards,
Anand

[2021-08-03 16:23] trask commented on #1814
hey @Anand0583, the spring boot starter is not needed anymore with the 3.x release, you can remove `applicationinsights-spring-boot-starter` and just add the 3.x javaagent

[2021-08-03 17:17] Anand0583 commented on #1814
Thanks @trask but the result is the same even when using 3.x javaagent. TApplication Map between Order-Service and Customer-Service are two distinct components with no relationship.

They are individual spring-boot applications where order-service invokes customer-service via RestTemplate of ApacheHttpClient.

![image](https://user-images.githubusercontent.com/35911769/128053472-82f703df-a070-402a

[2021-08-03 17:43] trask commented on #1814
hey @Anand0583,

I think you might be running into a requirement of the back-end ingestion service that you send data for more than a minute before it correlates.

Can you try sending more requests and see if it starts working?

[2021-08-03 18:07] Anand0583 commented on #1814
Thanks @trask after sending more than 5 requests it correlated. Can you please explain a more on why we did see the correlation earlier. Because there are few services which get only a few transactions in a hour.

![image](https://user-images.githubusercontent.com/35911769/128064590-8604afd0-f382-4c13-972c-7f2d2ec6b9fb.png)

[2021-08-04 00:58] trask commented on #1795
hey @garridobarrera! I recommend updating to [Application Insights Java 3.x](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent). The applicationinsights-spring-boot-starter no longer exists in 3.x because you get the same easy on-boarding in 3.x now whether you are using spring boot or not.

[2021-08-04 07:00] #1816 closed

[2021-08-04 07:00] #1815 closed

[2021-08-04 07:28] nachoge commented on #1831
Hi @trask for the answer.
We are using Azure Functions Linux so it seems we will need to wait.
By the way, when it is planned for? just an aprox. -as a have to report.

Thank you

[2021-08-04 20:03] trask commented on #1305
this is supported now (on Java 9+) in [3.2.0-BETA.2](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.2.0-BETA.2)

[2021-08-04 20:03] #1305 closed

[2021-08-04 20:04] trask commented on #1674
this should work now in [3.2.0-BETA.2](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.2.0-BETA.2)

[2021-08-04 20:04] trask commented on #1684
this is supported now in [3.2.0-BETA.2](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.2.0-BETA.2)

[2021-08-04 20:05] trask commented on #1021
this is addressed now in [3.2.0-BETA.2](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.2.0-BETA.2)

[2021-08-04 20:06] trask commented on #1009
this should be resolved now in [3.2.0-BETA.2](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.2.0-BETA.2)

[2021-08-04 20:06] trask commented on #1775
[3.2.0-BETA.2](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.2.0-BETA.2) is released

[2021-08-04 20:06] trask commented on #1805
this should be resolved now in [3.2.0-BETA.2](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.2.0-BETA.2)

[2021-08-04 20:06] trask commented on #1800
this should be resolved now in [3.2.0-BETA.2](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.2.0-BETA.2)

[2021-08-05 00:18] trask commented on #867
Spark Web uses Jetty native handlers, which are supported in Application Insights Java 3.x

[2021-08-05 00:18] #867 closed

[2021-08-05 00:20] trask commented on #601
Closing this, messaging telemetry is auto-correlated in 3.x for Kafka, JMS, and RabbitMQ. Please open a new issue if messaging correlation across any other framework is needed. thx!

[2021-08-05 00:20] #601 closed

[2021-08-05 01:14] trask commented on #804
Resolved by #1702

[2021-08-05 01:14] #804 closed

[2021-08-05 01:18] trask commented on #1166
Closing in favor of #1512

[2021-08-05 01:18] #1166 closed

[2021-08-05 01:24] trask commented on #1686
hi @jhevans, sorry for the late reply, if you can share a small repro of what you are trying to do, that would probably be the easiest way to understand what you are doing and how to make it work

[2021-08-05 02:43] trask commented on #1685
#1684 is done now

👍 will do (I created an [internal work item](https://msazure.visualstudio.com/One/_workitems/edit/10532046) for this)

For the issue of synchronizing configurations across multiple AKS nodes, is that something that can be done via orchestration, instead of downloading from inside the pod?

[2021-08-05 19:03] trask commented on #1814
I've asked for clarification from the correlation service on the exact limits, and will get back to you.

Check out https://github.com/microsoft/ApplicationInsights-dotnet#getting-started for getting started with Application Insights .NET.

[2021-08-06 14:46] GideonTer commented on #1800
A quick test in our environment shows this issue is indeed solved, and functions again as expected. Thanks for fixing the issue!

[2021-08-09 10:19] #1795 closed

[2021-08-09 16:11] kasdihacene commented on #1825
I have updated the configuration using 3.x version and `applicationinsights.json` file as below:
[code]

But the trace of the requests are still here, it seems not working,
is all right with my configuration above ?

![image](https://user-images.githubusercontent.com/25183892/128738482-b7e31e7a-83bb-495b-8593-611004dec1e0.png)

[2021-08-10 18:57] trask commented on #1825
hey @kasdihacene!

It looks like those regular expressions may not be correct for your urls.

Can you check the regular expressions against your urls using https://regex101.com/?flavor=java to verify?

[2021-08-11 06:36] chen1005 opened #1844 "Performance issue when using applicationinsights-agent-3.1.0.jar"
Hello,

I recently integrate app insights in my java program and the running time is increased by 10-20s.

I checked the internal self-diagnose log and found the warm up time is about 8-10s and the tear down is about 2-3s.

Since my java program is very light weight (normal run time is 10-20s) and with app insights integrated, the running time is doubled.

I already tried changing app insights con

[2021-08-12 06:27] WoodenAndrew opened #1849 "Drop dependency on apache commons"
Apache commons (and other "standard lib extension" libraries) are "supposed" to help in development by extending the standard library and providing helpers. Issue comes along when everyone are using different versions of "same" dependency, which in turn causes issues when trying to use other libraries. Since agents are not isolated from regular classpath in java, this causes issues when the said a

[2021-08-12 07:00] #1686 closed

[2021-08-12 13:48] navjinderkaur opened #1850 "Add support for log appenders to redirect certain logs elsewhere in AI java agent"
Application Insight SDK had the option to specify log appenders to redirect the logs to different storage locations.  With AI agent, the only logging configuration option we have is to be able to specify log level. We have certain logs that we would like to redirect to files instead.
**Correction** : Even with AI agent, we are able to redirect logs to files. The only issue that these logs also mak

[2021-08-13 14:28] WoodenAndrew commented on #1849
Then why/how did my commons-io:2.4 leak into agent calls?

[2021-08-13 14:32] trask commented on #1849
that's the agent's internal copy of commons-io which is only loaded inside of the agent's class loader

[2021-08-13 18:17] trask commented on #1850
hi @navjinderkaur! can you share the logback.xml that you were using with the 2.x SDK?

[2021-08-16 05:39] #1814 closed

[2021-08-16 09:31] navjinderkaur commented on #1850
Frankly, I haven't attempted logging with the SDK, but I referred a changelog [here](https://github.com/microsoft/ApplicationInsights-Java/blob/main/CHANGELOG.md#version-250-beta), which said that it was possible. And based upon the correction in my request, I think its just the additivity that needs to be fixed. The logback.xml that I'm using with AI agent is attached.
[logback.txt](https://githu

[2021-08-16 23:28] #1743 closed

[2021-08-17 16:18] trask commented on #1844
hi @chen1005! are you running on Java 8? if so, can you try on Java 11 also? the applicationinsights-agent.jar file is signed, which causes some additional startup slowness on Java 8, so that will help isolate if that's the cause for you or not, thx!

[2021-08-18 01:00] #1825 closed

[2021-08-19 05:03] agrajm opened #1858 "[Query] Error in capturing JMX Metrics for Standalone Apache Artemis"
### Expected behavior
1. Deploy Java Application Agent with Apache Artemis. It should collect "all" exposed JMX Metrics that I can see in the JDK Mission Control for the application and I should be able to see them in Azure Portal. Is this assumption wrong?
![image](https://user-images.githubusercontent.com/1135848/130008922-cb83987f-8611-434a-a255-7956218ac8d5.png)

2. By default the auto-collect

[2021-08-23 01:42] agrajm commented on #1858
Update:  Able to figure out some details

1. By default the 3.0 agent collects only these JMX metrics. For the rest you would need to configure in the applicationinsights.json file.
2. Yes, the metrics are present in the `customMetrics` table and can also be seen in the portal in Metrics -> Log Based Metrics under "Custom"

I still don't know the reason behind the intermittent errors I'm observing

[2021-08-23 10:38] derkoe opened #1863 "NullPointerException with Elasticsearch REST client (3.2.0-BETA.2)"
### Expected behavior
Using the agent with the Elasticsearch client should work.

### Actual behavior
`java.lang.NullPointerException: null` is thrown when using the Elasticsearch REST client.
The NPE is raised here:
[code]

### To Reproduce
Call `IndicesClient.exists` with the Elastic REST Client.

#### Sample Application
-

### System information
Please provide the following information:
 - SDK

[2021-08-23 10:39] derkoe commented on #1863
Just found this https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/3659 which seems the cause.

[2021-08-24 04:43] trask commented on #1863
hey @derkoe, good find! that fix should be in the latest SNAPSHOT build: https://github.com/microsoft/ApplicationInsights-Java/files/7035690/applicationinsights-agent-3.2.0-BETA.3-SNAPSHOT.jar.zip

[2021-08-24 08:07] derkoe commented on #1863
The current SNAPSHOT works.

[2021-08-24 09:30] #1863 closed

[2021-08-25 01:00] #1844 closed

[2021-08-31 03:52] trask commented on #1512
this is resolved by #1852 🎉

here's a SNAPSHOT build if you want to try it out before the next release: [applicationinsights-agent-3.2.0-BETA.3-SNAPSHOT.jar.zip](https://github.com/microsoft/ApplicationInsights-Java/files/7080209/applicationinsights-agent-3.2.0-BETA.3-SNAPSHOT.jar.zip)

[2021-08-31 03:52] #1512 closed

[2021-08-31 03:54] trask commented on #1472
PR #1866 introduces a new preview option to disable capturing of these "InProc" controller spans:

[code]

here's a SNAPSHOT build if you want to try it out before the next release: [applicationinsights-agent-3.2.0-BETA.3-SNAPSHOT.jar.zip](https://github.com/microsoft/ApplicationInsights-Java/files/7080209/applicationinsights-agent-3.2.0-BETA.3-SNAPSHOT.jar.zip)

[2021-08-31 23:46] #1472 closed

[2021-09-08 10:54] jansorg opened #1870 "applicationinsights-core after update to 3.x"
Apologies if this isn't the right place for this issue.

I'm using `com.microsoft.azure:applicationinsights-core:2.6.3` in a desktop application to report telemetry to Azure Insights.

Now, as far as I understand, 2.x seems to be outdated and 3.x should be used instead. But 3.x seems to purely built around a JVM agent, which I can't use in my setup. My context is a desktop Java application (an IDE

[2021-09-08 18:04] heyams commented on #1870
We do support loading agent dynamically at runtime.
Can you try attaching 3.x programmatically?

https://github.com/microsoft/ApplicationInsights-Java/issues/1680?

[2021-09-09 18:31] jansorg commented on #1870
Attaching a JVM agent isn't possible in my context. It's a plugin of an IDE process (IntelliJ) and attaching an agent to all of the IDE isn't what a plugin should do. I guess I'll have to  stick to 2.6.

[2021-09-09 19:18] heyams commented on #1870
In that case, I would suggest [Azure Monitor OpenTelemetry Exporter](https://docs.microsoft.com/en-us/java/api/overview/azure/opentelemetry-exporters-azuremonitor-readme?view=azure-java-preview) and [OpenTelemetry SDK](https://github.com/open-telemetry/opentelemetry-java). See if that will solve your issue.

[2021-09-14 11:18] konjp opened #1871 "Application Insights could not send telemetry"
When application jar is deployed on Azure App Service, application is not stared. From log entries this have to do with application insights agent. When agent is disabled application starts normally. Strange thing is that log messages are complaining about cannot resolve host address, that might suggest something with DNS. But in our setup we do not have virtual network or vpn of any kind. Azure h

[2021-09-14 19:35] heyams commented on #1871
Looks like it's complaining about "westeurope-5.in.applicationinsights.azure.com".  Can you share your connection string and double check the stamp specific endpoint in your connection string?

[2021-09-14 21:05] konjp commented on #1871
It is configured as environment variable in App Service:
`APPLICATIONINSIGHTS_CONNECTION_STRING` : `InstrumentationKey=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX;IngestionEndpoint=https://westeurope-5.in.applicationinsights.azure.com/ `

We are using DevOps pipelines and ARM templates to deploy resources, and this connections strings is taken directly from application insights resource, no copy-paste op

[2021-09-14 21:40] heyams commented on #1871
does it work when you switch to a diff connection string? please do **copy and paste** it from the application insights resource. we do find customers who used the wrong stamp specific endpoint in their connection string.

[2021-09-14 21:58] konjp commented on #1871
This is copy-paste directly from application insights resource in JSON format:
` "ConnectionString": "InstrumentationKey=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX;IngestionEndpoint=https://westeurope-5.in.applicationinsights.azure.com/"`

We do not have different  connection string, because we are using one application insights. This was working fine, it started to fail randomly in last couple of days.

[2021-09-14 22:21] heyams commented on #1871
in that case, i will try to repro using westeurop-5. can you share your json config?

[2021-09-14 22:41] heyams commented on #1871
I did a quick test using 3.1.1 and send telemetry to a west europe endpoint.  it works fine on my end both classic and workspace-based connection strings. please use this [instruction](https://dev.to/tsuyoshiushio/using-fiddler-for-application-insights-codeless-java-agent-with-docker-on-wsl2-3kjl) to setup fiddler to see details of your requests/response. hope that helps.

[2021-09-15 11:36] konjp commented on #1871
Is it possible that is issue is connected to [Netty Document How To Switch DNS Resolver](https://github.com/reactor/reactor-netty/issues/1431) ?

We updated application insights agent to version 3.2.0-BETA.3 and we got this exceptions now:

`WARN  r.n.http.client.HttpClientConnect - [id:xxxxxxx, L:/xxxxxxxxx:xxxx - R:westeurope-5.in.applicationinsights.azure.com/13.69.67.60:443] The connection obs

[2021-09-17 01:00] #1870 closed

[2021-09-20 06:13] konjp commented on #1871
Any update on this?

[2021-09-20 18:25] heyams commented on #1871
Did you try jamesward's workaround from your link?

val webClient = WebClient.builder().clientConnector(ReactorClientHttpConnector(httpClient)).build()

io.netty.resolver.dns.**DnsNameResolverTimeoutException** is in your log.

[2021-09-21 00:08] trask commented on #1871
@heyams the exception is coming from applicationinsights, so no way for @konjp to modify the code

[2021-09-21 00:18] heyams commented on #1871
Oops, i will test it on linux app service.. we might need to implement the workaround.

[2021-09-21 00:22] heyams commented on #1871
@konjp here is the [work item](https://msazure.visualstudio.com/One/_sprints/taskboard/TelReachSDKTeam/One/CY2021H2%20-%20Nickel/Monthly/Sep?workitem=10968485) to track this issue.

[2021-09-21 07:22] konjp commented on #1871
@heyams Have you reproduced issue?

[2021-09-21 11:51] anumalasri opened #1880 "Auto Collected dependencies"
Application developed using SpringBoot 2.5.x and included dependency of appinsights-spring-boot-starter v2.6.3. It was deployed onto Azure App Service.

Using AI Agent v2.x, the dependency telemetry has below values and able to track outgoing REST Service calls by URI.

Property | Value
-- | --
Remote dependency name | GET /pathv1/abc/path

After upgrading to Agent v3.x, the dependency telemetry h

[2021-09-21 20:19] heyams commented on #1871
@konjp I can't repo using my app.  do you have a netty sample app with spring boot?

[2021-09-21 21:19] heyams commented on #1871
@konjp can you also run curl command against Application Insights and live metrics endpoints from your server to make sure there is not a firewall/networking issue? I need your help to reproduce it. thanks.

[2021-09-22 08:17] konjp commented on #1871
@heyams I think this error is not connected to spring boot application. App insights agent is running, correct me if I'm wrong, almost independently from application. Error happens before spring application is even start to initializes itself.
I had no problem to connect to application insights ingestion point from my local development machine.
I cannot connect to a server where application is run

[2021-09-22 18:54] heyams commented on #1871
@konjp i have checked agent 3.1.1 was working fine on linux app services using my app. in order to help me repro, can you please share a sample app of yours (similar setup/config)? when you hit start app service, it's actually attaching the 3.1.1 agent to your app.  if the attach fails, your app won't run successfully. can you email me your connection string and full application insights log at he

[2021-09-25 17:15] xsmrcek opened #1883 "Double traceparent headers"
ApplicationInsights Java Agent 3.1.1 is adding another traceparent hedaer into my requests.

Log sample:
{"timestamp":"2021-09-25T16:57:28.540Z","level":"TRACE","thread":"reactor-http-epoll-4","logger":"org.zalando.logbook.Logbook","message":"server request [f7c14e1cbb6d074c] GET ... with body '' headers '{Accept=[*/*], Accept-Encoding=[gzip, deflate, br], Authorization=[Basic dXNlcjp1c2VyLXBhc3N3

[2021-09-27 16:03] musicjunkieg opened #1891 "Provide support for integrating Java agent with Felix OSGi"
**Is your feature request related to a problem? Please describe.**
I am unable to monitor Jira with the in-process Java agent. When I try, many times Jira will not start due to limitations with the Felix OSGi because the container's CLASSPATH is not delegated to the bootstrap classloader, which keeps Jira's system plugins from loading, and so Jira will not start. This means we cannot use the in-pr

[2021-09-27 22:04] imdad-ms opened #1892 "Get span.current().getSpanContext() in Azure eventhub consumer returning empty span context"
### Expected behavior
Describe what you expected to happen.

var context = Span.current() != null && Span.current().getSpanContext() != null ? Span.current().getSpanContext().getTraceId() : null;

### Actual behavior
returning default empty span context

### To Reproduce
Steps to reproduce the behavior:

1. create Spring boot non-web event hub consumer worker based on spring cloud stream
2. inside

[2021-09-28 15:50] petergphillips opened #1893 "Java 17 support for Java Agent 3.1.1 (GA)"
We would like to upgrade to Java 17 but it doesn't appear to be compatible with the 3.1.1 version of the agent:
[code]
The class files are compiled against java 16, but running against java 17.

The Java Agent 3.2.0-BETA.3 looks to be compatible though and pushes successfully into application insights.

Question therefore:

Will there be a new version of the 3.1 code base that is compatible with J

[2021-09-28 17:33] lmolkova commented on #1892
@imdad-ms
can you please share a few details
- versions of Event Hub SDK/springboot starter
- if used, version of azure-core-tracing-opentelemetry (it's should be ok if you don't have it in the POM)
- version if ApplicationInsights agent
- Is it a Springboot starter? or `EventHubProcessorClient`?
- can you please share consume callback/event handler code snippet?

We're working on solving [issues]

[2021-09-28 18:40] cicorias commented on #1892
A repo is here:
https://github.com/cicorias/opentelemetry-span-empty-issue-1892

- it's a spring boot app
- spring cloud stream

We are not seeing any correlationid from the below code - or actually, it's showing up as all "0"s..

We adorned the Web REST controller with similar code --- see the [repro repo](https://github.com/cicorias/opentelemetry-span-empty-issue-1892) for the details, and there

[2021-09-28 18:57] heyams commented on #1893
We plan to GA 3.2 in October 2021.

[2021-09-29 13:40] cicorias commented on #1892
FYI, we missed setting the `applicationinsights.json` preview flag  [OpenTelemetry API support (3.0)](https://github.com/microsoft/ApplicationInsights-Java/wiki/OpenTelemetry-API-support-(3.0)#enabling-this-feature)

I believe this issue can be closed.

[code]

[2021-09-30 01:00] #1871 closed

[2021-09-30 03:12] trask commented on #1893
3.2.0-BETA.4 was just released, and is expected to be the last BETA release before it GAs

[2021-09-30 03:15] trask commented on #1892
3.2.0-BETA.4 was just released, and this option is now enabled by default, so no need to remember to set it anymore 👍

[2021-09-30 03:15] #1892 closed

[2021-09-30 03:18] trask commented on #1880
3.2.0-BETA.4 was just released and http dependencies now capture this additional info

[2021-09-30 03:18] #1880 closed

[2021-09-30 13:40] petergphillips commented on #1893
Thanks very much, good to know.  We'll give 3.2.0-BETA.4 a whirl now then.

[2021-09-30 13:40] #1893 closed

[2021-10-01 11:40] paveljakov opened #1897 "Way to disable logging for certain code paths (scheduled jobs, etc.)"
**Is your feature request related to a problem? Please describe.**
Problem we are solving is Java agent logging dependencies of Quartz scheduled jobs. Currently we have periodic jobs that run quite often and perform actions, e.g. perform DB queries, etc. We are generating quite a lot of automatically collected AI dependencies as a result of action performed in these jobs. It would be nice if we co

[2021-10-01 14:02] apoguy opened #1898 "Service Bus - Apache Camel AMQP: consumers are not being reported in application map"
### Expected behavior
We are running an app using Apache Camel with amqp component, connected to Service Bus queues and topics. When sending messages we can see the traces and it is displayed on application map just fine:

![image](https://user-images.githubusercontent.com/5913516/135628849-295d29f5-82cf-4aab-af38-4c3293799070.png)

However, received messages even tho they appear in traces and end

[2021-10-01 16:50] apoguy commented on #1898
Noticed there is a BETA version, tested BETA 4, with even less success, now receives don't even show up in logs or traces:

![image](https://user-images.githubusercontent.com/5913516/135658144-5338e588-1ccf-41c5-8b0e-e529e2d3d49d.png)

[2021-10-01 16:51] phanbyte commented on #1898
i have the same issue

[2021-10-01 16:52] phanbyte commented on #1898
i have the same issue, no solution found yet. waiting for support.

[2021-10-05 22:51] #1898 closed

[2021-10-06 04:01] trask commented on #1880
3.2.0 GA is released. it takes a few months generally before it will be available directly in Azure AppServices

[2021-10-06 05:14] apoguy opened #1901 "Support for Akka (Actors, HTTP)"
**Is your feature request related to a problem? Please describe.**
Right now correlation when using Akka Actors and Akka HTTP is broken as it correlates all actors messages as a single transaction; and for Akka Http it is not correlating calls with other apps.

**Describe alternatives you have considered**
OTEL already has implementations for Akka; this could be added in version 3.2.0.

https://gi

[2021-10-06 09:33] NguyHa03 opened #1902 "Question - metrics sampling"
I see that we could override sampling for request [(docs)](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-sampling-overrides), do we have something like that for custom metrics ?
I want to keep all metrics at 100% and other telematry at sampling (like 10%)

I found that Standard Metric would be suitable for my scenario [(docs)](https://docs.microsoft.com/en-us/azure/azure

[2021-10-06 14:22] garoplin opened #1903 "Overriding operationId programmatically in Azure Function"
**Is your feature request related to a problem? Please describe.**

We're trying to connect via distributed tracing (operationId) some azure services. They **don't** communicate over HTTP. The first one is sending message to Azure Storage Queue with attached operationId from the current context (
```ThreadContext.getRequestTelemetryContext().getHttpRequestTelemetry().getContext().getOperation().ge

[2021-10-07 01:51] trask commented on #1897
@paveljakov we pulled in Quartz instrumentation as preview instrumentation in the latest release:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#preview-instrumentations

[2021-10-07 13:49] lidkowiak opened #1905 "Turn off customMetrics, performanceCounters and metrics collected by default"
**Is your feature request related to a problem? Please describe.**
By default agent collects lots of metrics/data:

customMetric	Loaded Class Count
customMetric	% Of Max Heap Memory Used
customMetric	Heap Memory Used (MB)
customMetric	Suspected Deadlocked Threads
customMetric	Current Thread Count
customMetric	GC Total Time
customMetric	GC Total Count
customMetric	HeartbeatState
performanceCounter

[2021-10-07 23:52] heyams commented on #1905
[code]

have you tried this?

[2021-10-08 00:36] heyams commented on #1902
@NguyHa03 can you try [metrics filtering](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-telemetry-processors#metric-filter).  It was introduced in 3.1.1.

[2021-10-08 00:51] trask commented on #1903
Hi @garoplin

Can you try running Application Insights Java 3.2.0 on this service?

The reason it might help is that 3.2.0 includes auto-instrumentation of Azure Storage Queues SDK (version 12.9.0+), and so it should be setting the correct distributed tracing header, which then Azure Functions picks up, and since you're using the Azure Functions Application Insights Java integration, that distribu

[2021-10-08 02:21] NguyHa03 commented on #1902
@heyams `metrics filtering` means that I have to set sampling rate of application insight to 100% and filter out metrics that I don't want. It's not suitable for my case.
I need to keep sampling for all telematry like (traces, perfomances..) at 10% and metrics at 100%.

[2021-10-08 18:25] heyams commented on #1905
[default metrics and perf counter collected by 3.x agent](https://github.com/microsoft/ApplicationInsights-Java/wiki/Default-Metrics-Captured-by-Java-3.0-Agent).  you can use [metrics filtering](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-telemetry-processors#metric-filter) to filter both perf counter and custom metrics. i don't believe we use jvm to define any metrics

[2021-10-08 19:25] heyams commented on #1905
fyi:

some metrics specific to jvm are like the following:
none of these matched what you had above.

  | jvm_memory_used |  
  | jvm_buffer_memory_used |  
  | jvm_threads_states |  
  | jvm_memory_committed |  
  | jvm_gc_pause |  
  | jvm_memory_max |  
  | jvm_buffer_total_capacity |  
  | jvm_threads_live |  
  | jvm_classes_unloaded |  
  | jvm_classes_loaded |  
  | jvm_threads_peak |  
  |

[2021-10-08 20:47] heyams commented on #1905
here is an example how to use metric filter:

[code]

[2021-10-10 06:58] mostrovoi opened #1909 "Memory leak when enabling the application"
### Expected behavior
Describe what you expected to happen.

I am using the following configuration for the app insights java:

{
  "role": {
    "name": "app-customer-service-communications-service-java-ms"
  },
  "preview": {
    "profiler": {
      "enabled": true
    },
    "metricIntervalSeconds": 10
  }
}

### Actual behavior
Describe what actually happened that was unexpected.

This is the

[2021-10-11 07:47] paveljakov commented on #1897
@trask that should work, thank you!

[2021-10-11 20:14] heyams commented on #1902
if you're using "trackMetrics" from the 2.x SDK, please use [metric-interval](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#metric-interval) for now.  it doesn't affects calls to "trackMetrics", i.e. custom metrics, but will impact metrics that are auto-collected.

[2021-10-12 01:52] NguyHa03 commented on #1902
I used 3.x agent along with micrometer-core 1.7.3 to send metric like this
`
static final Counter counter = Metrics.counter("test_counter");
counter.increment();
`

[2021-10-12 23:49] heyams commented on #1905
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent#auto-collected-metrics
https://github.com/microsoft/ApplicationInsights-Java/wiki/Default-Metrics-Captured-by-Java-3.0-Agent

we do documented auto-collected metrics. hope this will clear your confusion.

[2021-10-13 09:50] lidkowiak commented on #1905
Thanks, what I want to achieve is to turn off collecting of metrics/perf counters that are enabled by default.
I partially achieved the goal with metric filtering but there are some leftovers.
Obviously I still want to collect other telemetries, especially these that come from micrometer.

I think the scenario I want to achieve is pretty standard. I don't understand why there is something enabled

[2021-10-13 17:21] trask commented on #1909
hey @mostrovoi! here's a snapshot you can test out to see if it resolves the issue: https://github.com/microsoft/ApplicationInsights-Java/files/7333605/applicationinsights-agent-3.2.1-BETA-SNAPSHOT.jar.zip

[2021-10-13 21:25] trask commented on #1901
btw here's a snapshot build from CI so you don't have to build it yourself: https://github.com/microsoft/ApplicationInsights-Java/files/7333605/applicationinsights-agent-3.2.1-BETA-SNAPSHOT.jar.zip

[2021-10-14 23:21] trask commented on #1909
re-opening, need to revert this fix in #1913

@mostrovoi do you only get the netty warning when profiling is enabled?

[2021-10-16 21:42] apoguy commented on #1901
@trask, sorry for the delay.

Here's a sample app, it receives a Service Bus message, triggers an Akka Actor message which then sends an HTTP request using Akka Http and replies to another service bus queue: https://github.com/apoguy/AkkaAppInsightsExample

When using app insights, I can just see the request to the external HTTP service (so are the traces):

<img width="686" alt="image" src="https

[2021-10-18 13:39] rangarnow commented on #1903
Hi @trask, thanks for your response, it was super helpful!

We found that now App service and Azure function link is presented in Application Insights and the two traces looks the same and share operation id, so it's great.

I saw however that before we had the name of the azure function visible in Application Insights tracking and every invocation was visible under that function, so relation pare

[2021-10-26 07:48] Hr0bar opened #1927 "indefinite NullPointerException after single timeout"
### Expected behavior
Connection polling cycle is retried successfully after it fails once

### Actual behavior
ApplicationInsights fail permanently with null pointer exception after connection timeouts once

### System information
Please provide the following information:
 - SDK Version: ApplicationInsights 3.2.0
 - OS type and version: Docker container openjdk:11.0.13-jre
 - Application Server t

[2021-10-26 14:56] lgiuliani80 opened #1928 "getSession().setId() called from Application Insights SDK 2.6.2 ignored with agent 3.2.1"
### Expected behavior
The session_Id field in AI tables should match the value overridden by ThreadContext.getRequestTelemetryContext().getHttpRequestTelemetry().getContext().getSession().setId().

### Actual behavior
setId is ignored.

### To Reproduce
Steps to reproduce the behavior:

* Create a Java Springboot project.
* In an API implementation:
   ThreadContext.getRequestTelemetryContext().ge

[2021-10-27 19:12] #1928 closed, assigned to trask

[2021-10-27 20:43] #1927 closed, assigned to nobody

[2021-10-29 16:55] mmcdermottMS opened #1941 "Upgrade from 2.x to 3.x - operation_Name missing from traces, dependencies, and exceptions"
### Expected behavior
I'm working with a customer to upgrade them from Java Agent v2.x to v3.x in order to improve distributed tracing across a microservices architecture.  They upgraded in a lower environment but are reporting that operation_Name is no longer being populated for **trace**, **dependency**, and **exception** item types.  They also indicated that the operation_Name format has change

[2021-10-31 18:06] trask commented on #1941
This was just resolved in 3.2.0 👍

What does operation_Name look like that you are seeing? I want to confirm that it looks like what we are expecting in 3.x, and not an edge case that we missed.

[2021-10-31 18:49] trask commented on #1901
hi @apoguy, I ran the repro locally, the reason you aren't seeing service bus telemetry is because it's using Service Bus SDK 7.0.1, and Application Insights Java only captures telemetry starting from Service Bus SDK 7.1.0 (https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent#azure-sdks).

I don't see anything else weird when running the repro though (nothing similar to t

[2021-10-31 18:52] trask commented on #1850
hi @navjinderkaur, I'm not sure I understand the issue still. Could you provide a repro that I can run, and describe what you are seeing with the repro, and what you would like to see?

[2021-10-31 19:07] trask commented on #1902
thanks for the explanations @NguyHa03! agree that it is unexpected for sampling percentage to apply to metrics, will fix in #1942

[2021-11-01 05:41] navjinderkaur commented on #1850
Referring to the logger hierarchy in logback, ideally if I have a logger configuration defined like below, my logs would be printed both at stdout and MyLog.log file.
[code]
But if I wanted to print them only to MyLog.log, with logback configuration, we could use the "additivity" attribute to push our logs to only one appender and prevent them from being handled by parent loggers. For example the

[2021-11-01 14:43] robbie-coder opened #1943 "Connection String environment variable doesn't work in containers"
### Expected behavior
When setting the APPLICATIONINSIGHTS_CONNECTION_STRING environment variable in a Windows or Linux container I expect the java agent to pick this up and use it. I orginally encountered this in Windows container but I can also reproduce it in a Linux container.

### Actual behavior
The applicationinsights.log file logs: No connection string or instrumentation key provided. Whil

[2021-11-01 19:39] trask commented on #1941
3.2.0 won't make it out to App Services for a while. You can manually wire it up in the meantime if needed (upload the jar file, set the `-javaagent` JVM argument).

great, that looks like what we'd expect for 3.x (except for operationName missing on other telemetry which is what's fixed in 3.2.0)

[2021-11-01 19:42] trask commented on #1943
hi @robbie-coder! it looks like you have an extra underscore `_` in your test:

`APPLICATION_INSIGHTS_CONNECTION_STRING` instead of `APPLICATIONINSIGHTS_CONNECTION_STRING`

[2021-11-01 20:09] mmcdermottMS commented on #1941
Ok, thank you for confirming.  I did go down the path of manually uploading the 3.2.1 agent jar file and setting the -javaagent value in the JAVA_OPTS config setting, and then removed app service specific config values and lost all telemetry.

If I go with that approach, should I keep the OOTB Application Insights config settings (ApplicationInsightsAgent_EXTENSION_VERSION, etc...) and if so, will

[2021-11-01 21:56] #1902 closed

[2021-11-02 08:43] robbie-coder commented on #1943
Thanks for your feedback @trask in this example application I indeed made a typo. After fixing the typo I could no longer reproduce it in the example. However in my real application I did not make that typo and still had the problem.

But this got me thinking why is this only occurring in a container and only with my application not with a simple application. I eventually found the real cause.

On

[2021-11-02 08:43] #1943 closed

[2021-11-02 23:09] mmcdermottMS commented on #1941
So, I did some additional experimentation and I was able to get the agent jar file deployed and working as expected:

1. I added applicationinsights-agent-3.2.1.jar as well as applicationinsights.json to my deployment config
2. Verified that both were deployed to /home/site/wwwroot alongside my app.jar file
3. Added the _-javaagent:/home/site/wwwroot/applicationinsights-agent-3.2.1.jar_ value to t

[2021-11-02 23:09] #1941 closed

[2021-11-03 06:19] caoloi01 opened #1947 "Waiting for next release version"
When is the next release version? I am looking for the fix https://github.com/microsoft/ApplicationInsights-Java/pull/1942 as it already merged to main.

[2021-11-03 12:38] xsmrcek commented on #1883
Hello @trask , now my applications are using opentelemetry agents (with a little custom adjustments) to propagate tracecontext,b3multi,baggage (- it's configuration). If your agent would be able to propagate that for me it would be awesome, as I would be able to do that and export data to application insights.
Spring sleuth in previous example was just my workaround to allow me to use your javaage

[2021-11-03 13:10] jepperip opened #1948 "Error sending telemetry items: instrumentationKey must be non-null"
I am trying to send logs from a Apache Camel application running in a Docker container to Application Insights.
I have created an Application Insight resource and provided the application with my connection string.
I can connect to the app via the Live Metrics in AI and see that logs are coming in, but when I try to view historic transaction I see no logs.

When looking in the applicationinsights-

[2021-11-03 20:22] heyams commented on #1948
did you notice this warning in your log:

2021-10-28 23:43:43.572Z ERROR c.m.a.a.i.telemetry.TelemetryChannel -
*************************
Unable to find valid certification path to requested target.
*************************

Description:
ApplicationInsights Java Agent failed to send telemetry data.

Action:
Please import the SSL certificate from https://northeurope-2.in.applicationinsights.azure.

[2021-11-03 20:32] heyams commented on #1947
will a BETA work for you? We might need to wait for a bit for an official GA.

[2021-11-03 22:55] trask commented on #1948
@heyams that error was prior to the latest run:

It looks like `dc.services.visualstudio.com` is not resolving, and then the agent is falling back to storing telemetry to disk, and then retrying the telemetry from disk, at which time it doesn't have the ikey since the ikey is embedded in the telemetry data at that point, let's see if we can reproduce locally.

@jepperip in the meantime, can you ch

[2021-11-04 02:58] trask commented on #1883
@xsmrcek I added `b3multi` support in #1949, can you try out snapshot from CI https://github.com/microsoft/ApplicationInsights-Java/files/7471986/applicationinsights-agent-3.2.3-BETA-SNAPSHOT.jar.zip and see if that works for you?

You can enable the configuration using:

[code]

[2021-11-04 04:25] musicjunkieg commented on #1891
Will do!!

Bryan Guffey | ATLASSIAN ADMINISTRATOR | D: 440.485.5559 | M: 785.215.2140<https://aka.ms/o0ukef>
________________________________
From: msftbot[bot] ***@***.***>
Sent: Wednesday, November 3, 2021 7:00:57 PM
To: microsoft/ApplicationInsights-Java ***@***.***>
Cc: Guffey, Bryan ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/ApplicationInsights-Java] Provide support for integr

[2021-11-04 12:17] jepperip commented on #1948
Thanks for the quick replies.

@heyams yes I have fixed that error. I understand that the logs are confusing because of 1. multiple runs and 2. its from 3 different containers. I'm in the processes of re-running the whole thing to produce a cleaner log file from only one container, if you need it.

@trask I am using the connection string from the portal in the applicationinsights.json config, with

[2021-11-04 18:09] heyams commented on #1948
thanks @jepperip for clarification. we figured out what caused the failure.  I'm working on a fix and will inform you when it becomes available.

[2021-11-04 21:25] trask commented on #1850
oh I understand now, thanks!

would it work for you to add a `ThresholdFilter` to your appender to effectively suppress it? (the agent should then still capture the log)

http://logback.qos.ch/manual/filters.html#thresholdFilter

[code]

[2021-11-04 23:37] #1673 closed

[2021-11-05 06:54] xsmrcek commented on #1883
@trask Thank you!
I did try newest version, but it's still generating new traceIds/traceparents :(

I think there is some issue with Kotlin/Webflux/Logbook :(

[2021-11-05 20:59] trask commented on #1883
hi @xsmrcek, you mentioned above that you were able to use OpenTelemetry Java agent successfully, is this still true? Application Insights Java agent is built on top of OpenTelemetry Java agent, so trying to think what difference might be (e.g. we don't include _all_ of the instrumentation from upstream)

[2021-11-08 10:52] xsmrcek commented on #1883
[opentelemetry.zip](https://github.com/microsoft/ApplicationInsights-Java/files/7496322/opentelemetry.zip)
Hi @trask,
after some more digging into our code I found implementation above. Sadly this code is above my understanding. But I hope it will be helpful for you, to see what my predecessors did there.

[2021-11-10 02:15] #1948 closed

[2021-11-10 04:39] heyams commented on #1948
ffyi: the fix has been released in [3.2.3](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.2.3).

[2021-11-10 07:00] #1909 closed

[2021-11-10 07:00] #1831 closed

[2021-11-11 13:23] paveljakov commented on #1897
@trask, We have updated AI agent to newest GA and additional attributes allows us to sample Quartz job execution logging. Thank You!

[2021-11-11 16:36] trask commented on #1947
3.2.3 has been released

[2021-11-11 16:36] #1947 closed

[2021-11-15 01:00] #1901 closed

[2021-11-16 13:52] Ramblurr opened #1964 "Add option to disable the logged warning if trace message exceeds Sanitizer.MAX_MESSAGE_LENGTH"
This PR (https://github.com/microsoft/ApplicationInsights-Java/issues/1021) added warnings when telemetry is truncated. This is fine, but it should be possible to turn the warnings off, or disable the warnings for certain types of telemetry.

In our case we have some large sql queries that trigger this truncation and fill our logs with this warning.

### Expected behavior

We should be able to tur

[2021-11-17 21:12] musicjunkieg commented on #1891
@trask  - about to do this - one question: how is this supposed to address the issue? I don't have a list of classes to delegate.

[2021-11-17 22:20] trask commented on #1891
the javaagent instruments the class loaders themselves, and overrides the delegation for the javaagent classes, so there's nothing you should need to do. if you can try with latest agent and post logs/errors hopefully that will give us some clues why this isn't working in your case

[2021-11-18 01:07] trask commented on #1964
hi @Ramblurr, thanks for reporting this!

I agree, the current situation doesn't seem great.

Would it work for you if we limit this to only be logged once (and to truncate the logged value to 80 characters)?

I have submitted PR #1968 to implement this approach (and to log more verbosely at `debug` level).

(we are trying to avoid configuration option proliferation where possible)

[2021-11-19 07:00] #1850 closed

[2021-11-19 16:05] Ramblurr commented on #1964
Thanks for the reply.

This sounds like a reasonable solution. But what does once mean exactly? Once per JVM execution? And once per all truncation notices or just once per trace type?

Happy with any combination of those, but would be good to understand the behavior.

[2021-11-19 21:41] trask commented on #1964
@Ramblurr thx! it would be once per JVM execution. Well, up to max of 10 times per JVM execution if there are >= 10 different fields that overflow. In your case, if only sql queries are overflowing, it would just be once per JVM execution.

[2021-11-19 21:43] trask commented on #1964
Resolved by #1968

[2021-11-19 21:43] #1964 closed

[2021-11-20 07:00] #1903 closed

[2021-11-22 14:09] vap78 opened #1972 "Be able to configure logging levels for classes in the applicationinsights-agent.jar"
### Expected behavior
Log levels for classes in the agent jar should be configurable like any other loggers.

### Actual behavior
I have a Spring Boot application instrumented with application insights and running in a Docker container.
Command line is similar to what is described in https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-arguments .

I attempted to configure log

[2021-11-22 15:01] vap78 commented on #1972
As a side note - there is a link that is supposed to advice how to collect debug data from the SDK:
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-troubleshoot#debug-data-from-the-sdk which might contain a hint about how to configure those log levels.

However there is no such anchor on the page and I don't find any information about collecting debug data from the SD

[2021-11-22 22:00] trask commented on #1964
here's a snapshot build with the improvement if you want to try it out: https://github.com/microsoft/ApplicationInsights-Java/files/7583682/applicationinsights-agent-3.2.4-BETA-SNAPSHOT.jar.zip

[2021-11-22 22:01] trask commented on #1972
hi @vap78!

the TelemetryTruncation logging was indeed way too verbose (#1964)

this was just fixed recently, can you try out the latest SNAPSHOT build to see if this works for you? https://github.com/microsoft/ApplicationInsights-Java/files/7583682/applicationinsights-agent-3.2.4-BETA-SNAPSHOT.jar.zip

[2021-11-23 08:53] Ramblurr commented on #1972
FYI your attempts to change the logging have no affect because AI is running as a javaagent, and is totally separate from the spring boot application. Boot is not aware that AI even exists.

[2021-11-23 15:19] vap78 commented on #1972
Thanks!

The beta release looks much better. We'll however wait for an official release, before adopting this to production.
From what I can see those logs are not sent to app insights, but they appear in the container log of K8S and in the "kubectl logs ..." command which is a bit annoying.

So there is no way to configure the log severities for code that is running as javaagent? If there is, the

[2021-11-23 15:19] #1972 closed

[2021-11-23 23:07] morngaraf opened #1973 "Sampling overrides do not work for stacktrace attribute (at least in log4j2)"
### Expected behavior
Sampling overrides should work for stacktrace attribute `applicationinsights.internal.log_error_stack`.

### Actual behavior
It does not work, pattern matcher is never executed with the provided regexp.

### To Reproduce
Steps to reproduce the behavior:
1. Set the following sampling overrides in `applicationinsights.json`:
[code]
2. Let the app log some exception, e.g. `logge

[2021-11-23 23:45] morngaraf opened #1974 "Higher sampling overrides do not work"
### Expected behavior
Higher sampling values should override lower default sampling. (Please correct me if my understanding of [this section](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-sampling-overrides#example-collect-100-of-telemetry-for-an-important-request-type) is wrong)

### Actual behavior
Only default sampling is taken into account.

### To Reproduce
Steps to

[2021-11-25 11:41] guerrerotook opened #1980 "Applicaiton Insights java agent doesn't work correctly in Quarkus apps (custom attributes or getting SpanId or TraceId)"
### Expected behavior
Based on the [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent#add-custom-dimension), I should be able to add custom attributes to the current http request in my app. That doesn't work.

Also, in the [documentation ](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent#get-trace-id-or-span-id)it being ment

[2021-11-25 14:36] enqueue opened #1981 "Dependencies not visible for MP Rest Client / MP Fault Tolerance in Quarkus"
### Expected behavior
We see all failed calls to dependencies in logs and on application map.

### Actual behavior
We only see _some_ calls to failed dependencies in logs and on application map, most notably calls which result in a 4xx error do not show up as dependencies at all.

### To Reproduce
1. Run Application Insights agent attached to Quarkus with some JAX-RS endpoint which uses MP Rest Cl

[2021-11-26 10:36] guerrerotook commented on #1981
Hey @enqueue I had another [issue open](#1980) with Quarkus (in my case the RedHat version), where I can't send custom attributes using the Spain API. Since you're using Quarksu as well I was wondering if you face the same problem or you're using something different.

Thanks!

[2021-11-26 20:00] enqueue commented on #1981
Hi @guerrerotook , very interesting. We are actually trying to mess as little as possible with the observability stack. We think that „standard“ use cases like JAX-RS calls with dependent HTTP calls should work fine out of the box. I am not a telemetry expert, so I don‘t know if custom attributes are required to make this work.

[2021-11-30 12:58] saikiran12344 opened #1988 "Unable to Get Operation_ID and Operation_Name while using slf4j-logback for function app"
I am using the slf4j logback in the funciton app

I am getting the logs as expected but not operation Id and operation name

### To Reproduce
Steps to reproduce the behavior:

###logback.xml

<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%message%n</pattern>
    </encoder>
  </appender>

[2021-11-30 20:00] heyams commented on #1988
Can you answer a couple of questions:
- Is it linux or windows?
- which version of java agent?
- can you share what you get and what do you expect to see?

We didn't capture operation_id  in the log when there is no parent. not sure if you are in this case. please clarify a bit more.

[2021-12-01 14:15] sidyes opened #1989 "Get SQL Command params"
**Is your feature request related to a problem? Please describe.**
I cannot see the paramaters on Application Insights for a performed SQL command. They are masked with a `?`.

**Describe the solution you would like**
I would like to have possibility to not mask the parameters. This should be somehow configurable.
Is this possible?

**Describe alternatives you have considered**
Logging SQL stateme

[2021-12-02 16:50] guerrerotook commented on #1980
I think I found the problem and why the http instrumentation is skipped.

In the logs the agent warns that it can't find the class javax.servlet.http.HttpServletRequest

` WARN  muzzleMatcher - -- io.opentelemetry.javaagent.instrumentation.jaxrs.v2_0.JerseyServletContainerInstrumentation$ServiceAdvice:49 Missing class javax.servlet.http.HttpServletRequest`

So, it turns out that if you only have a

[2021-12-02 19:52] mkowa42 commented on #1980
@guerrerotook Confirmed. I can reproduce the same. The only thing is that in case you add `quarkus-undertow` as an additional dependency the RESTEasy JAX-RS implementation runs as a Servlet filter. Without Undertow it runs directly on Vertx (refer to https://quarkus.io/guides/http-reference#servlet-config). Not sure if it's a good idea (any downsides?) to add the undertow extension not for the pur

[2021-12-02 20:07] trask commented on #1980
hi @guerrerotook @mkowa42 thanks for the repro and investigations! I agree that Application Insights should work without having to modify your application (though I'm very glad you have found a workaround for now). I'm planning to look into this next week to see what we can do to make this experience better, and will post back here.

[2021-12-02 23:53] morland96 opened #1991 "Json structured log miss some attributes"
### Expected behavior
Logs collected from the containerLog (original)
[code]
Expecting same log structure in the app insights
### Actual behavior
customDimension in app insights
[code]

### System information
Please provide the following information:
 - SDK Version: 3.2.3
 - Application Server type: AKS
 - Using spring-boot: yes
 - Additional relevant libraries: logbook

[2021-12-07 08:10] mkowa42 commented on #1980
Hi @trask, One additional observation regarding outgoing requests (dependency).

If an outgoing JAX-RS request is implemented asynchronously. Then again it’s not correlated with the previous events. In my case it's implemented as a JAX-RS / Microprofile Client running inside the same Quarkus based application (which includes as the previously mentioned workaround still the `quarkus-undertow` exten

[2021-12-07 13:27] mkowa42 commented on #1595
@mtaghavi2005 For a workaround please have a look at https://github.com/microsoft/ApplicationInsights-Java/issues/1980#issuecomment-984808797.

[2021-12-08 19:48] grvriend opened #1995 "Need to prevent blank url requests"
### Expected behavior
Not to receive thousands of blank requests

### Actual behavior
Enabled the java agent on the JVM on the Coldfusion server and received thousands of blank requests in addition to the good requests.

### To Reproduce
Add java agent to the jvm and restart the server

#### Sample Application
Below is my applicationinsights.json
`{
    "connectionString": "{REMOVED}",
    "sampli

[2021-12-08 23:11] trask commented on #1995
hi @grvriend! can you enable `debug` logging (under `selfDiagnostics`) and attach the debug log, or at least the portion that corresponds to the capture of one of those empty urls? that will hopefully give us some clues what might be wrong, thx!

[2021-12-08 23:13] trask commented on #1991
hi @morland96! can you post your logback configuration file, and how you are passing those attributes into your logs (e.g. slf4j MDC or some other way)? thx

[2021-12-09 21:46] grvriend commented on #1995
Closing issue, as I have found in the logs it was a firewall heartbeat causing the issue.  Thanks for the quick response!

[2021-12-09 21:46] #1995 closed

[2021-12-10 02:07] c10100 opened #1999 "HTTP 302 is changed to 200 after App Insights agent enabled, webapp hosted in WebLogic Server"
When Java agent is not enabled, the normal flow is
1.	user enter a wrong credential
2.	302 to /obrar.cig?encreply=xx
3.	302 to /ords-int/apex/f?p=101
4.	302 to /ords-int/apex/f?p=101:1::::::

Environment
====
Server:                 Red Hat Enterprise Linux Server release 7.9
Middleware:      Oracle WebLogic Server 12.2.1.4.210629
Oracle JDK:         Version 1.8.0_301
ORDS:                   Versi

[2021-12-10 10:43] Sachin1O1 opened #2000 "Startup impact of application insight on microservices startup"
What's the minimum / maximum startup impact of application insight on microservices startups?

[2021-12-13 03:45] trask commented on #1980
hey @guerrerotook and @mkowa42, I have sent a fix for this issue upstream to the OpenTelemetry Javaagent, and will pull that fix into our distribution once it's approved and merged upstream, I should be able to provide you with a SNAPSHOT build to test in a couple of days.

[2021-12-13 09:47] florianrusch opened #2001 "Is the project affected by the log4j zero-day?"
Regarding [CVE-2021-44228 ](https://www.randori.com/blog/cve-2021-44228/), we are trying to identify if the ApplicationInsights Java agent is affected. So far we could not find out if the project uses the specific log4j versions or not.

Can anyone help to find out if the project is affected or not?

[2021-12-13 10:07] lplotni commented on #2001
Having a look at `./gradlew dependencies` output for all the different sub-projects, looks like the agent is using `logback` and not `log4j`. But having a definite answer from the maintainers would be even more reassuring :)

[2021-12-14 05:42] trask commented on #2001
hi all!

* Application Insights 3.x Java agent - uses logback
* Application Insights 2.x SDK - uses `System.err` and `FileWriter` (never thought I'd say that was a good thing 😅)

There is one interesting case that deserves special attention:

* Application Insights 2.x SDK `applicationinsights-logging-log4j2` artifact - this is an artifact to ingest logs for users who are already using Log4j2. Use

[2021-12-14 06:51] lplotni commented on #2001
Thanks for the insights 🙏

[2021-12-14 07:20] Sachin1O1 opened #2006 "ERROR : Unable to find valid certification path to requested target."
ERROR log:

2021-12-08 09:48:29.449Z ERROR c.m.a.a.i.telemetry.TelemetryChannel -
*************************
Unable to find valid certification path to requested target.
*************************

Description:
ApplicationInsights Java Agent failed to send telemetry data.

Action:
Please import the SSL certificate from https://dc.services.visualstudio.com/v2.1/track, into the default java key store

[2021-12-14 08:22] mkowa42 commented on #1980
@trask Thanks for letting us know the progress. Does the [upstream PR](https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/4883) also address the issue for async client requests I mentioned at https://github.com/microsoft/ApplicationInsights-Java/issues/1980#issuecomment-987670670?

[2021-12-14 13:35] florianrusch commented on #2001
@trask Nice! Thank you very much for your comments. I think we can close the issue :-) Thanks again!

[2021-12-14 13:35] #2001 closed

[2021-12-14 18:37] trask commented on #2001
Hi all!

Just want to be clear with our recommendation here for anyone visiting:

If you are using the `applicationinsights-logging-log4j2` artifact, make sure that you are bringing your own version of `log4j-core`.

If you are using the `applicationinsights-logging-log4j2` artifact and unsure whether you are bringing your own version of `log4j-core`, update the `applicationinsights-logging-log4j2

[2021-12-14 19:11] trask commented on #2001
Moved this info/response to dedicated and pinned discussion: https://github.com/microsoft/ApplicationInsights-Java/discussions/2008

[2021-12-14 19:28] heyams commented on #2006
Yes, please import the ssl cert and follow the instruction link provided. You only need to do once.

[2021-12-14 19:31] heyams commented on #1999
there is an icm created for the same issue. I've responded to the icm. I think it's you. please confirm. we can communicate over there. can you provide a sample app for a repro? thanks.

[2021-12-14 22:13] mkowa42 commented on #1980
Hi @trask, great work. The fix is solving both problems.

I tested my application after removing the servlet dependency (`quarkus-undertow`). Incoming requests as well as outgoing sync and async JAX-RS requests are now logged fine to App Insights having the expected correlations.

Can you already say, when you plan to release a version containing this fix?

Many thanks!

[2021-12-15 02:21] #1595 closed

[2021-12-15 02:21] #1980 closed

[2021-12-15 02:21] #1981 closed

[2021-12-15 05:30] Sachin1O1 commented on #2006
Ok great. Thanks for the quick response @heyams.
Just one more question why do we need to do this. isn't this should be auto resolved. Like if I have more than 100 containers then this can be toil.

[2021-12-15 05:48] Sachin1O1 commented on #2006
Also, I have to add different SSL certificates for different env (dev/QA/prod) as they are in different regions and hence ingestion endpoint will be different leads to different SSL certificates I guess.

[2021-12-15 07:00] #1988 closed

[2021-12-15 10:05] btthorstenwitt opened #2014 "Question: Memory CPU Requirements"
Hello,

I want to use the Java agent inside of one docker container together with our Java SpringBoot application, like this way:

[code]

I recognized that the startup of the Java SpringBoot application is much slower, when I pass the `-javaagent` argument.

So I would like to ask how much memory and cpu the agent will consume, when my app is under load?
And maybe another stupid question:
Will th

[2021-12-15 20:43] trask commented on #1980
current target is mid-January

[2021-12-15 20:44] trask commented on #1595
Here's a SNAPSHOT build with the fix: https://github.com/microsoft/ApplicationInsights-Java/suites/4658614061/artifacts/126616732

Next release is currently targeted for mid-Jan

[2021-12-15 20:44] trask commented on #1981
Here's a SNAPSHOT build with the fix: https://github.com/microsoft/ApplicationInsights-Java/suites/4658614061/artifacts/126616732

Next release is currently targeted for mid-Jan

[2021-12-16 15:22] zdegner opened #2016 "OpenJ9 (IBM Semeru) and Java 17"
### Expected behavior
I'm working on a series of services with a common framework and have a few questions. The framework consists of Micronaut 3.2.2, AppInsights Java Agent 3.2.3, and a few other libraries. Right now the services are running with a Hotspot JVM (image: mcr.microsoft.com/openjdk/jdk:17-mariner) without any issues. However, when switching to OpenJ9 (image: ibm-semeru-runtimes:open-1

[2021-12-18 08:59] zohebs341 opened #2017 "Pod is crashing/restarting with OOM Error"
### Expected behavior
Pod should not crash/restart

### Actual behavior
Pod is crashing/restarting with OOM error.

I'm having few questions related to Application Insights version 3.2.3.

Azure AKS with microservies being deployed along with App Insights Jar.

Continuously within a day or twice, microservies are crashing with OOM error & pod is restarting.

When I've gone through logs, I can see

[2021-12-18 12:10] c1010buggy commented on #1999
yep. it was me :)

[2021-12-18 18:05] zohebs341 commented on #2006
@Sachin1O1 @heyams
I'm also facing similar type of errors, but not specific to certs. In my case, pods are crashing/restarting with OOM error. I've created an issue as well, please assist if possible

Region being used in configmaps is UAE North, but in logs it's showing west- us.

Error:

java.net.UnKnownHostException: westus-0.in.applicationinsights.azure.com: System error

No where we have spec

[2021-12-21 04:46] trask commented on #2017
UnknownHostException westus-0.in.applicationinsights.azure.com: system error

hi @zohebs341, this should be resolved in 3.2.4

[2021-12-21 04:47] trask commented on #2006
hi @zohebs341, I replied to the separate issue (#2017) you opened for this issue

[2021-12-21 05:23] trask commented on #2016
hi @zdegner! if you can provide a repro that would be really helpful, thx

[2021-12-21 06:59] zohebs341 commented on #2017
@trask Thanks for your feedback.

Is it a bug in 3.2.3, which is going to be fixed in 3.2.4 ?

if you can provide more details, it will be helpful for us to plan for upgrade.

As for upgrade version, we need to have proper justification.

Appreciate your response on this.

[2021-12-21 20:01] zdegner commented on #2016
@trask I tried to create a reproducible project based off of the Micronaut starter (running it in a docker container). The AppInsights Java Agent worked fine with JDK 17, OpenJ9 and Micronaut. After systematically adding every library we use (Hibernate, Hikari CP, Redis, Azure SDK, etc) to the sample project I circled back to our framework and performed a Gradle "clean" before rebuilding the libra

[2021-12-21 21:00] trask commented on #2016
@zdegner thanks for investigating, glad it's working now, let us know if you see it again

[2021-12-21 21:00] #2016 closed

[2021-12-21 23:32] trask commented on #2017
@zohebs341 yes, it was fixed by #1994, which was included in 3.2.4 release which is already available: https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.2.4 (just noticed we need to update [docs.microsoft.com](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) to point to 3.2.4)

[2021-12-21 23:43] zohebs341 commented on #2017
@trask Thanks for confirming.

[2021-12-22 20:46] zdegner opened #2022 "OpenJ9 (IBM Semeru) JDK 17 + AppInsights Agent + JAVA_TOOL_OPTIONS for remote debugging"
### Expected behavior
Should be possible to use OpenJ9 JDK 17 with AppInsights Agent and the following JAVA_TOOL_OPTIONS for remote debugging:

JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005

Originally reported as #2016, but at the time I wasn't aware it was caused by JAVA_TOOL_OPTIONS which we turn on for debugging purposes.

### Actual behavior
When using

[2021-12-23 07:00] #1991 closed

[2021-12-23 09:29] Sachin1O1 commented on #2000
any update?

[2021-12-23 09:30] Sachin1O1 commented on #2006
Hi, @trask any update on my issue?

[2021-12-23 14:12] zdegner commented on #2022
One possible workaround for the time being is to remove the Application Insights connection string when remote debugging is enabled.

[2022-01-03 18:00] trask commented on #2000
hi @Sachin1O1, it depends a lot on the application and the compute resources. there's also additional overhead on Java 8 because the agent jar is signed, and the Java JIT compiler is not activated until later on in the startup process on Java 8 (this is not an issue on Java 11).

[2022-01-03 18:02] trask commented on #2017
hi @zohebs341, just wanted to check if your issue is resolved now? thx

[2022-01-03 18:04] zohebs341 commented on #2017
Hi @trask just tested for one microservice with 3.2.4 version. In that, we don’t see logs pointing to westus

thank you

[2022-01-03 19:38] #2017 closed

[2022-01-03 20:20] trask commented on #2006
hey @Sachin1O1, have you customized the default jdk cert file? (in your case, `/opt/java/openjdk/lib/security/cacerts`)

the necessary root certs should be in there already by default

[2022-01-04 14:15] amarkevich opened #2028 "Log entries lost due to "Queue is full""
### Expected behavior
All logs available using
[code]

### Actual behavior
Some log records missing:
`1/4/2022, 12:33:02.355 PM ...`
[missing]
`1/4/2022, 12:32:28.396 PM ...`

Happens regularly during Camel routes activated by scheduler (import from file to in-memory SQL DB):

Route 1 started at 01:30: `1/6/2022, 1:30:31.790 AM | * Queue is full (5894 times)`

Route 2 started at 05:00: `1/6/2022,

[2022-01-04 18:23] anumalasri opened #2029 "How to retrieve Cloud Role Instance ID using SDK ?"
While monitoring logs, we find that logging 'Role Instance ID' might be helpful for quick troubleshooting.

We tried to get cloud role instance using below snippet.

[code]

However, we could see below log and Role Instance Id is null.

`WARN  c.m.applicationinsights.interop.web - ThreadContext.getRequestTelemetryContext().getRequestTelemetry().getContext().getCloud() is not supported by the Appli

[2022-01-05 02:54] heyams commented on #2029
can you try this instead:
`ThreadContext.getRequestTelemetryContext().getHttpRequestTelemetry().getProperties().get("ai.cloud.roleInstance")`.

`ThreadContext.getRequestTelemetryContext().getRequestTelemetry().getContext().getCloud()` currently is not supported yet.

[2022-01-05 04:43] trask commented on #2029
unfortunately this won't work either

when you do `log.info(...)`, the agent will capture the info message and send to the portal, and the role instance id will be attached to the info message automatically

or are you specifically wanting the role instance id to appear in a log file on disk? if this is the case, do you specifically need the role instance id, or are you just looking to log the mac

[2022-01-05 08:39] anumalasri commented on #2029
Currently we are running application in App Service using container environment.  We also setup dynamic scale out, so that containers will be created and/or removed dynamically.

I believe,  Role instance id will be same as machine name in container environment.

[2022-01-05 14:07] tommskar opened #2031 "Access issues when starting the Java Agent"
### Expected behavior
I expected logging from Logback to appear in Azure Application Insights.

### Actual behavior
According to `applicationinsights.log` the Java Agent starts just fine but quickly logs warnings/errors indefinitely.

### To Reproduce
1. Setup an Azure Web App along with Azure Application Insights
2. Stop the web app
3. Upload Java Agent to `/site/wwwroot/appinsights`
4. Add envir

[2022-01-05 20:20] heyams commented on #2031
Unfortunately, this is expected and a known issue. Azure App Service is in a sandbox environment. Certain shared resources like performance counters are not retrievable. When you run locally, it's a different env.

How do you attach using 2.x on azure? I don't think web app works with the java 2.x sdk though.

[2022-01-05 21:49] tommskar commented on #2031
But shouldn't it still be able to pick up logging and such from Logback? I'm not really interested in performance counters so that's not a deal breaker for me but I assumed the errors above might be related to the missing log statements.

When I used Application Insights 2.x I had this `ApplicationInsights.xml` in the `resources` folder. I suspect the file is a boilerplate example from the Microso

[2022-01-06 01:43] trask commented on #2029
hi @anumalasri, if you are looking for the machine name, I'd recommend `InetAddress.getLocalHost().getHostName()` (this is same call that the agent uses for the default role instance id)

[2022-01-06 08:42] tommskar commented on #2031
If the performance counter problems are known and tracked elsewhere we could just close this issue.

[2022-01-06 08:48] Sachin1O1 commented on #2006
Hi @trask,

No, I didn't customize the default JDK cert file.
I am using adoptopenjdk:11 image btw.

[2022-01-06 09:12] Sachin1O1 commented on #2000
Cool, but still we can have some minimum benchmark for the resources required. What do you say?

[2022-01-06 12:33] amarkevich commented on #2028
there is no such error in case env var `APPLICATIONINSIGHTS_INSTRUMENTATION_JDBC_ENABLED` set to `false`

[2022-01-07 12:04] lidkowiak opened #2032 "Filtering out exception telemetries sent by agent"
**Is your feature request related to a problem? Please describe.**

When using AI agent with JDBC API in case of an exception agent sends an exception telemetry to AI. The exception is then also handled by application code and in some case there is not need to send the exception to AI because such exception is expected  or operation could be retried. This is especially import when sensitive alerti

[2022-01-07 17:34] anumalasri commented on #2029
@trask ..  We will fall back onto that option to get hostname.  Thanks for update.

[2022-01-07 19:43] #2029 closed

[2022-01-10 19:43] #2028 closed

[2022-01-10 20:44] trask commented on #2028
hi @amarkevich, thanks for reporting this!

just to clarify, this was probably an issue in 3.1.1 also, we just weren't logging it

I just added an config option that you can use to increase the queue size, if you have a chance, try out the latest SNAPSHOT build:

https://github.com/microsoft/ApplicationInsights-Java/suites/4874320064/artifacts/139220773

and add this configuration option:

[code]

[2022-01-10 21:05] #1693 closed

[2022-01-10 23:51] trask commented on #2022
hi @zdegner, thanks for the repro!

it looks like this got fixed recently in the upstream OpenTelemetry Javaagent, can you give the latest SNAPSHOT build a try?

https://github.com/microsoft/ApplicationInsights-Java/suites/4889484199/artifacts/140157197

[2022-01-12 14:05] dupinderdhiman opened #2046 "HTTP/1.1 header parser received no bytes"
### Expected behaviour
It should send a log to Azure insight and should not through any exception!

### Actual behaviour
It sends logs to Azure Insight but also through exceptions

### To Reproduce
Steps to reproduce the behaviour:
Use lastest lib! I am using 3.2.4 and trying to send logs to Azure!

### System information
Please provide the following information:
 - SDK Version: 3.2.4
 - OS type a

[2022-01-12 17:53] dupinderdhiman commented on #2046
Hi @trask ,

It is not feasible to give you some repo to troubleshoot! but I looked for some answers related to the problem we are receiving.

The solutions seem very simple. Internet is saying just add a version with HTTP Client we use!

Like this code snippet! they said this will fix the issue.

[code]

[2022-01-12 17:56] trask commented on #2046
interesting, did your code (without version) work without the Application Insights Javaagent? if so, I'll see if I can repro, the Javaagent is not supposed to interfere with an otherwise working application. thx!

[2022-01-12 19:53] zdegner commented on #2022
Thanks @trask, I've confirmed this is working now with the _applicationinsights-agent-3.2.5-BETA-SNAPSHOT.jar_ build provided.

[2022-01-12 20:03] trask commented on #2022
awesome, we're planning to release 3.2.5-BETA next week, and 3.2.5 GA a couple of weeks after that

[2022-01-12 20:03] #2022 closed

[2022-01-13 16:03] zoomingrocket opened #2048 "Request not captured when consuming from Azure Event Hub using Kafka"
**Expected behavior**
A Consume action from Azure Event Hub over Kafka gets logged as a new Request

**Actual behavior**
We only get TRACE entries of such execution currently, no actual request

**To Reproduce**
Subscribe & Consume to an Event Hub (Topic) from Azure Event Hub over Kafka

**Sample Application**
N/A - Proprietary Middleware Platform

**System information**
Please provide the followi

[2022-01-13 18:34] skylaro opened #2049 "HTTP 404 from Spring Boot using app insights v2.6.0"
### Expected behavior
Application would run as expected and send telemetry to app insights resource.

### Actual behavior
All requests to Spring Boot app would return HTTP 404 on app insights v2.6.0 while telemetry continued being sent over. This is not a request for a fix, but rather help to RCA why v2.6.0 would break our Spring Boot application.

### To Reproduce
Steps to reproduce the behavior:

[2022-01-13 20:42] #1651 closed

[2022-01-13 23:00] zoomingrocket commented on #2048
If we send / produce to Event Hub Topic over Kafka it is correctly registered as below, but consume/listen do not register any new request or coorelation

![image](https://user-images.githubusercontent.com/2420449/149422266-27aed5ad-572d-4a57-8f98-a2194c0769b8.png)

[2022-01-14 15:01] WANdmurph opened #2054 "'TransmissionNetworkOutput - Unable to send telemetry to the ingestion service' java agent (3.1.1)"
We are using Application Insights to support remote use cases. One of our agents on a 3rd party system is not pushing data to our workspace. Error reported appears to have same stack as https://github.com/microsoft/ApplicationInsights-Java/issues/1301 except for small changes between SDK versions.

We have tried to troubleshoot with the `DEBUG` level selfDiagnostic but haven't found any other indi

[2022-01-14 18:31] heyams commented on #2054
Please use [3.2.4 GA](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.2.4).  This has been fixed in 3.2.3+.
Please do let us know if there is any other issue.

[2022-01-14 19:23] mkowa42 commented on #1980
@trask, I saw the todays release of 3.2.5-BETA hoping to see the fix of this issue is part of that release. But it's not. I did also a quick test and it's not working.

The snapshot build you have provided in Dec. (https://github.com/microsoft/ApplicationInsights-Java/issues/1980#issuecomment-994009875) worked already fine.

Did I miss anything?

[2022-01-14 19:54] heyams commented on #1980
Thank you for letting us know.  [upstream PR](https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/4883) is for opentelemetry repo.. we might not pull that change in yet.. will double check with @trask and let you know soon.  We will make a GA release in 2 weeks.. definitely will include it in the GA if not available in our BETA release.

[2022-01-14 20:45] trask commented on #1980
hi @mkowa42, I just ran 3.2.5-BETA against the repro in this issue and it's working for me. Can you confirm that the repro in this issue works for you? and if so, can you provide a separate repro for the issue you are seeing? thx!

[2022-01-14 21:23] mkowa42 commented on #1980
Hi @trask - thanks for the reply.

If you ran the repro than it contains still the workaround as mentioned by @guerrerotook in comment (https://github.com/microsoft/ApplicationInsights-Java/issues/1980#issuecomment-987670670): Refer to
https://github.com/guerrerotook/quarkus-telemetry-demo/blob/main/pom.xml#L36-L39

I think if you would try the same after removing the undertow extension you should

[2022-01-14 21:35] trask commented on #1980
@mkowa42 I don't have that workaround in my local test. Can you confirm that the repro in this issue works for you? and if so, can you provide a separate repro for the issue you are seeing? thx!

[2022-01-17 10:24] WANdmurph commented on #2054
@heyams Thanks, we'll try a move to that version. is there an issue we can reference to?

[2022-01-18 07:31] Sachin1O1 commented on #2000
Hi @trask , I have some stats on how my service startup time is impacted by the application insight jar

Service startup sample

Sr no | With   jar | Without   jar
--       | --            | --
1        | 260.21    | 102.6
2        | 170         | 103
3        | 274         | 180
4        | 165         | 99

Container resources

resources:
            limits:
              cpu: 300m

[2022-01-18 12:36] robanoz opened #2056 "Agent choking our applications - Reentrant locks perhaps the culprit"
We are facing intermittent issues where our applications randomly stop responding after a while. Based on thread dumps, they all report the same, having a large number of threads waiting for the same reentrant lock.

A bit of background: We now have more than 200+ containerized application in AKS, reporting to the same log analytics workspace using agent. While the issue was first reported back in

[2022-01-18 20:29] heyams commented on #2000
I'm curious to know which version of agent were you testing against?  Did you try the latest GA/BETA version?

[2022-01-18 20:32] heyams commented on #2054
It's the same cause as this issue: https://github.com/microsoft/ApplicationInsights-Java/issues/1948 and [PR](https://github.com/microsoft/ApplicationInsights-Java/pull/1953)

[2022-01-18 22:58] zoomingrocket opened #2057 "OpenTelemetry TraceId & SpanId values return zeros"
### Expected behavior
We are trying to get existing trace id & span id for logging and additional correlation so actual traceid & spanid values should be non zeroes

### Actual behavior
Actual Traceid & spanid are returned as zeros
TraceId:00000000000000000000000000000000
SpanId:0000000000000000

App Insight only captures Trace Entries, no request registered

### To Reproduce
Include opentelemetry

[2022-01-18 23:42] trask commented on #2057
hi @zoomingrocket!

where are you adding this code?

[code]

e.g. in a servlet filter, spring controller, etc?

[2022-01-19 00:02] heyams commented on #2049
As you have mentioned, v2.6.4 works for you. Is there reason you need to use v2.6.0?  If you go through the releases notes from v2.6.0 to v2.6.4, there are many fixes.  I would recommend upgrade to the latest.

[2022-01-19 00:12] trask commented on #2056
hi @robanoz,

which minor version of OpenJDK 11 are you using?

and do you see this message before or after you start seeing the bottlenecking on ReentrantLock?
   `OpenJDK 64-Bit Server VM warning: Potentially dangerous stack overflow in ReservedStackAccess annotated method java.util.concurrent.locks.ReentrantLock$Sync.nonfairTryAcquire(I)Z`

[2022-01-19 00:59] trask commented on #2046
were the underlying http calls to `https://<ID>.ods.opinsights.azure.com/api/logs?api-version=2016-04-01` working before you added `version(Version.HTTP_1_1)`? i'm trying to understand if this is just the agent alerting you to something you may have been missing (that you needed to add `version(Version.HTTP_1_1)`), or if the agent is breaking something in your application which is what is requirin

[2022-01-19 01:11] trask commented on #2048
hey @zoomingrocket, can you check this against 3.2.5-BETA (which updates to the latest underlying OTel agent), and if that's not working can you provide a repro that we can use to troubleshoot this?

[2022-01-19 01:12] trask commented on #1651
this is included in 3.2.5-BETA, it's not documented yet at https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#preview-instrumentations, but the json key to use is "vertx"

[2022-01-19 01:29] trask commented on #1980
@mkowa42 please let us know, hoping to isolate the issue you are seeing and get that fixed before 3.2.5 GA if possible, thx

[2022-01-19 01:32] trask commented on #2031
hi @tommskar, can you give 3.2.5-BETA a try? we have tried to fix the log spam that you are seeing above, and would be great to know if that succeeded or not for your case. thx

[2022-01-19 01:47] trask commented on #2006
thx this was helpful. I confirmed that this image has the correct certs.

I noticed that the underlying exception you are getting is `SslHandshakeTimeoutException`, so it looks like you are getting a timeout issue instead of a cert issue, and we are misinterpreting it and logging that you have a cert issue from inside of the application insights agent.

does this happen every time, or does it work

[2022-01-19 01:48] trask commented on #1999
this was fixed in 3.2.5-BETA

[2022-01-19 01:48] #1999 closed

[2022-01-19 06:07] Sachin1O1 commented on #2000
Hi @heyams,

I am using Application Insights Java 3.2.4 (GA)

[2022-01-19 06:35] Sachin1O1 commented on #2006
Hi @trask,

I check all my services and now I am not seeing the cert error at application startup in the logs and also not sure for **SslHandshakeTimeoutException** in the logs need to monitor for more time.

I also executed the curl https://dc.services.visualstudio.com/v2.1/track and I am getting the same response

root@8e576a4f3390:/# curl https://dc.services.visualstudio.com/v2.1/track
Method N

[2022-01-19 10:07] robanoz commented on #2056
Hi @trask , we are using 11.0.6+10. It is a bit hard to tell exactly when the message appears. But what we know, is that it is more or less the last thing the application logs. I would suspect that is since even the logging is being blocked, as we have seen from the thread dump.

[2022-01-19 16:39] zoomingrocket commented on #2057
@trask  - We opened another Issue# [2048](https://github.com/microsoft/ApplicationInsights-Java/issues/2048) and after studying some material around Event Hub it was apparent that Event Hubs do not have a message header concept where W3C trace related info can be pushed in automatically for correlation. We use RabbitMQ in the ecosystem and we see those trace headers are automatically pushed onto m

[2022-01-19 19:51] zoomingrocket commented on #2048
@trask  - Tried with 3.2.5-BETA, but no luck. Do see a lot of traces logged for kafka consumer polling starts but no request created for each consumed message delivered.
I see documentation says we can register a custom request from 3.2 onwards using opentelemetry api, so is there an example of how to do same?

![image](https://user-images.githubusercontent.com/2420449/150203509-51fa65e4-c153-44ca

[2022-01-19 21:18] zoomingrocket commented on #2048
Also, is there a way to specify specific java package or classes to be included ? We are using COTS so no scope of code modification.
Something like this specificed in Otel - [https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/manual-instrumentation.md#creating-spans-around-methods-with-otelinstrumentationmethodsinclude](Creating spans around methods with otel.inst

[2022-01-19 21:27] mkowa42 commented on #1980
Hi @trask - I downloaded a fresh copy of the 3.2.5-BETA and tested again my code. Now it's working! So it looks that I made a mistake the last time.  Thank you again!

[2022-01-20 00:23] trask commented on #1980
awesome 🎉

[2022-01-20 01:08] trask commented on #2006
@Sachin1O1 thx for the update, we will fix the misleading `SslHandshakeTimeoutException` message about invalid cert. let us know if you see the `SslHandshakeTimeoutException` in the future and we can look into it further

[2022-01-20 01:18] anumalasri opened #2060 "Customize Autocollected dependencies"
We are trying to customize auto collected data (requests, depenedencies).  We are able to customize Request data using available SDK methods.

Auto-collected dependencies for HTTP calls are getting dependency name as  `HTTP: <HTTPMETHOD> <BASEHOSTNAME>/<URI>` and we would like to customize

We looked into opentelemetry span processor, but looks complex for our usecase.  SDK might be easier option.

[2022-01-20 02:51] trask commented on #2056
this looks like a JVM bug:

[code]

and my guess is that is leading to the lock not being released, which is then why all the threads block on getting that lock.

can you try updating to the latest Java 11 patch release to see if we get lucky and it's fixed there?

the warnings above (after updating to 3.2.4) don't particularly look related to the thread blocking that you're seeing

[2022-01-20 04:24] trask commented on #2060
hi @anumalasri! can you give a concrete example of a current dependency name, and what you would like to change it to? thx!

[2022-01-20 14:04] anumalasri commented on #2060
Hi @trask ..

As per Application Insights data, we could see Dependency Name coming as `HTTP: <HTTPMETHOD> <BASEHOSTNAME>/<URI>`

We are using REST Services both in & out of our application i.e.most of URIs have data elements.

With this, even though we are calling same REST service,  each individual URI listed as separate dependency and our metrics are not aligned correctly.   Hence, We would lik

[2022-01-21 21:32] trask commented on #2028
btw, we found that a common culprit of "queue is full" is due to bursty metric recording which occurs once a minute, so we have split out metrics into separate queue and increased the size of that queue. this will be available in next release, or now in latest SNAPSHOT: https://github.com/microsoft/ApplicationInsights-Java/suites/4997129948/artifacts/146434756

[2022-01-21 21:34] trask commented on #2056
btw, related to the `Queue is full` warning you are seeing above:

[code]

we found that a common culprit of this is due to bursty metric recording which occurs once a minute, so we have split out metrics into separate queue and increased the size of that queue. this will be available in next release, or now in latest SNAPSHOT: https://github.com/microsoft/ApplicationInsights-Java/suites/499712994

[2022-01-22 00:16] zoomingrocket commented on #1651
@trask - json key "vertx" is not recognized. Startup Info with 3.2.5 BETA

[code]
JSON Config
[code]

[2022-01-22 00:21] trask commented on #1651
hey @zoomingrocket, ya, sorry about that, I didn't realize, it's actually on by default, though we're considering changing that behavior before 3.2.5 GA: #2058

[2022-01-23 13:00] #1891 closed

[2022-01-23 15:26] robanoz commented on #2056
We did the following which seems to do the trick:

- Updated to latest Java 11 patch release as suggested
- Changed sampling to 50%

We have now run almost 3 days without a single lock. What we would like to do now, is remove the overall sampling (since it is blinding us for especially logs). This will also confirm whether or not is was a Java 11 issue from an earlier patch release.

I suggest we

[2022-01-24 12:14] timja opened #2069 "Allow reading the connection string from a file"
**Is your feature request related to a problem? Please describe.**
I would like to be able to separate the connection string information from the general configuration and not check it into source code as we have different instances of application insights for different environments

**Describe the solution you would like**
A environment variable and system property that point to the file to read

[2022-01-24 12:14] timja opened #2070 "Allow multiple configuration files"
**Is your feature request related to a problem? Please describe.**
I would like to be able to separate the connection string information from the general configuration

**Describe the solution you would like**
Allow reading multiple files via env var or system property with a comma separated list
(No need to mix and match, i.e just environment or system property at the same time to keep it simpler

[2022-01-24 18:31] zoomingrocket commented on #2048
@trask  - Any guidance on this? We are using proprietary middleware COTS so we know the classes & methods which should starts a new request, but not sure how we can tell the agent to span around it :)

We tried using Java SDK and manually constructing a request and dependency but results from it, dont look promising, and duplicate dependencies are captured. Looking for some input on how we can wor

[2022-01-24 22:24] heyams commented on #2069
@timja You can set the connection string using the environment variable APPLICATIONINSIGHTS_CONNECTION_STRING.  (which will then take precedence over connection string specified in the json configuration).  Hope that helps.

[2022-01-24 22:36] timja commented on #2069
It doesn’t because all our secrets come in as files mounted to the file system using the csi driver above.

[2022-01-24 23:02] heyams commented on #2069
once you mounted secrets (including connection string) to the file system, you can read it and set it into APPLICATIONINSIGHTS_CONNECTION_STRING env var?

Alternatively, instead of using a configuration file, you can specify the entire content of the json configuration via the environment variable APPLICATIONINSIGHTS_CONFIGURATION_CONTENT.

[2022-01-24 23:17] heyams commented on #2070
does the answer in #2069 resolve this?

[2022-01-25 07:35] timja commented on #2069
How could I read and set it? In the description I said there’s no shell.

I don’t see how setting the config env var helps at all

previously we used the spring boot support for Kubernetes and it handled this trivially but now that there’s no spring boot starter the configuration options here are far more limited, (we’ve put this upgrade off for ages but 2.x doesn’t support Java 17 so finally doin

[2022-01-25 07:36] timja commented on #2070
No

[2022-01-25 19:21] heyams commented on #2069
Sorry, i missed the no shell part. Please let us think about a bit more and will get back to you.

[2022-01-25 20:31] heyams commented on #2069
@timja will this work for you:

`{
   connectionString: "${file:mounted_connection_string_file.txt}"
}`

mounted_connection_string_file.txt contains only the connection string and in the format of `InstrumentationKey=${InstrumentationKey};IngestionEndpoint=${IngestionEndpoint}` (i.e. connection string from the azure portal).

Please confirm.

[2022-01-25 20:37] timja commented on #2069
Yes that would be perfect

[2022-01-25 21:11] trask commented on #2070
hey @timja, we would like to avoid multiple configuration files, because the merging behavior is not obvious for some of the configuration settings, e.g. `jmxMetrics` (do you union them, or does one set win).

do you have a specific need for this, or does the latest proposal in #2069 address your needs? thx

[2022-01-25 21:12] timja commented on #2070
Hey Trask, https://github.com/microsoft/ApplicationInsights-Java/issues/2069#issuecomment-1021582939 would solve it nicely, I'll close this

[2022-01-25 21:12] #2070 closed

[2022-01-25 21:41] heyams commented on #2069
Yes, I will implement it this week and will give you a snapshot to try it out when available.

[2022-01-26 09:53] kwims opened #2074 "Application Insighsts creating Memory Leak in combination with Azure Blob Storage ( Reactor Netty)"
Application Insighsts creating Memory Leak in combination with Azure Blob Storage ( Reactor Netty)

### Expected behavior
We have a application that can send in a short time multiple file to Azure Blob storage and we are using com.azure:azure-storage-blob:12.14.2
When we are not using the application insights the memory remain still

### Actual behavior
When adding -javaagent:/applicationinsights-

[2022-01-26 16:59] hargut commented on #2074
As I also wanted to create a similar ticket, I'm adding the informations in here as the impact is similar.

We are using Spring Boot with OpenJDK 11.0.10 on Azure Container Instances within CentOS container images.

The applications use various other azure libraries (but in our case, no blob storage):
- servicebus
- cosmosdb
- eventhub

Activating the agent leads to a memory leak, which drives the

[2022-01-26 22:40] trask commented on #2074
hi @kwims and @hargut, for out of memory issues, we need a Java heap dump from the running process to analyze. can you open a support ticket in order to submit one, or you can contact me at trask.stalnaker@microsoft.com if you have another way to get us a heap dump. or if you can provide a standalone repro that we can run that exhibits the same behavior that works too. thx!

[2022-01-27 07:49] hargut commented on #2074
Hi @trask,

thank you for your feedback. We resolved the issue on our side by switching to the native micrometer azuremonitor registry which works fine, and does not cause any leak.

As we activated the application agent on four containers at the same time and the leak showed up on two of them I wanted to provide some more details on the differences/used libraries. Eventually the issue is related

[2022-01-27 19:48] heyams commented on #2031
@tommskar can you please try 3.2.5GA we just released yesterday? or the 3.2.5-BETA recommended by trask earlier? We fixed the oshi logging in beta. Thanks.

[2022-01-28 01:23] trask commented on #2031
@heyams the latest log above is from 3.2.5-BETA. it looks like the logging is coming directly from oshi, so we may need to tune the oshi logging levels

[2022-01-28 07:07] tommskar commented on #2031
@heyams: as note by @trask; I was using the 3.2.5-BETA.

[2022-01-31 10:06] dupinderdhiman commented on #2006
Hello @trask,
In what version of application insight we are going to see the fix?

[2022-02-01 02:31] #2069 closed

[2022-02-01 03:58] heyams commented on #2069
@timja can you try [3.2.6-BETA-SNAPSHOT.jar](https://applicationinsightsjava.blob.core.windows.net/unsigned/applicationinsights-agent-3.2.6-BETA-SNAPSHOT.jar)? We will release it in the near future.  Thanks.

[2022-02-02 01:04] MichaelW-SD opened #2077 "using a proxy still requires local DNS resolution"
### Expected behavior
Using a proxy in applilcationinsights.json should not require any local DNS resolution.

### Actual behavior
If the agent is unable to resolve certain domains it fails to start. These domains include (maybe there are more)
- usgovarizona-0.in.applicationinsights.azure.us
- live.applicationinsights.us
- dc.services.visualstudio.com
- westus-0.in.applicationinsights.azure.com

[2022-02-02 01:22] trask commented on #2077
hi @MichaelW-SD, thanks for reporting this! it looks like this has been fixed in the azure sdk http client library that we use just recently: https://github.com/Azure/azure-sdk-for-java/issues/26559.

I believe the next release of that library should be in the next couple of weeks, then we'll pull that in here to fix this.

[2022-02-02 07:00] #2049 closed

[2022-02-02 07:00] #2054 closed

[2022-02-02 07:00] #2046 closed

[2022-02-02 09:11] robanoz commented on #2056
Since we did the patching of Java 10 days ago, we have not had a single incident. What in Java has fixed this is still a mystery. Thanks for the help, @trask!

[2022-02-02 18:32] trask commented on #2056
Closing, but let us know if you see it again and we'll re-open.

[2022-02-02 18:32] #2056 closed

[2022-02-03 08:28] Sachin1O1 commented on #2000
@trask @heyams any update on this.

[2022-02-03 14:12] DancingFish47 opened #2083 "Dropping the whole span from sampling by attribute added in the runtime"
### Expected behavior
Describe what you expected to happen.

I have a scheduled task in my service with a low time to repeat. Each time it produces a request telemetry which is being exported to app insights. I was trying to add a custom property to the current span via opentelemetry-api like this:

`Span.current().setAttribute(AttributeKey.stringKey("toSample"), "false");`

And then configuring t

[2022-02-03 17:56] trask commented on #2083
hi @DancingFish47! can you set self-diagnostics level to debug in the applicationinsights.json, e.g.

[code]

and then look at the otel span attributes on the scheduled task?

there should be attributes named `code.namespace` (class name) and `code.function` (method name) that you can use in your sampling override.

(#1897 has some additional background about this)

[2022-02-03 21:00] trask commented on #2083
Oh, you're right, spring-scheduling spans don't have those code attributes (yet). I just sent a PR upstream to opentelemetry-java-instrumentation to add them, and we will pull that in to Application Insights once it lands upstream.

[2022-02-04 04:27] heyams commented on #2000
i'm working on a debug startup profiler.. so that you can provide thread dump to us for further debugging. we're not able to repro it.

[2022-02-04 15:34] yoranvanoirschot opened #2088 "Allow passing a namespace with a custom metric"
**Is your feature request related to a problem? Please describe.**
Currently all custom metrics land in the namespace: 'azure.applicationinsights'. It seems to be possible to provide a Metric namespace through the REST API (https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-custom-overview#sample-custom-metric-publication) and in the C# SDK (https://github.com/microsoft/Applic

[2022-02-04 23:54] trask commented on #2074
@kwims @hargut can you test with 3.2.5? I realized this is likely https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/4862, which would not have been included in 3.2.4 but is included in 3.2.5

[2022-02-05 02:16] heyams commented on #2031
@tommskar can you give this [snapshot](https://github.com/microsoft/ApplicationInsights-Java/suites/5186544192/artifacts/157757304) a try and let us know if that resolves your issue?

[2022-02-05 02:51] rferreira opened #2090 "Mobile app live metrics support"
**Describe what the problem you have encountered; e.g I'm always frustrated when**
Live metrics work on the web app but not on the mobile, iOS, app.

**Describe what you want to happen.**
It would be handy if it worked on both the web site as well as the mobile app

**Describe any alternative solutions or features you've considered.**
Use the web site version of "live metrics"

**Add any other con

[2022-02-05 05:49] DancingFish47 commented on #2083
Great! Thank you!
Yet I'm still not sure how this is gonna help with my issue :(

[2022-02-07 17:39] trask commented on #2074
fantastic 👍

[2022-02-07 17:39] #2074 closed

[2022-02-07 21:16] heyams commented on #2000
@Sachin1O1 can you use this [3.2.6-BETA-SNAPSHOT](https://github.com/microsoft/ApplicationInsights-Java/suites/5209427074/artifacts/159305758) and help us collect thread dump from your app?

Please set `-Dapplicationinsights.debug.startupProfiling` to `true `in your jvm arguments:
` java -javaagent:applicationinsights-agent-3.2.6-BETA-SNAPSHOT.jar -Dapplicationinsights.debug.startupProfiling=true`

[2022-02-07 22:48] heyams commented on #2031
@tommskar i updated the snapshot link above.. earlier version was no good. thanks.

[2022-02-07 23:04] heyams commented on #2000
@Sachin1O1 i updated the snapshot link above. earlier version was no good. please give it a try and get back to us when you can. thanks.

[2022-02-07 23:33] heyams commented on #2031
@tommskar Pinging... please let me know if this resolves your issue.  Once confirmed, i will include this fix in the new release. thanks.

[2022-02-08 05:41] trask commented on #2083
@DancingFish47 oh, sorry, I missed the point

one option would be to disable the `springScheduling` instrumentation https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#suppressing-specific-auto-collected-telemetry, and capture the top-level span yourself when it's non-empty using OpenTelemetry, e.g.

[code]

there aren't any OpenTelemetry "semantic conventions" for back

[2022-02-08 08:08] Sachin1O1 commented on #2000
@heyams  Thanks for the profiler. I will update you with the relevant data ASAP. :)

[2022-02-08 09:00] hargut commented on #2074
Also looks good over here. Thank you. :+1:

[2022-02-08 10:30] DancingFish47 commented on #2083
Yep, that works like a charm, thanks a lot!
Also, side question: I think there is a way to filter dependency telemetry with "sampling overrides" feature, but i didn't find what dependency properties could be used as attributes for filtering. I tried to use "Type" attribute, but it didn't work.

[2022-02-08 14:13] tommskar commented on #2031
@heyams It works like a charm 😁 I let it run for about ten minutes without anything in the log file other than this:

[2022-02-08 20:55] #2077 closed

[2022-02-08 20:57] trask commented on #2031
resolved by #2086

[2022-02-08 20:57] #2031 closed

[2022-02-08 21:01] trask commented on #2083
@DancingFish47 if you enable agent debug logging

[code]

it will log the OpenTelemetry spans with all of the attributes on them. these are the attributes that you can use in "sampling overrides"

[2022-02-10 00:23] DancingFish47 commented on #2083
I'm trying to filter out these dependency spans:

Sending log:
`
2022-02-10 02:49:26.084+03:00 DEBUG c.m.a.a.i.telemetry.TelemetryChannel - sending telemetry to ingestion service:
{"ver":1,"name":"RemoteDependency","time":"2022-02-09T23:49:20.916Z","iKey":"c736df81-d9ad-4e37-a789-155dc1b959f3","tags":{"ai.internal.sdkVersion":"java:3.2.5","ai.user.userAgent":"azsdk-java-azure-storage-queue/12.11.2

[2022-02-10 01:15] trask commented on #2083
hi @DancingFish47, `name` is not a span attribute. and it looks like `http.user_agent` is added by Azure SDK after starting the span, which is why it's not available for sampling (I'll see about changing this behavior):

https://github.com/Azure/azure-sdk-for-java/blob/31b837387e2f9db000344494dd6100d15fa997dc/sdk/core/azure-core-tracing-opentelemetry/src/main/java/com/azure/core/tracing/openteleme

[2022-02-10 12:19] DancingFish47 commented on #2083
I tried to use `http.url` and even `http.method`, but it's still doesn't work and spans are being exported.

Currently i have this config:
[code]

[2022-02-10 19:57] heyams commented on #2069
@timja oops, I fixed the release note. but I remembered to include in the azure doc PR which is pending on review. thanks!

[2022-02-11 10:18] petergphillips opened #2111 "Add support for postgres R2DBC in the java agent"
We've looking at switching from using JDBC to using a completely reactive stack and using [R2DBC](https://spring.io/projects/spring-data-r2dbc) with postgres instead.

Using JDBC we had all of the database calls logged as `dependencies`.  This no longer happens when using R2DBC.

It looks like you might support mongo R2DBC (according to https://docs.microsoft.com/en-us/azure/azure-monitor/app/java

[2022-02-11 12:41] Sachin1O1 opened #2112 "agent eating up almost 100% CPU"
### Expected behavior
Describe what you expected to happen.

### Actual behavior
Describe what actually happened that was unexpected.

### To Reproduce
Steps to reproduce the behavior:

#### Sample Application
If applicable, provide a sample application which reproduces the issue.

### System information
Please provide the following information:
 - SDK Version: 3.2.4
 - OS type and version: Linux

[2022-02-11 20:36] trask commented on #2112
hi @Sachin1O1! can you see if this is resolved in 3.2.5? see #2074, a memory leak could definitely lead to 100% cpu due to "gc thrashing"

[2022-02-11 20:52] heyams commented on #2000
we fixed the following warning in 3.2.6 GA. Please try 3.2.6 GA.  StartupProfiler is available in that release as well.
`2022-02-11 13:27:10.002Z WARN c.m.a.a.i.telemetry.ConnectionString - Missing Statsbeat 'InstrumentationKey'`

[2022-02-11 20:55] heyams commented on #2000
i also double checked the NPE iin StartupProfiler.. it's inside a for loop. i definitely recommend you trying out the 3.2.6 GA version. thanks.

[2022-02-14 07:22] xsmrcek commented on #1883
Hi @trask ,
I did it right this time and had issue fixed in OpenTelemetry project (https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/5154)
Would it be possible to include this fix and propagation you did for me before? It should resolve most of my issues.

[2022-02-14 07:48] Sachin1O1 commented on #2000
Hi @heyams, We used the latest version 3.2.6 GA. and the code snippet shared was from the latest code.

[2022-02-14 07:50] Sachin1O1 commented on #2112
cool, I will update to 3.2.5

[2022-02-14 20:29] heyams commented on #2000
can you share your applicationinsights.log and applicationinsights.json with me at helen.yang@microsoft.com?

[2022-02-15 07:00] #2006 closed

[2022-02-15 14:44] Sachin1O1 commented on #2000
Hi @heyams

I can share it here

`mycontainer:~$ ls
agent.jar  app.jar  applicationinsights.json  applicationinsights.log  tmp
mycontainer:~$ cat applicationinsights.log
2022-02-15 13:20:08.232Z WARN  c.m.a.a.i.telemetry.ConnectionString - Missing Statsbeat 'InstrumentationKey'
mycontainer:~$ cat applicationinsights.json
{
  "customDimensions": {
  },
  "instrumentation": {
    "logging": {

[2022-02-15 22:53] heyams commented on #2000
@Sachin1O1 you don't have a connection string? or you omitted it on purpose because sharing it publicly here? can you email me the applicationinsights.log?

[2022-02-15 23:10] heyams commented on #2000
@Sachin1O1 I have tested it (3.2.6 GA) using connection string & instrumentation key env vars, not getting the NPE. log will be helpful in this case.

[2022-02-16 01:59] trask commented on #2000
@heyams I've seen that NPE before, we need to add a null check, e.g.

https://github.com/glowroot/glowroot/blob/c7f1c9cb993e796a55fef0ef54839dead8a78dcf/agent/core/src/main/java/org/glowroot/agent/live/ThreadDumpService.java#L63-L65

[2022-02-16 06:14] trask commented on #2112
@Sachin1O1 can you try with this SNAPSHOT build?

https://github.com/microsoft/ApplicationInsights-Java/suites/5324794501/artifacts/165918207

I'm not able to reproduce the issue, but I'm hopeful that this may help. thx!

[2022-02-16 09:36] xsmrcek commented on #1883
Hi @trask , sorry for spamming your. I closed last issue as it was issue in my sample application not agent issue.
Would it be possible to combine newest opentelemetry agent and this b3multi propagation as it would solve my problem.

[2022-02-16 20:47] heyams commented on #2000
@Sachin1O1 can you try [this snapshot](https://github.com/microsoft/ApplicationInsights-Java/suites/5335289080/artifacts/166546842). I fixed the NPE.

[2022-02-16 23:32] robrez opened #2125 "Ability to programmatically attach to own JVM"
# Problem

Would like parity with the dotnet cohorts who are able to add applicationinsights as a dependency and programatically add instrumentation to an application, [example](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#enable-application-insights-server-side-telemetry-no-visual-studio)

For java, it seems like the only vended option is to use a javaagent at startup.  W

[2022-02-17 01:03] trask commented on #2125
hi @robrez, you can do this today (as the test shows), so I'm not clear what your request is?

[2022-02-17 01:14] robrez commented on #2125
Thanks for the quick response.. was just hoping to be able to do this with something vended within the application insights jar.
 I could make my own class that's similar to the one linked above, but worry I'd get some details wrong that would be necessary for production quality.  We're looking to add insights to a number of dotnet and java applications at my org;  In my opinion, this addition wou

[2022-02-17 01:29] trask commented on #2125
can you try using https://github.com/open-telemetry/opentelemetry-java-contrib/tree/main/runtime-attach? if it's missing anything I'm happy to add it over there, we are trying to keep the vended API surface to a minimum

[2022-02-17 02:45] robrez commented on #2125
Added this to my application and, yes it does seem to have worked.

[code]

I need to educate myself on how. I'll be honest, I didn't expect that to work since the `applicationinsights-agent.jar` is... a different jar from [this one](https://github.com/open-telemetry/opentelemetry-java-contrib/blob/main/runtime-attach/src/main/java/io/opentelemetry/contrib/attach/AgentFileLocator.java#L17)

I noti

[2022-02-17 04:13] trask commented on #2125
The application insights agent is a distro of the opentelemetry javaagent, so that class `io.opentelemetry.javaagent.OpenTelemetryAgent` exists in our distro too 😄.

IIRC that's needed if you are bundling the agent inside of a spring boot uber jar (it copies it the agent jar out of the spring boot uber jar), otherwise no need to do that.

👍

[2022-02-17 05:24] trask commented on #1883
no worries. I updated the PR to our `vnext` branch which has the latest otel update and here the SNAPSHOT build from CI: https://github.com/microsoft/ApplicationInsights-Java/suites/5339978559/artifacts/166827546

[2022-02-17 07:50] xsmrcek commented on #1883
Hello @trask Thank you!
But I still have one problem here :(
When I am using opentelemetry agent MDC is filled in logs as it suppesed to be:
[code]
Configuration of agent:
[code]
But when I use application insights agent MDC is missing.
[code]
my applicationinsights.json:
[code]
I am probably missing some config here :( Do you have any isue what may be wrong? Should I try to reate another minimal

[2022-02-17 11:49] Sachin1O1 commented on #2000
Hi @heyams,
It worked and now I see no NPE. I can share stacktrace.txt file now but it is almost 300MB and increasing so I suspect the profiler never stop and keep writing to stacktrace file.

[2022-02-17 12:54] xsmrcek commented on #1883
I have one more question.
I am using [yalando logbook(]https://github.com/zalando/logbook) for loggin as logging webflux is a real pain.
I was a little naive when I thought agent will be able to autocollect headers and request/response bodies from this logger. Do you think it is worth to create issue for this support? Or I should forget about it and try to add it somehow manually or use different

[2022-02-17 16:13] trask commented on #1883
ya, we are not adding MDC in the logs themselves since we are already correlating and ingesting the logs

would it work for you if logs were not sampled in the agent? then you will have all logs (with correlation where it exists) in Application Insights backend

[2022-02-17 17:03] xsmrcek commented on #1883
Would it be somehow possible to add this feature? We will be sampling application insights traffic ourself and collect logs somewhere else.

Two questions here:
Are those logs sampled now? If so, it is configurable? In case logs are not sampled (or I can configure it) it would be temporary OK to have logs only in application insights. But for future I have to sample application insights to cut a c

[2022-02-17 18:28] heyams commented on #2000
it will run for 10 mins and then stop on its own.  can you share the stacktrace.txt somewhere? blob storage? @Sachin1O1

[2022-02-17 18:31] trask commented on #2000
it's worth trying to zip and attach (or email), it will likely compress really well due to lots of duplicate stack traces

[2022-02-17 23:29] trask commented on #2112
hey @Sachin1O1, looking forward to any feedback on this issue when you have time, thx!

[2022-02-18 09:36] nik-lazer commented on #2014
Not sure that I can fully answer the question, but I did some research here and can share some findings. I was interested, how much overhead can be with using Azure Insights monitoring and I could not do it on real business application under the load, but completed the tests on simple Spring Boot application with Web and Actuator on board. My idea was that even such artificial test can be valuable

[2022-02-18 10:27] stevendick-swissre opened #2129 "Missing AppTraces in Log Analytics Workspace"
### Expected behavior
We have an application that is logging sequential progresson of a work package comprising 18819 items.

For example, we log the following at INFO level:

2022-02-17 07:47:24.257 INFO 1 — [-StreamThread-6] c.s.g.i.b.p.k.t.p.PackageDoneTransformer : {"RUN_ID": 1071282}: Status update (**17202**/18819) received [{"PACKAGE_ID": "1071282|Close|Close|IFA|20220701|300532312|", "RUN_

[2022-02-18 18:55] heyams commented on #2129
did you check App Insights' `traces` table? can you share your ikey? i can check our internal stats to see if there is any daily quota exceeded for your App Insights resource. LA workspace and App Insights have different quota limits.

[2022-02-18 20:26] trask commented on #2129
hi @stevendick-swissre, can you try with the latest (3.2.6)?

3.2.4 started logging when telemetry overflowed an internal queue and got dropped

3.2.5 fixed an issue that was discovered by this new logging (#2062)

(no change in 3.2.6 that I think would impact this, but worth going to it if already bumping)

[2022-02-19 23:19] umutesen opened #2132 "Duplicate HTTP dependency with JAX-RS Client"
### Expected behavior
There should not be any duplicate spans exported for a single http request with JAX-RS Client with Jersey.

### Actual behavior
Duplicate spans exported for a sing HTTP request. As far as I can see, the only notable difference is `InstrumentationLibraryInfo{name=io.opentelemetry.http-url-connection` vs `InstrumentationLibraryInfo{name=io.opentelemetry.jaxrs-client-2.0`

### T

[2022-02-21 08:40] stevendick-swissre commented on #2129
As we had logging from immediately before and after the missing entries, I am assuming no data cap was breached.

I have confirmed that the LAW did not have a data cap breach by checking the _logoperation() function.

How can I check if a data cap on the App Insights instance is exceeded?

I don't want to share the ikey in a public forum or via email.

I have asked the developer to upgrade to v3.2

[2022-02-21 13:00] Sachin1O1 commented on #2112
Hey @trask,
Sorry, I was not able to update you soon. As we are facing this issue on prod env and we are unable to repro at dev env so I am not able to use the snapshot provided by you until it is released. For the time we are increasing the memory of the container and observing.

[2022-02-21 13:21] Sachin1O1 commented on #2000
Hi @heyams and @trask ,
I Compressed the stack trace and emailed it to helen.yang@microsoft.com.

[2022-02-21 14:43] umutesen opened #2133 "Unable to distinguish between applications running with same javaagent in Application Map"
### Expected behavior
I expected the agent to detect the different applications running on the same server and detect the role names from web.xml:

[code]

### Actual behavior
The applications gets bundled into one instance and the calls between them are visualised as an application calling itself.
Cloud role name is `subscripitions\{someguid}\ApplicationInsightsResourceName`

### System informati

[2022-02-21 15:09] stevendick-swissre commented on #2129
We updated to 3.2.6 but reported the same problem.

We did see some new output from the App Insights agent:

2022-02-21 12:17:21.606Z WARN  c.m.a.a.i.t.BatchSpanProcessor - In the last 5 minutes, the following operation has failed 295785 times (out of 571670): Queuing span:
 * Max general export queue capacity of 2048 has been hit, dropping a telemetry record (max general export queue capacity can

[2022-02-21 20:41] trask commented on #2129
this means that the single export thread in the JVM can't keep up with the volume of telemetry data being produced. up to 2048 telemetry records are buffered (by default), but once that limit is reached, if it still can't keep up it starts dropping telemetry records.

from the warning message, it looks like you are sending 571670 telemetry records over a 5 minute window, which is ~2000 telemetry r

[2022-02-21 22:10] trask commented on #2133
hi @umutesen! would something like https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#instrumentation-keys-overrides-preview, but for role name, work for you?

[2022-02-21 22:32] umutesen commented on #2133
Yes, that would be awesome!

[2022-02-22 07:45] stevendick-swissre commented on #2129
Given we're using the agent, is the option to configure the number of export threads exposed?

How do we check the distribution of records being ingested?

[2022-02-23 00:38] MichaelW-SD commented on #2077
confirmed fixed in 3.2.6. Thanks.

[2022-02-23 02:03] trask commented on #2132
@umutesen thanks for reporting this! I've sent a proposal for addressing this upstream https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/5430

[2022-02-23 04:50] trask commented on #2129
here's a query to check the distribution of records, if you can run it over a timeframe that represents one of the heavy 5 minute windows that would be ideal:

[code]

if you can email me your instrumentation key (trask.stalnaker@microsoft.com), I can check what your ingestion service response times are, which will give us another clue about the best solution here

[2022-02-23 08:29] stevendick-swissre commented on #2129
[app-insights-ingested.csv](https://github.com/microsoft/ApplicationInsights-Java/files/8122812/app-insights-ingested.csv)
This was generated 2022-02-23 09:00 CET. We have testing cycles running at the moment, so I will have a look to see if volumes are different over the previous days.

[2022-02-23 08:36] stevendick-swissre commented on #2129
Here's a chart from the last 7 days:

![image](https://user-images.githubusercontent.com/83642283/155285115-9a3f46ef-4825-4bf6-9122-f99e7e357bdf.png)

[2022-02-23 12:29] leonard520 opened #2138 "Correlation with trace id in Spring Cloud Slueth"
**Is your feature request related to a problem? Please describe.**
We are using Spring Cloud Slueth and it will genearte a trace id in the app logs
We are in the meanwhile using Application insight agent (3.2.6) to collect information, which will have another trace id (operation id in application insight context).
We are wondering if it is possible to correlate the two parts for easy troubleshooti

[2022-02-24 07:19] trask commented on #2129
thanks @stevendick-swissre

can you try with this SNAPSHOT build?  https://github.com/microsoft/ApplicationInsights-Java/suites/5427505526/artifacts/171896362

it still only uses a single export thread, but that thread should no longer wait for the response from the ingestion service before proceeding to export the next batch

[2022-02-24 10:10] stevendick-swissre commented on #2129
Hi

This isn't so easy for us to test as our build doesn't support 'local' JARs and it's not the usual URL to download the official App Insights Agent releases.

This is different than the official 3.2.7 release from yesterday?

From: Trask Stalnaker ***@***.***>
Sent: Thursday, 24 February 2022 08:19
To: microsoft/ApplicationInsights-Java ***@***.***>
Cc: Steven Dick (external) ***@***.***>; Ment

[2022-02-25 08:29] Sachin1O1 commented on #2000
@heyams any update?

[2022-02-25 17:10] robrez commented on #2125
I did end up needing to perform a lot of the "extra curricular" activity mentioned above (copying the agent jar) for some projects within my org because they are using spring-boot runnable jars.   For these applications, the opentel helper didn't quite work.

FWIW, those projects could exclude the insight agent from the uber jar and use some other technique for placing it on the classpath.

Please

[2022-02-25 18:19] trask commented on #1883
ya, we're considering it, here's a SNAPSHOT build from #2140, if you can test it out and see if it would work for you that would be helpful:

https://github.com/microsoft/ApplicationInsights-Java/suites/5439717239/artifacts/172590254

Logs which have a "parent span" (e.g. are part of a request) are captured if the span is captured and are not captured if the span is not. This way you get full trac

[2022-02-25 18:22] trask commented on #2138
hi @leonard520!

we are considering to pull in upstream OpenTelemetry MDC instrumentation in #2140.

I think this would allow you to capture the OpenTelemetry (Application Insights) trace_id and span_id into your logs using https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/logger-mdc-instrumentation.md

If you could give the SNAPSHOT build a try and see if that wo

[2022-02-28 10:23] xsmrcek commented on #1883
Hello @trask ,

I am sorry it is not working for me. Is there any additional configuration I should use?

Thank you for explanation. I have one more stupid question:
My application is rarery generating totaly new spans, in most cases I receive traceparent header, so there is actually no need of sampling as agent will use sampling flag from header. Is this right?

I don't have valid use case right

[2022-03-01 03:23] trask commented on #1883
what logging library and version are you using? and can you share your logging configuration that you used for injecting the trace id?

e.g. I just tried with log4j 2.16.0 and this pattern layout:

[code]

and it worked for me

[2022-03-01 03:55] trask commented on #1883
My application is rarery generating totaly new spans, in most cases I receive traceparent header, so there is actually no need of sampling as agent will use sampling flag from header. Is this right?

So, it should be right, except that for compatibility with Application Insights .NET SDK, the javaagent ignores traceflags "0".

Which means that the javaagent respects upstream decision to sample _in

[2022-03-01 08:10] xsmrcek commented on #1883
Thank you! I will update configuration to reflect sam-pling from parent system.

[2022-03-01 08:45] xsmrcek commented on #1883
I am using logback:
`
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Etc/UTC</timest

[2022-03-01 15:08] umutesen opened #2152 "Unexpected behaviour with sampling overrides config"
### Expected behavior
I expect telemetry spans  to be ignored when using sampling overrides.

### Actual behavior
It appears telemetry spans that do not match sampling overrides criteria are still exported and sent to the ingestion service.

We have a web application (Angular) which automatically tracks AJAX dependencies.

Our API is Java based, built with Spring Boot. There are other APIs running

[2022-03-01 17:42] trask commented on #2152
hi @umutesen! can you check if the AJAX requests are sending `traceparent` header (or maybe the legacy `Request-Id` header)?

If AJAX requests are sending `traceparent` header with `traceflags=01` (e.g. the final two digit in `00-0af7651916cd43dd8448eb211c80319c-00f067aa0ba902b7-01`), that is telling downstream that it should be sampled, and Application Insights Java respects that and doesn't eval

[2022-03-01 18:14] umutesen commented on #2152
Thanks for clarifying. Yes, `traceparent =*-01` , `Request-Id`, `Request-Context` are present in the request.

Would you suggest changing the traceflag in the traceparent header to avoid downstream telemetry collection?

[2022-03-01 18:44] trask commented on #2138
the prior SNAPSHOT build didn't work for logback, please try this new SNAPSHOT build:

https://github.com/microsoft/ApplicationInsights-Java/suites/5493003940/artifacts/175576458

[2022-03-01 18:46] trask commented on #1883
thanks, can you try this new SNAPSHOT build?

https://github.com/microsoft/ApplicationInsights-Java/suites/5493003940/artifacts/175576458

[2022-03-02 03:28] trask commented on #2152
Yes, ideally if you send `traceflags=00` that will automatically suppress downstream telemetry collection.

However, see https://github.com/microsoft/ApplicationInsights-Java/issues/1883#issuecomment-1054979120:

[2022-03-02 18:14] trask commented on #1883
great, here you go: https://github.com/microsoft/ApplicationInsights-Java/suites/5509462221/artifacts/176506191

[2022-03-02 18:22] trask commented on #2152
This won't work on its own, you still have to pass traceflags `00`.

This doesn't look like a valid `traceparent` header.

[2022-03-02 21:41] #2152 closed

[2022-03-03 05:19] trask commented on #2112
hi @Sachin1O1, I updated the SNAPSHOT so that it is now exactly the same as 3.2.7 release + the one change trying to resolve your issue:

https://github.com/microsoft/ApplicationInsights-Java/suites/5515964310/artifacts/176873751

Hoping this helps with confidence to apply in production where you are seeing the issue.

[2022-03-03 07:18] leonard520 commented on #2138
It should work. Thanks!

[2022-03-03 12:28] xsmrcek commented on #1883
Thank you!
I tested it and it works as expected!

[2022-03-03 13:17] Sachin1O1 commented on #2112
@trask can I know what the change is?

[2022-03-03 16:41] trask commented on #2112
#2121

[2022-03-03 17:53] florianRieb commented on #1883
Hello everyone, this conversation has helped me a lot. Thanks for that!

But I still have a problem with the B3 multi headers, that the trace id is not propagated correctly and regenerated instead.

 My spring app, runs with the app insights java agent and receives request with header like this:
[code]
Versions:
Java OpenJDK Temurin-17+35
spring-boot-starter-parent: 2.6.2

My applicationinsights.j

[2022-03-04 03:00] trask commented on #1883
@xsmrcek my guess is that this is related to the context (which contains the current span) not getting propagated across threads. can you try checking `Span.current()` in the same place where you are performing the logging? that will help isolate what the issue is here

[2022-03-04 03:02] trask commented on #1883
@florianRieb if you can open a new issue and provide a small repro, that would be super helpful, thx

[2022-03-04 03:51] #2138 closed

[2022-03-04 07:15] florianRieb commented on #1883
@trask When I created the Reproducer, I no longer had this problem. The agent 3.3.0-BETA-SNAPSHOT now works for me as desired.

[2022-03-04 08:19] florianRieb opened #2158 "B3-multi header propagation"
### Expected behavior
When the client send a B3-multi header, the trace ID is to be taken from the request.

### Actual behavior
I have a problem with the B3 multi headers, that the trace id is not propagated correctly and regenerated instead.

My spring webflux app, runs with the applicationinsights-java-agent and receives request with header like this:
[code]

My applicationinsights.json looks l

[2022-03-04 08:20] florianRieb commented on #1883
@trask all right, here i created a new issue with a small demo app.
https://github.com/microsoft/ApplicationInsights-Java/issues/2158

[2022-03-04 09:41] #2158 closed

[2022-03-04 18:28] xsmrcek commented on #1883
Hello @trask , I will try to determine where the issue is next week. I think we can close this issue and I will create new one. Thank you for awesome help you provided us!!!

[2022-03-04 18:28] #1883 closed

[2022-03-04 21:52] trask commented on #2158
hi @florianRieb! just wanted to confirm that you intended to close this?

[2022-03-05 13:02] florianRieb commented on #2158
@trask Yes thanks for your attention, it was not a issue of the agent. The client sende a invalid formatet B3 trace, this leads into an ew genrated trace id.

[2022-03-06 07:25] vladimirbrm opened #2160 "Errors on sending metrics from AKS POD to AI"
### Expected behavior
Send metrics from POD to AI without errors in POD log

### Actual behavior
POD log have errors related to AI

### System information
Please provide the following information:
 - SDK Version: java version "14.0.1"
 - OS type and version: Ubuntu 20.04
 - Using spring-boot - yes

My spring-boot application running in AKS and send metrics to AI
If i not set proxy configuration in

[2022-03-07 08:03] xsmrcek opened #2161 "Missing Span in client request/response logs"
### Expected behavior
I expec Span to be created for our client requests/responces

### Actual behavior
Span is missing when we are logging client request/responces

### To Reproduce &&  Sample Application
Minimal example to reproduce issue can be found [here](https://github.com/xsmrcek/minimal-example)

### System information
Java 15
Kotlin: 1.5.31
spring-boot-starter-parent: 2.5.5
spring-cloud-d

[2022-03-07 10:46] xsmrcek opened #2162 "B3 single headers propagation"
**Is your feature request related to a problem? Please describe.**
I figured out, that someapplication in our environemnt are using B3 single header to propagate trace info. So my applicatoin is generation new one, instead of using it.

**Describe the solution you would like**
I would like to your agent to be able to populate traceId etc, from B3 single headers and to be able to send them too, the

[2022-03-07 20:05] heyams commented on #2160
@vladimirbrm can you try `https `in both host and port?

`
-Dhttps.proxyHost=PROXY_NAME  -Dhttps.proxyPort=PROXY_PORT
`

[2022-03-08 06:48] vladimirbrm commented on #2160
I changed configuration to:
-Dhttp.proxyHost=PROXY_NAME -Dhttp.proxyPort=PROXY_PORT
-Dhttps.proxyHost=PROXY_NAME -Dhttps.proxyPort=PROXY_PORT
-Dhttp.nonProxyHosts=*.applicationinsights.azure.com
-javaagent:/application/applicationinsights-agent.jar

Still have error ( but different ):

2022-03-08 06:39:30.364Z WARN  c.m.a.a.i.telemetry.TelemetryChannel - Sending telemetry to the ingestion service:

[2022-03-10 09:49] MelleD opened #2168 "A lot of warn error from DeltaMetricStorage"
### Expected behavior
Exclude/Disbale the warn error or how can we avoid this message.

### Actual behavior
Since upgrade to 3.2.7 agent. We have a lot of warn errors of

[code]

### To Reproduce
Not sure :-)

### System information
Please provide the following information:
 - SDK Version: 3.2.7
 - OS type and version: Azure AKS
 - Application Server type and version (if applicable): jetty
 - Usin

[2022-03-10 18:45] heyams commented on #2168
Please take a look at this config: [instrumentation logging level](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#auto-collected-logging)

You can change the logging level to ERROR.  Those warning messages are from OpenTelemetry upstream.

[2022-03-10 19:17] navanneethan opened #2169 "Custom Request for threadContext in Java 17"
Hi,

When we update the application to java 17, we are facing the below issue. we are using applicationinsights-spring-boot-starter as 2.6.4 and applicationinsights-agent as 3.2.4 Need a threadcontext to handle the custom request.

Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'webRequestTrackingFilterRegistrationBean' defined in class p

[2022-03-10 19:58] MelleD commented on #2168
Yes is this new? Upgraded from 3.2.1, never see before.

Ok i will try the ENV property.

[2022-03-10 19:58] #2168 closed

[2022-03-10 20:13] trask commented on #2160
hi @vladimirbrm, what version of Application Insights Java are you using? could it be the same issue as #2077?

[2022-03-10 20:56] heyams commented on #2168
@MelleD warning log was added 4 months ago according to this [PR](https://github.com/open-telemetry/opentelemetry-java/pull/3831/files).
it was merged on Nov 9, 2021.
3.2.1 was released before Nov 2021. That might explain why you're seeing it in 3.2.4.  Changing instrumentation logging level should take care of it.

[2022-03-10 21:47] MelleD commented on #2168
Thanks :)

[2022-03-10 22:09] sm524s opened #2172 "Warning response 500"
### Expected behavior
Describe what you expected to happen.
expected to show only application insight connection error and loss of data
### Actual behavior
Describe what actually happened that was unexpected.
unexpected the warning logs in the pods which are not useful
 WARN  c.m.a.a.i.telemetry.TelemetryChannel - In the last 5 minutes, the following operation has failed 1 times (out of 64): Sendi

[2022-03-11 00:29] heyams commented on #2168
@MelleD Correction. Please use [self-diagnostics logging level](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#self-diagnostics). Instrumentation logging level will control which level of logging will be captured by application insights.. It doesn't have anything to do with logs inside applicationinsights.log. Sorry for the confusion.

[2022-03-11 01:18] trask commented on #2169
hi @navanneethan! can you try just using `applicationinsights-core` 2.6.4 instead of `applicationinsights-spring-boot-starter`?

The 2.x spring boot starter doesn't really enable anything in the 3.x agent anyways, so you shouldn't lose any functionality, and this could help resolve your issue, or maybe make it clearer.

[2022-03-11 07:52] MelleD commented on #2168
Ok 👍

[2022-03-11 22:46] trask commented on #2112
hi @Sachin1O1,

3.2.8 contains a configurable option (#2165) that I'm hoping may help with this.

Can you try 3.2.8 with environment variable:

`APPLICATIONINSIGHTS_PREVIEW_BSP_DELAY_MILLIS=100`

and also try with:

`APPLICATIONINSIGHTS_PREVIEW_BSP_DELAY_MILLIS=500`

and let us know if either or both of these help?

[2022-03-13 09:27] vladimirbrm commented on #2160
3.2.7

[2022-03-13 21:39] trask commented on #2162
here's a 3.3.0-BETA snapshot (from #2183) that supports "b3" (single header b3 format):

https://github.com/microsoft/ApplicationInsights-Java/suites/5642301778/artifacts/184377016

[2022-03-13 21:41] trask commented on #2161
thx for reporting this! it looks like this is fixed in latest OpenTelemetry instrumentation, which is included in the same 3.3.0-BETA snapshot that has the "b3" single header support from #2162:

https://github.com/microsoft/ApplicationInsights-Java/suites/5642301778/artifacts/184377016

[2022-03-13 21:54] trask commented on #2161
oh, nevermind, I didn't test correctly.

you are mostly correct:

the OpenTelemetry instrumentation stores the context (current span) into the netty attributes, and the webflux instrumentation activates it, which is why when you are inside of the webflux handler you get the valid context (current span), but inside of netty handler you do not

if you want to get the context (current span) attribute

[2022-03-13 22:12] trask commented on #2161
fyi in case you want to go down this road: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/5568

[2022-03-13 22:47] trask commented on #2129
hey @stevendick-swissre, I think #2181 is a really good improvement that we can include in an upcoming release.

In a simple local logging test, I can get ~30x(!) more throughput without dropping any telemetry (still using the single thread, just not blocking on responses from the ingestion service).

would you be able to test this out if we release 3.2.9-BETA with this one change?

[2022-03-13 22:48] trask commented on #2132
this has been merged into the `vnext` branch, and will be included in 3.3.0-BETA, let me know if you'd like a snapshot build and I can post one here

[2022-03-13 22:51] trask commented on #2125
hey @robrez, I would love to get these changes upstream to the otel helper where possible. if you could either send PR to the otel contrib repo, or point me at what you wrote and I can extract common stuff into the otel contrib, I think that would be really useful

[2022-03-13 23:00] trask commented on #2083
hi @DancingFish47, sorry for the late reply, I suspect the problem is that the match is against the _full_ value, so you'd need something like:

[code]

to match queue anywhere in the url

[2022-03-13 23:00] trask commented on #2083
I don't believe the docs are clear on this, I will update them, thx

[2022-03-14 07:19] umutesen commented on #2132
Yes, please! Thank you

[2022-03-14 09:42] florianRieb opened #2186 "Camel JMS trace propagation"
### Expected behavior
For tracking, we run the Java Agent with a third-party Java application that generates some JMS events and sends them to the Azure Service Bus via AMQP.

The consumers are Spring applications that use the Camel JMS component and receive events on the AMQP endpoint from ASB. This also runs with the java agent + the applicationinsights.json to enable the camel support.

[code]

[2022-03-14 23:59] trask commented on #2132
here you go: https://github.com/microsoft/ApplicationInsights-Java/suites/5656154172/artifacts/185207848

[2022-03-15 00:00] trask commented on #2162
here's the latest 3.3.0-BETA SNAPSHOT that has everything in it including "b3" support: https://github.com/microsoft/ApplicationInsights-Java/suites/5656154172/artifacts/185207848

[2022-03-15 00:18] trask commented on #2133
the latest 3.3.0-BETA SNAPSHOT build has this feature if you want to try it out:

https://github.com/microsoft/ApplicationInsights-Java/suites/5656154172/artifacts/185207848

it works the same as for `instrumentationKeyOverrides`, e.g.

[code]

[2022-03-15 08:14] stevendick-swissre commented on #2129
I think it likely we can test this, but I'm waiting on feedback from the developer. The potential issue is the impacted component may not need to load data at volume again due to where we are in the testing cycle.

[2022-03-15 11:07] xsmrcek commented on #2162
Hello @trask , thank you! But this artefact doesn't seems to be correct. It is 3.2.8-SNAPSHOT and it is sending b3 multi even with configuration:
[code]

btw: It is possible to turn on both b3 and b3-multi propagators? I wouldn't say it is according to PR, for me personaly it would be great to be able to turn on any crazy combination, as I am developing integration layer of our system and systems

[2022-03-15 16:52] trask commented on #2132
sorry! wrong download, here you go: https://github.com/microsoft/ApplicationInsights-Java/suites/5660094239/artifacts/185433031

[2022-03-15 16:54] trask commented on #2162
sorry! wrong download, here you go: https://github.com/microsoft/ApplicationInsights-Java/suites/5660094239/artifacts/185433031

yes, it should support multiple (both `b3` and `b3multi`)

and yes, it should include all of those

[2022-03-16 07:29] Sachin1O1 commented on #2112
Hi @trask
What's the default value if we don't provide APPLICATIONINSIGHTS_PREVIEW_BSP_DELAY_MILLIS in the environment variable.

[2022-03-16 07:41] Sachin1O1 commented on #2112
Hi @trask,
I was looking in the code and its feel like a bug. It doesn't matter if I set APPLICATIONINSIGHTS_PREVIEW_BSP_DELAY_MILLIS  to any value, It always going to set it for 100 miles.

https://github.com/microsoft/ApplicationInsights-Java/blob/main/agent/agent-tooling/src/main/java/com/microsoft/applicationinsights/agent/internal/init/OpenTelemetryConfigurer.java#:~:text=String%20delayMillis

[2022-03-16 17:03] #2162 closed

[2022-03-16 17:30] xsmrcek commented on #2161
Thank you! This road doesn't seems suitable for someone with my experiance. But thank you very much for explanation. I will remember it for foture, if I had to do it.

[2022-03-16 17:30] #2161 closed

[2022-03-17 00:16] pybalo opened #2196 "Problem parsing exceptions if message contains ':'"
The TypeName  in TelemetryExceptionDetails should be what is at the left side of *first* semicolon in the first line of the stack trace.
If the exception message contains colons, the parsing is wrong. E.g: Given the folowing stack trace

[code]
### Expected behavior
[code]
### Actual behavior
[code]
### Suggested patch
[code]

[2022-03-17 03:28] trask commented on #2196
thx @pybalo! I sent #2197 with your fix!

[2022-03-17 05:51] Sachin1O1 commented on #2000
@trask @heyams any update here?

[2022-03-17 17:46] heyams commented on #2000
Will sync with @trask and get back to you soon.

[2022-03-17 19:45] trask commented on #2000
hey @Sachin1O1, we reviewed the stack traces and didn't find anything that we can address for your case in the short-term. there was one startup improvement we made in 3.2.7 in case you haven't updated to that yet.

[2022-03-17 20:57] #2196 closed

[2022-03-18 11:37] umutesen commented on #2132
Thanks! I can confirm this issue is fixed in 3.3.0-BETA. When are we likely to get the stable version?

[2022-03-18 12:25] umutesen commented on #2133
Unfortunately, it is not working with 3.3.0-BETA with the following configuration.

All request telemetry appear to have the root level role name (JBoss)

[code]

[2022-03-21 13:53] asproll commented on #2129
Hi @trask, I can test this if you can point me to the 3.2.9-BETA release.

[2022-03-22 08:23] stevendick-swissre commented on #2129
asproll is the developer in question on our project who discovered the issue.

[2022-03-22 12:40] LokeshJonwal opened #2201 "Application Insight Agent Logs for Kafka JMX metrics"
Issue:

We use an application insight agent to collect Kafka-related metrics (producers and consumers metrics). We are getting logged in azure log analytics every min for the respective metrics which we have mentioned in the application insight JSON file but we are also seeing continuous errors in our service.

Configuration in application insight JSON:

"jmxMetrics": [
  {
    "name": "outcome-hi

[2022-03-22 17:54] trask commented on #2129
great, we will plan to release 3.2.9-BETA tomorrow

[2022-03-23 00:16] trask commented on #2132
great to hear! just a guess right now, probably end of April or into May, there are lots of changes in 3.3.0, so needs some time to bake

[2022-03-24 13:10] #2132 closed

[2022-03-25 02:58] trask commented on #2129
@asproll @stevendick-swissre 3.2.9 is released: https://github.com/microsoft/ApplicationInsights-Java/releases

[2022-03-25 03:12] trask commented on #2172
hi @sm524s, fix for this is merged, and will be included in 3.3.0 release (eta 1-2 months for GA release)

[2022-03-25 03:12] #2172 closed

[2022-03-25 03:13] trask commented on #2112
@Sachin1O1 3.2.9 is released now as well, would love to hear if `APPLICATIONINSIGHTS_PREVIEW_BSP_DELAY_MILLIS` is helping

[2022-03-25 09:03] asproll commented on #2129
Hi @trask , thanks a lot. We will test this as soon as we can and let you know.

[2022-03-25 16:31] trask commented on #2129
@asproll awesome, thanks for reporting that warning, you can safely ignore that, we will fix it #2208

[2022-03-25 18:48] navanneethan commented on #2169
Hi @trask ,

If i use applicationinsights-core, i cant able to use ThreadContext.getRequestTelemetryContext() for custom request.

ThreadContext is not available in applicationinsights-core.

[2022-03-25 21:45] navanneethan commented on #2169
Will it cause my original issue ??

Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'webRequestTrackingFilterRegistrationBean' defined in class path resource [com/microsoft/applicationinsights/autoconfigure/ApplicationInsightsWebMvcAutoConfiguration.class]: Unsatisfied dependency expressed through method 'webRequestTrackingFilterRegistrati

[2022-03-25 21:50] trask commented on #2169
using `applicationinsights-web` will not cause that issue (that class does not exist in `applicationinsights-web`)

[2022-03-28 07:00] #2083 closed

[2022-03-30 19:10] zoomingrocket opened #2212 "exportQueueCapacity - How to determine appropriate value?"
We frequently bump into this entry in the application insight log file

[code]
We have increased based on recommended size, but we get the next incremental value upon restart :D So any suggestion on how to determine the appropriate value instead of trial and error?
Also could not find any documentation around this, so how this value contributes in terms of increased memory consumption or disk usag

[2022-03-30 19:21] trask commented on #2212
hi @zoomingrocket, are you still seeing this after updating to 3.2.10? I was hoping this would go away with #2204

[2022-03-30 19:35] zoomingrocket commented on #2212
@trask  - Yes, still seeing with 3.2.10. Currently no more errors with this configuration: "exportQueueCapacity": 65536

[2022-03-30 19:40] trask commented on #2212
@zoomingrocket can you attach your applicationinsights.log? I'm a bit uncertain, because `exportQueueCapacity` is not the right setting any more in 3.2.10:

https://github.com/microsoft/ApplicationInsights-Java/blob/main/agent/agent-tooling/src/main/java/com/microsoft/applicationinsights/agent/internal/configuration/Configuration.java#L245-L248

[2022-03-31 17:11] zoomingrocket commented on #2212
@trask  - False alarm! My new 3.2.10 agent jar was not getting into effect. Looked at the logs carefully and it said  "ApplicationInsights Java Agent 3.2.5-BETA started successfully" so after correcting the startup and restarting the application no new alerts for exportQueueCapacity over last 8hrs.

We are good to close this issue.

[2022-03-31 17:13] trask commented on #2212
Fantastic 🎉

[2022-03-31 17:13] #2212 closed

[2022-04-04 06:50] stevendick-swissre commented on #2129
Closing.

[2022-04-04 06:50] #2129 closed

[2022-04-07 07:24] dvag-holger-krusemark opened #2218 "Thread of applicaton insights agent runs in an endless loop, missing telemetry data"
### Expected behavior
The application insights agent runs smoothly in the background without significant impact on the server or the application.

### Actual behavior
In rare cases, one of the "BatchSpanProcessor_WorkerThread-1" thread runs in an endless loop and occupies an entire cpu core.

Stacktrace of this thread:

java.lang.Thread.yield(Native Method)
java.util.concurrent.locks.AbstractQueue

[2022-04-07 16:18] zoomingrocket opened #2219 "HTTP Headers capture feature resulting into 100% CPU & Stuck Threads"
### Expected behavior
HTTP Headers to be captured as defined in json configuration without any 100% CPU usage or stuck threads

### Actual behavior
High CPU usage and stuck threads

### To Reproduce
COTs Middleware system, upon system restart we start seeing repeat error stacks in Application Log as below
[code]

#### Sample Application
NA, COTs Middleware system serving HTTP APIs using Jetty, etc

[2022-04-07 22:04] trask commented on #2219
Hi @zoomingrocket!

can you try with the latest SNAPSHOT build?

https://github.com/microsoft/ApplicationInsights-Java/suites/5977750973/artifacts/205795109

The `HttpUrlConnection` instrumentation looks like it's going into an infinite loop, and that instrumentation has been reworked recently, so I'm hoping that may resolve your issue.

If it doesn't resolve the issue, can you attach full stack t

[2022-04-07 22:08] trask commented on #2218
hi @dvag-holger-krusemark! this sounds like #2112, can you try with env var `APPLICATIONINSIGHTS_PREVIEW_BSP_SCHEDULE_DELAY=100` and see if that resolves the issue? if it resolves the issue we will probably make that the default, just not sure how to reproduce this, so need some help, thx!

[2022-04-08 17:28] trask commented on #2218
"BatchSpanProcessor_WorkerThread-1" thread is expected to run in an "endless" loop, but it should be spending most of its time sleeping, waiting on a signal that there is new telemetry to process. I'm suspecting that by not having any "delay" (the current default), in some environments this is causing it to wake up too often and, I'm really unsure though since we have not been able to reproduce th

[2022-04-08 17:43] trask commented on #2112
@Sachin1O1 were you able to test this? how did it go? thx!

[2022-04-11 07:13] Sachin1O1 commented on #2000
@trask do we have any info on the minimum resource requirement for the java agent?

[2022-04-11 07:20] Sachin1O1 commented on #2112
@trask yes, we tested this with delayMillis = 100, but still, have the same problem with customers running on 1 core. I think minimum resource requirements can help to understand the resource allocations. Attaching profiling snap for better understanding.
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/59076596/162684891-5c5caced-12b0-4654-8607-6a9df5e87996.png)

[2022-04-11 21:22] trask commented on #2112
I don't think this will help here, because what you are seeing is unexpected.

Can you help me understand how I can reproduce this? E.g. all the details of your compute environment setup and what steps to reproduce?

This looks potentially interesting https://github.com/netty/netty/issues/10239, but I don't really understand it well enough and really need to be able to reproduce the issue myself t

[2022-04-11 21:27] trask commented on #2112
also, I'm a little suspicious of the profiling measurements since the cpu time is identical to the total time on all of these threads:

![image](https://user-images.githubusercontent.com/218610/162835938-659c12aa-4269-46a9-91e3-0094459ed7d9.png)

check out https://github.com/netty/netty/issues/5896#issuecomment-512375814

[2022-04-11 21:31] trask commented on #2000
do you mean expected startup impact? that can vary really widely from application to application, so it's really hard to give any specific guidance other than that you probably need to measure it on your specific application

btw, there was some promising startup performance investigation and improvement done upstream just recently, I'm working on pulling that into Application Insights and will ge

[2022-04-12 08:20] dvag-holger-krusemark commented on #2218
The delay inside the infinite loop of the consumer thread is 5ms (in the heapdump I see that the attribute "scheduleDelayNanos" contained the value 5000000000).
The real problem is that the thread from the call "java.util.concurrent.ArrayBlockingQueue.poll()" does not return. The thread is trapped in the infinite loop in java.util.concurrent.locks.AbstractQueuedSynchronizer.transferAfterCancelledW

[2022-04-12 10:31] Sachin1O1 commented on #2112
I also don't have any steps to reproduce it. I can just share the allotted resources info for the customer.

[2022-04-12 10:46] trask commented on #2218
how are you detecting that this is causing high CPU? (as opposed to a harmless wait)

I wonder if the comment at https://github.com/microsoft/ApplicationInsights-Java/issues/2112#issuecomment-1095583259 applies here as well?

For the missing telemetry data issue, 3.2.10 has significant improvement:

(https://github.com/microsoft/ApplicationInsights-Java/issues/2129#issuecomment-1066198026)

Should

[2022-04-12 14:47] dvag-holger-krusemark commented on #2218
To make sure that the mentioned infinite loop is responsible for the high CPU load I have
1. created many thread dumps to see where the thread hangs
2. performed a code review, determined the conditions for the infinite loop via analysis of the heapdump and reimplemented the loop.

In https://github.com/microsoft/ApplicationInsights-Java/issues/2219 you can also see the java.util.concurrent.ArrayB

[2022-04-12 17:15] trask commented on #2218
Can you attach thread dumps for these? Thx!

[2022-04-12 18:43] davemedvitz opened #2226 "Trying to connect to wrong cloud?"
We are trying to use the Application Insights Agent to provide logging and telemetry data for a Java application.  We are in the Azure Government Environment.  When we configure this, we are unable to get any data into our environment, instead seeing timeouts to what appear to be URLs for Commercial Cloud Endpoints.

applicationinsights.json
[code]
applicationinsights.log
[code]

finally, when we

[2022-04-13 11:55] dvag-holger-krusemark commented on #2218
The file "deep call stack.zip" contains the stack trace during instrumentation.

Because of the risks we stay on version 3.2.4.
I suspect that "APPLICATIONINSIGHTS_PREVIEW_BSP_SCHEDULE_DELAY=100" will not change the problem "endless loop consumes entire cpu core".

[2022-04-13 11:56] dvag-holger-krusemark commented on #2218
[deep call stack.zip](https://github.com/microsoft/ApplicationInsights-Java/files/8481187/deep.call.stack.zip)

[2022-04-13 19:01] trask commented on #2218
thanks @dvag-holger-krusemark!

this looks like the same issue as #2219

are you able to reproduce it? if so, can you try with the latest SNAPSHOT build and see if that resolves the issue or not?

https://github.com/microsoft/ApplicationInsights-Java/suites/5977750973/artifacts/205795109

or, can you share how you are using HttpURLConnection, so that I can try to construct a repro of the issue?

[2022-04-14 11:42] jakubnabrdalik opened #2229 "Make error logs without an underlying exception visible in Traces in AI"
**Is your feature request related to a problem? Please describe.**

Currently the java agent will split log.error calls (using logback and Spring Boot default) between Exceptions and Traces in AI panel, based on whether there was an "Exception" parameter or not passed to the log.error call.

That is extremely unintuitive and makes developers build dashboards/monitoring that do not show real proble

[2022-04-15 02:34] zoomingrocket commented on #2219
@trask  - I am trying out the latest snapshot over the weekend and will confirm by Monday EOD

[2022-04-15 18:17] trask commented on #2000
@Sachin1O1 can you try this SNAPSHOT build and see if it makes any improvement in startup overhead?

https://github.com/microsoft/ApplicationInsights-Java/suites/6138917706/artifacts/214125745

[2022-04-18 05:22] Sachin1O1 commented on #2000
Sure, @trask. Can you let me know what type of changes we have submitted in this snapshot to improve startup?

[2022-04-18 23:34] trask commented on #2000
sure!

primarily: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/5724

and further we are disabling jax-rs annotation instrumentation by default in our distro (Application Insights) since we do not capture INTERNAL spans by default which is all that the jax-rs annotation instrumentation captures, and as noted in [the opentelemetry PR](https://github.com/open-telemetry/op

[2022-04-19 04:18] trask commented on #2226
hi @davemedvitz! this should be fixed in 3.2.11

[2022-04-19 05:07] trask commented on #2201
hi @LokeshJonwal! can you confirm that the issue here is that the JMX metric is unavailable for a few minutes during startup, which is causing the error to be logged (I believe it is logged one minute after JVM start if the JMX metric is not found at that time)?

and that you are looking for some kind of configuration to either delay this message for X minutes (where you can configure X to be long

[2022-04-19 05:10] trask commented on #2160
hi @vladimirbrm, I believe this may be an issue that we fixed in 3.2.11, can you try with that version?

[2022-04-20 10:54] dvag-holger-krusemark commented on #2218
The problem has so far only occurred in a productive environment. However, I cannot import a snapshot version there.

Our code only called "sun.net.www.protocol.https.HttpsURLConnectionImpl.getInputStream()".

What is the current status of the other issues?

1. Thread "BatchSpanProcessor_WorkerThread-1" is stuck in an endless loop in "java.util.concurrent.locks.AbstractQueuedSynchronizer.transferA

[2022-04-20 19:04] #2226 closed

[2022-04-20 23:11] trask commented on #2219
@zoomingrocket any luck? looking forward to any feedback as looks like this is affecting someone else also in #2218

[2022-04-21 02:23] zoomingrocket commented on #2219
@trask - Snapshot build does fix the issue. Over the last 6 days, CPU utilization has been minimal and pretty stable including server load averages.
HTTP Headers are captured accurately in custom props as requested in json configuration

![image](https://user-images.githubusercontent.com/2420449/164358821-40d7d2e6-a551-4abd-99e5-8ed0c91ce44d.png)

[2022-04-21 02:28] zoomingrocket commented on #2219
@trask  - We do have non-related new error in the application insight log, not related to the original issue, maybe due to snapshot build? Let me know if we should open a separate issue for this

[code]

[2022-04-21 08:26] mateuszit commented on #2229
I faced the issue as well. Would be nice to have it implemented

[2022-04-22 03:48] trask commented on #2219
@zoomingrocket that's great to hear!

and thanks for reporting this additional issue! I can reproduce that as well and will get fix in soon.

[2022-04-22 03:57] trask commented on #2218
can you share your test program?

also, it looks like the upstream changes (most likely https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/5673) may have solved #2219

[2022-04-25 11:44] Sachin1O1 commented on #2112
@trask any inputs ?

[2022-04-25 23:51] trask commented on #2133
hi @umutesen! sorry for not getting back to you, did this end up working for you?

[2022-04-25 23:59] trask commented on #2112
@Sachin1O1 without a repro or more detailed info what those threads are doing, it's hard to make any recommendation. can you open a support ticket so we can set up a live troubleshooting session?

[2022-04-26 10:25] umutesen commented on #2133
it didn't work with AJAX requests that are sampled out as explained in #2152.

Otherwise, it works fine and I am able to see a separate nodes for requests fired as part of page views.

[2022-04-26 14:57] dvag-holger-krusemark commented on #2218
The test program "QueueTest" exchanges data between threads (five producer threads and one consumer thread) via a queue like "BatchSpanProcessor".
To create a stack overflow in the producer threads, the call depth is increased step by step until the queue is accessed. When a stack overflow occurs, the producer thread terminates.
The main thread monitors the throughput of the data exchange and iden

[2022-04-26 15:00] dvag-holger-krusemark commented on #2218
[QueueTest.zip](https://github.com/microsoft/ApplicationInsights-Java/files/8564396/QueueTest.zip)

[2022-04-27 11:51] Sachin1O1 opened #2247 "JMX stats : Cannot able to fetch JMX active connection stat from tomcat jdbc connection pool"
Hi, I am trying to get the JDBC connection count that is used by my service.

I am using the following configuration in the JSON config file

 "jmxMetrics": [
    {
      "name": "CP - Active",
      "objectName": "Catalina:type=DataSource,name=Tomcat Connection Pool[1-992682794]",
      "attribute": "Active"
    },
    {
      "name": "CP - MaxActive",
      "objectName": "tomcat.jdbc:type=Connec

[2022-04-28 21:15] bbishopski opened #2249 "Application lockup only when running applicationinsights-agent.jar"
This issue is 100% reproduceable on my MAC.  When I do not run with the agent, everything is fine.  When I run with the agent I get a lockup.  Furthermore, I tried multiple versions of the jar and found that this issue began with version 3.2.5 and continues through the latest version 3.2.11.  Version 3.2.4 works fine.

I don't know if you'll be successful reproducing, but what my application is do

[2022-04-28 21:41] trask commented on #2249
hi @bbishopski! can you try with the latest SNAPSHOT build?

   https://github.com/microsoft/ApplicationInsights-Java/suites/6289534783/artifacts/225160900

The HttpUrlConnection instrumentation has a fix that may also help your use case.

If the latest SNAPSHOT doesn't resolve the issue, can you post a small sample application that we can use to try to repro/debug with?

[2022-04-29 10:07] Sachin1O1 opened #2250 "Inconsistent data capture : Missing (empty) client_City for more than 20% of requests."
### Expected behavior
client_City data should be in the request table for all the requests captured by application insight.

### Actual behavior
Missing (empty) client_City for more than 20% of requests.

### To Reproduce
requests
| where client_City == ""
| count

#### Sample Application
If applicable, provide a sample application which reproduces the issue.

### System information
Please provide

[2022-04-29 10:27] deman-Innotractor opened #2251 "Double messages in application insights."
### Expected behavior
My log is only written once.

### Actual behavior
My logging is pushed double in application insights

### To Reproduce
Can make a sample application to reproduce if needed.

Starting application with `-Dspring.profiles.active=local -javaagent:/projects/applicationinsights-agent-3.2.11.jar`

#### Sample Application
If applicable, provide a sample application which reproduces

[2022-04-29 10:35] deman-Innotractor opened #2252 "Structured logging not working"
### Expected behavior
Want to see structured logging in Azure.

### Actual behavior
No structured logging at all, only the information. Maybe it is related to #2251

### To Reproduce
@Slf4j
`log.info("Test {}, {}", kv("test1", "a"), v("test2", "b"));`

#### Sample Application
If applicable, provide a sample application which reproduces the issue.

### System information
Please provide the followin

[2022-04-29 10:40] deman-Innotractor opened #2253 "Document/Sample project for new 3.x applications"
**Is your feature request related to a problem? Please describe.**
When creating a new application I notice that there are a lot of configurations needed for the following elements:
- Span creation
- Structured logging
- Configuration of Logback/other logging

**Describe the solution you would like**
I would like to see in the wiki or a somewhere in the code a sample application that I could follo

[2022-04-29 12:41] Sachin1O1 commented on #2247
Hi @trask ,
Still no luck, tried various combinations but getting following error.
ERROR c.m.a.a.i.p.AbstractJmxPerformanceCounter - Error while fetching JMX data: 'java.lang.IllegalArgumentException: Cannot find object name 'tomcat.jdbc:type=ConnectionPool,name=T*''
ERROR c.m.a.a.i.p.AbstractJmxPerformanceCounter - Error while fetching JMX data: 'java.lang.IllegalArgumentException: Cannot find ob

[2022-04-29 17:58] trask commented on #2252
hi @deman-Innotractor! can you see if the discussion here helps? https://github.com/open-telemetry/opentelemetry-java-instrumentation/discussions/5496

[2022-04-29 18:01] trask commented on #2251
hi @deman-Innotractor, are logs always duplicated, or are they sporadically duplicate?

this would be super helpful, thx

[2022-04-29 18:34] heyams commented on #2251
I noticed that ItemId is not the same. That might explain why there were 4 different entries.

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<

[2022-05-02 07:13] deman-Innotractor commented on #2251
@trask : I have made a sample application. The logs are always duplicated. (every trace and every span).

https://github.com/deman-Innotractor/DoubleMessages

In the application log I see still the thing that @heyams found, but now it looks like duplicated.

| timestamp        | message            | itemId                               |
| ---------------- | ------------------ | ------------------

[2022-05-02 07:25] deman-Innotractor commented on #2252
I did read through that thread, and if I'm not mistaken it is in the last line:

So it isn't possible (yet) I think? I can't see the json that is being send to Azure Application Insights, to confirm that is okay.

[2022-05-02 18:08] bbishopski commented on #2249
Thanks for the suggestion! The issue seems to be resolved in the 3.3.0-BETA-SNAPSHOT version!  We will look forward to the release of 3.3.0 !  Thanks!

[2022-05-02 19:43] trask commented on #2112
hi @alexenbw! what's the support case #? were you able to capture a JFR profile? I'd love to review that, thx

also, can you update your prod to 3.2.11? I did make a change recently in https://github.com/microsoft/ApplicationInsights-Java/pull/2222 hoping that it might help with this issue

[2022-05-02 21:47] trask commented on #2251
thx @deman-Innotractor! I'm not seeing duplicate records with your sample app, which makes me think maybe the duplicates in your case are coming from your Application Insights resource configuration.

I'm told most likely this is due to configuring Diagnostic Settings on your Application Insights resource and streaming the data to another Log Analytics workspace, which then causes the data to land

[2022-05-02 21:55] trask commented on #2250
hi @Sachin1O1, can you enable Application Insights self-diagnostic debugging `APPLICATIONINSIGHTS_SELF_DIAGNOSTICS_LEVEL=debug` and check the `ai.location.ip` that is being reported to the ingestion service in both cases where you are seeing `client_City` and where you are not seeing `client_City`?

this will help narrow down whether the issue is on the Javaagent side or not

[2022-05-02 21:59] trask commented on #2249
great to hear that! we are targeting release of 3.3.0-BETA at the end of this week. just guessing at this point that 3.3.0 will be released around the end of the month.

[2022-05-02 21:59] #2249 closed

[2022-05-02 22:01] trask commented on #2247
can you enable self-diagnostic debugging `APPLICATIONINSIGHTS_SELF_DIAGNOSTICS_LEVEL=debug`, and post the debug log? in particular this part should be helpful: https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-jmx-metrics-configuration#how-do-i-know-what-metrics-are-available-to-configure