[2018-02-20 21:42] littleaj commented on #564
@fredsjones Thank you for bringing this to our attention. We'll fix this in our next release.

[2018-02-21 15:33] y-luis opened #566 "Could not find AgentNotificationsHandler"
I am using 2.0.0-BETA version and I get error:

[code]

Seems similar to #270, is it the same problem?

[2018-02-21 16:23] dhaval24 commented on #566
@y-luis are you using Java Agent for AI to collect dependencies? In that case the culprit is - I think you missed adding Application Insights core jar. Agent depends on Application Insights Core jar so you need that to get things running.

[2018-02-21 16:25] dhaval24 commented on #553
@MicNeo apologies got really caught up. I will try to upload something as soon as possible. Thanks for your patience.

[2018-02-21 16:26] dhaval24 commented on #548
@littleaj were you able to get the root cause on this? I think we left this off track but may be blocker in some cases. Let me know if you need any help.

[2018-02-21 17:08] y-luis commented on #566
I based my solution on [this guide](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-get-started). Now I added AI Core as you suggested:

[code]

but it continues with the same error.

[2018-02-21 17:11] dhaval24 commented on #566
No I think if you have web then there is no need to add core. Web pulls down core automatically. That being said, are you making sure that you have the latest agent 2.0.0-beta from here (https://aijavasdk.blob.core.windows.net/sdk/applicationinsights-agent-2.0.0-BETA.jar). Please not same version of agent and core sdk is required. Also please provide more details on your packaging. Follow this gui

[2018-02-21 17:22] grlima commented on #564
@littleaj - thanks for upgrading the version. Note: this issue does not actually expose any vulnerabilities in the SDK since the logback jars are not actually released with the SDK, but rather provided by the user.

[2018-02-21 21:49] dhaval24 commented on #533
@lmolkova #567 should fix this.

[2018-02-21 21:52] #564 closed

[2018-02-21 21:52] dhaval24 commented on #564
Closed this issue as the fix was merged

[2018-02-22 07:13] dhaval24 commented on #400
Closing this as #539 fixed it.

[2018-02-22 07:13] #400 closed

[2018-02-22 21:36] rhrr commented on #460
We have the same issue on JDK8.

Agent: applicationinsights-agent-2.0.0-BETA.jar
JDK: Java(TM) SE Runtime Environment (build 1.8.0_101-b13)
Spring Boot: v1.5.7.RELEASE
OS: Windows 7 Enterprise

Error log:
AI-Agent: ERROR 22-02-2018 16:15, 1: Agent is NOT activated: failed to load to bootstrap class loader: null
java.lang.NullPointerException
        at com.microsoft.applicationinsights.agent.inter

[2018-02-22 21:55] dhaval24 commented on #460
@rhhr I do not think that this is very true unless there is a very specific scenario your application is running under. Would you mind explaining the exact set up of how you are using AI Java agent. And also make sure when you are using java agent 2.0.0 Beta you need to use Application Insights core SDK also of the same version. "Agent version and SDK version should match"

[2018-02-22 22:04] rhrr commented on #460
The application [spring boot] is deployed in Azure app service. We configured App insights for it.
It has the same version of core and web JARs [2.0.0-BETA.jar].

However, I'm running this application locally on my machine when this error occurs.
I was able to capture web telemetry with this setup.
Does that matter? Is the agent only supported while running on Azure platform?
I haven't yet tried r

[2018-02-22 22:15] littleaj commented on #513
@zippitydooda I made a fix for this using an annotated ServletContextListener which should be picked up automatically by the app server. Let me know if you get a chance to try it out.

[2018-02-22 22:38] dhaval24 commented on #460
@rhhr no it doesn't really matter. The matter that you are able to capture web telemetry is indicative that you have web and core jar. The question now comes how you have setted up your agent. I think the root cause is line 113. If I dig into the code it seems to me that you are unable to configure agent properly.

Here is something you need to follow:
1. Agent jar and AI-Agent.xml files in the sa

[2018-02-22 23:46] grlima commented on #555
@littleaj - good point, SDK might be missing application specific exceptions.

[2018-02-23 00:42] littleaj opened #569 "Logging UnitTests failing intermittantly"
Occasionally, I'll see the unit tests fail with one or two test failures in the `/logging/*` space.

Here's an example of one of such failures:
[code]

This assertion is checking how many telemetry items were received by the mocked channel. Locally, I've only seen failures with something along the lines of `java.lang.AssertionError: expected:<1> but was:<`**`0`**`>`, so I thought it was a timing i

[2018-02-23 01:29] dhaval24 opened #570 "Test testSDKInfoFileIsWrittenWithInstrumentationKey fails while running build on Mac OS X"
The test : testSDKInfoFileIsWrittenWithInstrumentationKey fails when running build on Mac OS X with the following stack trace.

[code]

[2018-02-23 14:13] julandw opened #573 "POST /QuickPulseService.svc fails if instrumentation key is set programmatically"
In our Spring-Boot application we set the instrumentation key programmtically using the following code:

  TelemetryConfiguration telemetryConfiguration = TelemetryConfiguration.getActive();
  telemetryConfiguration.setInstrumentationKey(instrumentationKey);

This code is executed before the "WebRequestTrackingFilter" is registered, so that all HTTP request metrics are properly sent with the corre

[2018-02-23 14:49] rhrr commented on #460
It's working now. The issue was with AI-Agent.xml location.
My app is packaged as Spring Boot Executable WAR file with embedded tomcat 8.5.
At some point during setting up, I misplaced AI-Agent.xml in the WAR file, but kept AI agent JAR outside.
Co-locating both of them outside WAR file worked.

Thanks @dhaval24  !

[2018-02-23 16:25] dhaval24 commented on #573
@julandw this is a very interesting situation and I haven't faced it personally. I would be happy to replicate this on my end but few questions to get an understanding : -

1. Do you use different iKey's for LogBack appender xml then the iKey set via environment variable?
2. Are you using the latest logback appender jars? If not please ensure that both your core sdk and appender jars reflect same

[2018-02-23 16:26] dhaval24 commented on #460
@rhhr great to know it worked. my pleasure :- ) I was helpful!

[2018-02-26 13:03] julandw commented on #573
Hello dhaval,

thanks for the quick answer!

To answer your questions:

1.    Do you use different iKey's for LogBack appender xml then the iKey set via environment variable?

Actually the basic idea is to set the instrumentation key as Spring application property and not as environment variable, quite similar as suggested in the pull request: https://github.com/Microsoft/ApplicationInsights-Java/

[2018-02-26 13:17] julandw opened #575 "AI Java Agent: NullpointerException occurs if Http requests are sent asynchronously"
Hello,

we use Application Insights in a Spring-Boot application. When using version 1.0.x we noticed the following log messages:

  AI: ERROR 26-02-2018 13:21, 42: WebApp name is not found, unable to register WebApp
  AI: INFO 26-02-2018 13:21, 42: Successfully registered the filter 'ApplicationInsightsWebFilter'

With version 2.0.0-BETA it is now possible to explicitly set the application name i

[2018-02-26 16:32] dhaval24 commented on #573
@julandw I totally agree that Spring Application developers would like to set iKey in the properties file and then retrive it using @Value("$name") annotation. This is specifically because there are different properties file in the application to support different environments like Dev, Test and Prod where user requires different configuration. One example is that in dev time user would ideally co

[2018-02-27 01:25] dhaval24 commented on #575
@julandw regarding this two errors :

AI: ERROR 26-02-2018 13:25, 43: Could not find Agent: 'com/microsoft/applicationinsights/agent/internal/coresync/AgentNotificationsHandler'
AI: ERROR 26-02-2018 13:25, 43: Failed to register 'ApplicationInsightsWebFilter', exception: 'com/microsoft/applicationinsights/internal/agent/CoreAgentNotificationsHandler'

They are fine and expected to show up when you

[2018-02-27 01:26] grlima opened #577 "HttpCookieFactory class should be removed as it is not being used."
Looks like only unit tests use it.

[2018-02-27 11:54] julandw commented on #575
OK. I guess the first message (Could not find Agent) should be a warning. But the second message (Failed to register...) should not show up at all, because the WebFilter could be registered, right? Basically this message caused my confusion.

OK, cool. Do you have any idea when the stable 2.0.0 release is shipped (roughly)

Thanks for you quick answers.

[2018-02-27 18:20] dhaval24 commented on #575
@julandw yes the Agent message should be taken as warning and the second message - Failed to register...should not come up. That is confusing. I will open an issue for it.

Regarding the stable release, you can expect it to be out by no later than end of first week of March, if everything goes smoothly :)

[2018-02-27 18:23] dhaval24 opened #579 "Remove Misleading Log Messages in WebRequestTrackingFilter"
The log message in the catch block inside `initialize(FilterConfig filterConfig)` method in `WebRequestTrackingFilter.java`  class is very misleading.  This is emitted even in situations when user doesn't use the agent and filter is successfully registered.

PS: It is general behavior of the filter to test if agent is present and throw. The catch statements should be specific and use different log

[2018-02-28 02:26] dhaval24 commented on #575
@julandw we have release the Application Insights Java SDK version 2.0.0. Here is the link to release notes : https://github.com/Microsoft/ApplicationInsights-Java/releases/latest
You should be able to pull these dependencies from maven too :) Let us know your experience using this.

[2018-02-28 11:33] julandw commented on #573
@dhaval24 OK, I totally agree with you that postponing the initialization of QuickPulse is the better option. I just thought that this option is not so easy to achieve.

I also had a look at the ApplicationInsightsTelemetryAutoConfiguration java class and yes this all makes sense to easily use and configure AI for Spring-Boot.

Maybe one more thought: you have to ensure that the QuickPulse Sopring

[2018-02-28 11:52] julandw commented on #575
@dhaval24 I get the following error trying to download the SDK using gradle:

Looking at the POM in maven central shows that the artifactId is actually "web" and not "applicationinsights-web":

<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd" xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

[2018-02-28 12:43] dhaval24 commented on #575
@julandw I did not tried this with gradle but I tried the same with maven and it worked fine. Not sure how this affects :( If it really does then it's bad and needs to be amended some how which I am not aware of how it would be possible as artifacts are now already on maven central.

[2018-02-28 15:36] julandw commented on #575
@dhaval24 The problem with gradle persists:

If you have a look at the [POM file] (http://search.maven.org/#artifactdetails%7Ccom.microsoft.azure%7Capplicationinsights-web%7C2.0.0%7Cjar) you can see that the artifactId is "web" and not "applicationinsights-web" as it should be:

  **<artifactId>web</artifactId>**

The <artifactId> of 2.0.0-BETA (and all the older versions) is "applicationinsights-

[2018-02-28 15:45] dhaval24 commented on #575
@julandw yes you are true, gradle blows up :( we need to get this rectified soon. Btw any idea if we can modify the pom in nexus repo? Or else we might have to push the same version back if it allows to do so with updated pom. Totally mystical how the artifact name got changed!

[2018-02-28 18:03] lhotari opened #581 "Published POM for 2.0.0 is invalid"
Resolving from jcenter gives this error:
[code]

https://jcenter.bintray.com/com/microsoft/azure/applicationinsights-core/2.0.0/applicationinsights-core-2.0.0.pom shows the error message:
"The target deployment path 'com/microsoft/azure/applicationinsights-core/2.0.0/applicationinsights-core-2.0.0.pom' does not match the POM's expected path prefix 'com/microsoft/azure/core/2.0.0'. Please verify yo

[2018-02-28 18:04] lhotari commented on #581
This problem might be related to changes made by #551 . @littleaj , could you please check?

[2018-02-28 18:08] lhotari commented on #581
The POM for 2.0.0-BETA is valid.
[list of published versions in mavencentral](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.microsoft.azure%22%20AND%20a%3A%22applicationinsights-core%22).
2.0.0-BETA's pom has `<artifactId>applicationinsights-core</artifactId>`, but 2.0.0 has `<artifactId>core</artifactId>`

[2018-02-28 18:09] dhaval24 commented on #581
@lhotari yes we are working on this issue for last few hours trying to patch the updated release. Somehow maven doesn't allow to override, so if ultimately we don't get permissions to do so we would release a 2.0.1 version with fixed POMs. Deepest apologies for inconvenience here.

[2018-02-28 18:13] lhotari commented on #581
@dhaval24 Published versions are immutable in MavenCentral, so you will have to release another version.

[2018-02-28 18:35] lhotari commented on #581
@dhaval24 I wonder if #551 changes broke POM creation? Is `STABLE-2.0.0` the branch that was used to publish? #551 changes seem to be the only changes in `gradle` directory in `STABLE-2.0.0` branch after 2.0.0-BETA was released. See https://github.com/Microsoft/ApplicationInsights-Java/commits/2.0.0-STABLE/gradle

[2018-02-28 19:02] lhotari commented on #581
The artifactId for the pom used the `archivesBaseName` value ([gradle docs](https://docs.gradle.org/current/userguide/maven_plugin.html#sec:maven_pom_generation)) before making #551 changes. @dhaval24 do you need help in fixing the issue with the Gradle build?

[2018-02-28 19:21] dhaval24 commented on #581
@lhotari yes 2.0.0-STABLE is the branch that was used to publish. If you can have some help would be great. What is the fix you think we need here? Currently I am preparing the build but had to manually modify the pom names and artifactIds. Should this work atleast for the release this time. Build ofcourse we need to fix.

[2018-02-28 21:42] lhotari commented on #581
@dhaval24 thanks. yes, http://repo1.maven.org/maven2/com/microsoft/azure/applicationinsights-core/2.0.1/applicationinsights-core-2.0.1.pom looks ok. btw. I pushed another commit to the PR to make the pom.xml look similar so that the licence is added after the xml declaration row.

[2018-02-28 23:08] dhaval24 commented on #575
@julandw we have released a patch(2.0.1) to fix this issue. Please take a look at it. You should be able to pull it down from gradle/maven. I apologize for all the inconvenience in the time being.

[2018-02-28 23:11] dhaval24 commented on #573
@julandw thank you very much for your interest with Application Insights and the work we are doing here. Referencing this issue in the PR so we can keep a track of the suggestion. BTW we released a patch version 2.0.1 to fix invalid POM issue. You can try and see how the experience is. Hopefully this would be much better :)

[2018-02-28 23:58] dhaval24 commented on #581
@lhotari thank you very much. I am closing down this issue as the patched version is already out on maven central and is downloadable via gradle and maven. Thank you very much for turning up and providing your assistance in real time here.

[2018-02-28 23:59] #581 closed

[2018-03-01 08:21] gavlyukovskiy commented on #573
This is similar issue to what I had with logback. Logback was initialized much before than `TelemetryConfiguration` at the moment when the `TelemetryConfiguration#instrumentationKey` is null and to fix this I have created another pull request - https://github.com/Microsoft/ApplicationInsights-Java/pull/516 which fixes instrumentation key reload mechanism inside `TelemetryContext` in case when at l

[2018-03-01 13:12] julandw commented on #575
@dhaval24 Everything works as expected. Thanks

[2018-03-01 13:16] julandw commented on #573
@gavlyukovskiy Looks easier with the annotation :)

Is there already a (rough) timeline, when PullRequest 518 will be released?

[2018-03-01 19:26] dhaval24 opened #583 "Build Generated POM files still has dependencies like Apache HTTP client and Guava"
The POMs generated via build has multiple dependencies inside which are shaded.

[code]

Excerpt from pom file for Core.

Especially Guava and HTTP Client are problematic and can lead to class path hell issues. We should fix the POM script to remove this.

[2018-03-01 19:27] dhaval24 commented on #583
https://github.com/micrometer-metrics/micrometer/issues/441. See the comments

[2018-03-01 19:29] dhaval24 commented on #575
@julandw thank you very much and glad to know that everything works as expected. I will close this issue then. Hoping to hear your experience with Application Insights for monitoring. Please feel free to continuously open issues on GH and provide feedback for us to improve :)

[2018-03-01 19:30] dhaval24 commented on #575
Opps, reopened this. Just remembered that this had to also do with faulty log message. Sorry for that!

[2018-03-01 22:04] #569 closed

[2018-03-01 23:51] grlima commented on #575
For the confusing logs, we have created #579

[2018-03-01 23:51] #575 closed

[2018-03-01 23:54] #566 closed

[2018-03-02 00:11] #500 closed

[2018-03-02 00:21] littleaj commented on #450
This is fixed in v2.0.1

[2018-03-02 00:21] #450 closed

[2018-03-03 06:25] dhaval24 opened #588 "Code Sample to Set Instrumentation Key on Microsoft Docs does not reflect according to Java"
Code Sample to Set Instrumentation Key on Microsoft Docs does not reflect according to Java

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-get-started
Look in the alternative ways to set the instrumentation key section. It says
telemetryClient. InstrumentationKey="...."

Instead it should be -
[code]

Update this part of docs

[2018-03-03 14:05] tobiasdiez opened #589 "Silent start possible?"
When the telemetry configuration is loaded from the XML file, always the message `Configuration file has been successfully found as resource` is printed to the console. Is it possible to hide this info message?

[2018-03-03 16:08] dhaval24 commented on #589
@tobiasdiez thank you for asking this question. As of 2.0.1 version this is not possible. I think this message is written in `logAlways()` and it would log always regardless of the logging method. Is the cold start something which you would prefer usually ?

[2018-03-03 16:10] dhaval24 opened #590 "Revisit All logAlways() Logs in the SDK"
We have several places in the SDK where logAlways() messages have been used and sometimes it is just not necessary to have them. Let;'s revisit them and start pruning or converting them to ERROR level verbosity as needed.

This would facilitate the cold start of our SDK.

[2018-03-03 16:11] dhaval24 commented on #589
I have opened a task to revisit all logAlways messages. #590

[2018-03-03 17:10] tobiasdiez commented on #589
Thanks for the quick response. We are using Applications Insights in a console application and thus this informative logging adds additional noise for the user. In my opinion, a debug level should suffice for this particular message.

[2018-03-03 17:48] dhaval24 commented on #427
@Dmitry-Matveev @grlima  #567 where I instrumented `java.net.URI` to derive URL, host and path should fix this issue also where Native Java HTTP calls are not getting intercepted. Though I need to test and confirm. What do you think?

[2018-03-03 17:51] dhaval24 commented on #453
@deepushri @kmalhotra2504 we believe this issue has been fixed in all our subsequent releases after 1.0.10. You may try out the latest stable SDK 2.0.1. I am closing this as of now and you can always reopen if the issue persists.

[2018-03-03 17:51] #453 closed

[2018-03-03 17:55] dhaval24 commented on #406
@littleaj #561 should have fixed this in 2.0.1. Please close this if it is good to go.

[2018-03-03 17:56] dhaval24 commented on #515
@tobiasdiez do you still see this issue anywhere in 2.0.1 version of the SDK? I haven't been able to reproduce a similar problem in my setup.

[2018-03-03 17:56] dhaval24 commented on #589
Thank you for the feedback. As I mentioned, we will revisit our logAlways statements and reduce all the informative logs to the warn/info level and only log breaking things as logAlways.

[2018-03-03 18:13] dhaval24 opened #591 "Provide an XML Configuration to configure the value of MaxInstantRetry"
Currently the `InProcessTelemetryChannel` has the capacity to programatically set the value of MaxInstantRetries between [1.,10]. However, this value should be configurable via XML Configuration.

Possible solution :
Add XML attribute `MaxInstantRetry` in the `ChannelXMLElement` class for configuration to pick this up.

[2018-03-03 18:27] tobiasdiez commented on #515
It may still take a few weeks until we release a new version of our app with the new 2.0.1 version. I'll keep you updated!

[2018-03-03 18:28] dhaval24 commented on #515
👍

[2018-03-03 22:30] dhaval24 commented on #575
@julandw by the way just wanted to ask, as of today what pieces of Application Insights are you using for monitoring your Java Applications? Is AI your primary monitoring source? If not, what is currently missing that you would love to see / is must have for Java monitoring story at your place.

[2018-03-04 04:39] dhaval24 commented on #442
@debugthings do you have more insights on this? What is the exact difference. I would like to understand this scenario better because App Service users are increasing. Does the above implementation work for Linux App Services also?

[2018-03-05 00:46] debugthings commented on #442
@dhaval24 Yes. Right now we look for the actual windows performance counters on all windows machines, ie make a call into the Windows Performance counters via the [Java Native PC connector](https://github.com/Microsoft/ApplicationInsights-Java/blob/master/core/src/main/java/com/microsoft/applicationinsights/internal/perfcounter/JniPCConnector.java#L61). For App Services Azure sandboxes the applica

[2018-03-05 07:59] julandw commented on #575
Actually we have the requirement to collect the logs of all our microservices in a central OMS instance (instead of having individual AI instances). Because the AI-OMS connector does not transfer logs (Traces) we need to write our own Logback Appender for OMS similar to the one you already provide for AI.

[2018-03-06 01:06] dhaval24 commented on #575
@julandw thank you for the information.

[2018-03-06 19:11] littleaj commented on #583
Fixed in #582

[2018-03-06 19:11] #583 closed

[2018-03-06 19:11] littleaj commented on #552
fixed in #582

[2018-03-06 19:11] #552 closed

[2018-03-07 16:57] #533 closed

[2018-03-07 22:38] littleaj opened #595 "Add additional SpringBoot instructions for filter after Servlet upgrade"
#568 started using some annotation for the Filter and the newly introduced ServletContextListener.
This changes how a SpringBoot application should onboard to the AppInsights Java SDK.

From the comments on #568

[2018-03-07 22:42] littleaj opened #596 "Update general onboarding instructions after upgrading to Servlet 3.0"
Now, the filter definition in `web.xml` is not necessary from the changes in #568  (unless the `metadata-complete=true` attribute is specified).

The instructions should include how include the filter/listener automatically as well as manually via web.xml.

It should be stated that the listener is now a necessity.

[2018-03-07 22:56] #513 closed

[2018-03-08 00:28] littleaj commented on #591
Agreed.

[2018-03-08 00:58] littleaj commented on #590
I agree with what you said @dhaval24 , but since `logAlways` has a level parameter, I'd vote to just use that severity unless we find a reason to change it during auditing.

In the same regard, I think we should consider SLF4j so users can pipe our logs however they want. Someone has already requested this feature: #309.

With slf4j, we can provide docs on how to include our logs on the console or

[2018-03-08 05:35] dhaval24 commented on #590
@littleaj yes I agree we should use SLF4J bridge to pump our logs. That definitely gives us much more flexibility in our internal logging story. Even more people have been asking for this almost always. We should also allow similar support like we have for log4j and logback for slf4j too (both internal logs as well as application production logs collection). Let's though triage this as separate is

[2018-03-08 11:48] MicNeo commented on #553
@dhaval24 any news on that topic? sorry for rushing you but it's very important to me to have it working. If you got working example I could try to find out by my own what is wrong with my setup.

[2018-03-08 22:55] grlima opened #598 "Redirect quick start doc"
This doc: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-quick-start  is outdated and not the main starter place for Java monitoring with AppInsights. We should redirect it to this one: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-get-started. This is the main doc which we keep up-to-date as much as possible.

[2018-03-08 23:03] grlima commented on #590
We should get rid of logAlways. It's just not needed and it removes control out of users, who cannot opt out of it.

[2018-03-08 23:04] dhaval24 commented on #590
I am working on this. Will submit a PR soon.

[2018-03-08 23:05] mjmurray88 opened #599 "Pass Information from ai_authuser Cookie to Server SDK?"
We were looking to pass the Authenticated User Id and Account Id that are created and stored in the `ai_authuser` cookie by the JavaScript SDK.  However, it does not appear that any of the telemetry initializers in the Java SDK parse that cookie and add those fields to the telemetry feeds.

I was expecting to see a `AuthenticatedUserIdTelemetryInitializer` or `AccountIdTelemetryInitializer` like i

[2018-03-08 23:15] dhaval24 commented on #599
@mjmurray88 thank yes today there are no initializers like this. Thank you for bringing this up. We will take this as a backlog. @grlima are you aware of this part in the SDK?

[2018-03-08 23:35] grlima commented on #599
@mjmurray88 - thanks for pointing it out. We will triage this for future releases.

[2018-03-08 23:44] grlima commented on #589
We're working on improving this. Tracking with #590

[2018-03-08 23:44] #589 closed

[2018-03-09 02:28] dhaval24 commented on #595
This would be obsolete wrt to #568. Please look the updated comment. Though, let's keep this task as we would have to update the documentation when we release the starter.

[2018-03-09 03:06] littleaj opened #600 "Filter doesn't see request result code when Servlet throws exceptions"
When a Servlet throws an exception, the filter properly reports the exception. However, when the request telemetry is decorated with information from the HttpServletResponse, the response at this time still has response code set to 200.

In the cloud, this shows two bits of telemetry: a request and an exception; but the request is marked successful when it should not.

From my initial analysis, th

[2018-03-09 14:24] grlima opened #601 "Add documentation on manually correlating telemetry on Queue operations in Java SDK"
.NET Examples are here:
https://docs.microsoft.com/en-us/azure/application-insights/application-insights-custom-operations-tracking

[2018-03-10 04:49] dhaval24 commented on #553
[SpringBootTestApp.zip](https://github.com/Microsoft/ApplicationInsights-Java/files/1799090/SpringBootTestApp.zip)

@MicNeo apologies for the delay. Here is the sample. Please replace the ikey in applicationinsights.xml and in the ApplicationInsightsConfig class with your ikey.  Do mvn package. Run the jar.

You should be able to see all the telemetry on the portal. Apologies for the delay here.

[2018-03-11 06:11] dhaval24 commented on #555
@littleaj I remember you talking about this that it should be `RuntimeException` . I also think based on my observation servlet can throw ServletException, IOException and RuntimeException only. If you have confirmed please do close this issue.

[2018-03-11 19:03] dhaval24 commented on #425
tracking with #600

[2018-03-11 19:28] dhaval24 commented on #422
@mkaszub I totally agree with the documentation part that we should not use `@enablewebmvc` here as per the SpringBoot docs. However, the tradition spring frameworks still requires this I believe. Removing this annotation will fix the problem for SpringBoot but at the same time break traditional Spring. We need to think more about this. Do you have a potential solution which can possibly work in b

[2018-03-11 19:43] dhaval24 commented on #416
@xscript can you please give this a shot with latest AI java SDK version 2.0.1 and let me know if the issue persist?

[2018-03-11 19:47] dhaval24 commented on #406
This is fixed with #561 having backoff mechanism.

[2018-03-11 19:47] #406 closed

[2018-03-12 12:40] MicNeo commented on #553
@dhaval24 please add `<SDKLogger />` in ApplicationInsights.xml file and then check logs again :) There are same errors which I mentioned in your sample app too. You just don't see them because of that log feature turned off.

[2018-03-12 13:46] dhaval24 commented on #553
Ah crap, thanks for pointing out. Will take a look. By the way @MicNeo could you please try mvn spring-boot:run. And see if you get same error?

[2018-03-12 19:52] littleaj commented on #425
This is a separate issue. This has to do with DependnecyTelemetry, #600 has to do with RequestTelemetry.

[2018-03-12 19:53] dhaval24 commented on #425
@littleaj yes however when this happens it should throw 500 correct?

[2018-03-12 19:56] littleaj commented on #425
@dhaval24 The response code for the dependency should be the code in the Redis server's reply (probably 401). The response from the application calling Redis can return whatever it wants; the default is 500.

[2018-03-12 19:57] dhaval24 commented on #425
So what should be there ideally here in the the request telemetry's response code?

[2018-03-12 20:21] brunolins16 opened #605 "Release: AI Agent For Java 1.0.10 not available"
The release for version v1.0.10 does not list **application-insights-agent*.jar** file:

https://github.com/Microsoft/ApplicationInsights-Java/releases/tag/v1.0.10

Please make this .jar file available for download because some users are still using JDK 1.6.

[2018-03-12 22:38] grlima commented on #605
@brunolins16  - Thanks for posting. Until version 2.0.0, we did not keep a history of previous agent jars. Starting with version 2.0.0, we will be uploading them to https://github.com/Microsoft/ApplicationInsights-Java/releases

[2018-03-12 22:38] #605 closed

[2018-03-13 18:45] littleaj commented on #555
@dhaval24 I had the same realization recently. There _are_ places in the docs where RuntimeException is references incorrectly. I guess I got a bit overzealous looking for its misuse. :)

[2018-03-13 18:45] #555 closed

[2018-03-13 22:17] gavlyukovskiy commented on #422
I didn't use this class in the starter itself, it won't be applied unless user explicitly imports `InterceptorRegistry`.

Although inside the starter we can auto-configure `RequestNameHandlerInterceptorAdapter` instead, so that it will be included if user enabled web mvc.

@mkaszub did you explicitly import this class?

[2018-03-13 22:21] dhaval24 commented on #422
@gavlyukovskiy I don't think that @mkaszub used starter. This issue I believe was present way before we started working on starter. I think it is a part of web jar. I haven't verified this on my own, but I suspect based on the documentation it would break spring auto config. Also I think the same functionality is well achieved by the filter, I really did not found a specific use case of this `Inte

[2018-03-13 22:31] gavlyukovskiy commented on #422
I understood that starter was not used, I mean spring boot will not include this configuration by default and fact of existing of this configuration won't cause any conflicts unless it was explicitly imported by user in their application.

Probably you have somewhere tutorial that asks to import this configuration? If so it will, obviously, break auto-configuration.

[2018-03-13 22:34] dhaval24 commented on #422
I see I thought that this would by having the tag `@EnableWebMvC` and `@Configuration` Boot would auto import this. If it isn't going to auto import then we can leave it as it is and do not worry. I don't think so I have seen any docs / tutorial around this. Atleast I am not aware of it.

[2018-03-14 00:49] dhaval24 commented on #553
@MicNeo yes, this is true and a very strange behavior. I see that on mvn package java -jar .... throws this exception but when I use the Springboot plugin `mvn spring-boot:run` I do not see this. I believe it is more on how maven orders while packaging. I found this issue on Spring Framework repository.

https://github.com/spring-projects/spring-boot/issues/9324

Look at the comments it explains m

[2018-03-14 10:24] MicNeo commented on #553
@dhaval24 you're right, it looks like exception is gone when using mvn spring-boot:run. I need to take a look at this, but it seems that I would need to have maven installed to run that jar, which doesn't seems to be optimal way.

This springboot starter which you're talking about, you're running it with that maven command or with plain old java -jar ... ?

[2018-03-14 15:45] y-luis commented on #566
I am not explicitly using/configuring any Agent, as said before, just followed the [Get started](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-get-started).

The problem is that `com.microsoft.applicationinsights.agent.internal.coresync.AgentNotificationsHandler` is not on the classpath.

In fact I added [applicationinsights-agent jar](https://github.com/Microsoft/A

[2018-03-14 16:02] dhaval24 commented on #566
@y-luis as mentioned before, we do not notice this problem in any of our test scenarios and neither I found any other similar reports. In order to better diagnose this particular scenario, is it possible for you to upload a trimmed down version of your application which we can test in our environment?

[2018-03-14 18:03] #435 closed

[2018-03-14 18:10] #591 closed

[2018-03-14 22:54] #590 closed

[2018-03-14 23:26] littleaj commented on #546
Well, it turns out that this document is correct. It only transforms `RuntimeException`. This needs more use case analysis before we can make a change. Closing for now.

[2018-03-14 23:26] #546 closed

[2018-03-16 07:58] Injac commented on #553
Hi guys, has this been solved? This is pretty annoying. What about publishing a complete spring boot project using AI? That would be a great help. Not only for Eclipse, but for IntelliJ as well.

[2018-03-16 22:53] dhaval24 commented on #553
@Injac apologies for the trouble but if you look at my comment above I have described in detail about what is happening. Let me know if you need more clarification.

[2018-03-16 22:58] dhaval24 opened #609 "JMX Performance Counters are reported with same time stamp"
JMX Performance counters are getting reported with the same time stamp. Apparently it seems the issue is with `JmxMetricPerformanceCounter` class which holds a final reference to `MetricTelemetry` object.

Time stamp of Telemetry reference is set in the `TelemetryClient` track() method based on null check on Timestamp field. Therefore this reference get's time stamped once and there after never up

[2018-03-17 01:01] dhaval24 opened #610 "Process CPU Performance Counter doesn't show up in Metrics Explorer"
Process CPU Performance Counter is not seen on the Metrics Explorer. The possible reason seems to be the SDK Sends this counter with a name : - % Processor Time

However, the UX expects the name to be Process CPU.

![image](https://user-images.githubusercontent.com/16353121/37548356-8bc54770-2934-11e8-81ea-fbfa6ffc2a33.png)

However when you look in the Analytics, this counter comes up with the na

[2018-03-17 16:48] rahulpatchigolla opened #611 "Unable to send telemetry events when using custom channel"
I am trying to integrate AppInsights with Eclipse plugin in java.

We already have a telemetry pipeline in place for C# where the events are sent to a vortex pipeline which redirects telemetry to app insights.

The following settings work for me in C#.

[code]

Below is the ApplicationInsights.xml which i use in my eclipse plugin which mimics the same configuration as above.

[code]

If I directly

[2018-03-17 20:47] dhaval24 commented on #611
@rahulpatchigolla first of all the Eclipse plugin is maintained by tools team and currently I believe they haven't updated to the latest SDK version 2.0.1.

Can you explain a detailed behavior ? do you see any exception apart from the above one. Can you capture the fiddler trace to see what is the response code you are getting from vortex and also from AI backend.

Also how is your Java project bu

[2018-03-17 23:00] dhaval24 opened #612 "TelemetryConfiguration should be Singleton Class"
`TelemetryConfiguration.java` should be a singleton class. Ideally we never want TelemetryConfiguration object to be empty (i.e it should always have some default configuration except springboot scenario) and once a configuration object is created we should always reuse the same.

The intention of `getActive()` method in the class looks like the same. I think the only reason this class isn't kept

[2018-03-18 11:26] rapatchi commented on #611
Sorry for not being clear before. We have Service Fabric Eclipse Plugin which helps in creating and managing service fabric java applications. We want to collect telemetry of how people are using our plugin. The plugin does not use maven / gradle build system. So directly adding a dependency wasn't possible. So the approach i followed was by adding the core and web jars in my plugin's build and cl

[2018-03-18 18:15] dhaval24 commented on #611
Did you added the lates v2.0.1 version core and web jars? From the debuglogs, you sent I do not see any communication happening from Vortex to AI backend. I am not sure if this would be captured though or not because Vortex is talking to AI and your wireshark will capture outbound calls from the box. Though clearly it seems that from the logs, you are hitting a class cast exception. I am not sure

[2018-03-19 18:45] grlima commented on #612
One may want to have multiple TelemetryConfiguration objects. That way different telemetry clients can use different configurations based on need (for example, send data to separate ikeys, different endpoints, different channel config, etc). I don't believe it was supposed to be a single instance. The "active" is simply the one used by automatic collection (requests, dependencies), but with the cu

[2018-03-19 19:21] dhaval24 commented on #612
@grlima  I believe this causes more confusion to user then ease. It will indeed be very difficult to keep a track of which TelemetryClient uses which configuration object. Ideally I think no one would want to for say use two different channels to send telemetry from the same application, or turn on SDKLogger for some client and off for other.

IMHO, simplicity should take precedence. There can be

[2018-03-20 03:11] rapatchi commented on #611
I am using latest 2.0.1 version of core and web jars. I just wanted to know whenever send an event do we get back an ACK to client machine that we have sent the telemetry event to AI. Because i don't see any events like that in both sucess and failure cases. Also sharing the packets of Wireshark (I filtered the packets based on the IP address mentioned in the debug logs).
[filteredpackets.pcapng.z

[2018-03-20 07:54] rapatchi commented on #611
Hi,
I was able to sent events to the ApplicationInsights. I was looking into the wrong portal (We had two AI resources). I was looking into the wrong resource for the events.

But there is still the problem of class cast exception. Can you help me out on this ?

[2018-03-21 06:01] dhaval24 commented on #611
@rapatchi glad to know this that atleast you see the data. It seems like issue is specific to eclipse and happens when SDK tries to scan through performance counter module annotation and AnnotationDetector Library which is scans SDK which then throws ClassCastException. In order to further debug, I would need to know way how to reproduce this issue. Would you mind elaborating on the steps I can ge

[2018-03-22 16:30] dhaval24 opened #616 "SDK Logger does not flush logs to file unless Application is shutdown"
When using the InternalSdkLogger in "FILE" mode, it is unable to stream the logs to the file. The current implementation only writes to the file (i.e flushes the `FileWritter` when application is shut down). This behavior should be changed.

Instead users would like to see the logs flowing continuously, therefore it would make sense to flush() after every log statement is written to FileWriter.

T

[2018-03-22 16:42] MicNeo opened #617 "No data collected for default Performance Counters"
Hi,

I'm running Spring app with AI SDK version 2.0.1. I've a problem, because I can see a lot of stuff collected from my app (like dependency calls, exceptions etc). However, when I open Servers tab, there is no data for counters like: Process CPU, Available memory, Process Time etc. Only one counter is collected: Process CPU (all cores).

I'm running my app on Windows machine, I read that to col

[2018-03-22 18:49] dhaval24 commented on #617
@MicNeo can you please go to analytics portal and run the following query :

[code]

It will list all the performance counters which are getting collected from your machine. Also some of the windows performance counter requires  - Visual C++ Redistributable

Please turn on SDK Logs and see if you get this error :

Failed to load native dll, Windows performance counters will not be used. Please mak

[2018-03-22 20:20] #609 closed

[2018-03-22 23:29] #616 closed

[2018-03-23 10:04] MicNeo commented on #617
@dhaval24 there're only few PC when I run that query, and most of them are my JMX counters. I can see only two default PC:
- % Processor Time
- Private Bytes

When app is booting up, in logs I have error like that:
`AI: TRACE 23-03-2018 09:56, 1: C:\Users\TEMP00~1\AppData\Local\Temp\2\AISDK\native\2.0.1 folder exists
AI: ERROR 23-03-2018 09:56, 1: Failed to load native dll, Windows performance cou

[2018-03-23 13:30] MicNeo commented on #617
@dhaval24 i checked it, and it looks like that library is corrupted or something. I cannot load it even in very simple Java app (like only with System.load("path_to_lib")). I tried other libs, e.g. coming from C:\Windows\System32, I copied one of them to that path: "C:\Users\TEMP00~1\AppData\Local\Temp\2\AISDK\native\2.0.1", renamed it, and try to load it and it worked. But as soon as I try to loa

[2018-03-23 15:12] dhaval24 commented on #617
@MicNeo thank you very much for going into details around this topic. I am marking this as a bug for now and one of us will pick this at the earliest. Btw, you are also free to pull down our repository and contribute. We really value all contributions here.

Regarding #503 the branch is already merged in master and the next release should have it addressed.

[2018-03-23 19:02] littleaj commented on #617
@MicNeo, you may be missing the Visual C++ Redistributable package. Try installing it ([here](https://www.microsoft.com/en-us/download/details.aspx?id=48145)) and restarting you application. Let me know if you continue to see that error after installing.

[2018-03-26 09:49] MicNeo commented on #617
@littleaj I got it installed already. The file which AI tries to load is there. I even try reinstalling, but without success.

Maybe there're some other dependencies that I'm missing and that library cannot be loaded. Like I said, I tried simple Java app with System.load() and it didn't work with AI lib.

[2018-03-26 10:29] MicNeo commented on #617
@littleaj @dhaval24 I found out the issue. It turned out that I've 32 bit JVM installed on 64 bit Windows with 64 version of Visual C++... and AI tries to use 32 bit of dll since there is 32bit Java installed. Since there wasn't 32bit version of Visual installed it crashed. That's why I couldn't run even simple app. After installing 32 bit version of Visual it start to working just fine. Shame on

[2018-03-28 08:57] aditya-bhuyan commented on #341
Please add xercesImpl-2.9.1.jar into [JDK Path]/jre/lib/endorsed directory. It would solve the issue for Java 1.8

[2018-03-29 19:54] rstirling opened #626 "SQL Command is not being sent to Application Insights"
Hi,

I'm trying to collect the SQL commands executed by my App with no success. During the debug I can see the command value inside the Statement object, but it's not forwarded to RemoteDependencyTelemetry in class CoreAgentNotificationsHandler. My application uses Spring 4 and Hibernate to handle data from MSSQL server. The values I can get from command field in AI are all the same:

_jdbc:sqlser

[2018-03-29 22:45] grlima commented on #626
@rstirling - Hi, thanks for posting. Have you configured the java agent?
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-agent#install-the-application-insights-agent-for-java

[2018-03-29 22:46] #617 closed

[2018-03-29 22:47] grlima opened #627 "Add documentation for C++ redistribution (bitness, etc)"

[2018-03-29 22:49] #612 closed

[2018-03-29 22:52] grlima commented on #610
Misconfigured C++ redistribution lib.

[2018-03-29 22:52] #610 closed

[2018-03-29 22:55] grlima commented on #588
Complete.

[2018-03-29 22:55] #588 closed

[2018-03-29 22:56] grlima commented on #543
Complete.

[2018-03-29 22:56] #543 closed

[2018-03-29 22:56] grlima commented on #524
Complete.

[2018-03-29 22:56] #524 closed

[2018-03-29 22:57] grlima commented on #523
Complete.

[2018-03-29 22:57] #523 closed

[2018-03-29 22:57] grlima commented on #522
Complete.

[2018-03-29 22:58] grlima commented on #521
Complete.

[2018-03-29 22:58] #521 closed

[2018-03-29 22:58] grlima commented on #520
Complete.

[2018-03-29 22:58] #520 closed

[2018-03-29 22:58] grlima commented on #519
Complete.

[2018-03-29 22:58] #519 closed

[2018-03-29 22:59] grlima commented on #488
Complete.

[2018-03-29 22:59] #488 closed

[2018-03-29 22:59] grlima commented on #486
Complete.

[2018-03-29 22:59] #486 closed

[2018-03-29 22:59] grlima commented on #485
Complete.

[2018-03-29 22:59] #485 closed

[2018-03-29 22:59] grlima commented on #484
Complete.

[2018-03-29 22:59] #484 closed

[2018-03-29 23:00] grlima commented on #483
Complete.

[2018-03-29 23:00] #483 closed

[2018-03-30 09:04] matthieuklotz opened #628 "Initializing Collectd Plugin failed with java.lang.NoClassDefFoundError"
Hi,

I currently try to use the Application Insights plugin for collectd on an Unix virtual machine hosted in Azure with the following system configuration :

- Ubuntu 16.04.4 LTS
- Collectd 5.5.1
- OpenJDK 1.8.0_151
- I tried with App Insights SDK 2.0.1 and 2.0.2

I have followed the [documentation](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-collectd) but collec

[2018-03-30 09:26] matthieuklotz commented on #628
Sorry i just found that download link in github have a redirection and my curl command does not follow the redirection. The good commands are :

[code]
Sorry for this "not issue".

[2018-03-30 09:26] #628 closed

[2018-03-30 14:21] mrbullwinkle commented on #598
@grlima in this instance you won't be able to redirect the quickstart to the other doc, but we can definitely link to the more in depth getting started doc you reference at the top of the quickstart doc, and can update the underlying content in the quickstart so it isn't out of date.

Anything that lives under the quickstart, tutorial, overview, and landing page TOC sections follows a specific tig

[2018-03-31 14:44] koldyr opened #630 "Allow configuration for ApacheSenderFactory/ApacheSender"
Currently we are not able to assign SSLContext with my TrustManager to HttpClients created in ApacheSenders. Would be really useful to allow such configuration.

[2018-04-01 03:27] dhaval24 commented on #630
@koldyr thank you very much for passing on the feature ask. Can you please also add a code sample to the issue demonstrating the behavior which you would like to see.

[2018-04-02 08:57] koldyr commented on #630
Well, i forced to do following:
1 i implement ApacheSender. like this
[code]

2 i assign this instance to factory during app initialization:

[code]
Only after such manipulation my app can reach AI from our intranet.

So it would be good to allow in ApacheSenderFactory create my instance of ApacheSender. Or in ApacheSender43 allow to pass PoolingHttpClientConnectionManager or any other ability con

[2018-04-02 12:42] rstirling commented on #626
@grlima - Hi, yes I got these lines on my console output:
_AI-Agent: INFO 02-04-2018 08:39, 1: Agent jar found at /C:/Users/rafael.stirling/Documents/apache-tomcat-8.0.39/webapps/ROOT/WEB-INF/lib/applicationinsights-agent-2.0.1.jar
AI-Agent: INFO 02-04-2018 08:39, 1: Agent jar name is applicationinsights-agent-2.0.1.jar
AI-Agent: TRACE 02-04-2018 08:39, 1: Successfully loaded Agent jar
AI-Agent: T

[2018-04-02 17:55] grlima commented on #630
@koldyr - we will consider allowing config to specify custom senders, but a discussion is needed on the security implications as it will allow random code to be run. Possibly we can only allow the injection of Trust Managers or something else. But a question: are you doing this in order to trust all certs out there? Isn't this a security concern for you? Would it be better to install whatever cert

[2018-04-02 18:06] koldyr commented on #630
@grlima well, yes, basically you are right. but my particular case is specific to me and i realize mentioned security concerns still... it would be good to allow user configure httpClient in more flexible way, not only trust manager or SSLContext.

[2018-04-03 10:25] ifle opened #632 "How to define the cloud_RoleName in the Spring Boot 2 application?"
How to define the cloud_RoleName in the Spring Boot 2 application?
We would like to sharing a single Application Insights resource with several micorservices

[2018-04-03 13:46] tomaszglinski commented on #632
Need that too!

[2018-04-03 18:24] dhaval24 commented on #632
@ifle thanks for asking the question. I think you can do this in the following way :

``
telemetryClient.getContext().getTags.put(ContextTagKeys.getKeys().getDeviceRoleInstance(), roleInstance)

[code]

[2018-04-03 20:02] ifle commented on #632
Thanks for your answer. You example put the instance name instead of role name.
When I need to place your code?
I have microservice architecture and want to share one instance of the application insights with all services and web applications. What I need to do that all services\applications is appear in the application map?

[2018-04-04 08:44] tomaszglinski commented on #632
OK found it:

public class CloudRoleNameInitializer extends WebTelemetryInitializerBase {

    @Override
    protected void onInitializeTelemetry(Telemetry telemetry) {
        telemetry.getContext().getTags().put(ContextTagKeys.getKeys().getDeviceRoleName(), "myapp");
    }
}

and ad entry to the Appinsights xml file a reference to the class under   <TelemetryInitializers>

[2018-04-04 10:50] ifle commented on #632
You can also use
`
context.getDevice().setRoleName("myapp");
`

[2018-04-04 11:35] tomaszglinski opened #635 "HTTP calls via feign clients are not reported as dependencies"
I tested both spring feign client as well as direct RestTemplate call, the latter is correctly reported as dependency, feign - not...

Do you have any hints how to enable it?

[2018-04-04 14:37] tomaszglinski opened #636 "OkHttp3 not instrumented"
While looking for solution for #635, I found https://github.com/Microsoft/ApplicationInsights-Java/blob/master/agent/src/main/java/com/microsoft/applicationinsights/agent/internal/agent/http/HttpClassDataProvider.java which defines the list of supported HTTP client libs. There is okhttp on the list, but current version has okhttp3 in the packages name, so it is not instrumented.
Could you add it?

[2018-04-04 15:01] tomaszglinski opened #637 "org.apache.httpcomponents:httpclient dependency data incorrect (class name instead of host)"
While looking for solution for #635 I tried to use  io.github.openfeign:feign-httpclient lib as HTTP client lib provider, which uses org.apache.httpcomponents:httpclient (version 4.5.1 in my case). It worked a little bit, but the telemetry data looks incorrectly filled:

![image](https://user-images.githubusercontent.com/8693263/38315799-8802627c-3829-11e8-90b1-253ca87dcea3.png)

Is it a bug or so

[2018-04-04 15:12] dhaval24 commented on #636
@tomaszglinski thank you for raising an issue. Yes this is correct the OKHTTP version which is instrumented was version 2.x.x. AFAIR, OK HTTP instrumentation also doesn't support correlation in our SDK yet. Regarding OKHttp3 it has significant public API changes as compared to OKHttp2, so it would require full blown feature to add instrumentation. We can take this as a feature request and keep it

[2018-04-04 15:14] dhaval24 commented on #635
@tomaszglinski you are experience correct behavior. The dependency collection of rest clients namely SpringRestTemplate and SpringBoot Feign Client depends on the underlying HTTP Library being used. Our current instrumentation instruments ApacheHttpClient. Therefore if the clients use ApacheHttpClient then it should work out. I would recommend using ApacheHttpClient 4.5.3 version if possible.

[2018-04-04 15:26] dhaval24 commented on #632
@tomaszglinski and @ifle both the methods are correct code wise. However, personally @tomaszglinski method is more elegant from design and software engineering perspective as it keeps separation of concerns and you would less likely want to alter your business logic class for this purpose. since there is an increased interest in Springboot we are working on creating SpringBoot starter for applicat

[2018-04-05 07:41] tomaszglinski commented on #635
Hi @dhaval24, as you saw in #637  I tried with ApacheHttpClient :)
I agree with your clarification. But I am wondering whether it would not be possible to add a great feature for feign (and feign-like) libs, meaning:
Application call feign using the business name of the called service, for example "users". Under the hood, the calls to "users" mean loadbalanced/retried/circuitbreaked calls to 3 ins

[2018-04-05 07:52] tomaszglinski commented on #632
Hi @dhaval24,

Yes, I could check the alpha version.

Whether CloudRoleNameInitializer should be autoconfigured - I think so, as it defines the logical name of the component (of course it should take the spring.application.name property value). The host should be rather a fallback.

My scenario is following: I have an environment that have many (micro)services, that are of course deployed with mor

[2018-04-05 16:15] SergeyKanzhelev commented on #632
I posted on how application maps are working and which data to use to build maps: http://apmtips.com/blog/2017/10/18/two-types-of-correlation/ Note, there are experimental map that may work better for your scenario.

[2018-04-05 17:17] grlima commented on #637
@tomaszglinski - are you using the latest version of the SDK (2.0.2)? I believe this issue has been fixed in #567

[2018-04-06 09:25] timja-kainos opened #640 "Document how to set RoleName field for java"
Hi

How do you set the role name field for java for multi role applications?
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-monitor-multi-role-apps

The node.js sdk has a section like this:
https://github.com/Microsoft/ApplicationInsights-node.js#multiple-roles-for-multi-component-applications

Could the same be added for java sdk?
Happy to add it if you could provide a s

[2018-04-06 17:07] dhaval24 commented on #637
@tomaszglinski that is strange. I might have to reproduce this locally to understand better. Can you add a sample stripped down version of Springboot application using Feign client? I can then try to see what is going under the hood in this case.

[2018-04-06 20:15] rstirling commented on #626
Hi,

I upgraded AI dependencies to 2.0.2 and the problem remains:
![image](https://user-images.githubusercontent.com/7254787/38442209-98fdc160-39b5-11e8-9f46-45e7311b827f.png)

[2018-04-07 15:51] timja-kainos commented on #640
I see this: https://github.com/Microsoft/ApplicationInsights-Java/issues/632

[2018-04-07 17:45] dhaval24 commented on #632
@tomaszglinski and @ifle were you able to see the see the different components in the app-map by explicitly setting the cloudRoleName instance? If not what is the behavior you are seeing after setting the cloudRoleName.

Also @SergeyKanzhelev post explains correlation and app map propogation extensively. I recommend you taking a look at it.

@grlima can comment more on this but I believe that the

[2018-04-08 05:45] timja-kainos commented on #640
We'll try it out on Monday, thanks @dhaval24

[2018-04-08 18:01] timja-kainos commented on #637
If it helps, I'm using spring boot with app insights 2.0.2, feign client configured to use Apache http client and it works
https://github.com/hmcts/cmc-claim-store/blob/master/src/main/java/uk/gov/hmcts/cmc/claimstore/config/HttpClientConfiguration.java#L21

![image](https://user-images.githubusercontent.com/21194782/38470751-32acaa1a-3b5f-11e8-9e0f-acb58e9a4dca.png)
![image](https://user-images.g

[2018-04-08 18:07] dhaval24 commented on #637
@timja-kainos this is awesome. Thank you very much for taking out time to show a working example. I believe @tomaszglinski might have missed updating the application-insights agent to version 2.0.2.

PS: Your app-map looks great :)

[2018-04-09 07:34] tomaszglinski commented on #632
Hi @dhaval24  I see my role names only on the preview map, on classic there is only one box with the instrumentation key.

@SergeyKanzhelev thnaks for great article, AFAIU you create telemetry data there on your own. This is of course what I would like to get for free from the SDK if possible :)

[2018-04-09 09:57] rlewan commented on #632
@dhaval24 I would be keen to try the alpha of Spring Boot support too -- the solution proposed by @tomaszglinski works, but it's essentially static configuration. In our system we have App Insights support implemented as a separate library which services import as a dependency, so it won't work for us.

[2018-04-09 10:04] tomaszglinski commented on #632
@rlewan why wouldn't it work? Just replace the app name with "spring.application.name" property and put the class to you lib...

[2018-04-09 10:07] rlewan commented on #632
Will a class added to Appinsights xml be instrumented by Spring?

[2018-04-09 10:12] tomaszglinski commented on #632
No, but you could use a static field with app name, that would be initialized by spring one it startups. Then every call to onInitializeTelemetry would use that field (assuming onInitializeTelemetry is called every time the telemetry is build and sent, didn't check)

[2018-04-09 10:31] rlewan commented on #632
Something like that may possibly work but it's hacky and discouraged by Spring too (injecting into static fields). Would be nice to have a proper support for Spring applications :)

[2018-04-09 10:57] tomaszglinski commented on #632
true and true

[2018-04-09 16:09] grlima commented on #640
@timja-kainos - the documentation updates have been made to include this. It will go live today on this page: https://docs.microsoft.com/en-us/azure/application-insights/application-insights-correlation and the java [getting started page](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-get-started).

[2018-04-09 16:30] dhaval24 commented on #632
@tomaszglinski just confirmed with App_Map team and it is totally expected that this cloud_role names will be seen only in the preview app map.

[2018-04-09 17:43] littleaj commented on #558
I created a reference in our github wiki [here](https://github.com/Microsoft/ApplicationInsights-Java/wiki/ApplicationInsights.XML)

[2018-04-09 17:43] #558 closed

[2018-04-09 20:57] littleaj opened #641 "Create reference for AI-Agent.xml"
Similar to the wiki page on [ApplicationInsights.xml](https://github.com/Microsoft/ApplicationInsights-Java/wiki/ApplicationInsights.XML), we should have a similar document for the agent config file.

[2018-04-09 22:41] grlima commented on #640
here's the doc:
https://docs.microsoft.com/en-us/azure/application-insights/application-insights-correlation#role-name

[2018-04-09 22:41] #640 closed

[2018-04-09 22:46] grlima commented on #635
Dupe of #637

[2018-04-09 22:46] #635 closed

[2018-04-09 22:49] grlima commented on #632
We've added documentation on cloud_roleName for Java: https://docs.microsoft.com/en-us/azure/application-insights/application-insights-correlation#role-name

[2018-04-09 22:49] #632 closed

[2018-04-09 22:50] grlima opened #643 "Spring Boot Starter for Java SDK: auto-configure cloud_roleName"
#632

[2018-04-09 23:01] grlima commented on #626
@rstirling - Hi, thanks for posting. Do you see the SQL command when you search for dependencies in Analytics? For example, you can run this:

dependencies
| where type == "SQL"
| take 1
| project data

[2018-04-10 07:16] tomaszglinski commented on #632
@grlima  I would also add a line about required edit in the AppInsights.xml file...

[2018-04-11 00:58] tobiasb opened #644 "Numerous CWE weaknesses after upgrading to 2.0.1"
After upgrading a project to version 2.0.1 I get the following CWE weaknesses when scanning the project. The root is always `applicationinsights-web-2.0.1.jar`.

High:
- Use of Hard-coded Cryptographic Key (CWE ID 321) (`NTLMEngineImpl.java`)
- Use of a Broken or Risky Cryptographic Algorithm (CWE ID 327) (`NTLMEngineImpl`, ...)

Medium:
- Improper Output Neutralization for Logs (CWE ID 117) (`Jdk

[2018-04-11 06:02] dhaval24 commented on #644
@tobiasb we had this issue earlier also reported via internal support. Here is the verbatim:

For the high risk components:

NTLMEngineImpl.java (part of apache HTTP client library) – uses DES crypto algo.
MessageDigestCalculatingInputStream.java ( part of apache commons-lang3 library) – uses MD5.

we embed (aka shadow) these libraries into the Application Insights SDK, however, these particular c

[2018-04-11 14:47] rstirling commented on #626
Hi @grlima ,

I set the log level to trace for AI and I got this line for every query executed:

_AI: TRACE 11-04-2018 10:40, 271(http-nio-8080-exec-3): Sending Sql RDD event for 'jdbc:sqlserver://localhost:1433;authenticationScheme=nativeAuthentication;xopenStates=false;sendTimeAsDatetime=true;trustServerCertificate=false;sendStringParametersAsUnicode=true;selectMethod=direct;responseBuffering=ad

[2018-04-12 21:50] #489 closed

[2018-04-16 22:48] grlima commented on #644
Known issues with external libraries due to the fact we embed them in the SDK.

[2018-04-16 22:48] #644 closed

[2018-04-16 22:50] grlima commented on #637
This is fixed in the latest version (2.0.2).

[2018-04-16 22:50] #637 closed

[2018-04-16 22:54] grlima commented on #626
Hey @rstirling - Thanks for providing the traces! You are correct. It should not be empty. could you please share more information about your application so we can try to repro it ourselves? Mostly I think the SQL Server driver version you're using and your SQL client code where you execute the query. Thanks!

[2018-04-17 12:49] rstirling commented on #626
Hi @grlima ,
I'm using Hibernate (5.2.10.Final) and sqljdbc4 (4.0) for my persistence layer. The queries are managed by Hibernate framework. I'll try to replace sqljdbc for mssql-jdbc to see what happens. Thanks.

[2018-04-18 16:03] SergeyKanzhelev opened #647 "Negative CPU values on Server Details"
Moved from https://github.com/Microsoft/ApplicationInsights-Home/issues/212

Reported by @rstirling

[2018-04-18 17:41] rstirling commented on #626
Hey @grlima ,

Good news! With the newer driver version I'm able see the SQL command in AI dependencies details panel. That was exactly the cause of the problem.

![image](https://user-images.githubusercontent.com/7254787/38948294-25661f0c-430d-11e8-8f1d-72b5f630110a.png)

I'm using the version _group: 'com.microsoft.sqlserver', name: 'mssql-jdbc', version: '6.4.0.jre8'_ to acquire the command cor

[2018-04-18 20:18] littleaj commented on #647
`-1` is the default value when CPU% cannot be computed for some reason. If it's due to some JMX error, it should show up in the SDK logs.

@rstirling, do you see any errors in the SDK logs enabled?
If you haven't done that before, add this to your ApplicationInsights.xml:
[code]
See the [config file documentation](https://github.com/Microsoft/ApplicationInsights-Java/wiki/ApplicationInsights.XML)

[2018-04-19 21:34] grlima opened #649 "Docs: Add java examples on telemetry initializers and processors"
This page describes how telemetry initializers/processors can be coded, but no java examples are available:
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-api-filtering-sampling

[2018-04-20 17:58] rstirling commented on #647
Hi @littleaj .

I got the log but there are no exceptions on it:

AI: INFO 20-04-2018 12:18, 192(ActiveTransmissionNetworkOutput_1-6): Backoff has been reset.
AI: INFO 20-04-2018 12:18, 118(ActiveTransmissionNetworkOutput_1-0): Backoff has been reset.
AI: INFO 20-04-2018 12:18, 153(ActiveTransmissionNetworkOutput_1-1): Backoff has been reset.
AI: INFO 20-04-2018 12:18, 165(ActiveTransmissionNetwor

[2018-04-20 18:53] littleaj commented on #647
Thanks for the follow up @rstirling. It's interesting that there are no exceptions. We can at least rule out JMX as the cause.

Now, the first datapoint for CPU% will always be `-1`. Is this what you are seeing? or do you see `-1` as a value after that?

[2018-04-20 19:00] rstirling commented on #647
Hey @littleaj ,

Yes, it is. I let my app running for a couple minutes today morning. I'll let it run for a longer period to have a better test scenario and I'll share the results here. Thanks.

[2018-04-20 19:07] littleaj commented on #647
Ok, cool. At the very least, we can file an issue to remove the `-1` datapoint from being reported. It does look a bit strange in the charts.

And yes, do let me know if `-1` shows up later in the logs. That would be a separate issue.

[2018-04-24 21:05] dhaval24 commented on #643
#646 should address this.

[2018-04-24 21:06] dhaval24 commented on #626
Great. I will be closing this issue then.

[2018-04-24 21:06] #626 closed

[2018-04-24 21:08] dhaval24 commented on #611
@rapatchi I am assuming that your concerns on sending the data to custom channel has been addressed. I am closing this issue as of now. If you have further questions please feel free to reopen if needed.

[2018-04-24 21:08] #611 closed

[2018-04-24 21:10] dhaval24 commented on #579
#646 will address this.

[2018-04-24 21:11] dhaval24 commented on #525
Closing this as it is already fixed.

[2018-04-24 21:11] #525 closed

[2018-04-25 23:02] littleaj commented on #579
Which log message? I don't see one that is obviously misleading.

Regarding your PS, catch statements don't always need to be specific.

[2018-04-26 01:39] littleaj opened #653 "Agent calls logger before logger initialization. System property to enable javaagent logger?"
I noticed that there are several calls to `InternalAgentLogger` before the config file is read. This is odd because enabling the logger is done using that file.

It may be a good idea to have a system property which enables logging before the config file is read.

Thoughts?

[2018-04-26 14:46] dhaval24 commented on #515
@tobiasdiez have you ever seen this with our latest SDKs ? If not please let us know so we can close this.

[2018-04-26 16:32] tobiasdiez commented on #515
Today, we've finally released a new version of our application using the updated AI-SDK. Thus I can say more about it after the users tested the new version in the next couple of days.

[2018-04-28 00:06] #647 closed

[2018-05-05 11:45] florian-beetz opened #661 "Relocate Guava package com.google.thridparty"
I noticed that the core library exports the package `com.google.thirdparty` of Guava.
Is there any reason why this package is not relocated, like all other packages of dependencies?

When this package is relocated, the SDK also seems to be compatible with Java 9.

[2018-05-06 19:25] dhaval24 commented on #661
@florian-beetz we relocate `com.google.common` but you are correct relocation of this package is missed. However you look at the POM for core: https://search.maven.org/remotecontent?filepath=com/microsoft/azure/applicationinsights-core/2.1.0/applicationinsights-core-2.1.0.pom It doesn't import the guava dependency so I believe it should not be a cause of any sort of conflict.

Further, about Java

[2018-05-07 08:14] florian-beetz commented on #661
The reason why this is relevant for Java 9 is that JPMS does not allow two modules exporting the same package. So when I try to compile a project that uses both Guava and ApplicationInsights compilation fails.

When this package is relocated the project can be compiled, but I was not aware of the problems with the Java agent.

[2018-05-07 15:46] tobiasb commented on #644
Thank you @dhaval24.

[2018-05-08 18:17] curtisporter1 opened #662 "Application hangs on exit with v2.1.0"
A standalone application built with ApplicationInsights-Java hangs on exit.  There is a thread pool (pool-1-thread-1) that is not shut down, and it prevents the application from exiting.  This does not occur with version 2.0.2.

Attached is a trivial program that demonstrates the problem.

[telemetrysample.zip](https://github.com/Microsoft/ApplicationInsights-Java/files/1985144/telemetrysample.zip

[2018-05-08 18:29] littleaj commented on #662
Thank you for bringing this to our attention. We're investigating the issue.

[2018-05-08 21:42] littleaj commented on #662
I found the issue and have a PR for it. In the meantime, if this is blocking you, there is a workaround:

At the bottom of your main method, add `SDKShutdownActivity.INSTANCE.stopAll();`. This will stop all the threads in the SDK, including the one in question. If you have the SDKLogger enabled, you may see some exceptions, but this is expected.

[2018-05-09 17:30] grlima commented on #653
What's the impact on users? Does this mean log messages are emitted even if agent logging is disabled in the config file?

[2018-05-09 17:59] littleaj commented on #653
Yes, the proposed property would override the config file setting.

To be clear the goal here is to initialize the logger before the code path reaches the first log message. So, this could also be accomplished by reworking where and how the config file is parsed.

[2018-05-21 14:04] dhaval24 commented on #632
@tomaszglinski yes- the starter will auto configure the cloud_roleName to be the spring application name. It dynamically picks the value from (spring.application.name) property. I will update the readme with this note.

[2018-05-28 09:50] snicoll opened #673 "Consider renaming prefix for configuration properties"
The current root namespace for this project is `azure.application-insights`. The Spring Boot project tries as much as possible to be concise and not use more than one word for namespacing to differentiate from the root prefix (the namespace) and a property name.

Perhaps this could be renamed to `azure.insights` or `azure.applicationinsights` to be consistent with the artifactId prefix [that is al

[2018-05-29 07:36] dhaval24 commented on #673
@snicoll this is fair. Though a point to ponder here is, how many users have onboarded to the starter by the time we make this change. This would be potential breaking change and can affect users already using beta version already released.

[2018-05-29 07:46] snicoll commented on #673
@dhaval24 fair point as well though this is totally acceptable change for a beta IMO

[2018-05-29 08:28] jdneo opened #674 "Is applicationinsights-core support JDK 9+ currently?"
I'm getting

[code]

When using JDK 10 on my machine. Not quite sure if it is because AI Java SDK not support JDK 9+.

Then according to this [answer](https://stackoverflow.com/a/43574427), I added

[code]

into my pom and upgrade `AI-core` to the newest version: `2.1.1`

Then everything works fine. But I cannot receive the telemetries then. Any suggestions on that?

[2018-05-29 08:49] tomaszglinski commented on #632
Hi, is the jar available in some repository or do I need to build it myself?

pon., 21 maj 2018 o 16:04 Dhaval Doshi <notifications@github.com>
napisał(a):

[2018-05-29 14:07] dhaval24 commented on #632
@tomaszglinski the jar is available on maven central and you can pull it down in your maven/gradle project as maven dependency. Here is the readme for more details:
https://github.com/Microsoft/ApplicationInsights-Java/blob/master/azure-application-insights-spring-boot-starter/README.md

[2018-05-29 14:12] dhaval24 commented on #673
@snicoll we will discuss on a plan for this item, as we pave way for stable release and I will update this thread. As far as starter is concerned, since you are one of the main contributors for the spring-boot framework, and had a chance to look at the application insights springboot starter, are there any other potential concerns I should know about, which are not upto the mark according to Sprin

[2018-05-29 14:19] snicoll commented on #673
@dhaval24 thanks for the feedback. I haven't had a chance to look at the code at all. Is there some sort of deadline for this?

[2018-05-29 14:23] dhaval24 commented on #673
@snicoll ideally, we would like to get user voice on their experience with the starter, fix burning issues and move to the first stable release (as this is a major milestone for many enterprise users to onboard fully), but that being said user feedback is important and we would like to get some meaningful ones. So, it should be safe to assume atleast 1/1.5 months of wait from now. By that time if

[2018-05-29 14:24] dhaval24 commented on #674
@jdneo I think this should work. I have tested this in JDK 10 in a SpringBoot application which creates a fat jar. If you are doing it otherwise, I am not sure how it exactly is done in Functions, but ensure that the jaxb-api is exposed in the final war/jar artifact which is created after mvn package.

This library should be available at run time for proper execution.

As far as support is concern

[2018-05-29 14:26] dhaval24 commented on #643
This is addressed with Application Insights SpringBoot starter which auto configures cloud_RoleName

[2018-05-29 14:26] #643 closed

[2018-05-29 22:43] jdneo commented on #674
It might work for fat jar. How about non fat jar scenario?

[2018-05-30 07:10] tomaszglinski commented on #632
@dhaval24 no it is not, since you have a type in artifact name in your readme.md!

http://mvnrepository.com/artifact/com.microsoft.azure/application-insights-spring-boot-starter - bad
http://mvnrepository.com/artifact/com.microsoft.azure/applicationinsights-spring-boot-starter - good

[2018-05-30 14:42] dhaval24 commented on #632
@tomaszglinski thanks for pointing it out. Readme has been fixed now!

[2018-05-30 17:03] tobiasdiez commented on #515
Sadly, the problem still persists even with the most recent version of the framework.

I tried to further investigate but I'm running out of ideas. The problem is that exceptions that trigger the bug do not contain stack trace information.
From all reported exceptions
![image](https://user-images.githubusercontent.com/5037600/40735080-86126628-643a-11e8-9182-57df79420997.png)
only a very small fra

[2018-05-31 23:12] littleaj commented on #674
@jdneo try using `--add-module java.xml.bind` to the JVM command line.

Right now, the current thinking is the only thing that breaks us is the "modularizing" in Java 9. Since we use the xml.bind classes, you'll need to add at least that module to the command line.

I haven't had the chance to try this yet, but we will be working on this soon. Let us know if this works for you and I'll keep this t

[2018-06-01 14:06] matyee opened #676 "Spring boot AI and Spring Cloud Zuul problem"
Hi,

First of all, the AI for JAVA is awesome. I am using it with multiple Spring Boot based applications and they work fine both the SDK and the Agent. I use Netflix's Zuul proxy through the Spring Cloud Zuul project. The SDK works well with the edge service, but when I add the agent, the calls made against the edge service throws the following error:

[code]

I am lost here, have no idea what th

[2018-06-01 15:15] dhaval24 commented on #674
@littleaj I think that we should prohibit users from adding --add  in the command line. The JavaEE APIs will be depreciated from Java 11 and onwards (pretty soon) and the command line flag will no longer work for people who have migrated to Java 9 and are using this technique.

https://jaxenter.com/jdk-11-java-ee-modules-140674.html

The better long term solution as mentioned in the stackoverflow

[2018-06-01 15:23] dhaval24 commented on #676
@matyee thank you for your comment on AI. Few questions:

1. Are you using Application Insights SpringBoot starter (released recently) for your springboot apps?
2. Which specific dependencies are you interested to collect in edge server. The agent currently supports auto collection of outbound HTTP via apache http client, MsSQL, MySQL, OracleDB, Redis cache.

Further, it looks to me that Zuul filt

[2018-06-01 20:19] matyee commented on #676
@dhaval24 thank you for your reply. Sorry I was not infromative enough. I was in a rush.

I use Zuul as the edge service of a microservices architecture running on App Services. The microservices all offer their REST APIs. Every client requests hit the edge service first. I have routes defined in Zuul to route the traffic to the appripriate downstream microservice. Zuul uses Apache http and I woul

[2018-06-02 07:56] jdneo commented on #674
@dhaval24 @littleaj Thank you for all the information provided here.

Both `fat-jar` and `--add-module java.xml.bind` can solve the problem currently, but I think both of them are just kind of workaround but not a real solution. I'm not an expert for this problem but is it possible that we can let users simply add the AI-sdk as one of their Maven dependencies and then everything works fine for all

[2018-06-03 02:10] dhaval24 commented on #674
@jdneo thanks for your suggestion. Yes I believe we should invest in long term seamless solution for all JDKs if possible. We have a feature planned to support JDK 9+ and when we tackle that in coming month or so we would make sure to address this problem in best possible way. In the mean time please feel free to share any information you get around the same in this issue here.

[2018-06-04 17:13] dhaval24 commented on #676
@matyee thank you very much for the details and creating a small application which could be used for testing. So if I assume correctly once I run this app and hit the URL: /time/now it will throw the error correct ?when agent is being used.

[2018-06-04 17:26] grlima opened #678 "Add documentation on how to onboard the agent to AppServices"

[2018-06-04 21:55] dhaval24 commented on #676
@matyee it seems like there is an issue in the agent instrumentation of HTTP. Basically we instrument HttpUriRequest interface for the ApacheHttpClient but it seems like the Zuul library uses BasicHttpRequest. Due to the agent instrumentation byte code is modified and then it throws this exception of IncompitableClassChange. Most probably there needs to be a fix in the agent to make this work.

As

[2018-06-04 22:13] grlima commented on #676
@dhaval24 - took a quick look. To repro this, all one needs to do is:

It seems the agent expects <> but that's not always the case.  The doExecute methods takes a org.apache.HttpRequest. Here's a sample code

https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-zuul/src/main/java/org/springframework/cloud/netflix/zuul/filters/route/SimpleHostRoutingFilter.java

[2018-06-06 22:23] anton-chertov commented on #644
@dhaval24
what about other medium impact issues:
1. Improper Output Neutralization for Logs (CWE ID 117) (Jdk14Logger.java, Jdk13LumberjackLogger.java)
2. Deserialization of Untrusted Data (CWE ID 502) (BasicAuthCache.java)

[2018-06-07 18:40] Blackbaud-ChrisBlythe opened #681 "Can SDKLogger be enabled via springboot config?"
After quickly reviewing the code, there doesn't appear to be a way to do this. Any recommendations/workarounds? Or does a property need to be added?

[2018-06-07 18:49] dhaval24 commented on #681
@Blackbaud-ChrisBlythe I assume you are using SpringBoot starter for Application Insights. In that case have you take a look at the readme : https://github.com/Microsoft/ApplicationInsights-Java/tree/master/azure-application-insights-spring-boot-starter

It has a whole bunch of properties which can be configured. Specifically to answer your question:

azure.application-insights.logger.level=trace

[2018-06-07 21:06] Blackbaud-ChrisBlythe commented on #681
Ah.... I looked at that, but missed it! Thanks!

[2018-06-07 21:06] #681 closed

[2018-06-08 00:48] #662 closed

[2018-06-08 00:49] littleaj commented on #662
This fix will ship in the next release.

[2018-06-08 15:05] sgalles opened #682 "Current Java SDK incompatible with 'live metrics stream' ?"
With SDK 2.1.1 when I try to use the Azure live metrics stream, I get this error message in the UI of the Azure Portal :
`Please upgrade SDK. You can stream any Application Insights metrics or events and filter them with custom queries. However, your app must be instrumented with Application Insights SDK version 2.4.0 or later. Learn more.`
Is this a known issue ?
Thank you.

[2018-06-08 15:13] dhaval24 commented on #682
@sgalles live metric stream works with the SDK v2.1.1. Can you please provide details on how you instrumented your application with SDK? is your application of springboot type and are you using ApplicationInsights-Spring-boots-starter for instrumentation?

[2018-06-08 16:30] sgalles commented on #682
OK, thank you, for your quick answer (I changed the title of this issue to reflect the fact that it probably is a problem on my side)

No, I don't use ApplicationInsights-Spring-boots-starter, I use the regular initialization with the list or initializers in `ApplicationInsights.xml`
But now that I know that it should work I'm going to have a look at it again to try to find out what I did wrong. T

[2018-06-08 19:04] #676 closed

[2018-06-08 20:52] #661 closed

[2018-06-09 22:51] dhaval24 commented on #682
@sgalles I have seen this problem when using xml based configuration in SpringBoot apps. It might occur because the live metrics module in the SDK gets an uninitialized version of configuration and hence cannot bind. Not sure if it is the same issue when you are trying to use as Wildfly module, it would be better if you can post the result with the simple Java SE application.

[2018-06-12 17:29] dhaval24 commented on #673
@snicoll did you ever got a chance to look at the starter deeply? I would really like to hear your feedback.

[2018-06-12 18:01] snicoll commented on #673
@dhaval24 thanks for the ping. I am afraid I did not: I've been very busy and out of the office lately. Late June doesn't look different so I'll do my best to squeeze this whenever I can

[2018-06-12 19:02] littleaj opened #686 "WebFilter annotation missing required attributes"
It appears that WebLogic is the only appserver that enforces this; but it is in the J2EE spec: https://docs.oracle.com/javaee/6/tutorial/doc/bnagb.html

[code]

The fix is to specify the URL patterns in the filter annotation.

- [x] add required attribute
- [ ] add weblogic to smoketests

[2018-06-15 00:28] #595 closed

[2018-06-15 14:41] dhaval24 commented on #673
@snicoll thank you very much. Take your time!

[2018-06-16 05:29] sgalles commented on #682
@dhaval24 I have retested with a plain Java SE example on my desktop machine, but unfortunately, it doesn't work for me.
In the the App Insight 'live metrics stream'  UI, I do see the IP of my desktop machine in 'Servers', but when I click on it the UI says 'Waiting for data' and then 'upgrade to the latest beta SDK'

[2018-06-18 18:22] dhaval24 commented on #682
@sgalles I really appreciate the details here and thank you very much for raising the feature request here.
So to summarize, Live metrics in java has preliminary support as of today. We do not have support for filtering telemetry in live stream in java. Further, sample telemetry feature is currently not available in Java SDK.

![image](https://user-images.githubusercontent.com/16353121/41554402-9e

[2018-06-18 20:28] dhaval24 commented on #480
@littleaj is this still relevant?

[2018-06-18 20:29] dhaval24 commented on #474
@jdneo @xscript I would like you to revisit the thread and see if the issue still persists. We have done a bunch of performance optimization for startup time with 2.1.0 and above releases of SDK.

[2018-06-18 20:30] littleaj commented on #480
Technically, it is an issue that I found; but we have no drivers at this time to upgrade. I'm going to close it and we'll tackle it if upgrading becomes necessary.

[2018-06-18 20:30] #480 closed

[2018-06-18 20:32] #468 closed

[2018-06-18 20:33] dhaval24 commented on #472
@M-Muni have you tried ApplicationInsights-SpringBoot-Starter? If not please give it a shot. I think it should resolve this problem entirely.

[2018-06-18 20:34] #469 closed

[2018-06-18 20:39] dhaval24 commented on #465
@littleaj I believe you had fixed most of them correct? If not have you identified the places where these exist?

[2018-06-18 20:40] dhaval24 commented on #438
Closing this as of now.

[2018-06-18 20:40] #438 closed

[2018-06-18 20:41] sgalles commented on #682
@dhaval24 thank you for the explanation.
For the contribution, hey, why not. Maybe I'll try to have a look at it if I manage to find some time to work on it.

[2018-06-18 20:42] littleaj commented on #440
@dhaval24, Not that I know of.

[2018-06-19 01:03] jdneo commented on #474
@dhaval24 I've tested locally. The performance looks better than `1.0.9` which we are using currently. Thanks

[2018-06-19 14:32] dhaval24 commented on #474
@jdneo thank you very much for the update. I would highly recommend that you please update the SDK from 1.0.9 to 2.1.1 at the very least :)

[2018-06-19 17:56] #686 closed

[2018-06-20 09:08] snicoll commented on #673
@dhaval24 I've sent a review in DM on Gitter, we can continue the discussion where you feel it is appropriate.

[2018-06-20 13:08] ken-hum opened #691 "Application insights Spring boot starter showing circular reference error?"
Hi all, I am trying to use application insights spring booter as part of my spring application. I believe to have correctly created the Application Insight resource in Azure Portal. Also the instrumentation key is properly put in the application.properties.

Spring Version:  :: Spring Boot ::       (v1.5.10.RELEASE)
Java = open JDK 1.8

Upon boot, i get this? Any hints?

2018-06-20T12:54:00.845,ER

[2018-06-21 01:01] anton-chertov opened #693 "Medium and low severity CWE weaknesses after upgrading to 2.0.1"
This is a follow up ticket to https://github.com/Microsoft/ApplicationInsights-Java/issues/644, as the responses addressed only some of the problems we experience with applicationinsights-web-2.0.1.jar. Many of the following issues are classified as Likely Exploitable.

Particularly Medium:
**Improper Output Neutralization for Logs (CWE ID 117)** (Jdk14Logger.java: 87, 89, Log4JLogger.java: 155, 2

[2018-06-21 22:43] dhaval24 commented on #693
@anton-chertov I checked all the issues you mentioned and the answers are similar to #644. Our code does not uses any of these classes. Since we repackage this jars within AI Jar these might pop up in your report but our code base does not use it anywhere.

I hope this answers your question.

[2018-06-21 22:44] dhaval24 commented on #691
@ken-hum  I tried to reproduce this issue on the plain springboot app with springboot 1.5.10 and jdk8 and I was not able to find this when I did mvn clean package.
Is it possible for you to upload a sample / trimmed down version of your app for further diagnosis?

[2018-06-21 23:58] anton-chertov commented on #693
Thanks for the response, @dhaval24!
This should be enough for a justification.

[2018-06-22 01:01] #693 closed

[2018-06-22 01:02] dhaval24 commented on #693
@anton-chertov thank you very much!

[2018-06-30 19:13] dhaval24 commented on #691
@pietrobr and @ken-hum I am still not able to reproduce this . This time I exactly followed tutorial which I published word by word with SpringBoot 1.5.10 version and JDK 1.8. My application successfully starts and I am also able to see all the telemetry on the portal. I am attaching the sample app which I created here. You can try it out by inserting your instrumentation key and hit `mvn clean pa

[2018-06-30 19:17] dhaval24 commented on #691
[demo.zip](https://github.com/Microsoft/ApplicationInsights-Java/files/2152116/demo.zip)

Here is the sample app I had tried to reproduce the issue mentioned (exactly following the tutorial)

[2018-07-01 20:02] dhaval24 commented on #691
@pietrobr no worries. Glad it helped

[2018-07-02 09:03] Xabin opened #695 "No Trace logging from App Service"
I'm having trouble getting TRACE logging from Logback to Application Insights when running my application on an Azure App Service.
Java version: 8
Spring Boot version: 1.5.13.RELEASE
Spring Boot starter version: 1.0.0-BETA
Logback version: 1.1.11

I'm using the default configuration of the Spring Boot starter. I have only configured a azure.application-insights.instrumentation-key.
I cannot reprod

[2018-07-03 17:28] ken-hum commented on #691
Hi dhaval24, the demo you've sent is a webapp. I am getting the error on a core-app.
We just got out from call with Rahul Gupta and Chandresh Govani (from Microsoft) talking about this issue. I will update you with a trimmed app very soon.

[2018-07-03 17:31] dhaval24 commented on #691
@ken-hum makes sense. Is your application a spring-boot rest service instead? Sorry, I am a bit confused when you say it's a core app.

[2018-07-04 06:39] Xabin commented on #695
Thank you for the reply!

1. I have added azure.application-insights.logger.level=TRACE to my configuration and attached an excerpt of the logfile produced during and just after application start.
[log.txt](https://github.com/Microsoft/ApplicationInsights-Java/files/2162026/log.txt)
I can't see anything strange in it. The same AI statements are produced when I run the application locally. When run

[2018-07-04 17:18] zhouchong90 commented on #691
I have the same issue too.
my pom:
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-s

[2018-07-04 18:58] dhaval24 commented on #691
@zhouchong90 are you getting the exact same issue as @ken-hum ? I am trying to reproduce the issue on my end and am still not successful. I have also configured logback in my sample project which I have uploaded in the thread and I can see all the traces coming to AI portal. My application also boots up as normal.

However one change :  Instead of using `<version>[2.0,)</version>` in my pom.xml I

[2018-07-05 13:50] ken-hum commented on #691
[TrimmedStart.zip](https://github.com/Microsoft/ApplicationInsights-Java/files/2166804/TrimmedStart.zip)

Hi Dhaval24, I've attached the sample app that reproduced that error. thanks

[2018-07-05 14:12] tomaszglinski commented on #676
Hi @dhaval24, when will the fix be released? It blocks the AI integration into routing services...

[2018-07-05 15:03] dhaval24 commented on #676
@tomaszglinski we plan to release a new version with this anytime in next two weeks. You should be unblocked with it.

[2018-07-05 15:04] dhaval24 commented on #691
@ken-hum thank you very much for providing the trimmed down version of the app. I will take a look soon.

[2018-07-05 17:12] zhouchong90 commented on #691
@dhaval24 Somehow changing the version made it work! And when I change it back to <version>[2.0,)</version>, it still works correctly. I don't understand why, but thanks!

[2018-07-06 03:34] dhaval24 commented on #691
@ken-hum I have deleted your post. Please ensure that it doesn't contain any sensitive information.

[2018-07-09 07:20] snicoll commented on #673
If you use a `enabled` flag only in `@ConditionalOnProperty`  then the best practice is to write a manual metadata entry rather than an unused property in `@ConfigurationProperties`.

[2018-07-10 14:03] spasero opened #697 "TransmissionFileSystemOutput not working"
Hello,

I'm trying to stress Appinsights tracking mechanism, and I figured out that there's a bug inside the class TransmissionFileSystemOutput.
I tried to track 300,000 telemetry (traces, requests, dependencies), but I ran into error messages : "Persistent storage max capacity has been reached", even if the "MaxTransmissionStorageFilesCapacityInMB" was set to 1000MB.
I looked into the transmissio

[2018-07-11 00:38] littleaj commented on #697
Good catch, @spasero! We are working on a fix.

[2018-07-11 05:57] dhaval24 commented on #695
@Xabin thank you very much for your response. Could you please upload a trimmed down version of your application for further investigation? Please make sure to remove all PIDs including Application Insights instrumentation key.

Further, the way how App Service handles tomcat console logs could be slightly different (i.e locations where it is produced). Upon eliminating the SDK concerns I might ne

[2018-07-11 07:59] Incarnation-p-lee opened #699 "eliminate log whem applicationinsight.xml is missing"
Is there any way to provide constructor for TelemetryClient with instrumentationKey. If I set the key without ApplicationInsight.xml, there must be some log as following:
`
AI: INFO 11-07-2018 15:53, 1: Configuration file 'ApplicationInsights.xml' was NOT found by default class loader
AI: INFO 11-07-2018 15:53, 1: Did not find configuration file 'ApplicationInsights.xml' in 'C:\Users\panli\.m2\rep

[2018-07-11 08:02] Incarnation-p-lee opened #700 "Trigger Event with TelemetryClient is silent without any information"
when trigger custom events with TelemetryClient, there is not information out, from user side, we have no idea about it works well or trigger failure.

[2018-07-11 21:06] #697 closed

[2018-07-12 10:55] Xabin commented on #695
[example.zip](https://github.com/Microsoft/ApplicationInsights-Java/files/2188256/example.zip)
Here is a very very trimmed down version. I don't think you'll be able to reproduce the problem with it, because as I said, it works fine locally and on one staging environment, but not the other.

Thank you for trying to help!

[2018-07-12 16:39] littleaj commented on #700
@Incarnation-p-lee, under normal operation, there won't be any output from the SDK on the client side. You should only see the event from your App Insights blade in the Azure Portal.

If you do not see telemetry in Azure, turn on the [SDK's diagnostic logging](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-troubleshoot#debug-data-from-the-sdk) and attach the logs her

[2018-07-12 16:49] littleaj commented on #699
Here are some additional options for [setting the instrumentation key](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-get-started#alternative-ways-to-set-the-instrumentation-key). Those logs are for diagnostic purposes; they are only shown when `<SDKLogger />` is enabled in the configuration.

Let us know if that answers your question.

[2018-07-13 00:30] littleaj opened #702 "Test bug with new template"
### Expected behavior
Describe what you expected to happen.

### Actual behavior
Describe what actually happened that was unexpected.

### To Reproduce
Steps to reproduce the behavior:

#### Sample Application
If applicable, provide a sample application which reproduces the issue.

### System information
Please provide the following information:
 - SDK Version:
 - OS type and version:
 - Applicati

[2018-07-13 00:30] #702 closed

[2018-07-13 00:50] Incarnation-p-lee commented on #699
@littleaj
Thanks for your response, I mean if I use `setInstrumentationKey(key)` for AI, is there any way to remove logs for missing ApplicationInsight.xml. It looks boring when sdk initialization.

[2018-07-13 13:59] ken-hum commented on #691
Hi Dhaval, any updates?? thanks

[2018-07-13 18:12] dhaval24 commented on #691
@ken-hum I haven't got a chance to dig deep for the exact root cause of this issue. As soon as I have a chance to determine the root cause I will update the thread.

[2018-07-13 18:13] littleaj opened #704 "SmokeTest containers which are not yet pulled causes test to fail with timeout"
### Expected behavior
When a dependency image does not exist locally, the smoketests should wait for the image to pull and start without timing out. This applies to classes using `@WithDependencyContainers`.

### Actual behavior
The smoketests have caused test failures because the timeout is hit before the image has finished downloading or started. This usually happens on the first run when the im

[2018-07-13 18:16] dhaval24 commented on #700
@Incarnation-p-lee I agree with what @littleaj said above. Here is a scenario when you used a custom event and why it doesn't make sense to get a log about a custom event sent to AI:

[code]

The whole point of monitoring is to get the information about irregular behavior of the applications right on cloud!

[2018-07-13 18:21] dhaval24 commented on #704
@littleaj is it possible to have some sort of wait / check to see if that the tests have pulled down all the required images ?

[2018-07-13 18:35] dhaval24 commented on #699
@Incarnation-p-lee in this case you are trying to programmatically set the instrumentation key of for telemetry client which is common case with SpringBoot. When you use our starter you won't see this message at all because it creates telemetry client using dependency injection.
Apart from it we recommend the way of setting instrumentation key mentioned in the above documentation for friction free

[2018-07-13 18:38] dhaval24 commented on #695
@Xabin if this is the case, then it would be very hard to reproduce and find the root cause. In many scenarios App Services have their different security configuration and places where the logs are seen. For example recently @littleaj had found something around the same. Arthur, would you mind sharing your observations here if you have any.  Further @Xabin have you tried checking out this issue wi

[2018-07-16 01:05] Incarnation-p-lee commented on #700
@littleaj  @dhaval24
Thanks for you explain, Here I mean it should show some result when trigger the event, either success or failure. Go to portal to check result is not the best practice, that seems confuse user from my opinion.

[2018-07-16 01:08] Incarnation-p-lee commented on #699
@dhaval24
Thanks for you details explain. So there is no way to disable these message from SDK side, right ?
 I think SDK and starter should keep the same behavior from users. I notice that `TelemetryClient` constructor has no way to configuration this.

[2018-07-17 17:34] littleaj commented on #704
@dhaval24, maybe. I want to improve the policy for interacting with the docker client. Right now it just uses a timeout to determine if the process "hung," but (as this bug shows) this doesn't work in all cases.

[2018-07-18 06:21] Xabin commented on #695
No, I didn't try the App Services team. They are not as easy for me to contact as you, since I have to go through my company's infrastructure department to file a support ticket :p
However, I just tried deleting and recreating the Application Insights instance, configured the new instrumentation key, and now it just works. I'm getting all the logging I expect - TRACE, REQUEST and EXCEPTION.
Feel f

[2018-07-18 06:21] Xabin commented on #695
Oh, I guess I can close it myself. Thanks :)

[2018-07-18 06:21] #695 closed

[2018-07-19 17:21] zhouchong90 opened #705 "Springboot App does not shut down"
I have a command line runner application with SpringBoot 2.0. The application was supposed to shut down after executing a command, as a Batch process. I added the applicationinsights-spring-boot-starter in my pom.xml, and configured azure.application-insights.web.enabled=false in application.properties

After the work item and command line runner is finished, the application is still running and i

[2018-07-19 22:39] dhaval24 commented on #691
@ken-hum I have created a PR to fix this. It should be fixed in our next release. Thanks

[2018-07-23 18:13] ken-hum commented on #691
Hi Dhaval24, i tried the fix from branch. The spring service is now able to start.

However, it fails right away with another error:
2018-07-23 14:11:08.343  INFO 14696 --- [           main] o.s.c.support.DefaultLifecycleProcessor  : Starting beans in phase 0
2018-07-23 14:11:08.638  INFO 14696 --- [           main] com.sample.StartService                  : Started StartService in 5.356 seconds (

[2018-07-23 18:19] dhaval24 commented on #691
@ken-hum I haven't seen this before. Seems like you are having some trouble reaching the end point of AI. are you running your service under some sort of proxy? Do you face the issue in the same service that you had uploaded ?

[2018-07-23 18:32] ken-hum commented on #691
In fact. I think we're good. The app actually does nothing beside startup. and then it shut down right away. So it is the expected behavior. So all is good and thanks for the fix

[2018-07-23 22:13] rameezrajas opened #707 "WebRequest tracking in Netty"
**Is your feature request related to a problem? Please describe.**
Our web application is reactive runs on Netty server and not on Tomcat.  Need a feature to track the Webrequest in netty. Right now WebRequestTrackingFilter is based on Servlet.

**Describe the solution you would like**
Describe what you want to happen.

**Describe alternatives you have considered**
Describe any alternative solutio

[2018-07-23 22:43] rameezrajas opened #708 "VerifyError when using spring 5 web"
### Expected behavior
Application should start without VerifyError with application insights agent 2.1.1

### Actual behavior
Caused by: java.lang.VerifyError: Expecting a stackmap frame at branch target 175
Exception Details:
  Location:
    org/springframework/web/client/RestTemplate.<init>()V @138: ifeq
  Reason:
    Expected stackmap frame at this location.
  Bytecode:
    0x0000000: 2ab7 002c

[2018-07-23 23:14] dhaval24 commented on #691
@ken-hum could you test in your real application if the fix works for you there and let us know?

[2018-07-23 23:15] #691 closed

[2018-07-24 03:19] dhaval24 commented on #708
@rameezrajas are you using Application Insights Java Agent also?

[2018-07-24 06:08] rameezrajas commented on #708
@dhaval24 Yes. we are using application insights java agent

[2018-07-24 16:39] dhaval24 commented on #708
@rameezrajas could you try using the plain SDK without agent once and see if the issue persist. To my best knowledge this seems to be an issue in instrumentation with Agent.

[2018-07-24 16:57] ken-hum commented on #691
Sure. I tried the snapshot in my app and it works OOB(out of box). At least for vital signs... Once I start testing it further such as telemetry and all and if i find any other issues, I will open another issue ticket. Thanks

[2018-07-24 17:17] rameezrajas commented on #708
@dhaval24 It works fine without the agent

[2018-07-24 17:18] dhaval24 commented on #708
Thanks, we will triage this issue and fix it in forthcoming releases based on the backlog.

[2018-07-24 18:42] dhaval24 commented on #705
@zhouchong90  could you please turn on SDK logs and let us know what you see there? Also a small note: I would highly encourage to follow the Github issue template while creating a ticket :)

[2018-07-26 14:47] dhaval24 commented on #700
@Incarnation-p-lee just for your information : Monitoring systems are designed to be very low overhead systems with minimal logging. Infact if you look into what a monitoring system on cloud is - it provides observability of the underlying application with telemetry on the cloud. User flow is actually if some wiered behavior happens fire an alert or page on whatever alerting systems is there.

Mor

[2018-07-26 14:47] #700 closed

[2018-07-26 22:23] grlima commented on #708
@rameezrajas - could you please provide repro steps or a sample code of how you're using Spring RestTemplate? Also, does it happen with earlier or later versions of Spring web or is this isolated to a specific version?

[2018-07-26 22:36] grlima commented on #699
Those are informational logs and, as such, are verbose in nature. They're not enabled by default.

[2018-07-26 22:36] #699 closed

[2018-07-27 03:00] rameezrajas commented on #708
@grlima We are no longer seeing this error. I think our spring 5 application was pointing to old version application insights agent 1.0.8 instead of 2.1.1. We can close this issue

[2018-07-27 03:00] #708 closed

[2018-07-27 13:57] Gopal-Git opened #710 "Unable to link Spring boot application with Azure Application insight using application.properties, when spring boot security is enabled."
I have created a spring-boot starter project and linked Azure Application insight to it. The properties like instrumentation-key is defined in "application.properties". On launching the application it is correctly linked to App Insight as can be verified by Live Metrics Stream.

However if for same application spring security is enabled, it fails to connect to App Insight (In Live Metrics Stream I

[2018-07-27 15:56] dhaval24 commented on #710
@Gopal-Git thanks for raising the issue. Could you please provide a trimmed down version of your application / steps to repro the issue (a trimmed app is prefered). Please remove any personal info like iKey before uploading. It would help to navigate the issue faster. By the way are you getting other telemetry data apart with Spring Security and starter apart from live stream ?

[2018-07-30 11:50] Gopal-Git commented on #710
I have debugged the issue further and could see that Spring application fails to connect to Azure App Insight if logback.xml is included in project (in resources), in this case to connect to App insight I have to include ApplicationInsights.xml as well.
The "logback.xml" contains the ApplicationInsightsAppender configuration to send logs to App insight.
the ApplicationInsights.xml contains configu

[2018-07-30 16:54] dhaval24 commented on #710
@Gopal-Git thank you very much for the sample application. I will try to debug this. Just an idea that comes to the top of the mind:

1. Have you instead tried to set the logback configuration via application.properties file? I think you can do that, would be good to see if the issue reproduces with the same.
2. Have you instead tried to use Log4j instead of logback? With Application Insights Log4

[2018-07-31 05:16] sudhanshu20 commented on #273
Hi guys
Is this issue with interceptors fixed? I tried with the filter configuration , it works but tomcat 8.5 does not seem to gracefully stop after adding this filter. This creates issues with jenkins auto build and deploy.

[2018-07-31 05:31] dhaval24 commented on #273
@sudhanshu20 can you please create a seperate issue with the details of the behavior your application is facing. The InterceptorRegistry is still present which has @EnableWebMvc still there. w
It is concerning for the springboot-starter too but the current build is locked for release so most likely the change will come in the next version.

It would be great if you can create a seperate issue for

[2018-07-31 05:52] sudhanshu20 opened #712 "ApplicationInsights-Java having issues with Tomcat Shutdown."
### Expected behavior
All open threads by ApplicationInsights  close gracefully while Tomcat shuts down.

### Actual behavior
Tomcat 8.5 shutdown gets stuck while probably closing threads started by appinsights filter. This creates issues with Jenkins application auto build and deploy.
Removing the filter lets tomcat shutdown gracefully.

Attached shutdown log of tomcat which get stuck and does no

[2018-07-31 05:53] sudhanshu20 commented on #273
Created new issue https://github.com/Microsoft/ApplicationInsights-Java/issues/712

[2018-07-31 13:12] GauravWable commented on #710
I am having similar issue where i am using Application Insights and log4j2 for logging.

Following document for [Configure Springboot Application to send log4j logs to Application Insights](https://docs.microsoft.com/en-us/java/azure/spring-framework/configure-spring-boot-java-applicationinsights?view=azure-java-stable#configure-springboot-application-to-send-log4j-logs-to-application-insights)

A

[2018-07-31 14:05] Gopal-Git commented on #710
@dhaval24  Yes i tried to provide the logack configuration using application.properties but it did not work as there was no provision to define AI appender in it.
I also tried Log4j instead of logback in this case application was able to connect to Azure App Insight as can be verified by Live Metrics Stream. However no logs were sent to App insight (I was not able to see logged messages from my ap

[2018-07-31 15:11] dhaval24 commented on #710
@GauravWable in your case it seems like you have multiple versions of Application Insights SDK on your class path. By reading from the exception it seems like that an older version of AI Sdk is being picked up, which does not contain `HeartBeatModule` and therefore the exception.

I would recommend `maven clean -U ` and then `maven package -U`. If this doesn't work you can also try to delete you l

[2018-07-31 15:17] dhaval24 commented on #710
@Gopal-Git there by log messages do you mean the spring generated logs? Or are you explicitly tracking it using telemetry client in your code `telemetryClient.trackTrace(".......")`.

The latter ones should be visible by default because they are messages that user explicitly tracks. If you are looking for the log4j logs, then by default the logging level set in application insights is `ERROR`.

Yo

[2018-07-31 16:00] dhaval24 commented on #712
@sudhanshu20 could you please provide the way you are instrumenting your application.

Also what kind of application are you having. Could you please provide details. Also please turn on SDK logs and provide us with those also.

[2018-08-01 03:58] GauravWable commented on #710
@dhaval24 I run `mvn clean -U` and `mun package -U` commands as suggested by you. Error didn't went. Then deleted local `.m2` directory also but still getting same error log.
 Can you please have a look into my **pom.xml** file and suggest possible workaround.

    <?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-

[2018-08-01 09:56] sudhanshu20 commented on #712
@dhaval24 Its REST based api using Spring MVC and we are instrumenting the application using ApplicationInsights.xml instrumentationkey. The logging to the portal has no issues and we can access the logs via portal. The problem is with Tomcat Shutdown/Restart after the introduction of the app insights filter. What specific logs are you looking from the application?

[2018-08-02 11:55] gavlyukovskiy commented on #710
I think the problem is in `azure-spring-boot-bom` which sets version of application insights to 1.0.9.
You can try to explicitly add dependencies that starter needs
[code]

[2018-08-04 23:56] dhaval24 commented on #712
@sudhanshu20 I am looking for the Application Insights SDK logs to see if the SDK is behaving wierdly. You can turn SDK logs on by `<SDKLogger />` adding this tag in your applicationinsights.xml

[2018-08-04 23:57] dhaval24 commented on #710
@gavlyukovskiy thanks for the suggestion. @GauravWable could you please try the suggestion that is mentioned above?

[2018-08-05 02:02] dhaval24 commented on #707
@grlima and @littleaj I think this would be a pretty cool feature to have. Some of the prominent drivers like CosmosDB driver runs on Netty and Reactive communication library.

[2018-08-05 02:04] dhaval24 commented on #579
This has been resolved.

[2018-08-05 02:04] #579 closed

[2018-08-06 18:36] zhouchong90 commented on #705
@dhaval24 Sorry for the late reply. I don't know how to turn on the SDK log, but I have attached a sample application package, which should show the issue.

1. I have to autowire a Telemetry client object somewhere in my code, is that expected?
2. The application does not stop after the command line runner finishes.

Please take a look.
[demo.zip](https://github.com/Microsoft/ApplicationInsights-J

[2018-08-07 14:05] Gopal-Git opened #714 "Authentication fails while accessing spring-boot service from Angular application , using Oauth2"
I have 2 application
1. Angular
2. Spring-boot application

I have registered 2 different Apps in Azure App registrations one for Angular and one for Spring-boot

The Angular app runs on http://localhost:4200 which is my ui,
The spring-boot runs on http://localhost:8080 where my service is running (v1/users is one of the flows of service which returns users from in built database.)

When I am runn

[2018-08-07 17:37] dhaval24 commented on #714
@Gopal-Git thanks for reporting the issue. We will take a look and respond as soon as possible.

[2018-08-07 21:51] littleaj commented on #712
@sudhanshu20 , There is a `ServletContextListener` which triggers the shutdown of the Application Insights thread pools. For spring-boot, it appears the application needs an additional annotation to find this listener, e.g. `@ServletComponentScan("com.microsoft.applicationinsights.web.internal")`. I noticed in the shutdown logs that I did not see `Shutting down thread pools` in the logs which is p

[2018-08-08 03:02] GauravWable commented on #710
This worked. Thanks @gavlyukovskiy  and @dhaval24

[2018-08-08 03:08] dhaval24 commented on #710
Thanks @GauravWable! @Gopal-Git could you also check if the above mentioned work around works for you?

[2018-08-08 05:28] Gopal-Git commented on #714
Hi @dhaval24  By mistake I have opened the issue here in "ApplicationInsights-Java" , I have copied the same issue in "Microsoft/azure-spring-boot" so here we can close/discard  the issue here.

You can find the issue here
https://github.com/Microsoft/azure-spring-boot/issues/393

[2018-08-08 05:29] dhaval24 commented on #714
@Gopal-Git thank you so much.

[2018-08-08 05:29] #714 closed

[2018-08-08 05:30] dhaval24 commented on #705
#712 seems to be similar. @zhouchong90 could you please look at the suggestion there?

[2018-08-08 05:47] sudhanshu20 commented on #712
@littleaj , @dhaval24 . Thanks for looking into the issue. The workaround worked!. I added the following listener code in web.xml of the app and now server shutdown is smooth. FYI, it now prints the shutdown comment 'Shutting down thread pools' as well.

<listener>
		<listener-class>com.microsoft.applicationinsights.web.internal.ApplicationInsightsServletContextListener</listener-class>
	</listene

[2018-08-08 05:47] #712 closed

[2018-08-08 18:15] zhouchong90 commented on #705
@dhaval24 Unfortunately that solution does not work for me since this is not a web application.
Here's the error I see after trying to add the
 annotation. @ServletComponentScan("com.microsoft.applicationinsights.web.internal")

Caused by: java.lang.NoClassDefFoundError: javax/servlet/annotation/WebServlet
	at org.springframework.boot.web.servlet.WebServletHandler.<init>(WebServletHandler.java:39)

[2018-08-08 18:17] dhaval24 commented on #705
@zhouchong90 thank you very much for the update. I will debug further and update on this issue.

[2018-08-09 02:31] jdneo commented on #416
Have another try, got another different error:

java.lang.NoClassDefFoundError: com/microsoft/applicationinsights/core/dependencies/http/impl/conn/PoolingHttpClientConnectionManager$InternalConnectionFactory

I'm using MAC

[2018-08-09 04:07] dhaval24 commented on #416
@jdneo at this point I am totally confused. I don't see this exception coming to anyone else. To me it seems that some how you are not able to import the whole package, and some files are missing especially the ones that are repackaged. To diagnose this issue better, I would suggest that you upload a trim down version of your application.

Also what is the environment where you are tying to use th

[2018-08-09 07:01] warrenzhu25 commented on #699
@grlima As you said, these informational logs are disabled by default. I disagree with this. Actually, there is a bug related this. Inside `InternalLogger`,

[code]

Below is your  implementation of `ConsoleLoggerOutput`, which always logs to standard error output
[code]
Could you help fix this? You can easily reproduce this by removing applicationInsights.xml.

[2018-08-11 01:07] lmolkova opened #716 "Support W3C distributed tracing format"
[W3C distributed tracing protocol](https://github.com/w3c/distributed-tracing/tree/master/trace_context) is going to replace current `Request-Id` format.

The implementation should be split into several phases
1. Start emitting w3c-compatible operation ids, without supporting W3C headers.
**This phase should be implemented first and phase 2 could follow in several months.**

2. Opt-in support for

[2018-08-11 02:27] lmolkova commented on #716
at this point, I'm asking for p1 only. W3C is now being implemented in OpenCensus for Java, we can reuse some of the code or at least ideas from there. And I agree we should design p2 well and not rush with the implementation.

[2018-08-11 02:30] dhaval24 commented on #716
@lmolkova makes sense. Lets see if, the change is small enough and could be taken into next release of the SDK but @grlima I think has better understanding on this and I will let him answer this (though I am personally very interested in knowing the deeper happenings here :))

[2018-08-13 06:14] jdneo commented on #416
@dhaval24 I also tried to downgrade the AI to 1.0.10. Though still getting the `java.lang.NoClassDefFoundError`, but the command will not be hanged.

[2018-08-13 15:16] dhaval24 commented on #705
@zhouchong90 could you please turn on SDKLogs and provide me with both SDKLogs and Tomcat Logs. I would like to know which threads are not getting stopped.

[2018-08-13 15:18] dhaval24 commented on #678
@nikmd23 can you take a stab at this? There are many instance where customers have asked to onboard to app services and they do not find an easy documentation. Specifically on onboarding Java Agent on App Services has always been a question!

[2018-08-16 22:27] lmolkova commented on #716
@grilma, AI SDK for .NET already starts adopting W3C protocol and phase 1 is essential to make a correlation between Java and .NET SDK work. So please prioritize it accordingly.

[2018-08-16 22:37] grlima commented on #707
Marking as "future". We will consider for future releases.

[2018-08-16 23:45] littleaj commented on #678
There's this: https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image

I found that here: https://github.com/Azure-App-Service/tomcat

Basically, you set the `APPINSIGHTS_INSTRUMENTATIONKEY` environment variable to your iKey and it add the filter and agent to Tomcat automatically. https://github.com/Azure-App-Service/tomcat/blob/a268fb5281166180c44ecfcc58ef0bc078

[2018-08-21 17:08] zhouchong90 commented on #705
How to turn on the SDKLogs?
I'm not using tomcat as it's a CommandLineRunner.

[2018-08-23 16:27] dhaval24 commented on #678
@nikmd23 in addition to what @littleaj told above we should also document how customers can onboard  java agent in traditional way. i.e what should be the location where they upload the agent and which place they would need to put the flag in tomcat's server.xml file.

[2018-08-23 16:29] dhaval24 commented on #601
@grlima I believe you had some similar examples in an email conversation. If you can upload it here, may be @nikmd23 can assist in documenting this? Does that work for you @nikmd23 ?

[2018-08-23 16:47] zhouchong90 commented on #705
@dhaval24 here's the traces. I think it got stuck in this state and doesn't end the program.

2018/08/23 11:41:59.570 [main] INFO  com.example.demo.DemoApplication - Starting DemoApplication on m-c02wj0w7htdd with PID 31066 (/Users/c0z01bz/Desktop/demo/target/classes started by c0z01bz in /Users/c0z01bz/Desktop/demo)
2018/08/23 11:41:59.602 [main] INFO  com.example.demo.DemoApplication - No active

[2018-08-24 22:38] dhaval24 commented on #705
@zhouchong90 I tried running your code and for me on windows machine it works perfectly fine. Here is the logs

"C:\Program Files\Java\jdk1.8.0_181\bin\java" -XX:TieredStopAtLevel=1 -noverify -Dspring.output.ansi.enabled=always -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=23308 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.r

[2018-08-24 22:50] dhaval24 commented on #705
Further, I also would like to know how you are running this app. I just run using java -jar jarname.jar command. Is it the same way that you run ?

[2018-08-27 05:50] #536 closed

[2018-08-27 05:51] gondar commented on #536
it was mentioned in above #537 that only if client is there we will have a session. That is a bit of shame but I guess cannot be easily helped.

[2018-08-27 06:33] gondar opened #719 "Locking connection threads on application start"
**Is your feature request related to a problem? Please describe.**
When application starts app insights will block and synchronise all incoming requests, due to lock on getContext method. This is far from ideal and looks to be against other design patterns in code.

**Describe the solution you would like**
Move context initialisation to init phase OR
decrease lock level on context initialisation t

[2018-08-27 15:50] dhaval24 commented on #705
@zhouchong90 I had exactly the same list of JMX also in my sample application and it happened to work fine perfectly. I will retry the same sample in macos instead and see if I can reproduce the behavior, You don't see the same exit with 0 message as my app shows in the logs?

[2018-08-27 16:35] zhouchong90 commented on #705
Yeah. I don't see the exit with 0. That's the issue.

[2018-08-27 18:19] dhaval24 commented on #705
@zhouchong90 I hope your issue is solved :) as you just closed the issue

[2018-08-27 19:06] zhouchong90 commented on #705
@dhaval24 Oh!!! No..

[2018-08-27 21:57] littleaj commented on #719
I think you make some good points here, @gondar. I don't think there's a good reason for TelemetryContext to be lazy here.

@dhaval24 , @grlima : Let's review this. At first glance, I think this would be a good change.

[2018-08-27 22:05] littleaj commented on #705
@zhouchong90 , what version of the starter are you using?

[2018-08-28 20:31] jivane opened #720 "Structured logging from full text structured message"
**Is your feature request related to a problem? Please describe.**
We want to log a message through Log4J appender. However, it's full message and we would like to map some part in the message in specific appinsight fields
Example : logger.info(“
Sun Jun 26 12:05:05 -0700 2016,(NumberComparerTest.java:55) INFO : canCompareLess result is Less
“)
Use a conversation pattern to map part of msg to fiel

[2018-08-28 20:50] dhaval24 opened #721 "Connection Pool Shutdown Issue"
### Expected behavior
Application should shutdown gracefully when /shutdown endpoint is hit in Spring / SpringBoot Apps.

### Actual behavior
When shutting down SpringBoot Application via /shutdown endpoint, I see the following error and application exists with exit code 1

[code]

### To Reproduce
1. Create sample springboot app with a rest controller.
2. Use ApplicationInsights Springboot starte

[2018-08-29 15:29] kilsbo opened #722 "SQL Telemetry throws error when using Azure SQL Server."
### Expected behavior
SQL Telemetry sent from agent of JDBC dependency usage, using Spring Boot + AppInsight Agent + Azure SQL Server.

### Actual behavior
In the class CoreAgentNotificationsHandler, in method fetchExplainQuery() on (or around, if changed) line 547: `rs = explain.executeQuery("EXPLAIN " + commandName);` is always executed, and will not work on Azure SQL Server.

### To Reproduce
C

[2018-08-29 20:13] dhaval24 commented on #722
@kilsbo could you please tell which version of SQL Server you are using? Further I hope you are using 2.1.2 version AI-Agent. Please turn on SDK Logs and Agent logs by adding this property to the application.properties file:

`azure.application-insights.logger.level=trace`

and add <AgentLogger /> to AI-Agent.xml and upload the logs for further analysis.

[2018-08-29 20:17] dhaval24 commented on #721
This is actually a open ended question!

[2018-08-29 20:18] dhaval24 commented on #720
@jivane thank you very much for raising a feature request. We would triage this for our future releases. If you would like to contribute please feel free to file a PR!

[2018-08-31 11:48] tomaszglinski opened #727 "Support MongoDB dependencies in javaagent"
**Is your feature request related to a problem? Please describe.**
AI does not support MongoDB dependencies

**Describe the solution you would like**
Add support for MongoDB client lib(s)

[2018-08-31 15:55] dhaval24 commented on #727
@tomaszglinski thank you very much for raising feature request. Yes, we do not support MongoDB calls to be autocollected today. We will triage this feature for our future planning. In the meanwhile if you like feel free to contribute to the project. We are very open to accepting PRs and we recognize and appreciate contributions very much :)

[2018-08-31 15:59] dhaval24 commented on #719
@littleaj yes on the surface this looks like a worth while performance improvement. We should consider if this works and initialization of most things should be in constructor as that is what constructors are meant for :) (though we would need to verify that it doesn't break out things)

[2018-08-31 16:05] dhaval24 commented on #710
Ok, this should have been fixed now. Also Azure-SpringBoot-Starters have made a new release of 2.0.5 which uses 2.1.2 version of AI and hence avoid dependency conflicts. I am closing this down and if any of you still face the issue please feel free to reopen the issue.

[2018-08-31 16:05] #710 closed

[2018-08-31 16:06] dhaval24 commented on #673
@snicoll much of this asks and feedback is being completed in #718 . Thanks for all your help!

[2018-08-31 16:07] dhaval24 commented on #399
@SergeyKanzhelev closing this one for now as we do not have any concrete plans for this. We can reopen when we think of rebranding,

[2018-08-31 16:07] #399 closed

[2018-08-31 16:09] dhaval24 commented on #392
With Micrometer metrics work a lot of this would be captured. Will create another issue for ongoing work with Micrometer. Closing this for now.

[2018-08-31 16:09] #392 closed

[2018-08-31 16:25] dhaval24 opened #728 "AutoCollect Java Metrics using Micrometer"
We would like to ingest pre-aggregated Java Metrics (as custom metrics) in Azure Application Insights by contributing a AzureMonitorMeterRegistry to Micrometer Project.

Here is the PR: https://github.com/micrometer-metrics/micrometer/pull/806

By default we will auto collect - JVM Metrics, Uptime, Processor, GC Metrics etc. There are a bunch of other metrics that Micrometer also autocollects base

[2018-08-31 18:26] nikmd23 commented on #627
Hey @grlima. Can you please add more info about what you're looking for here? @mrbullwinkle were scratching our heads over it a bit.

[2018-08-31 18:32] nikmd23 commented on #649
Can you let us know what's missing from or wrong with the ones in the doc right now at https://docs.microsoft.com/en-us/azure/application-insights/app-insights-api-filtering-sampling#java-telemetry-initializers

[2018-08-31 18:36] nikmd23 commented on #641
Great idea!

Can you provide the initial listing of config keys/values? With that draft we can get this properly documented.

[2018-08-31 18:37] mrbullwinkle opened #729 "Documentation request: Improve applicationinsights.config/xml doc"
Clean up .xml documentation for Java. Improve discoverability of this doc.

[https://docs.microsoft.com/en-us/azure/application-insights/app-insights-configuration-with-applicationinsights-config](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-configuration-with-applicationinsights-config)

[2018-08-31 18:41] nikmd23 commented on #601
Yes, please post the examples here @grlima.

[2018-08-31 18:51] nikmd23 commented on #598
Since our [app-insights-java-get-started](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-get-started) doesn't fit the mold required for a Quickstart, I propose we close this issue, and open another one to update [app-insights-java-quick-start](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-quick-start).

[2018-08-31 18:52] nikmd23 opened #730 "Documentation: Update Quickstart"
Since we can't do what was proposed in https://github.com/Microsoft/ApplicationInsights-Java/issues/598,

update the content in our Quickstart so that is matches technically with the getting-started page but follows the format required for quickstarts.

[2018-08-31 18:58] nikmd23 commented on #596
I'm not quite sure where this stands given @dhaval24's [comment](https://github.com/Microsoft/ApplicationInsights-Java/issues/596#issuecomment-412555950).

@littleaj, could you add a bit of clarity around if docs changes are in fact required, and if so what those changes are.

[2018-08-31 18:59] nikmd23 commented on #522
@littleaj can you let us know why this was reopened?

[2018-08-31 19:02] nikmd23 commented on #487
Would you help us understand a bit more about what you're looking for here?

We have the [dependency auto-collection](https://docs.microsoft.com/en-us/azure/application-insights/auto-collect-dependencies) doc, but I don't think that covers everything you're looking for.

Does this exist in any of our language docs? Perhaps you're asking for a Java equivalent of this: https://docs.microsoft.com/en-

[2018-08-31 19:06] dhaval24 commented on #730
@nikmd23 I agree with this one. By the way, some other teams in MS have also been actively creating docs around java and now this one features even on broader page of Java on Azure.

https://docs.microsoft.com/en-us/java/azure/?view=azure-java-stable

go to monitor webapps and you will see the same page of eclipse plugin. Definitely need to fix,

[2018-08-31 19:07] nikmd23 commented on #458
@DaleKoetke, it'd be great to have our default throttling policies documented.

Can you provide a rough sketch of what they are here, and then we can turn them into true blue docs?

[2018-08-31 19:12] dhaval24 commented on #487
i think this is dup of #601. Closing it!

[2018-08-31 19:12] #487 closed

[2018-08-31 19:12] nikmd23 opened #731 "Documentation: How to run agent in Spring Boot apps"
Our [agent documentation](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-agent) doesn’t show how to run SpringBoot apps via command line along with agent.

@dhaval24, would you mind quickly providing those instructions here, and then we'll update the doc.

[2018-08-31 19:17] dhaval24 commented on #731
Sure. Here is how you run javaagent with jar file based deployment in springboot.

`java -javaagent:/path/to/agent.jar -jar path/to/TestApp.jar`

Please note that if the the location of AI-Agent.xml and agent jar file should reside in the same folder. They can be placed together in the /resources folder of the project.

@nikmd23  hope this helps.

[2018-08-31 19:20] littleaj opened #732 "Add javadoc to context classes"
The various classes encapsulating different contexts need javadoc for the class and their members.

[2018-09-11 16:01] littleaj opened #734 "Update instructions for setting Role/RoleInstance"
From the changes in #726

One place that needs updating:
https://docs.microsoft.com/en-us/azure/application-insights/application-insights-correlation#role-name

The other is the default config file. It should include the new initializes from the PR.

[2018-09-11 23:52] dhaval24 opened #735 "Update documentation to demonstrate use of Micrometer Metrics"
Document the behavior for using Micrometer Metrics API in SpringBoot and Non SpringBoot Applications.

[2018-09-13 21:46] nikmd23 commented on #735
@dhaval24 sent the QnD docs as a OneNote via email w/ subject of "Micrometer Metrics for Java SDK - OneNote (All the information you need)"

[2018-09-13 22:38] littleaj opened #741 "Documentation for LocalForwarderChannel"
From PR #723:

## Proposed Documentation
To use the `LocalForwarderChannel`:

Add the following to your configuration file (ApplicationInsights.xml):
[code]

If you are using SpringBoot starter, add the following to your configuration file (application.properties)
[code]

[code]

Please note the default values are same for properties as well as xml config.

[2018-09-17 11:57] mrbullwinkle commented on #741
Thanks @littleaj the changes to update this in the getting started doc and the applicationinsights.xml doc are merged to the private repo. The changes will go live between 10:00-10:30 AM (UTC-7).

[2018-09-17 12:08] mrbullwinkle commented on #741
@littleaj one quick set of follow-up questions on this topic:

What is the value add of having the SDK's telemetry picked up by the local forwarder rather than simply sending directly to Application Insights from the SDK?

I understand the need of the local forwarder for getting OpenCensus generated traces/metrics into Application Insights, but why would a customer want to introduce an extra hop/p

[2018-09-17 16:12] dhaval24 commented on #741
@mrbullwinkle as per my understanding, even for OpenCensus you really do not need a Local Forwarder. You can just have an OC exporter with HttpChannel and send everything in AI schema to endpoint.

However, the real value that Local Forwarder adds is the rich set of AI capabilities that are today available in .NET SDK and not in other SDKs. Few of them are - Full blown support for Live Metrics, Ad

[2018-09-17 16:17] dhaval24 commented on #741
@mrbullwinkle I also left a bunch of comments on the PR for docs. @nikmd23 and @mrbullwinkle Going forward can we have a review process set before the merge happens so that we can catch anything which doesn't seem appropriate.

[2018-09-17 19:13] littleaj commented on #741
@mrbullwinkle, there have been some asks for out-of-process data transmission. IMO, the best example of this is a swarm/cluster of docker containers deployed to AKS or similar. It will save resources on the host if all the application containers are sending data through the LocalForwarder; but I'm sure there are other scenarios which could be justified to have another process or machine handling t

[2018-09-17 19:53] tokaplan commented on #741
What @dhaval24 mentioned above regarding support for Live Metrics, Adaptive Sampling, etc. is the primary driver. With LF, any SDK supports those things without us having to re-implement them. @littleaj's point is also an important one.

[2018-09-18 00:14] littleaj opened #744 "Update web.xml changes to include listener"
In [this section](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-java-get-started#applications-using-webxml):

Include the following:
[code]

[2018-09-19 14:50] dhaval24 commented on #719
@littleaj @grlima we should think about this. Having a synchronized here seems nasty for startup performance.

[2018-09-19 17:56] littleaj commented on #719
I'm in favor of @gondar 's suggestion to move the context initialization to the TelemetryClient constructor. As I said above, I don't see what we gain from having it lazy init. Then we can remove the lock and declare context as `final`.

[2018-09-24 11:59] timja opened #749 "Instrument newer versions of the postgres jdbc SDK"
**Is your feature request related to a problem? Please describe.**
Postgres is not instrumented correctly by the agent

**Describe the solution you would like**
Update the code to support newer postgres SDK versions

**Describe alternatives you have considered**
We're currently manually instrumenting using the agent XML in some places but we have a lot of java applications that are missing out on

[2018-09-25 03:13] dhaval24 commented on #749
@timja thank you very much for raising a feature request. PostGres, is something we don't have official auto collection support for, and hence you see its untouched for long. We will take this as a feature request and triage it to future feature releases.

@nikmd23, here is a feature request for PostGres.

@timja by the way, feel free to submit a PR if you would be willing to contribute to the pro

[2018-09-25 03:15] dhaval24 commented on #728
https://github.com/Microsoft/azure-spring-boot/pull/419 is related

[2018-09-25 03:16] dhaval24 commented on #728
Feature is currently available in snapshots at https://github.com/micrometer-metrics/micrometer and will be released with the Micrometer's next release.

[2018-09-25 03:16] #728 closed

[2018-09-25 04:15] sgalles commented on #682
Excellent ! thank you  @dhaval24  I'm going to try this out.

[2018-09-27 23:07] littleaj opened #751 "Update SDK Logger to output to any directory"
Right now, our logging has two options: `CONSOLE` or `FILE`.
`CONSOLE` prints to stdout.
`FILE` writes to a file, _always relative to `java.io.tmpdir`_ ([source](https://github.com/Microsoft/ApplicationInsights-Java/blob/40809cb6857231e572309a5901e1227305c27c1a/core/src/main/java/com/microsoft/applicationinsights/internal/logger/FileLoggerOutput.java#L140)) and this is the issue. In some environme

[2018-09-27 23:13] littleaj opened #752 "Update InternalAgentLogger with option to write to file"
This will make this a more consistent experience when configuring the SDK and the agent. SDK allows logging to `CONSOLE` or `FILE`, but [the agent only prints to stdout](https://github.com/Microsoft/ApplicationInsights-Java/blob/24c8eeea20232d9349d3dda393b117b459ea5783/agent/src/main/java/com/microsoft/applicationinsights/agent/internal/logger/InternalAgentLogger.java#L178).

**Solution**
Add the

[2018-09-28 13:30] rapatchi opened #753 "NoClassDefFoundError thrown from application insights"
### Expected behavior
After I call client.flush() event should be sent to AI and goal should successfully complete.

### Actual behavior
I get similar error as mentioned in #416 when I try to send a event from my maven plugin to AI.

The exception stack trace which I get is:
Exception in thread "ApacheSender43_initializer-0" java.lang.NoClassDefFoundError: com/microsoft/applicationinsights/core/de

[2018-09-28 13:31] rapatchi commented on #753
To add currently I am using the work around as mentioned in #416.

[2018-09-28 20:36] dhaval24 commented on #753
@rapatchi thank you very much for creating an issue. This is the expected behavior for Application Insights. The AI SDK sends the telemetry in batches and what is happening here is that as soon as you are call the track() method the app shuts down where as the channel and hence all the associated threads die, throwing the exception.

The best is to have some sort of wait() as your doing in the fin

[2018-09-29 04:46] rapatchi commented on #753
@dhaval24 when we call flush() it should ideally block and send the telemetry and the return if I am not wrong right ?. Isn't this the expected behavior ?

[2018-09-29 04:49] dhaval24 commented on #753
@rapatchi I don't think so. The behavior is that, when you call flush() the SDK tries to send telemetry over wire immediately but ofcourse SDK doesn't have any control over your application. All the threads used in the SDK are daemon threads and they close as soon as program termination happens.

Flush() doesn't block main thread in anyway.

[2018-09-29 04:54] rapatchi commented on #753
Thanks @dhaval24. Let me know if you any other way of handling this apart form the way I did in the current code above.

[2018-09-29 18:30] dhaval24 commented on #753
@rapatchi I would encourage you to experiment with the sleep interval and reduce it as much as possible. I am closing this issue for now as this is the expected behavior of the SDK.

[2018-09-29 18:30] #753 closed

[2018-09-29 19:32] dhaval24 commented on #751
@littleaj and @grlima we should consider this proposal carefully. I believe it might open any security concerns, as it is very possible that logs may contain sensitive customer information.

[2018-09-29 19:33] dhaval24 commented on #752
@littleaj and @grlima I would rather propose SLF4J as a permanent solution.

[2018-09-30 06:44] SummerSun opened #755 "Exception when stop the tomcat application with application insights configured"
### Expected behavior
The Tomcat application stops correctly.

### Actual behavior
An Exception was thrown out and the application does not stop.

### To Reproduce
1. Create a web project
2. Use the Azure Web App IntelliJ plugin to configure the application insights
3. Run the application
4. Stop the application

#### Sample Application
[TestAgain.zip](https://github.com/Microsoft/ApplicationInsig

[2018-10-01 22:40] grlima commented on #752
@dhaval24 - SLF4J makes sense to me as well. Let's consolidate all SDK logging around SLF4J.

[2018-10-01 22:51] littleaj commented on #755
@SummerSun, add this listener to your web.xml:

[code]

[2018-10-01 23:20] littleaj commented on #522
@nikmd23, because we still have zero results: https://azure.microsoft.com/en-us/resources/samples/?sort=0&term=application+insights&platform=java

[2018-10-02 04:49] MonicB14 commented on #744
@littleaj are you working on this issue ? If not I would like to take it over.

[2018-10-02 17:02] dhaval24 commented on #744
@MonicB14 thank you very much for the interest in contributing to our project. We really appreciate it . I believe for this one @mrbullwinkle has already filled a PR and referenced it. Though there are many open issues on the issue tracker. I encourage you to take a look at it and send out PRs for anyone them. We welcome all the contribution!

[2018-10-02 21:29] littleaj commented on #751
Planning to implement via slf4j #309

[2018-10-02 23:26] littleaj opened #759 "smoke tests break after upgrading to wrapper version 4.2"
Discovered after #756 and temporarily fixed with #758

I've been able to narrow it down to these files:
AiSmokeTest.java:509  - It can't find the test application war file
test/smoke/testApps/build.gradle:70 - It seems that the copy task behaves differently. We'll need to investigate this further.

[2018-10-03 19:54] EthanCo81 commented on #566
Is there a way to get the jar using maven dependencies without explicitly downloading it? I'm currently having the same issue.

[2018-10-03 20:17] dhaval24 commented on #566
@EthanCo81 I am not sure if I fully get your question here. Can you please elaborate the issue ?

[2018-10-03 21:02] littleaj commented on #566
@EthanCo81 Please include the java sdk version you are using and which jars are being used in your project (core, web, agent).

[2018-10-04 13:13] EthanCo81 commented on #566
Apologies. So, each time my AI tries to log, this happens:
AI: INFO 04-10-2018 13:10:38.533+0000, 48(http-nio-3000-exec-7): Skip resolving request source as the following header was not found: Request-Context
AI: ERROR 04-10-2018 13:10:38.533+0000, 48(http-nio-3000-exec-7): Telemetry module WebRequestTrackingTelemetryModule onEndRequest failed with exception: null
AI: INFO 04-10-2018 13:10:43.807+

[2018-10-04 13:14] EthanCo81 commented on #566
I believe I need to configure the agent, but I'd rather let maven pull it in than download the jar directly. Is that possible?

[2018-10-04 16:03] dhaval24 commented on #566
@EthanCo81, may I request you to upgrade application insights SDK to version 2.2.0 which is the latest and see if the error persists ?

[2018-10-04 17:14] EthanCo81 commented on #566
That worked! Apologies for the inconvenience.

[2018-10-09 20:36] grlima opened #760 "Exclude grpc and protobuf libraries from POM"
Not doing so may cause dependency conflicts with users who take a dependency on those libraries.

[2018-10-11 21:09] benjamin-bader commented on #601
Hi, any update on this?  We'd very much like some kind of auto-correlation for non-HTTP-request workflows.  We're currently hacking it by setting up a fake RequestTelemetryContext, but we'd love to avoid relying on internal details.

[2018-10-12 14:15] larsduelfer opened #762 "Spring Boot App not visible in App Insights"
I added the sprint boot starter for application insights to my spring boot application. I also set the instrumentation key in the sprint boot application properties. When I set the log level for com.microsoft.applicationinsights to TRACE I can see that heartbeat messages are send to the corresponding endpoint by the following message:

POST /QuickPulseService.svc/ping?ikey=MYKEY

However, I cannot

[2018-10-12 14:19] larsduelfer commented on #762
Due to whatever reason, I tried it again now (I tried since yesterday) and now it shows up... sorry for the hazzle.

[2018-10-12 14:19] #762 closed

[2018-10-18 04:40] MattyNixon commented on #731
@nikmd23 @dhaval24

Hi guys, just fixed up our SpringBoot (Docker) application with App Insights and the Agent. Here is some notes from the troubleshooting with @dhaval24
1) If you have an ApplicationInsights.xml still sitting around, the agent may fail to start if the iKey is not in the XML file (e.g. is injected via a YAML)
2) We added this to our Alpine DockerFile:
ADD AI-Agent.xml /myApp/AI-Ag

[2018-10-18 04:45] dhaval24 commented on #731
@MattyNixon thank you very much for this detailed notes. By the way, would it be possible for you to share a strip down version of your docker springboot setup with Agent? It would help me and other people in community. If you upload, please make sure to remove all sensitive information like Instrumentation Key etc.

[2018-10-18 22:09] #760 closed

[2018-10-18 22:56] grlima commented on #755
@SummerSun - it is a requirement starting with v2.2.0.

[2018-10-18 22:56] #755 closed

[2018-10-23 00:56] benjamin-bader opened #764 "Enable queue producer/consumer correlation"
I've recently been implementing correlation between a queue producer and queue consumer, [as per the documentation](https://docs.microsoft.com/en-us/azure/application-insights/application-insights-custom-operations-tracking#queue-instrumentation), and hit a snag in the form of insufficient info from the SDK.

**TL;DR: There is no stable/documented/extant way to get a RemoteDependencyTelemetry's op

[2018-10-23 05:58] MattyNixon opened #765 "SpringBoot Application Insights Agent support"
Hi guys, we would like to request native SpringBoot support for the Application Insights **_Agent_**

Things we would like:
1) AI-Agent.xml configuration support by annotations (similar to the fact that SpringBoot App Insights SDK does not require ApplicationInsights.xml). Having to package AI-Agent.xml alongside the applicationinsights-agent jar isn't very neat in the context of SpringBoot
2) A s

[2018-10-30 15:59] sbyrnes-weblogix opened #767 "Version 2.2.0 brings in dependencies with CVE"
### Expected behavior
Dependencies that have been shared and included should not have security issues.
This seems to be fixed in version v1.16.1 (https://github.com/grpc/grpc-java/releases) of grpc-java.
v1.16.0 brought in "Updated to Netty 4.1.30 and Netty tcnative 2.0.17" and broke ABI and is fixed in version 1.16.1

### Actual behavior
grpc-netty-shaded-1.14.0.jar/META-INF/maven/io.netty/netty-

[2018-11-07 13:00] geoarchitect commented on #682
@dhaval24 Was there ever any follow up to this for getting this to work with Spring Boot? It appears that when you start the service this is working, it will connect but you dont see any data in the view, and then a few days later it says that the library is out of date and you can no longer connect.

We are using the telemetry plugin plus the Log4j log appender baked into the spring boot service.

[2018-11-09 20:07] #752 closed

[2018-11-09 23:43] grlima opened #770 "Add proper documentation on Spring’s Rest Template usage"
In order for Application Insights to successfully instrument HTTP calls made with Spring's Rest Template, it is necessary that the template is configured with the Apache HTTP Client. By default, it is not.

By specifying "HttpComponentsClientHttpRequestfactory" in the constructor of a Rest Template, it will use Apache HTTP.

Here's an example on how to do it via Beans. This is a very simple exampl

[2018-11-10 13:42] reutann opened #771 "trackException calls are not showing up in Exceptions section of App Insights"
### Expected behavior
The below should log an exception to AI
[code]

### Actual behavior
The exception is never logged and no failure messages are provided. Note that the trace that is indeed showing up in App Insights.

### To Reproduce

#### Sample Application
If applicable, provide a sample application which reproduces the issue.
![image](https://user-images.githubusercontent.com/25594617/4830

[2018-11-10 20:46] dhaval24 commented on #771
@reutann thanks for creating an issue. I will verify the behavior and update here. Could you please turn the AI-SDK logs on and let us know if there are any exceptions coming out. You can add the following property to application.properties file.
`azure.application-insights.logger.level=trace`

[2018-11-10 20:47] dhaval24 commented on #765
@MattyNixon thanks for opening this issue. We will keep a track of this.

[2018-11-12 21:17] #767 closed

[2018-11-13 00:02] lgayhardt commented on #734
#sign-off

[2018-11-21 03:35] dhaval24 commented on #771
@reutann I haven't been able to reproduce this issue. If you can provide with a repro / trimmed down version of the application I can help you here. Let me know.

[2018-11-21 03:36] dhaval24 commented on #764
@reyang @lmolkova and @grlima do we have any current plans in near term to support Queue correlation out of the box in Application Insights Java SDK ?

[2018-11-21 03:37] dhaval24 commented on #751
Closing as the PR is merged and released.

[2018-11-21 03:37] #751 closed

[2018-11-21 17:48] lmolkova commented on #764
@benjamin-bader AFAIK there are no immediate plans to support queues in java. Things you rely upon may change in future, e.g. `ThreadContext.getRequestTelemetryContext`, but those are public APIs and we'll have to our best to maintain them for a while.
Telemetry Ids operationId, parentId, and Id you can safely rely on.

I also see there may be some issues with the code you have.

You should enqueu

[2018-11-24 04:51] dhaval24 commented on #770
@mrbullwinkle yes, I think a section in the configure-spring-boot-java page as well as the collecting dependencies page should be good. Could you please prioritize this change as it comes often enough.

[2018-11-25 04:06] benjamin-bader commented on #764
Thanks, folks; I appreciate the help.

[2018-12-04 19:46] #440 closed

[2018-12-06 09:37] MarijaJankovic623 opened #780 "can't see log4j2 System Property Lookup in customDimensions part of a trace"
### Expected behavior
I expect to see System Property Lookup and Main Arguments Lookup when using log4j2 as a logger in customDimension part of my trace in application insight, as I can see Context Map Lookup.

### Actual behavior
I can't see System Property Lookup and Main Arguments Lookup as part of a trace customDimension property,
I can see Context Map Lookup.
A screenshot is attached below.

[2018-12-06 18:35] piotrzaremba opened #781 "Java Application Insights Live Stream Metric"
I composed a simple java application that uses the Application Insights core jar file applicationinsights-core-2.2.1.jar. The only configuration I set is a Application Insights key via an environment variable. My application does NOT have a ApplicationInsights.xml file for configuration. Sending telemetry events works fine however I can not get the Live Stream Metrics to work I get the generic "De

[2018-12-06 19:08] littleaj commented on #781
Thank you for bringing this to our attention. This appears to be a bug with the minimum/default configuration when the ApplicationInsights.xml is not present.

As a workaround, try adding this line after you create the `TelemetryClient` instance:
[code]

[2018-12-06 19:12] piotrzaremba commented on #781
What in the ApplicationInsights.xml file triggers Live Stream Metrics in Java.

[2018-12-07 16:21] dhaval24 commented on #780
@MarijaJankovic623 thanks for reporting the issue. We will take a look at this.

[2018-12-07 16:21] dhaval24 commented on #770
@mrbullwinkle could you please help to get this documented ? This is one of the issues we have seen frequently.

[2018-12-07 16:37] dhaval24 opened #783 "Update the Troubleshooting Docs page for improved Diagnostic logging support"
@mrbullwinkle we have updated a bit on how you can collect diagnostic logs for Java SDK and Agent. Here are the modified instructions:

Turn on SDK Logs with J2EE apps, update ApplicationInsights.xml:
[code]
Turn on SDK Logs with SpringBoot Apps using SpringBoot Starter, add following to application.properties:
[code]
Turn on JVM Agent Logging. Update AI-Agent.xml
[code]

[2018-12-07 16:54] dhaval24 commented on #678
In order to deploy springboot apps on windows app service, you would also have to modify web.config with following.

[code]

To install java agent, you need to add a property `JAVA_OPTS` in the properties settings for App Services with the following value

`-javaagent:D:/home/site/wwwroot/applicationinsights-agent-2.2.1-SNAPSHOT.jar`

This is essentially the path where java agent resides on app se

[2018-12-07 21:04] piotrzaremba commented on #781
@littleaj any update on my last question?

[2018-12-08 00:36] littleaj commented on #781
@piotrzaremba,
QuickPulse reads the instrumentation key from the active configuration: https://github.com/Microsoft/ApplicationInsights-Java/blob/40809cb6857231e572309a5901e1227305c27c1a/core/src/main/java/com/microsoft/applicationinsights/internal/quickpulse/QuickPulse.java#L69

When the context is initialized in the TelemetryClient, it also grabs from the config.

Try this instead:
[code]

[2018-12-10 12:25] petergphillips opened #784 "Web in release 2.2.1 doesn't relocate guava"
We have just tried upgrading to the latest version of application insights - 2.2.1.

The 2.2.0 web version had relocated the guava packages to com.microsoft.applicationinsights.core.dependencies.google.common, but this looks to have been removed in the 2.2.1 release.

Instead the applicationinsights-web-2.2.1.jar includes files under com.google.common without any relocation.  This means that they

[2018-12-12 00:40] littleaj commented on #784
Thank you for bringing this to our attention. We'll investigate the issue.

[2018-12-16 00:41] dhaval24 commented on #716
completed with #785

[2018-12-16 00:41] #716 closed

[2018-12-16 18:10] dhaval24 commented on #771
@reutann I have tried exactly your configuration and it works for me.

[code]

This is what I tried and I can see the exceptions on the portal
<img width="1166" alt="screen shot 2018-12-16 at 10 08 57 am" src="https://user-images.githubusercontent.com/16353121/50057108-b0e3b000-011a-11e9-8fa0-fa74b7ce3294.png">

I am closing this issue for now. Please provide a trimmed down sample application if y

[2018-12-16 18:10] #771 closed

[2018-12-17 18:35] dhaval24 opened #788 "Document Distributed tracing - W3C Changes"
@nikmd23 @mrbullwinkle could you please take this documentation changes. Pr #785 has the Q&D changes required to show our support for W3C.

[2018-12-17 19:17] #784 closed

[2018-12-18 01:34] dhaval24 opened #790 "WebFlux and Netty APIs are not supported in Springboot."
Update this https://docs.microsoft.com/en-us/java/azure/spring-framework/configure-spring-boot-java-applicationinsights?view=azure-java-stable document - Web Flux and Netty APIs are not supported in SpringBoot.

[2018-12-18 18:52] dhaval24 commented on #781
@piotrzaremba have you tried the work around that @littleaj suggested. Could you please update this issue with your results.

[2018-12-19 02:24] shenshen123 opened #791 "Telemetry to application insights don't work"
According to the official documentation, I integrated log4j2, I can also send the log4j2 log, but can not send telemetry event  when used @ Autowire annotation ：

 @Autowired
  private TelemetryClient telemetryClient;

Can anyone help me tell me where the configuration is wrong?
Thanks!!

pom.xml:

	<dependencies>
		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-

[2018-12-19 07:55] shenshen123 commented on #791
Key is correct, I can receive log4j2,this is the trace log:

AI: TRACE 19-12-2018 07:50:23.496+0000, 19(PerformanceCounterContainer-0): Sent performance counter for 'Process IO Data Bytes/sec'(Process, IO Data Bytes/sec, java#2): '23.68146514892578'
AI: TRACE 19-12-2018 07:50:23.498+0000, 19(PerformanceCounterContainer-0): Sent performance counter for 'Processor % Processor Time'(Processor, % Proc

[2018-12-19 10:17] #791 closed

[2018-12-19 17:16] piotrzaremba commented on #781
@littleaj @dhaval24 Works!

[2018-12-19 22:38] littleaj opened #792 "NPE in FileLogger when java.io.tmpdir is unset"
This should have a default value: https://github.com/Microsoft/ApplicationInsights-Java/blob/658347843c177c86b464fe3f131a2fb0abddb991/ApplicationInsightsInternalLogger/src/main/java/com/microsoft/applicationinsights/internal/logger/LocalFileSystemUtils.java#L42

We should also check the environment variables TEMP, TMP and TMPDIR (to cover windows and linux).

If all else fails, perhaps create a di

[2018-12-20 16:35] sabareeshkkanan opened #793 "Distributed tracing support with Spring Cloud Sleuth"
We are looking for a APM solution as we are already azure wondering whether we can make use of Application Insight but based on my research I cannot find where it supports Spring Cloud Sleuth which enables distributed tracing.

[2018-12-26 17:08] dhaval24 commented on #793
@sabareeshkkanan thank you very much for asking your question and apologies for the delay in the response. This is an interesting ask, I would like to better understand your scenario. Application Insights can give you all the diagnostics information and also has innate capability of distributed tracing. We currently use [W3C](https://w3c.github.io/trace-context/) distributed tracing protocol for s

[2018-12-26 17:15] dhaval24 commented on #781
@piotrzaremba great to hear that it works. The message you are seeing,

"Please upgrade SDK
You can stream any Application Insights metrics or events and filter them with custom queries. However, your app must be instrumented with Application Insights SDK version 2.4.0 or later. Learn more"

is a false message and you can ignore it.

However it is true that we don't have filtering and sample telem

[2018-12-26 17:16] dhaval24 commented on #764
@benjamin-bader np! Let us know if you were able to successfully instrument queues (producer / consumer) correlation and I will close this issue.

[2018-12-26 17:18] dhaval24 commented on #705
@zhouchong90 do you still have this issue with starter 1.1.1 version? we had fixed all the shut down issues and I am not able to reproduce this on my end. Please let us know and I will close this issue then.

[2018-12-26 17:20] dhaval24 commented on #422
@mkaszub we have removed the `@EnableWebMvc` annotation from the Interceptor Registry from 2.2.0 version of SDK as it was breaking springboot. I am closing this issue as it should solve this issue. Please reopen if needed.

[2018-12-26 17:20] #422 closed

[2018-12-26 18:44] littleaj opened #794 "JNI loader should check JVM agnostic property for bitness"
https://github.com/Microsoft/ApplicationInsights-Java/blob/40809cb6857231e572309a5901e1227305c27c1a/core/src/main/java/com/microsoft/applicationinsights/internal/perfcounter/JniPCConnector.java#L166

This checks a Sun specific property which is not guaranteed to exist in all JVMs. I'd prefer to not use a system property, if possible, but if that's our only option it should be a property which we c

[2018-12-26 21:56] littleaj opened #795 "SpringBoot starter does not initialize JNI (Windows-only)"
### Expected behavior
The springboot starter initialization procedure should be calling `JniPCConnector.initialize()` (directly or indirectly).

### Actual behavior
It does not call the aforementioned initializer method.

### To Reproduce
Run a springboot app using the sdk starter on Windows with the SDKLogger enabled to see the errors.

[2018-12-26 22:50] dhaval24 commented on #795
Work around : Please call the following method inside the SpringBoot application main method  -

[code]

[2018-12-27 22:22] littleaj commented on #794
i think `os.arch` could work

[2018-12-27 22:35] littleaj commented on #794
We'll need to test a 32-bit JVM running on 64-bit system

[2018-12-28 18:50] v-gamaar commented on #641
Hello collegues

Do you have any update about this documantation? Thanks in advance, have an excellent day.

[2018-12-28 21:21] zhouchong90 commented on #705
@dhaval24  I cannot reproduce this issue with 1.1.1 now. I'll close this issue.

[2018-12-28 21:21] #705 closed

[2018-12-30 18:43] dhaval24 commented on #705
@zhouchong90 thank you much appreciated.

[2018-12-30 18:48] dhaval24 commented on #641
@v-gamaar unfortunately, we haven't been able to get to this yet. Are you looking for something specific where we can help out. @littleaj we should get to this at some point sooner rather than later.

[2019-01-07 11:16] IndicareLeve opened #798 "First call to telemetry.getContext() takes a lot of time to execute"
### Expected behavior
Call telemetry.getContext() to set operationId and parentId to correlate events

### Actual behavior
The call gets executed correctly, but it takes about 30/40 seconds for every new TelemetryClient. I'm using application insights with MuleSoft, so I have to instantiate a new TelemetryClient for every request that I receive. Subsequent calls to .getContext() executes normally

[2019-01-07 22:16] dhaval24 commented on #798
@Salamadonna thanks for creating an issue. It seems that this would be pretty much expected with current design as when the first time `getContext()` method is called first time, it takes a lock and then run `createInitializedContext()' method where it initializes all the telemetry initializers once synchronously.

The above happens only once when first time method is called on TelemetryClient ins

[2019-01-07 22:17] dhaval24 commented on #798
We usually recommend to reuse TelemetryClient if possible and generally that is a good practice too, to reduce the producers to the telemetry channel.

[2019-01-08 09:39] vlev commented on #482
Hi guys,

I think one of the approaches to mitigate this issue could be a parameterization of maximum exception's graph length and trace depth (per exception).

We could add two parameters in TelemetryConfiguration (also in XML and SB config): exceptionDepth and traceDepth.
ExceptionTelemetry.convertExceptionTree method is already able to cut the exceptions graph's length.
Adding capability of cut

[2019-01-08 15:53] vlev commented on #482
Also, I've found that RuntimeExceptionDecider (from module "agent") can use stackTrace property (which is actually treated as a cap on exceptions graph length). I guess this is another case where extra configuration is required.

[2019-01-09 17:44] wrprice opened #799 "Shaded Guava 20.0 dependency vulnerable to CVE-2018-10237"
### Expected behavior
Bundled (shaded) dependencies should not have any known security defects.  Specifically, the shaded Guava library should be at least version 24.1.1 or 25.0, or newer.

### Actual behavior
Guava 11.0 through 24.1 (inclusive) contain two classes that, if exploited via Java and/or GWT Serialization, can lead to unbounded memory allocation.  This [vulnerability](https://github.co

[2019-01-09 19:00] dhaval24 commented on #799
@wrprice thanks for creating this issue. @littleaj lets prioritize this.

[2019-01-09 19:01] dhaval24 opened #800 "Remove dependency on Guava"
Guava, has been vulenrable to breaking changes and many CVE vulnerabilities. It is good to remove guava dependency from core and web sdks.

[2019-01-09 19:01] dhaval24 commented on #800
#799 related

[2019-01-09 19:04] dhaval24 commented on #799
The issue with moving to guava 24 or higher is that it doesn't support Java 7. In this case only possible thing is to get rid of this dependency alltogether unless there is an alternative.

[2019-01-09 21:34] wrprice commented on #799
If you're certain you don't use the two specific classes affected by the CVE, you could exclude them from the shading.  That would remove the ability to exploit via this library, though this library may still show up in scans by the OWASP dependency check tool, for example.  In that case, posting a known-issue would help clarify to users that (after excluding the classes) it's a false-positive.

[2019-01-09 22:57] dhaval24 commented on #674
@alert101 this is still in our backlogs and we are actively tracking it. There are few key things that needs to be done for this migration:

1. How agent gets loaded. Currently, agent is loaded in bootstrap classloader, however, with Java 9+ there has been some changes in class loading which is still unclear to me.
2. The library relies on some libraries which were previously part of java runtime

[2019-01-10 22:32] littleaj commented on #799
@wrprice The current plan is to remove the dependnecy. It's only for convienience and has caused some other issues for us before. IMO, the best course of action is to remove it.

[2019-01-11 00:32] dhaval24 opened #801 "Document and Update Wiki to onboard AI Agent to Jboss"
Jboss has some peculiar charactersticks to onboard Java agent to it. It's worth while to document it.

[2019-01-11 16:53] dhaval24 commented on #678
@mrbullwinkle what is the update on this documentation. It's super critical =)

[2019-01-11 17:30] dhaval24 commented on #781
I will close this one now. @piotrzaremba please reopen if you face further issues.

[2019-01-11 17:30] #781 closed

[2019-01-11 21:00] mrbullwinkle commented on #678
This will go in on Monday Lauryn and I have time blocked out for Java docs then. Thanks for the reminder.

[2019-01-13 23:56] dhaval24 commented on #780
@MarijaJankovic623 we will treat this as a feature request and triage it. As of today you are right we do not automatically store this in custom dimension.

[2019-01-14 09:32] jeeveshpandey14 opened #802 "Application logs not sending from Databricks cluster to Application Insight."
### Expected behavior
I am using applicationinsights-logging-log4j1_2 for sending all logs to application insight. When I uploaded my jar as a library in databricks cluster,  it is not sending logs to application insight.

#### Sample Application

Dependencies:
[code]

This is my log4j configuration:
[code]

### System information
Please provide the following information:
 - SDK Version: applicati

[2019-01-15 18:14] dhaval24 commented on #802
@jeeveshpandey14 can you please explicitly specify the latest SDK 2.3.0 and also turn on SDKLogs and let us know.

[2019-01-16 22:07] josh-roberts-phision commented on #566
I believe I'm seeing the same error, but using:
    <dependency>
      <groupId>com.microsoft.azure</groupId>
      <artifactId>applicationinsights-spring-boot-starter</artifactId>
      <version>1.1.1</version>
    </dependency>

which pulls in v2.3.0 of core/web.
I created a question on [stack overflow ](https://stackoverflow.com/questions/54219931/how-do-i-get-resttemplate-and-jdbc-dependencies

[2019-01-16 22:45] dhaval24 commented on #566
Hi @josh-roberts-phision when you are using springboot starter you do not need to have ApplicationInsights.xml rather use https://docs.microsoft.com/en-us/java/azure/spring-framework/configure-spring-boot-java-applicationinsights?view=azure-java-stable to configure the springboot application.

Also in order to collect the dependencies you would need ApplicationInsights Java Agenthttps://docs.micro

[2019-01-16 23:10] josh-roberts-phision commented on #566
I did that but still do not see any dependencies. Tried to simplify AI-Agent.xml with just
`
    <ApplicationInsightsAgent>
      <Instrumentation>

        <BuiltIn enabled="true">

        </BuiltIn>

      </Instrumentation>
    </ApplicationInsightsAgent>
`
I also tried adding
`
<HTTP enabled="true"/>
`

But that didn't work either. I also dont see what other agent xml configs may exist.

[2019-01-17 05:41] dhaval24 commented on #780
@MarijaJankovic623 sure, I will update this issue once this feature is done. By the way feel free to create a PR if you wish to contribute.

[2019-01-17 05:46] dhaval24 commented on #482
@vlev that seems very interesting approach. We always appreciate any contributions. I would suggest that you create another issue, and elaborate your apporach a bit more there. You can then create a PR for it. Your contribution would be greatly appreciated.

[2019-01-17 17:41] josh-roberts-phision commented on #566
@dhaval24 - Thank you for the information, it was a result of 'short cutting' the instructions and my lack of understanding eclipse/javaagents. You cannot simply add the agent jar to the build path, the -javaagent param must be passed to the VM.

[2019-01-17 19:49] littleaj commented on #800
duplicate of #799

[2019-01-17 19:49] #800 closed

[2019-01-18 18:01] dhaval24 commented on #788
Closing as this is merged.

[2019-01-18 18:01] #788 closed

[2019-01-18 18:05] dhaval24 commented on #598
Closing in favor of #730

[2019-01-18 18:05] #598 closed

[2019-01-21 15:59] vlev opened #804 "Provide XML/SB/Agent configuration for exceptions truncation"
**Is your feature request related to a problem? Please describe.**
We need to have some control on maximum exception's chain depth and trace length in order to guarantee it's acceptance by Azure backend.
Currently if the size of encoded exception exceeds 64Kb it's being refused by backend.
Related issue: #482.

**Describe the solution you would like**
Each type of configuration should provide the

[2019-01-22 10:41] glxorlando opened #805 "ApplicationInsights.xml configuration file not found"
Following the startup documentation it seems for tomcat's on Linux instrumentation, it seems that my ApplicationInsights.xml file has not been found.

I placed it inside an external folder and referenced it too into default catalina.properties, together with SDK jars, using this statement:

shared.loader=${catalina.base}/myfolder/*.jar.

As it is mentioned within the startup tutorial at Microsoft'

[2019-01-23 23:05] ferantivero opened #807 "DockerContextInitilizer + SpringBoot + logback.ApplicationInsightsAppender"
### Expected behavior
I'd have expected to be able to add docker information to every telemetry information that is being sent to AI using logback.ApplicationInsightsAppender.

### Actual behavior
I couldn't find a way to get it configured neither from the application profile or imperatively from code.

Based on some docs I should be able to achieve that through ApplicationInsights.xml by adding t

[2019-01-24 06:47] dhaval24 commented on #802
@jeeveshpandey14 can you please provide SDK Logs. You can turn it on using the https://github.com/Microsoft/ApplicationInsights-Java/wiki/ApplicationInsights.XML#sdklogger and upload it here. I would like to know if there are any errors coming from SDK.

[2019-01-24 13:28] ferantivero opened #808 "Application Map diagram has an extra http as part of the topology"
### Expected behavior
not seeing extra http call or at least not as leaf.

### Actual behavior
from the application map there is an extra http call drawn as leaf

### To Reproduce
correlate telemetry using Application Insights JAVA SDK (agent) with the following profile:

[code]
#### Sample Application
If applicable, provide a sample application which reproduces the issue.

### System information

[2019-01-24 14:40] dhaval24 commented on #807
@ferantivero you can easily do this by creating a custom Telemetry Processor and wire it as a bean. In the process() method of this telemetry processor you can add  docker related information as custom dimension. This will add that docker information as a key-value pair in every telemetry item.

PS: If you are using SpringBoot I would recommend that you use Application Insights SpringBoot Starter.

[2019-01-24 14:45] dhaval24 commented on #807
You can also use `DockerContextInitializer` telemetry processor if it suits your needs which comes with the SDK by default. It can be done by adding following bean in SpringBoot app:

[code]

[2019-01-24 15:02] dhaval24 commented on #808
@ferantivero there can be multiple possibilities here.
Application Insights Java Agent can currently only Instrument Apache HTTP Client Rest calls.

1. It might be very likely that one of your services is not using Apache Http under the hood of spring rest template and hence you see it as a terminating HTTP dependency.

2. It is also possible that one of your service is not able to send Request-Id

[2019-01-24 15:10] dhaval24 commented on #804
@vlev a quick comment on naming first. I would rather prefer something different than `traceLength`. `trace` is common terminology in Distributed Tracing (a.k.a correlation) and also is sometimes intermixed as logs. This would create yet another confusing.

May be `exceptionTraceLength` or something of that sort is better alternative. @reyang  your thoughts on this?

[2019-01-24 15:36] ferantivero opened #809 "Live Metrics Sample Telemetry"
### Expected behavior
from Live Metrics I want to see sample telemetry being sent to AI like I'm currently able to see from ASP.NET Core apps

### Actual behavior
AI Live Metrics Stream sample telemetry doesn’t seem to be working with application insights Java Spring Boot Logback.

Please note that telemetry is actually being sent and properly correlated as expected. It is just not being displayed

[2019-01-24 15:49] ferantivero commented on #808
thanks for quick reply @dhaval24

1. I'm actually using Apache HTTPComponents Client for RestTemplate(s). In fact, before using that specific http client AI wasn't even able to correlate properly the invocations.

2. what you see as ```foo-container``` and ```bar-container``` are just a regular ASP.NET Core services apps with zero-code-light and as you can see the topology is correct between this

[2019-01-24 16:08] ferantivero commented on #807
thanks for quick reply @dhaval24 adding the Bean didn't work. Please note that yesterday I've also tried doing the following imperatively without luck:

[code]

Maybe I am missing something. I was wondering if we have a same code sample where this is working. Also, Ideally I'd expect to be able to configure this from an application profile.

[2019-01-24 16:41] #799 closed

[2019-01-24 16:56] dhaval24 commented on #809
@ferantivero this feature is currently not available in direct mode of AI java SDK. However, you might be able to get this if you configure Local Forwarder https://github.com/Microsoft/ApplicationInsights-LocalForwarder

However, I am not sure if you are willing to take this route. Nonetheless, this feature is currently not available without out of proc Local forwarder. We might add this capabilit

[2019-01-24 16:56] #809 closed

[2019-01-24 17:02] dhaval24 commented on #807
The Bean should definitely work. I am not sure, but I will try it in a demo app in a day and let you know. In the starter code, https://github.com/Microsoft/ApplicationInsights-Java/blob/9384cd1737a72fd02027e2ef91a1c6c64d181878/azure-application-insights-spring-boot-starter/src/main/java/com/microsoft/applicationinsights/autoconfigure/ApplicationInsightsModuleConfiguration.java#L73 we also add ini

[2019-01-24 17:38] ferantivero commented on #809
@dhaval24 may I ask if we have plans to implement this in direct mode? I'm trying to understand if full fleshed AI for Java apps is going to be only available through Local Forwarder.

Additionally, I know we have some [docs on this](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started?toc=%2Fazure%2Fazure-monitor%2Ftoc.json#local-forwarder) but I wasn't wondering if we have a

[2019-01-24 23:03] ferantivero commented on #808
@dhaval24 hold on with this. I've been testing using dev spaces in AKS and I think this could be the root cause for this. I'll confirm tomorrow. Sorry for the inconveniences.

[2019-01-25 05:30] dhaval24 commented on #808
Sounds good. Let me know

[2019-01-25 06:12] dhaval24 commented on #807
@ferantivero I exactly added following bean in the main method of the springboot app:

[code]
and when I placed the debugger inside the track() method in telemetry client I could see that DockerContextInitializer() was called successfully so the bean configuration works.

Wether it gets the required information depends on the information that docker context initializer adds.

At the very least as

[2019-01-25 06:14] dhaval24 commented on #490
Closing as checkstyle is added.

[2019-01-25 06:14] #490 closed

[2019-01-25 06:17] dhaval24 commented on #474
@jdneo I think the startup performance issues were optimized with all the recent versions of our SDKs. If you still face some issues like this with 2.3.0 version of our SDK please let us know. For now I will close this.

[2019-01-25 06:17] #474 closed

[2019-01-25 11:18] #805 closed

[2019-01-25 11:19] glxorlando commented on #805
Problem solved, loading proxy from JVM.

[2019-01-25 21:13] ferantivero commented on #808
@dhaval24 I can still reprod this even after removing user dev spaces in AKS. But my cluster is now a bit inconsistent. So please feel free to close this one. I will take a look at this sometime next week in a fresh cluster and will ping you if needed.

[2019-01-26 05:37] dhaval24 commented on #808
@ferantivero sounds good. Please reopen if you continue to see the issue.

[2019-01-26 05:37] #808 closed

[2019-01-29 23:25] DineshAyyapillai opened #810 "Application Insights showing 200 for failed requests"
Even from the latest application insights version **2.3.0**, the Response code issue which is described in the below fix is not resolved,

https://github.com/Microsoft/ApplicationInsights-Java/pull/603

Did we find any better alternatives or solution for the issue?

With Regards,
Dinesh Ayyapillai.

[2019-01-29 23:40] littleaj commented on #810
@DineshAyyapillai
Unfortunately, that issue still exists in the filter, but we may be able to find a workaround. I just need some additonal information:

* Just want to confirm that this is with RequestTelemetry, correct?
* Are you using SpringBoot?
* Are you using other filters?
* Are you using custom error pages?
* Is the `success` field correct?

[2019-01-30 05:10] dhaval24 commented on #810
@DineshAyyapillai, also please mention how you have instrumented your application. Are you using Springboot starter, or just plain SDK?
We had fixed this problem for Springboot starter case mostly with #766

[2019-01-30 18:53] DineshAyyapillai commented on #810
@littleaj

- Yeah it is RequestTelemetry,
- We are using SpringBoot
- No, We are using "appInsightsWebRequestTrackingFilter"
- We are not using the custom error pages
- No, It's incorrect showing "Successful on failed request"
- @dhaval24 - We are using and we set the precedence order as "1"

[2019-01-31 06:00] dhaval24 commented on #810
@DineshAyyapillai thanks for mentioning that. @littleaj has a little more context on non springboot scenarios. Often it is possible that sometimes an error code is set in the request telemetry after the object escapes the filter chain. i.e by some error handler etc. In that case it is likely that request telemetry object might miss the result code.

Also, it might be possible if you are using Asyn

[2019-01-31 07:52] dhaval24 commented on #810
Essentially this is dup of #600

[2019-02-01 14:17] dhaval24 commented on #807
@ferantivero were you able to address your issue with above recommendation? Please let us know.

[2019-02-04 18:23] DineshAyyapillai commented on #810
@dhaval24 Yeah, It's almost similar but any idea on whether the issue will be fixed in the upcoming releases of application insights or any alternative solutions to work on.

[2019-02-06 19:44] wrprice commented on #799
@littleaj not trying to be a pest, and I appreciate the swiftness of the code change so far, but do you have an ETA for releasing 2.3.1 with this fix?

[2019-02-07 00:19] littleaj commented on #799
@wrprice not a problem. The release is planned for this week.

[2019-02-08 04:48] dhaval24 commented on #810
moved the label to enhancements, as this is more about handling async requests.

[2019-02-08 08:36] dhaval24 commented on #807
@ferantivero I will close this issue for now. Please reopen if the issue persists.

[2019-02-08 08:36] #807 closed

[2019-02-11 04:38] dhaval24 commented on #810
@DineshAyyapillai could you please also explain you entire scenario of how you are using async requests, so that we can capture the scenario correctly.

[2019-02-11 08:59] MarijaJankovic623 commented on #780
@dhaval24 Do you have any information when to expect this issue to be fixed? On my current project, we're using this library, and we're thinking to invest an effort into fixing it if the fix is not going to come in the near future.

[2019-02-12 14:18] dhaval24 commented on #780
Hi @MarijaJankovic623 thanks for the follow up. It might be a while since this feature would be out, as there are some other high p. issues to tackle at the moment. However we do have the item in our backlog.

That being said, we are happy to accelerate this feature, if you are willing to contribute to our library. We appreciate community contribution. You can add the feature to log4j application

[2019-02-12 17:02] cijothomas opened #811 "Address security vulnerabilities in package dependencies"
applicationinsights-core-2.3.0.jar/META-INF/maven/io.netty/netty-tcnative-boringssl-static/pom.xml (cpe:/a:netty_project:netty:2.0.17, io.netty:netty-tcnative-boringssl-static:2.0.17.Final) : CVE-2015-2156, CVE-2014-3488

[2019-02-12 20:40] koolkravi commented on #283
@JunQianZ    did you able to fix your issue.
at run time i am getting jaxb class not found error.  ia m using spring boot and java10.

error trace.
Exception in thread "main" java.lang.NoClassDefFoundError: javax/xml/bind/JAXBException
	at com.microsoft.applicationinsights.internal.config.JaxbAppInsightsConfigurationBuilder.build(JaxbAppInsightsConfigurationBuilder.java:49)
	at com.microsoft.appli

[2019-02-12 20:48] koolkravi commented on #283
added below ppom dependecy to fix "java.lang.NoClassDefFoundError: javax/xml/bind/JAXBException"
                 <dependency>
			<groupId>javax.xml.bind</groupId>
			<artifactId>jaxb-api</artifactId>
			<version>2.3.0</version>
		</dependency>

[2019-02-13 05:20] dhaval24 commented on #811
Thanks for opening this issue. Netty is a transitive dependency that comes along with gRPC dependency. We do not have netty as direct dependency in AI Java SDK.
@littleaj we might need to update the gRPC libraries if they have fixed it in later version / raise issue against gRPC.

[2019-02-15 16:47] summerkiss commented on #705
@zhouchong90 Are you in Sam's Dallas branch? We  meet once , I face the same problem, have you figure it out?

[2019-02-18 02:10] dhaval24 opened #812 "Duplicate HTTP dependencies when using Spring Rest Template"
Spring Rest Template instrumentation is incomplete and doesn't add correlation related information. The class `RestTemplateMethodVisitor` doesn't add correlation headers to requests like `HttpClientMethodVisitor` (which instruments ApacheHttpClient).

Therefore currently if the user uses Apache Http Client with RestTemplate two HTTP dependencies are captured.

While the correlation happens for dep

[2019-02-18 14:18] mercer commented on #790
Any plans to offer support?

[2019-02-18 20:46] dhaval24 commented on #790
@mercer we definitely want to better support webflux and netty. I do not have a timeline for this yet, but this is definitely in our backlogs.
We are very open to contributions as well. Please feel free to contribute/raise a PR if you could :)

[2019-02-20 01:25] dhaval24 commented on #678
@mrbullwinkle what is the timeline for this change to happen. I see the docs pr still pending. I have added some comments there as well. We have a lot of tickets coming for this.

[2019-02-22 14:12] githubpratibha commented on #710
@dhaval24 I have two separate spring boot java modules. One is added as dependency in another.
I am not able to push spring boot logs to app insight.Kindly help please

==============log4j2.xml in app module resources folder===============
<?xml version="1.0" encoding="UTF-8" ?>
<Configuration packages="com.microsoft.applicationinsights.log4j.v2">
    <Properties>
        <Property name="LOG_PATTE

[2019-02-23 22:44] dhaval24 commented on #710
@githubpratibha could you please create a seperate issue for this. it seems to be a different topic

[2019-02-24 11:02] githubpratibha opened #814 "I am unable to see spring boot multimodule app logs in appinsight"
### Expected behavior
 logs should be captured in azure app insight for all the modules
Following document for [**Configure Springboot Application to send log4j logs to Application Insights**](https://docs.microsoft.com/en-us/java/azure/spring-framework/configure-spring-boot-java-applicationinsights?view=azure-java-stable#configure-springboot-application-to-send-log4j-logs-to-application-insights)

[2019-02-25 03:25] dhaval24 commented on #814
@githubpratibha thanks for creating a new ticket. First of all : you do not need:

azure.application-insights.logger.type=console

azure.application-insights.logger.level=trace

These properties have nothing to do with configuring logging appender. Instead these are meant to enable debug logs for Application Insight Java SDK. (nonetheless its good that you have kept it enabled. Do you see any wire

[2019-02-25 12:31] adusumillipraveen commented on #811
@littleaj Have you had a chance to look at this ?

[2019-02-25 18:17] githubpratibha commented on #814
Thanks @dhaval24 for looking into this
I just fixed it by updating pom.xml for core module.Just excluded the unnecessary dependencies specially the ones which have logging dependencies included in their dependency tree.
Because we are already providing appinsight log4j2 dependency in app module pom.xml we should exclude all other dependencies which have ogging dependencies included in their depend

[2019-02-25 18:43] dhaval24 commented on #814
Awesome @githubpratibha that is great! Thanks for updating. Please feel free to open any issues on Github if you face further problems.

[2019-02-25 18:43] #814 closed

[2019-02-27 14:21] dslack commented on #812
@dhaval24 Running into this issue, can we exclude the RestTemplate instrumentation through configuration, or perhaps use AOP to prevent the onMethodEnter from executing?

[2019-02-27 23:00] karolz-ms opened #819 "Structured instrumentation key does not work"
### Expected behavior
I should be able to send telemetry using structured instrumentation keys (with 3-letter prefix)

### Actual behavior
Telemetry is not reaching Application Insights

### To Reproduce
Steps to reproduce the behavior:
Run the app listed below

#### Sample Application
[code]

### System information
Please provide the following information:
 - SDK Version: applicationinsights-core

[2019-02-28 21:49] dhawal96 commented on #811
I saw the same CVEs using the dependency check tool and there is a ticket created on their side as a possible false positive
Issue: https://github.com/jeremylong/DependencyCheck/issues/1573

Netty was split:
netty: https://mvnrepository.com/artifact/io.netty/netty
netty-tcnative: https://mvnrepository.com/artifact/io.netty/netty-tcnative (version 2.0.17 flagged in app insights)

[2019-02-28 22:01] jhsheets opened #821 "browser-generated (PAGEVIEW) telemetry doesn't correlate with server-generated telemetry"
I'm unable to get browser-generated telemetry to correlate with the server-generated telemetry that occurs as a results of a pageview. All the telemetry is displayed in AI, but they don't correlate.

I've created an example application that showcases the issue:
https://github.com/jhsheets/java-app-insight-not-correlating-pageview

[2019-02-28 22:36] dhaval24 commented on #821
Thanks for creating the issue @jhsheets . We will triage this in our coming releases.

[2019-02-28 22:39] dhaval24 commented on #811
@dhawal96 I didn't quite got your comment. Do you mean that the CVE dependency that is captured with the check is false positive? Can you please clarify?

[2019-03-01 15:31] dhawal96 commented on #811
@dhaval24 from what I read it might be a false positive. But I'm not 100% sure.

[2019-03-01 17:03] dhaval24 commented on #812
@dslack there is no easy way to turn this off from configuration. However, there can be a short term workaround. We can easily write a TelemetryProcessor to filter out the duplicate telemetry. Here is the code that you can put in the application which can likely fix this.

[code]

[2019-03-01 17:23] bgsenthil opened #822 "Address Security Vulnerability applicationinsights-core"
There is a security vulnerability in applicationinsights-core-2.3.1.jar i.e. on Socks5ProxyHandler.java

CWE-259: Use of Hard-coded Password

Description:
Attack Vector: AUTH_PASSWORD initializer

Number of Modules Affected: 11

Description: This variable assignment uses a hard-coded password that may compromise system security in a way that cannot be easily remedied. The use of a hard-coded passw

[2019-03-01 17:31] dslack commented on #812
@dhaval24
Great!  That's much simpler than modifying the source code and compiling to a local jar (I had just commented out the HTTP Telemetry call entirely...)

Thanks for the quick response!

[2019-03-01 17:32] bgsenthil opened #823 "Numerous CWE weaknesses after upgrading to 2.3.1"
![image](https://user-images.githubusercontent.com/24399107/53655367-9b5c2d80-3c15-11e9-94e6-9ae24394b5bb.png)

[2019-03-01 17:44] dhaval24 commented on #812
@dslack let me know if this modification works.

[2019-03-02 19:32] dhaval24 opened #824 "Modularize LocalForwarder Telemetry Channel into separate subproject"
**Is your feature request related to a problem? Please describe.**
LocalForwarder Telemetry Channel Introduces too many dependencies like gRPC, protobuff, netty etc. which are not required by ApplicationInsights-core and web packages in general use.

**Describe the solution you would like**
Modularize Local Forwarder Telemetry Channel Into  separate gradle subproject and release separate maven bin

[2019-03-02 19:59] dhaval24 commented on #822
closing as duplicate of #823

[2019-03-02 19:59] #822 closed

[2019-03-02 20:00] dhaval24 commented on #823
@bgsenthil could you please provide the tools you used to scan this vulnerabilities? We will try to address them in next releases.

[2019-03-02 23:32] hisureshk opened #825 "Spring Boot Microservices correlation"
We have a large number of spring boot microservices that are dependent on each other. It is not clear whether any custom configuration or code is necessary to correlate the service calls using AI. I have followed the link https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-agent to configure for spring boot microservices. But I am ending up getting individual services and their details w

[2019-03-03 01:05] bgsenthil commented on #823
@dhaval24 ,  I used Veracode to scan our application and these got flagged.  Hope this helps.

[2019-03-03 19:19] dhaval24 commented on #821
@jhsheets a quick questions:

1. which version of Application Insights Java script sdk do you use?  For correlation to happen the incoming request should have a request-Id header with correlation-id present.

I have not got a chance to look at your entire application but on high level it seems :

a. you are using AzureStorage SDK, and manually tracking the storage dependency with `TelemetryClient.

[2019-03-03 19:32] dhaval24 commented on #825
@hisureshk there are few questions I would like to better understand.

1. Are all your services Springboot Java microservices? How do you instrument them? Do you use ApplicationInsight SpringBoot Starter along with Java agent?

2. How do you microservices communicate with each other?
a. AI java agent currently supports automatic instrumentation for Apache HTTP Client. In case you are using Spring

[2019-03-03 20:25] hisureshk commented on #825
Yes, all services are spring boot java micro services. Yep used application insight spring boot starter along with java agent.

yes, it uses the spring rest template with underlying apache http client.

Currently the application is a poc for application insights with call coming from react to spring1 service that call spring2 service. Attached the image of application map currently being shown.
<i

[2019-03-03 21:08] jhsheets commented on #821
I followed the instructions from https://github.com/Microsoft/ApplicationInsights-JS/blob/master/API-reference.md and copied the non-minified code from https://az416426.vo.msecnd.net/scripts/a/ai.js

I wrote this example app weeks ago, but It looks like they're still identical.

It is autowired. There's a setter below the constructor for it. It's been a while since I wrote this example app, but I

[2019-03-03 22:29] dhaval24 commented on #821
@jhsheets thank you for responding. We will investigate this.

[2019-03-03 22:40] dhaval24 commented on #825
@hisureshk are you using ApplicationInsights SpringBoot Starter? Have you followed this (https://docs.microsoft.com/en-us/java/azure/spring-framework/configure-spring-boot-java-applicationinsights?view=azure-java-stable) from the app map it seems that you don't have the cloud_RoleName set. When you use SpringBoot starter and have the set
`spring.application.name` property set then you should see t

[2019-03-03 22:43] dhaval24 commented on #823
@bgsenthil thanks. We will try to address the ones which are applicable to the library in future releases.

[2019-03-04 07:00] hisureshk commented on #825
@dhaval24  I have following both the steps, I have set the names as locahost, localhost2 though my spring.application.name (in my property file, though bad names ) which is being shown in application map.

Also, I have instantiated the RestTemplate by passing the httpRequestFactory only but still not able to correlate the calls between spring microservices.

Do you have any working sample of two m

[2019-03-04 07:23] dhaval24 commented on #825
@hisureshk would it be possible for you to put your sample code for both the microservices on github? This can help me take a look at your instrumentation. I do have microservices that are correlated, but haven't posted them on github. As you mentioned, just want to ensure:
1.  you are also using AI-Agent.jar file
2. AI-Agent.xml is kept in the same folder where AI-Agent.jar file resides (this is

[2019-03-04 16:15] fox918 opened #828 "Spring Boot Starter Live Metrics and Logback not working"
### Expected behavior
If a instrumentation key is provided, I expect the Application Insights Spring Boot Starter to send all
telemetry to Application Insights.
This includes Live-Metrics and all Logs as configured for the used logging implementation.

### Actual behavior
Only custom events are transmitted to Application Insights.

### To Reproduce

- Spring Boot Application using `2.1.3`
- Add `c

[2019-03-04 16:55] dhaval24 commented on #828
@fox918 did you add the AILogBack Appender in the logback configuration following https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-trace-logs#add-the-appender-to-your-logging-framework ?

You do not really need developer mode to be true except when testing.

What do you mean by logging metrics? Logback logs appears as Trace events in Azure Portal. Can you please upload the Logback con

[2019-03-04 22:06] #653 closed

[2019-03-05 01:46] hisureshk commented on #825
Added the source code for both services under insights and insights-2 folders along with react client app code to the github. Included the AI-agent xml and jar file.

https://github.com/hisureshk/insights-demo

[2019-03-05 02:14] dhaval24 commented on #825
@hisureshk thank you very much. I will take a look at your code today evening/tomorrow morning.

[2019-03-05 08:28] fox918 commented on #828
Hi @dhaval24

Ok, I will try to answer your questions one by one:

1. Yes, the AI LogBack Appender is in the configuration. See my Logback configuration:
[code]
2. By Logging Metrics I mean all logs written to the appender and the metrics used for Live Metrics. I know that the log events appear as traces in the Application Insights pane on the Azure Portal. As I said, when providing `ApplicationIn

[2019-03-05 18:11] dhaval24 commented on #812
@dslack a short change in the work around I provided above. It uses a deprecated API. Please use following:

[code]
Let me know if this works.

[2019-03-05 19:44] dhaval24 commented on #825
@hisureshk I was looking at the code you uploaded. Few things:

https://github.com/hisureshk/insights-demo/blob/9fa0aeab5faf8b80862153724c5c1a082530e06a/insights/src/main/java/com/pru/insights/insightsdemo/controller/HelloController.java#L33

I think the bean configuration should not be the part of rest controller as per my knowledge. You can put this instead in Springboot  app's main class

https

[2019-03-05 23:16] JRiggenbach commented on #828
I am unable to get any data from my spring boot application into the live stream as well.  I'm seeing telemetry events within the Azure Portal, but the live stream is saying that I need to upgrade my sdk as well.

AI trace logs
AI: TRACE 05-03-2019 23:09:20.068+0000, 75(http-nio-8080-exec-1): InstrumentationKeyResolver - pending resolution of instrumentation key: 0a07e0b0-8e7f-4c01-9d1f-da34910e49

[2019-03-06 00:19] dhaval24 commented on #828
@JRiggenbach can you please create a seperate issue for metrics starter on https://github.com/Microsoft/azure-spring-boot I will respond there as I was the one who worked on it. Most likely you are looking at incorrect place in the portal.

Another, the banner you are seeing is false banner. That is UI issue that should be fixed on Azure side. once you click ok on that do you see any data?