[2019-03-06 00:42] JRiggenbach commented on #828
@dhaval24  Issue created under spring boot
https://github.com/Microsoft/azure-spring-boot/issues/608

As for the false banner...not sure what "ok" I'm suppose to click on
![sdkupgrade](https://user-images.githubusercontent.com/1473610/53847439-bcf34700-3f7e-11e9-81a7-6419a526dba8.png)

[2019-03-06 00:51] dhaval24 commented on #828
@JRiggenbach this is not the banner which I was thinking of. Yes it seems live metrics is not enabled. Seems suspicious to me. Are you on starter 1.1.2? Is it possible to upload your sample code on github somewhere so I can look at instrumentation?

[2019-03-06 04:24] dhaval24 commented on #828
@fox918 and @JRiggenbach I cannot reproduce this issue on my end yet, if you can provide a minimal repro of it, I can take a look locally.

[2019-03-06 05:24] dslack commented on #812
@dhaval24 Just an update, using the TelemetryProcessor works to remove the duplicates, thanks for the code sample and help!

[2019-03-06 07:27] dslack opened #831 "HTTPClient Dependency Telemetry not working when using a Scheduled Bean"
### Expected behavior
Whenever we make an RestTemplate using HTTPClient call, we expect to see the dependency telemetry within Application Insights.

### Actual behavior
No Telemetry is recorded.

### To Reproduce
Using a SampleBean class, with the Scheduled annotation:
@Scheduled(initialDelay=5000, fixedDelay=100000)
public void init() {...}

Within the method, make a simple RestTemplate call to

[2019-03-06 09:20] fox918 commented on #828
While creating the minimal example, I might have discovered the root cause of our problem.
There might be a dependency problem between the Spring Boot Starters for _Azure Keyvault_ and _Application Insights_.
Our application uses the Azure Keyvault to store its application secrets.

When I remove the Keyvault from the dependencies, the live metrics and traces (log messages) on _Application Insight

[2019-03-06 13:44] hisureshk commented on #825
@dhaval24  Find below the changes made to the code and running the services resulting into NullPointerException.
1. Removed the ApplicationInsights.xml from resources
2. Added w3c flags to the properties file
3. Moved the rest template to the main class and annotated with @primary.

Appreciate if you could take a log file and advice.
[application-insights.log](https://github.com/Microsoft/Applicat

[2019-03-06 16:15] dhaval24 commented on #831
@dslack thanks for creating this issue and uploading the sample app. I am going to take a look at this one and get back with my comments.

[2019-03-06 17:07] dhaval24 commented on #825
@hisureshk can you please commit th changes on github? So I cn take a look.

[2019-03-06 19:41] JRiggenbach commented on #828
@fox918 Following your minimal example approach, I'm not have any issue with getting data to show in the live stream.  My sample application has the spring boot starters for Azure Keyvault and App Insights, along with many other azure dependencies, and the live stream is working.  I still can't get my real application to show in the live stream however...still digging....

[2019-03-07 05:59] dhaval24 commented on #828
@JRiggenbach one quick question - do you run this springboot app in self contained tomcat? Or do you deploy on tomcat service?

[2019-03-07 08:56] fox918 commented on #828
Ok, I played around with my minimal example and I think it is some sort of dependency problem.

Updating the Key Vault dependency from `2.1.3` to `2.1.4` seems to make the minimal example working.

So there most likely is some sort of dependency trouble in regards to the Spring Boot Starters and the Application Insights Starter.

For me, the issue is solved, I'm leaving the issue open for @JRiggen

[2019-03-07 13:32] JRiggenbach commented on #828
I believe I'm experience the same thing here.  I have a Maven aggregate project so when I move some of these dependencies around higher in the chain, they start to work, also while breaking other things since they overwrite older dependencies.  Either way, once I get my dependencies unwound, I think this will work.

Feel free to close this issue.

[2019-03-07 14:03] #828 closed

[2019-03-08 10:09] AlexIvan2 opened #837 "Question: AI-Agent.xml MaxStatementQueryLimitInMS"
Hello,

Could you please help me to understand what this parameter is meant for? MaxStatementQueryLimitInMS = 7000
My assumption was that I can skip all SQL queries which execution time is less than 7 seconds. I still can see queries with 7ms-8ms execution time.

Thank you in advance!
Best Regards.

### System information
Please provide the following information:
 - SDK Version: 2.3.1
 - OS type a

[2019-03-08 10:24] timja opened #838 "Download URL changed in 2.3.1"
Hi

The URL format for downloading the agent changed between 2.3.0 and 2.3.1

https://github.com/Microsoft/ApplicationInsights-Java/releases/download/v2.3.1/applicationinsights-agent-2.3.1.jar

https://github.com/Microsoft/ApplicationInsights-Java/releases/download/2.3.0/applicationinsights-agent-2.3.0.jar

there's a `v` prepended to the version number in 2.3.1

We're trying to setup an automated

[2019-03-08 15:54] arahlf opened #839 "How to filter Request telemetry by URL from being sent"
There is [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-filter-telemetry#request-telemetry-filter) about how to configure a Request Telemetry Filter that can be used to filter out URLs that you don't necessarily care to have reported to AI. In my case, I'm trying to filter out the /actuator/health endpoint.

I looked at the source for the RequestTelemetryFilter class

[2019-03-08 17:39] dhaval24 commented on #838
@timja great catch. Probably, I think that was unintentional error on our side :( However, looking at past releases I do see some inconsistency.

@littleaj we should definitely standardize on how we version our sdk's. My opinion would be to go without a prefix "v"!

[2019-03-08 17:42] dhaval24 commented on #839
@arahlf your code example is pretty correct. However I generally recommend to annotate this as a `@Bean`
and then ApplicationInsightsSpringBoot Starter will autowire this telemetry processor.

[2019-03-08 17:47] dhaval24 commented on #839
If your question is answered please do feel free to close the issue.

[2019-03-08 17:54] dhaval24 opened #840 "Remove or update the outdated roadmap"
The current Roadmap on the Github repository is outdated. Either remove or post the updated roadmap.

[2019-03-08 18:17] arahlf commented on #839
Thanks for the reply. It still autowires fine as a `@Component` like I have it, but I agree it may be more appropriate to declare as a bean instead.

[2019-03-08 18:17] #839 closed

[2019-03-08 21:01] dhawal96 commented on #811
@dhaval24 adding this as a reference: https://github.com/netty/netty-tcnative/issues/442
confirmed a false positive

[2019-03-09 00:47] dhaval24 commented on #811
Thank you @dhawal96 Closing as per confirmation with Netty team.

[2019-03-09 00:47] #811 closed

[2019-03-10 00:36] dhaval24 commented on #837
@littleaj would you be able to take on this one if possible?

[2019-03-11 08:26] AlexIvan2 commented on #837
Hello,
I'm sorry. I forgot to mention that we are using Oracle DB. If this parameter is working only for MySQL and PostgreSQL (as mentioned in description), there is some other way how could we "cut" queries with good performance?
Thank you in advance.
BR.

[2019-03-11 15:08] dhaval24 commented on #837
@AlexIvan2 would you be able to explain better what you are trying to achieve? I am a bit lost in the question. I might be able to better help once I have clear understanding of your problem :)

[2019-03-11 15:33] AlexIvan2 commented on #837
Hello,
@dhaval24 sorry for confusing. I'm trying to reduce the noise we receive from Application to Azure AI regarding Dependencies calls. For instance, if I have a lot of Dependency calls toward Oracle DB and most of them are faster than 10ms. How can I prevent them from being sent to Application Insights?

[2019-03-11 16:17] dhaval24 commented on #837
Hi Alex,

No worries. That is simple you can write your own `TelemetryProcessor` to filter our the faster oracle db calls. Since you are not using SpringBoot, you can follow this doc on how to write basic filter.

[2019-03-11 19:56] littleaj commented on #838
fixed

[2019-03-11 19:56] #838 closed

[2019-03-12 07:29] dslack commented on #831
@dhaval24

Was just wondering if there was any traction on this?  We've written up some workarounds, but, would ideally like to replace with a MS solution.

[2019-03-12 15:18] dhaval24 commented on #831
@dslack as discussed offline yes I was able to reproduce the issue locally. Thank you for sharing the sample application. It looks like there might be a potential bug in the SDK. Besides that as mentioned, I also see some potential dangerous configuration issues in your sample code.

** I would ask you to please refrain from adding ApplicationInsights.xml file when you are using ApplicationInsight

[2019-03-13 09:29] AlexIvan2 commented on #837
Hi,

Thanks a lot for help. The filter is working just fine now. I just wonder if I can monitor dependency telemetry by Operation Id? For instance, if I have 3 queries with one Operation Id and I want to send them to application insights if total duration is greater than 10. I see that `RemoteDependencyTelmetry` has `getId()` method, but I'm not sure if this is the same Id which I see in Azure Log

[2019-03-14 09:35] #749 closed

[2019-03-14 20:42] #770 closed

[2019-03-15 15:18] dhaval24 opened #856 "Integration Tests for Postgres SQL JDBC 4 - Prepared Statement Instrumenation"
#846 is for having instrumentation for PostgresSql JDBC 4 Prepared statements. Add integration tests in the test suite for the same.

[2019-03-15 16:44] rabbboudi opened #857 "Support Instrumentation of latest version of MySQL JDBC Driver - v8 (Namespaces changed since v6)"
I have followed the instructions here https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-agent to install the app insights agent on my linux machine.

My application is calling a remote MySQL DB (using com.mysql.cj.jdbc.Driver). app core, app web and the agent have the same version 2.3.1.

Am I missing additional configuration ?
Thank you

### Expected behavior
The dependecy data should

[2019-03-15 18:11] dhaval24 commented on #857
@rabbboudi could you please turn on the AgentLogs and let us know. I would like to understand if agent is getting picked up in the first place.

[2019-03-16 20:22] rabbboudi commented on #857
@dhaval24 : Thank you for your quick response. How can I turn them on ? There is only one application running.

[2019-03-16 23:08] dhaval24 commented on #857
@rabbboudi here is the documentation to configure AgentLogger. https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-troubleshoot#java-agent

Which version of MySql JDBC driver you are using?

[2019-03-16 23:17] dhaval24 opened #858 "Clean up Try-Catch Block (Remove ThreadDeath Catch Statements)"
Since Java 7, the calls to Thread.stop() has been deprecated. ThreadDeath is only thrown when `Thread.stop()` class is invoked. It would be good to clean up the code base and remove this unneeded catch statement.  On quick scanning of code base I do not see any reference to `Thread.stop()`.

From the java docs - "An instance of ThreadDeath is thrown in the victim thread when the (deprecated) Threa

[2019-03-16 23:21] dhaval24 commented on #837
Hi @AlexIvan2 I don't think that is possible. SDK follows a preprocessing pipeline for each telemtry item, before it is sent.
https://github.com/Microsoft/ApplicationInsights-Java/blob/a1e7d2b2b638b91e7ef26428bd9adcef8e4c61eb/core/src/main/java/com/microsoft/applicationinsights/TelemetryClient.java#L388
Therefore, it is easy to modify each individual telemetry item before sending it to end point,

[2019-03-16 23:31] dhaval24 opened #859 "Use Try-With-Resources to close the closeable resources."
Use Try-With Resources to close the closeable resources. Eg HTTP Client, FileStream, Database calls

This is the best practice since Java 7 and avoids errors like leaking streams when using Try-catch-finally and is much more clean.

https://dzone.com/articles/java-code-bytes-be-resourceful-with-try-with-resou

[2019-03-16 23:33] #783 closed

[2019-03-17 10:31] rabbboudi commented on #857
@dhaval24 Here is the connector I am using : mysql-connector-java-8.0.14.jar
I have enabled the AgentLogs and run a few tests.
Here are the traces:
ERROR 17-03-2019 10:24:34.690+0000, 1(main): cannot parse the correlation format, will defaultto AI proprietory correlation
ERROR 17-03-2019 10:24:34.710+0000, 1(main): cannot parse the correlation format, will defaultto AI proprietory correlation
TRAC

[2019-03-17 18:13] dhaval24 commented on #857
@rabbboudi thanks for the update. We will investigate this issue. It seems that there might be some changes in instrumentation that needs to be done with introduction of JDBC Type 4.0 driver for MySql.

[2019-03-17 19:44] dhaval24 opened #861 "JedisConnectionException while running smoke tests"
Redis dependency container throws `JedisConnectionException` while running Caching Calculator Smoke Tests.

[2019-03-17 21:45] travisnielsen opened #862 "Custom TelemetryProcessor not working"
### Expected behavior
I'm working on a Spring Boot microservice and I'm trying to exempt Request telemetry generated by Kubernetes probe traffic at a specific URL. There doesn't seem to be an out-of-the box solution for this so I created a custom TelemetryProcessor based on [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-filter-telemetry).

### Actual behavior
The cus

[2019-03-17 22:22] littleaj commented on #858
It is deprecated and should not be used, but as long as the method exists and we continue to catch `Throwable`, we have to propagate this exception. It still exists in Java 8/9/10/11: https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/Thread.html#stop()

Propagating `ThreadDeath` from all instances of `catch (Throwable)` is a safeguard to prevent any possible propagation from d

[2019-03-17 22:25] littleaj commented on #861
I figured out why this was happening and was able to get the test working properly with an actual connection to the redis container on my machine. For a reason I have yet to find, the default names (*adjective*_*person's name*) do not seem to be registered with the docker DNS, but if the `--name` option is specified during `docker run`, the custom name is found in DNS and things work as expected.

[2019-03-17 23:03] dhaval24 commented on #861
Awesome! Thanks @littleaj

[2019-03-17 23:12] dhaval24 commented on #862
@travisnielsen since you are using Application Insights Springboot starter, you would need to autowire the telemetry processor.  Just register the telemetry processor as a bean and it would be picked up by Autoconfiguration.

[code]
This would pick up your filter and auto configure it.
you should be able to put this bean in : https://github.com/travisnielsen/appinsights-spring-boot-demo/blob/maste

[2019-03-17 23:15] dhaval24 commented on #858
This makes sense @littleaj.AI-Java SDK code base doesn't use Thread.stop() anywhere but it can be likely that one of the dependency might still be using it. We can continue to catch this for now.

Will close this issue.

[2019-03-17 23:15] #858 closed

[2019-03-18 00:00] travisnielsen commented on #862
That works! I'll make a PR to update the documentation. Is it safe to assume values for the filter configuration should be placed in a custom setting in application.properties?

[2019-03-18 01:19] dhaval24 commented on #862
@travisnielsen I didn't quite get your question. Do you mean how can you specify the url's to be excluded via application.propertiers?
There is no configuration available in SDK that will pick the configuration for processor. You have to pretty much write this in the code. If you want to get that functionality you would have to write the code to pick the value from application.properties and set i

[2019-03-18 01:41] travisnielsen commented on #862
Yes. That's what I was asking. Your answer makes sense. Thanks for your help!

[2019-03-18 01:41] #862 closed

[2019-03-18 07:32] AlexIvan2 commented on #837
Hello @dhaval24, Thank you very much for your assistance!

[2019-03-18 09:42] rabbboudi commented on #857
@dhaval24 : Thank you for the update. Can you please tell me which version of the driver I have to use to make it work ?

[2019-03-18 09:59] rabbboudi commented on #857
@dhaval24 : Tested other drivers. It works fine with mysql-connector-java-5.1.36 but not mysql-connector-java-6.0.6.

[2019-03-18 14:40] travisnielsen commented on #857
Confirmed the same issue with Java Spring Boot Starter, which does not work with 6.0.6.

[2019-03-18 14:58] dhaval24 commented on #857
@rabbboudi @travisnielsen makes sense. The instrumentation in the agent is for Class.forName("com.mysql.jdbc.Driver"). The agent has missing instrumentation for
com.mysql.cj.jdbc.Driver. Clearly it seems that since MySQL Connector 6 the Driver class is refactored into another namespace called cj.

https://github.com/Microsoft/ApplicationInsights-Java/blob/658347843c177c86b464fe3f131a2fb0abddb991/a

[2019-03-18 15:13] dhaval24 commented on #837
No problem @AlexIvan2 . Glad it worked out. Will be closing this issue, please reopen other issues if you find problems.

[2019-03-18 15:13] #837 closed

[2019-03-18 23:17] littleaj opened #863 "SelfMode cannot find TelemetryCorrelationUtils"
Found testing #860.

### Expected behavior
"SelfMode" should be allow dependency collection in applications without the request filter, e.g. standalone applications, "worker role" web applications

### Actual behavior
When `<SelfMode>` is enabled , and the HTTP instrumentation code is hit, an exception is thrown.

### Reason
This is because the HTTP instrumentation uses `TelemetryCorrelationUtils`

[2019-03-19 14:10] stevenleadbeater commented on #674
I have this working locally with Java 11. Please give me permission to create a branch in this repo and I'll raise a PR

[2019-03-19 14:21] timja commented on #674
@stevenleadbeater you can fork the repo and send a PR

[2019-03-21 06:02] littleaj commented on #721
I think I found a solution. Creating a PR.
https://github.com/Islandora-CLAW/CLAW/issues/689

[2019-03-21 20:01] ifle opened #867 "Support Spark Web Framework"
I have a project that use the spark web framework
https://github.com/perwendel/spark.
How to integrate the ApplicationInsights to spark?

[2019-03-21 20:39] littleaj commented on #867
@ifle, I know of one other user using our SDK in a Spark Application. So, I know it can be done. I'll follow up here when I have more information on how to enable it.

[2019-03-21 20:42] littleaj opened #868 "Update CONTRIBUTING.md build instructions"
The contributing guide is very minimal. There should be more information on how to get started building and contributing to ApplicationInsights-Java. Let's use this issue to discuss what we'd like to see there.

https://github.com/Microsoft/ApplicationInsights-Java/blob/master/.github/CONTRIBUTING.md

[2019-03-21 21:21] cijothomas commented on #868
We have some guides for .NET SDK repos. You can refer it and offer any suggestions .
https://github.com/Microsoft/ApplicationInsights-dotnet/blob/develop/.github/CONTRIBUTING.md
https://github.com/Microsoft/ApplicationInsights-aspnetcore
https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/CONTRIBUTING.md

[2019-03-21 21:22] ElliotZhang opened #869 "Option to conceal SQL connection detail"
**Problem**
In some business cases App Insight users might not want to disclose the SQL connection details. However, as per current App Insight agent implementation the SQL dependency uses the whole SQL connection string as name.
We currently using a workaround of TelemetryInitializer to manually setting the name the SQL dependency telemetry, but it would be nice if App Insight support this out of

[2019-03-21 21:36] littleaj commented on #868
Some bugs in the current doc:

To be more clear, [this section](https://github.com/Microsoft/ApplicationInsights-Java/blob/master/.github/CONTRIBUTING.md#getting-started) should add dot slash to the build command `./gradlew build`

[This section](https://github.com/Microsoft/ApplicationInsights-Java/blob/master/.github/CONTRIBUTING.md#using-eclipse-ide) should use `./gradlew` and specify which ver

[2019-03-21 21:46] littleaj commented on #869
A very good point. We will investigate alternatives.

[2019-03-21 22:38] dhaval24 commented on #868
Currently, the build isn't very friendly on non windows devices. Especially Mac OS. I had to hack around to disable native portion from building, but still constantly saw some tests fail.

[2019-03-22 03:10] dhaval24 commented on #868
I would also suggest that this guide should be in root directory. Currently it is in .github folder which makes it very hard to be discovered.

[2019-03-22 03:14] dhaval24 commented on #869
@ElliotZhang fair point. Please feel free to contribute if you would like to. We welcome all contributions :)

[2019-03-22 03:17] dhaval24 commented on #867
@ifle I think that you should be able to use Applicationinsights core sdk api's to manually collect telemetry. Our web sdk currently supports servlet stack and we have springboot integration with applicationinsights springboot starter.
There is no immediate plan to have automatic instrumentation for spark framework, however we encourage and accept contributions. So feel free to raise a PR and we c

[2019-03-22 12:20] nuclear0wl commented on #802
Hello all, I was faced with the same issue. @dhaval24 and @jeeveshpandey14 do you have any updated?

[2019-03-22 15:08] dhaval24 commented on #802
@nuclear0wl thanks for asking. Would it be possible to provide a small repro to investigate this further?

[2019-03-22 16:04] nuclear0wl commented on #802
We are trying to run our spark streaming application and send driver/executors logs into Application Insights service.
Our architecture consists of several modules:
1. main "application.jar" file aka spark streaming application
2. "application-insights-client.jar" file, that includes applicationinsights-logging-log4j1_2 dependency, MyCustomContextInitializer class and ApplicationInsights.xml file.

[2019-03-22 20:10] dhaval24 commented on #802
@nuclear0wl it looks like you are not packaging `applicationinsights-core` jar. Can you please confirm whether you have core as well as logging dependency in the project?

[2019-03-24 21:20] marceloverdijk commented on #790
Is there an update on this?
I’m using Micronaut (based on Netty) and would like to setup trace logging using Application Insights.
As Netty has no notion of a `java.servlet.Filter` I’m not able to setup the integration unfortunately - as from the docs the integration is based on `Java’s.servlet.*`.

[2019-03-25 04:47] dhaval24 commented on #790
@marceloverdijk unfortunately, there is still no update on this. However, this feature is definitely on our backlog to support Netty.  If you are open to submit a PR, we would welcome your contribution and I can help review the code and ensure a successful contribution.

Currently the web integration is based on servelet stack. However, you ca definitely track the requests manually by using `Telem

[2019-03-25 04:51] dhaval24 commented on #444
This should be fixed now with #830

[2019-03-25 04:51] #444 closed

[2019-03-25 04:52] dhaval24 commented on #444
@rpiotrow @mjrousos the fix should be available in the upcoming release. I will also publish code sample on how to propagate context for async requests.

[2019-03-25 04:57] dhaval24 opened #871 "Refactor correlation classes in core package"
Currently all the correlation related modules and the context class resides in Web SDK. This should be refactored inside the core sdk as it is critical to have correlation be a part of core sdk.
1. This will help in correlating manually tracked dependencies inside standalone applications which do not rely on websdk.
2. Help Agent run in self mode.

#863

[2019-03-25 07:29] marceloverdijk commented on #790
@dhaval24 thx for the feedback.
I will look into the `TelemetryClient.trackRequeust()`

Does the trace logging via Logback as described here https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-trace-logs work without the http filter?

That links refers to the http filter, so it's not clear what is needed to setup this trace logging.

[2019-03-25 08:53] nuclear0wl commented on #802
@dhaval24 we use jar `applicationinsights-logging-log4j1_2` as dependency, it's already contains `applicationinsights-core`.

[2019-03-25 14:57] dhaval24 commented on #802
@nuclear0wl yes, it looks like ApplicationInsights.xml is being ignored. It might be due to how spark application bootstraps. Please turn on the SDKLogger by adding the tag:
`<SDKLogger />` in the ApplicationInsights.xml and see if you get any console logs. If you are not getting any console logs, that means probably yes the config file is getting ignored and we might need more debugging in this c

[2019-03-25 15:00] dhaval24 commented on #790
@marceloverdijk yes log4j and logback would work without http filter. They have no dependency on it.

[2019-03-25 15:05] nuclear0wl commented on #802
@dhaval24 we've already done that and didn't receive any logs. Also, this solution works properly on Azure HDInsight and we don't mind why it isn't fits Azure Databricks.
Also, we've set property `Dapplicationinsights.configurationDirectory` and that also don't work.

[2019-03-25 18:07] marceloverdijk commented on #790
@dhaval24 that sounds promising! I have some further questions related to the setup in that case, but I don't think it's best to hijack this issue for that. Should I create a new issue with the question, or is there another channel that I can use best?

[2019-03-25 18:09] dhaval24 opened #872 "Improve Retry Mechanism for CDS Profiler Fetcher"
Currently the CDS Profile fetcher only retries for 3 times. If the call fails there retries never happens. This forces the users to restart the application in-order for calls to happen next time.

Proposed Solution: Improve the retry logic for CDS Profile Fetcher
1. Clear the cache of AppId : Ikey mapping every day, and refetch it.
2. If the initial 3 retries fail, the exception should be thrown o

[2019-03-25 22:51] reyang opened #873 "Align AI SDK Diagnostic logging levels to standard java logging levels"
**Here goes the original words from the customer**

This is a requested feature and i am hoping for some feedback as I am not at all familiar with Java. Thanks

add support for standard log levels in Java (https://en.wikipedia.org/wiki/Java_logging_framework). Most of the time we leverage SLF4J and / or Logback libraries and these tie nicely into Application Insights. Unfortunately App insights is

[2019-03-26 00:12] dhaval24 commented on #873
This is because when SpringBoot autoconfig mechanism calls: https://github.com/Microsoft/ApplicationInsights-Java/blob/230ed8807bf3e8aa62093df0b426b7a9f704231e/azure-application-insights-spring-boot-starter/src/main/java/com/microsoft/applicationinsights/autoconfigure/ApplicationInsightsProperties.java#L517
It tries to find a matching level in the `LoggingLevel.java` class. When a different loggin

[2019-03-26 04:13] dhaval24 commented on #790
@mercer yes please create a new issue for it. This issue is mostly to track Netty and WebFlux support :)

[2019-03-26 11:42] marceloverdijk opened #878 "How and what to configure for logback logging in Netty server"
@dhaval24 this is the follow up from https://github.com/Microsoft/ApplicationInsights-Java/issues/790

I ended up on https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-trace-logs to configure Java logging using Application Insights.

The page mentions to include the `com.microsoft.azure:applicationinsights-logging-logback` dependency and add the appender to `logback.xml`.

The page _als

[2019-03-26 14:52] dhaval24 commented on #878
@marceloverdijk in order to use `applicationinsights-logging-logback` appender and send logs to azure monitor, you do not need to have `applicationinsights-web` dependency.
You can set instrumentation key using  environment variable `APPLICATION_INSIGHTS_IKEY=your-ikey`.

[2019-03-26 16:24] travisnielsen opened #879 "Creating ChildTraceParent retuns 'null' when running in Kubernetes"
### Expected behavior
I'm working with @dhaval24 on an approach to set correlation between message queue consumers / producers as discussed in issue #764. My approach is based on [this sample application](https://github.com/dhaval24/OrderManagement).

Telemetry correlation works 100% locally on my laptop and also locally when running in Docker. My expectation is this would work the same in Kuberne

[2019-03-26 18:22] marceloverdijk commented on #878
Thx a lot for the feedback!

[2019-03-26 18:22] #878 closed

[2019-03-27 08:53] poyger commented on #872
I think once a hour is better default, also good if it could be configurable

[2019-03-27 09:48] SirWayne opened #880 "Spring Boot Logback send no logs to application insights"
Currently with logback i see no tracing events in application insights. I use the latest version of the SDK.

My spring logback xml looks like

[code]

My pom.xml

[code]

And set the ky in the application.properties

`azure.application-insights.instrumentation-key`

I set breakpoint at ApplicationInsightsAppender#setInstrumentationKey and saw this method is never executed. But the LogTelemetryCli

[2019-03-27 10:06] SirWayne commented on #880
Found this solution

[code]

[2019-03-27 14:07] dhaval24 commented on #872
@poyger I like the idea of keeping it configurable.

[2019-03-27 14:10] dhaval24 commented on #880
@SirWayne thanks for opening the issue and mentioning the workaround. It looks like for some reason logback appender is not getting the ikey by default. Workaround should work fine and would be fully functional, however worthwhile for an investigation - why ikey is not getting picked by default.

[2019-03-27 14:11] dhaval24 commented on #879
Thanks @travisnielsen for opening the issue. Let's investigate this further.

[2019-03-27 14:13] dhaval24 commented on #873
@reyang I renamed this issue to a better title and assigned an enhancement tag to it.

[2019-03-27 14:22] dhaval24 commented on #831
This should be fixed with #860 . @dslack if you would like to try this, you can build the latest master and see if the problem is resolved. We will be releasing beta version of the new sdk with this capability by the end of this month.

[2019-03-27 23:52] dhaval24 opened #882 "Dependency Metrics do not show up on LiveMetrics"
Quickpulse data sender currently has an empty implementation of `addDependency()` method and hence no dependency metrics are visible on Quickpulse UI. They stay flat.

[2019-03-28 06:01] #882 closed

[2019-03-28 13:54] MelleD opened #884 "Instrumentation key is not working with key vault"
Iam not sure if this a issue of this project or this one (https://github.com/Microsoft/azure-spring-boot/blob/master/azure-spring-boot-starters/azure-keyvault-secrets-spring-boot-starter/README.md). Maybe a combination.

I set directly some properties (e.g.  spring.datasource.url) into a key vault.
So far this has always worked. But for the application insights instrumentation key this is not work

[2019-03-28 15:09] travisnielsen commented on #879
Whatever is causing this, it appears to be resolved in the current master branch of the SDK.  After building from latest and switching to...

[code]
...and subsequent deployment to AKS, I now see the correlation data flowing.

![image](https://user-images.githubusercontent.com/3196834/55168542-02033700-5141-11e9-94e1-ea2106a7a056.png)

[2019-03-28 16:15] thiyagu-7 commented on #859
I would like to work on this

[2019-03-28 16:20] dhaval24 commented on #884
@SirWayne I am not sure if I fully understand this. From the stack trace I am not seeing this conversion.

The best way to debug here can be to have a small repro of the scenario.

[2019-03-28 17:55] SirWayne commented on #884
You need an key vault on azure to reproduce this bug.
It's simple take the azure key vault starter + the insights starter and add the instrumenation key into  a key vault instead of the application.properties.

In key vault names you cannot use dots see the IMPORTANT part here https://github.com/Microsoft/azure-spring-boot/blob/master/azure-spring-boot-starters/azure-keyvault-secrets-spring-boot-s

[2019-03-28 18:50] travisnielsen commented on #879
Just to double-check, I reverted back to the current release SDK and was unable to reproduce this issue. Whatever the issue was it, appears to have been specific to my environment at that specific time. I can no longer reproduce it so I'm closing this issue.

[2019-03-28 18:50] #879 closed

[2019-03-28 20:15] dhaval24 commented on #859
@thiyagu-7 please feel free to fork the repository and send a PR :)

[2019-03-28 20:16] dhaval24 commented on #884
@SirWayne thanks. I will try to reproduce this locally and update the issue as per the findings.

[2019-03-28 21:42] littleaj commented on #873
@reyang @dhaval24 `DEBUG` is a common log level setting in other logging frameworks. I actually did this when I first used the SDK. I don't think there's a standard for us to adopt. I've see some other frameworks that use use `FINE`, `FINER`, `FINEST`.

To resolve this bug, the SDK should not throw if the log level is incorrect. It should have a default. `INFO` is a good default, IMO.

[2019-03-28 21:46] littleaj commented on #873
I see now that it was SpringBoot which attempted the parsing. I say we change this: https://github.com/Microsoft/ApplicationInsights-Java/blob/230ed8807bf3e8aa62093df0b426b7a9f704231e/azure-application-insights-spring-boot-starter/src/main/java/com/microsoft/applicationinsights/autoconfigure/ApplicationInsightsProperties.java#L463 to be a `String` and parse it ourselves.

[2019-03-28 21:50] SergeyKanzhelev opened #886 "Would it make easier to discover if springboot sample will be moved to https://github.com/Azure-Samples?"
Subj

[2019-03-28 22:00] dhaval24 commented on #873
I agree if there is a way to prevent throwing then we should.

[2019-03-28 22:00] littleaj commented on #886
@SergeyKanzhelev Maybe. Should it be in both?

[2019-03-28 22:02] SergeyKanzhelev commented on #886
just one. I think Samples would be a better place. And it will be clean as it will eliminate any cross dependencies to actual code of SDK like end users use it.

[2019-03-28 22:02] dhaval24 commented on #886
Would it be better to have more complex and complete example on Azure-Samples? For example this:
https://github.com/dhaval24/OrderManagement/

[2019-03-28 22:04] littleaj commented on #886
@SergeyKanzhelev Sounds good to me.

@dhaval24 I'd say put both there, if possible

[2019-03-28 23:20] SergeyKanzhelev commented on #886
let me know if you need help setting those repositories up. Should be quite straightforward. Thank you!

[2019-03-29 02:42] lmolkova opened #889 "Provide internal SDK versions for auto-collected telemetries"
As discussed offline, for debugging and usage statistics we want to understand more about how telemetry was captured.

Currently, we have the following SDK version that we set: https://github.com/Microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/SDK-VERSIONS.md

Java today report everything under "java:version" SDK version.

I've gone through all places we create `TelemetryClient`, but

[2019-03-29 03:52] littleaj commented on #889
Setting different values for the various dependencies may be possible

[2019-03-29 03:58] thiyagu-7 commented on #859
Yes. Thanks.
I'll go through the repo to find the places where I have to replace _try..catch..finally_ with Try-With Resource block first (if you already don't have the list already)

[2019-03-29 06:22] dhaval24 commented on #889
@lmolkova we also have Micrometer for automatically collecting metrics and aggregation.It uses "java:micrometer" as the SDK-Version. Here is the link to the code:
https://github.com/micrometer-metrics/micrometer/blob/38e39c965c88a05a1f2f91ef72248aff8607a6d9/implementations/micrometer-registry-azure-monitor/src/main/java/io/micrometer/azuremonitor/AzureMonitorMeterRegistry.java#L49
Would you update

[2019-03-29 06:31] SergeyKanzhelev commented on #889
@dhaval24 please send PR to the home repo

[2019-03-29 08:56] SirWayne commented on #884
It's not a big issue for us, because now we set the env `APPLICATION_INSIGHTS_IKEY ` in the kubernetes secret instead of a key vault.

This works.

[2019-03-29 15:44] dhaval24 commented on #889
@SergeyKanzhelev there is no special prefix for micrometer metrics telemetry. We just send it with "java:micrometer" where micrometer is the sdk version. It was done in this way because: We are only interested in telemetry coming from Micrometer extension. Whether it was coming from a specific version of micrometer was of little interest (atleast at the time of designing this work).

With that in

[2019-03-29 15:47] dhaval24 commented on #884
@SirWayne got it. Thanks for the update. Probably worth while to create a issue on https://github.com/Microsoft/azure-spring-boot/blob/master/azure-spring-boot-starters/azure-keyvault-secrets-spring-boot-starter repo as this seems to be a fundamental design concern of keyvault. Given that we already have a dash in the syntax of the property (`azure.application-insights.instrumentation-key`) it wou

[2019-03-29 15:57] littleaj commented on #889
I removed the "logging" row. That's the common lib for log4j and logback

[2019-03-29 15:59] SirWayne commented on #884
Yes i don't like the conversion. It would be better, that we can use dots for a key vault name

[2019-03-29 17:07] dhaval24 commented on #859
@thiyagu-7 go ahead :)

[2019-03-29 19:13] iadir opened #891 "Metrics don't upload correctly on short-running applications"
### Expected behavior
Client should properly drain the queue and upload metrics when app execution ends.

### Actual behavior
On a short running application, the client doesn't have enough time to upload the metrics before the app shuts down.

### To Reproduce
- Call .trackMetric() right before application execution ends

### System information
Please provide the following information:
 - SDK Vers

[2019-03-29 19:14] lmolkova commented on #889
@littleaj

logging still constructs telemtery client and tracks telemtery. So we should assign something. I am I missing anything?

[2019-03-29 19:19] littleaj commented on #889
@lmolkova it will be covered in the log4j2, log4j1_2 and logback cases. they all use the same classes from the 'logging' project, but it doesn't report anything as a separate entity.

[2019-03-29 19:20] lmolkova commented on #889
so the code that reports telemtery there is a dead code that is never executed?

[2019-03-29 19:28] littleaj commented on #889
no, it's a dependency of the 3 logger adapter implementations.

[2019-03-29 19:34] lmolkova commented on #889
so then we should pass SDK version from the implementation to this common code, right? So it probably just shouldn't create a client and get it from specific implementation.?

[2019-03-29 19:35] littleaj commented on #889
oh i see. the no-arg constructor isn't used. it should be removed.
so the adapter implementations will provide their own client with the prefix appropriately set.

[2019-03-30 03:42] dhaval24 commented on #891
This is expected and by design. You can try to reduce the buffer flush time to 1 second. However, it is still possible that a sigkill / system.exit(0) command happens and you force stop the thread responsible to send telemetry. Best is to wait a few seconds based on flush interval before letting program exit.

[2019-03-31 18:26] dhaval24 commented on #831
@dslack this should be fixed now.  The latest release: https://github.com/Microsoft/ApplicationInsights-Java/releases/latest has this fix. Please use:
1. Application Insights Springboot starter 1.2.0-BETA
2. Application Insights Java Agent 2.4.0-BETA
Please follow this article on additional changes which needs to be done in the code base for context to propagate properly.
https://github.com/Micros

[2019-03-31 18:26] #831 closed

[2019-04-01 16:16] littleaj opened #892 "TransmissionHandlers do not give enough information when 500s returned from ingestion endpoint"
When `TransmissionHandler.onTransmissionSent` is called and the response code is 500/503/408 there is no information logged about the error itself:

https://github.com/Microsoft/ApplicationInsights-Java/blob/40809cb6857231e572309a5901e1227305c27c1a/core/src/main/java/com/microsoft/applicationinsights/internal/channel/common/ErrorHandler.java#L40-L52

The only logs are from the other handlers stati

[2019-04-01 16:35] littleaj commented on #867
@ifle My previous comment was about Apache Spark, which is something different and unrelated. My apologies.

Regarding the Spark Web Framework, since it's Servlet-based you should be able to add the SDK's request filter, `WebRequestTrackingFilter`. I wasn't able to find an explicit example of this, but you may find this issue helpful: https://github.com/perwendel/spark/issues/1089

`applicationins

[2019-04-01 16:56] littleaj opened #894 "Remove/suppress "Backoff has been reset" log message"
https://github.com/Microsoft/ApplicationInsights-Java/blob/71d58c4a45afe8b8df286a61db49de36e4405012/core/src/main/java/com/microsoft/applicationinsights/internal/channel/common/TransmissionPolicyManager.java#L129-L133

This log message should, at the very least, be a `TRACE`, but at this point I'm voting to remove. During testing, logs get flooded with this. I don't find it useful.

Perhaps it cou

[2019-04-01 18:16] prabhushrikant opened #895 "Seeing NullPointerException on latest 2.4.1-Beta version"
### Expected behavior
- Controller tests should pass but instead started receiving Nullpointer exception.

### Actual behavior
java.lang.NullPointerException at com.microsoft.applicationinsights.web.internal.WebRequestTrackingFilter.doFilter

### To Reproduce
- Write a simple controller test
- Try to execute the same

[code]

#### Sample Application
If applicable, provide a sample application whic

[2019-04-01 23:07] prabhushrikant commented on #895
I will tonight.

[2019-04-02 02:45] ElliotZhang commented on #674
@stevenleadbeater can you create a PR? I've also looked into this but Java agent in JDK 11 hasn't been able to send anything.

[2019-04-02 07:02] stevenleadbeater commented on #674
@elliotzhang I was going to make a PR when they let me push my changes to a branch in this repo. Instead they've asked me to fork it and do it that way. I know its only a 10 minute job, but now I have the code done I have other things to be doing. I've built the jar, it seems to work for us, so we loaded it into our own maven repo. I'll see if I can find the time to port the code some time soon

[2019-04-02 13:54] dhaval24 commented on #674
@stevenleadbeater apologies if there was any confusion here. We are always very happy to accept contributions.

By meaning to “fork the repo and send the pr” I just want to clarify that it meant sending a PR to origin repo from your fork. In that way you do need a permission to create a branch in origin repo.

I would be very happy if you make this contribution!

[2019-04-02 15:27] stevenleadbeater commented on #674
@dhaval24 No, there is no confusion. I know what you want. Like I said though, my team is unblocked by this as we have our own jar in our own maven repo now. I've got a lot on my plate at the moment and shifting the origin to another repo pushing it up and doing all the admin like tasks of getting it in to a PR from a forked repo has just taken a back seat to other things. I'll get to it when I ca

[2019-04-02 16:27] dhaval24 commented on #895
@prabhushrikant this is expected. The Spring MVC Test suite is not meant to test the filter chain as well. It doesn't call the `init()` method of the WebFilters and therefore the `WebRequestTrackingFilter` throws NPE.
You can do either of the following to fix this behavior:
1. Add a setup method in your current code which relies on MockMvc for tests.

[code]
Or instead of relying on MockMvc use th

[2019-04-02 16:27] #895 closed

[2019-04-03 08:51] J4cku opened #897 "Application Insight Java Agent does not work with Java 11"
### Expected behavior
I expected Application Insight Java Agent work fine with Java 11 application

### Actual behavior
Java process exits with 255 exit code running application like:
java -javaagent:applicationinsights-agent.jar -jar my-app.jar
Used openjdk 11.0.2 with spring-boot 2.1.3
Appinsight both 2.4.0-BETA and 2.3.1

### To Reproduce
package spring-boot 2.1.3 app with applicationinsights-s

[2019-04-03 15:02] dhaval24 commented on #674
@stevenleadbeaeter totally understandable and appreciate your explanation. Regarding support for JDK 7 and 8, we definitely would have to keep supporting them for a while as Microsoft does support those versions and many users and enterprises are still on JDK 8. If there is no better way, we might create 2 jars.

With that in mind: would you mind elaborating the set of changes you had to do to mak

[2019-04-03 15:03] dhaval24 commented on #897
This is a a known issue and we have this enhancement in our backlog. I would be closing this in favor of common issue:  https://github.com/Microsoft/ApplicationInsights-Java/issues/674 Please upvote there and feel free to contribute to the repo as well if you would like to :)

[2019-04-03 15:03] #897 closed

[2019-04-03 15:29] SergeyKanzhelev opened #898 "Apache HTTP Client generates lot of "http-outgoing-0 << "[read] I/O error: Read timed out""
Using apache logs:

[code]

You can see it in idea when enable breakpoint on exception:

![image](https://user-images.githubusercontent.com/9950081/55491571-90b4ff80-55ea-11e9-8eeb-3c3164618015.png)

It seems to be caused by this issue:
https://stackoverflow.com/questions/34513826/apache-http-client-prints-read-i-o-error-read-timed-out

[2019-04-03 16:10] piotrzaremba opened #899 "TelemetryConfiguration.CreateFromConfiguration()"
Can the following method be ported from the .net SDK into the java SDK to allow a user to set the path to the configuration file instead of deferring to ./ApplicationInsights.xml.

[2019-04-03 17:18] piotrzaremba opened #900 "RemoteDependencyTelemetry causes com.sun.jdi.InvocationException."
SDK Version: 2.3.1

Configuration:

TelemetryConfiguration.getActive().getChannel().setDeveloperMode(developerMode);
TelemetryConfiguration.getActive().setInstrumentationKey(applicationInsightsKey);
TelemetryClient telemetryClient = new TelemetryClient();
QuickPulse.INSTANCE.initialize();

Issue:

RemoteDependencyTelemetry telemetry = new RemoteDependencyTelemetry();

Causes:

com.sun.jdi.Invocati

[2019-04-03 17:25] piotrzaremba commented on #900
SDK Version: 2.3.1

[2019-04-03 22:22] dhaval24 commented on #898
It appears that most of these Timeouts are happening when QuickPulse is turned on. When Quickpulse is disabled either there are no timeouts or there are just one or two. I am investigating more.

[2019-04-04 15:45] dhaval24 commented on #899
@piotrzaremba regarding this (https://github.com/Microsoft/ApplicationInsights-dotnet/blob/91e9c91fcea979b1eec4e31ba8e0fc683bf86802/src/Microsoft.ApplicationInsights/Extensibility/TelemetryConfiguration.cs#L291)

Today we already have three ways to initialize the configuration object:
1. via XML
2. via Springboot Autoconfiguration.
3. `new TelemetryConfiguration()`

I really do not want to add the

[2019-04-04 15:45] dhaval24 commented on #899
@reyang @littleaj what's your take on this?

[2019-04-04 16:28] dhaval24 commented on #900
@piotrzaremba I haven't seen this issue myself. It would be great if you can give a small repro of the same.

[2019-04-04 21:37] piotrzaremba commented on #899
@dhaval24 so I know how to do this in the .net version which has the method I mentioned but how do I do it in the java version where the xml file resides in some folder structure e.g. /app/ai/myconfigs/ApplicationInisghts.xml

[2019-04-05 01:38] vincpa opened #902 "Support for Jersey projects"
**Is your feature request related to a problem? Please describe.**
I am unable to instrument my Java application with Application Insights using the existing documentation on the Microsoft Docs website.

**Describe the solution you would like**

An article or instructions on adding AI to a Java Jersey application

**Describe alternatives you have considered**

None at this stage.

**Additional con

[2019-04-08 12:35] katafractari commented on #902
+1

[2019-04-11 23:24] vincpa opened #911 "Support for Java Jersey based applications"
I have instrumented a front-end and Node based app on Express JS and now I'd like to instrument my Java based application written in Jersey. Unfortunately, I can't find a single blog post or article on how to do this.

I should also add that I am looking at this from a DevOps perspective and don't have the knowledge to do this in Jersey. I'd like to add a code snippet somewhere and have it instrum

[2019-04-12 17:34] cy33hc opened #907 "JDBC Telemetry on explain plan is filter on uppercase "SELECT" only"
### Expected behavior
JDBC telemetry should filter on query with mixed case "SELECT" cmd

### Actual behavior
Filtering only on uppercase "SELECT"

### To Reproduce
enable jdbc telemetry in AI-Agent.xml. Then create a slow jdbc query with lowercase "select" to activate the explain plan.

#### Sample Application
See the code from application insights.

https://github.com/Microsoft/ApplicationInsigh

[2019-04-12 19:57] cy33hc commented on #722
@dhaval24 We have also enabled SQL telemetry with Azure SQL Server and getting the same exception. I'm on AI 2.1.1

[2019-04-16 02:27] raedur opened #910 "RootIds generated by TelemetryCorrelationUtils can be < 32 characters"
### Expected behavior
Traceparent.validate doesn't throw an exception on generated traceIds

### Actual behavior
Traceparent.validate sometimes throws an exception on generated traceIds if they are not 32 characters long

Traceparent.validate requires traceIds to be 32 characters long, however those created by TelemetryCorrelationUtils are not guaranteed to be 32 characters long, the current code

[2019-04-16 19:08] dhaval24 commented on #910
@raedur thanks for opening the issue.  I am curious when do you see this behavior. Have you turned on W3C for both agent and sdk?

[2019-04-16 19:09] dhaval24 commented on #907
@cy33hc thanks for opening this issue! This is a bug and should be fixed!

[2019-04-17 02:43] Flanker32 commented on #674
@dhaval24 I add the dependency in project to enable application insights in maven plugin with java 11 , it works but no telemetries was sent. Then i found there is an exception when read instrument key from application insights.xml, it throws an exception. And when i remove the xmlns in config xml, it could work, but it failed again with java 8 , it seems that schema differs in jre8 and java11 wit

[2019-04-17 16:25] dhaval24 commented on #722
@cy33hc would you please try to upgrade to the latest AI SDK (2.4.0-BETA) and see if your issue persists?

[2019-04-17 16:36] dhaval24 commented on #674
@Flanker32 I am a bit confused. Could you please elaborate which version of Jaxb you referenced and did you found any reference on web which mentions that schema has changed for Jaxb in JDK 11. I would love to learn the details here.

[2019-04-18 01:36] Flanker32 commented on #674
@dhaval24  It works well in JDK11, however, the same code failed in java8 and throw an exception `unexpected element (uri:"", local:"ApplicationInsights"). Expected elements are <{http://schemas.microsoft.com/ApplicationInsights/2013/Settings}ApplicationInsights>]`.

The exception only exist when I run the code within a maven mojo, I created a java project and run the [code](https://github.com/Mic

[2019-04-23 12:37] nuclear0wl commented on #802
Hello all, we've found root cause of considering issue. Particularly, we don't have pre-delivered jaxb on our Databricks cluster, however we have listed below dependencies on HDInsight cluster out of box.

At first, we can read ApplicationInsights.xml file, but without jaxb library we can't parse it.
Moreover, we can't turn on SDKLogger without jaxb.

So, adding of this dependencies solves our iss

[2019-04-23 18:26] thiyagu-7 commented on #859
@dhaval24 I'm just starting on this.

Transforming old *try..catch..finally* to *try-with-resources* style means we no longer close the resources which means we cannot catch the exceptions from the close method.
1) This means that the existing log messages (and calls to logPerfCounterErrorError) in the finally block can no longer be supported.

2) Also, if the close throws an exception and if the

[2019-04-24 07:35] raedur commented on #910
This is not using the javaagent, just the sdk. I'll have to double check if W3C is on, but the function should probably be fixed anyway, for now in my code I have created an interceptor that generates the root Id instead of letting application insights do it.

[2019-04-25 22:00] SergeyKanzhelev commented on #911
https://docs.microsoft.com/azure/azure-monitor/learn/java-quick-start

[2019-04-26 15:53] dhaval24 commented on #911
@SergeyKanzhelev thanks for the link. @vincpa you can refer this https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started as generic documentation for instrumenting java web apps. Though this is not specifically for Jersy, it should still give some idea.

[2019-04-27 01:02] littleaj commented on #898
#903 was breaking some integration tests; reverting.

[2019-05-01 19:46] jtviegas opened #915 "can't launch java spring boot app with javaagent on azure windows vm"
### Expected behavior
launching java app jar with app azure insights agent using java command in the windows vm (azure kudu debug console), it should start the spring boot app correctly:
`"%JAVA_HOME%"\bin\java.exe -Dserver.port=%HTTP_PLATFORM_PORT% -javaagent:"%HOME%"\site\wwwroot\applicationinsights-agent-2.4.0-BETA.jar -DAPPLICATION_INSIGHTS_IKEY=a055827f-a797-474f-b3e6-21be57d7fc47 -jar "%HOME

[2019-05-03 17:32] littleaj opened #919 "access violation from jni"
### Expected behavior
Duplicate performance counter registrations are handled gracefully.

### Actual behavior
This error from the unit tests:
[code]

### To Reproduce
I was able to reproduce yesterday, but now I can't. It was happening just from running the unit tests. I have been working with the native build tools and changing several different things in that area, so I think I may have just bu

[2019-05-03 17:59] littleaj commented on #794
IBM jre has this defined and `os.arch` won't work (that's the property for the OS, not the JRE). Closing

[2019-05-03 17:59] #794 closed

[2019-05-04 07:58] DJLemkes commented on #802
Ran into the same kind of issue when using this library in a Scala project. Everything worked fine until we started packaging our application into a Docker container running OpenJDK 11.

As of Java 11, the [JAXB dependencies should be included manually](https://www.jesperdj.com/2018/09/30/jaxb-on-java-9-10-11-and-beyond/). Because we let SBT compile with Java 8 (as is recommended), this resulted i

[2019-05-05 23:41] ElliotZhang commented on #674
@Flanker32 can you share your environment settings. I removed the xmlns in ApplicationInsights.xml but then all tracings were off, even the web req operations that used to work (in JDK 11).
I am using Wildfly 16, application insight (core and agent) version 2.4.0-BETA, Oracle JDK 11.02

[2019-05-06 15:23] gondar commented on #482
Is there any news on this issue @dhaval24 we just recently found out that not all exceptions are logged to application insights. That was very confusing for us. Simple reproduction is just trying to log stackOverflow exception e.g compare following:
`public void logStackOverflow() {
        try {
            doInfiniteLoop();
        } catch (StackOverflowError ex) {
            log.info("Logging

[2019-05-06 17:01] dhaval24 commented on #482
@gondar I have responded on the @vlev 's PR. @littleaj / @trask might have more context and can help you more : Let me know if the processor example provided there works for you.

[2019-05-06 20:59] lmolkova commented on #868
also document WIN_SDK_LIB_PATH

[2019-05-08 07:05] littleaj opened #922 "Rewrite sample application subprojects"
Current `/samples` subproject is not representative of actual usage. For example, you shouldn't attempt to use Log4j 1.2, Log4j 2 and Logback in the same project. The current `AiLogger` sample "app" does this and since the gradle 5 upgrade, the changes to dependency resolution broke its compilation.

#921 disables building the samples by default, and adds a flag to enable building the samples subp

[2019-05-08 16:34] littleaj opened #923 "Add remote debugger to smoke test containers"
The idea here is that when running the smoketests locally, a port would be exposed so a remote debugger can be attached to the container.

Something like `-Xdebug -agentlib:jdwp=transport=dt_socket,address=8000,server=y,suspend=y` would need to be added to each application server container.

[2019-05-08 17:05] littleaj opened #924 "Enable HTTP client wire logging in smoketests"
This means the logging in the shaded/shadowed HTTP client. The goal is to surface any issues which arise when the SDK is sending telemetry.

https://hc.apache.org/httpcomponents-client-4.5.x/logging.html

[2019-05-09 06:27] J4cku commented on #674
Any updates on when can we expect AppInsightAgent to work with java 11?

[2019-05-09 07:29] timja commented on #674
@J4cku this PR fixes the startup issues on java 11:
https://github.com/microsoft/ApplicationInsights-Java/pull/909

Its pending some work done on the build side but I think its fairly close, subscribe to the PR for now.

[2019-05-09 21:40] ElliotZhang commented on #674
@timja I had applied this fix to make agent come up in my env but the problem is it doesn't send any telemetry. I guess there is some other blocking issue.

[2019-05-09 22:26] littleaj opened #927 "JBoss EAP 7.2 start up issue with agent"
This arose from smoke tests after upgrading from JBoss EAP 7.1 to 7.2.

### Expected behavior
JBoss EAP 7.2 should start up without exceptions when using the Application Insights -javaagent option.

### Actual behavior
An exception is thrown:
(options edited for readability)
[code]

I tried some different options and got this different exception:
[code]

### To Reproduce
Attach agent to JBoss EAP

[2019-05-13 17:38] jtviegas commented on #915
going to close this, it is actually related with the vm web.config file to kick off the vm.

[2019-05-13 17:38] #915 closed

[2019-05-14 04:07] #919 closed

[2019-05-15 01:46] Flanker32 commented on #674
@ElliotZhang Here is the pr we fix this issue https://github.com/microsoft/azure-maven-plugins/pull/610, we use AI within a maven plugin project, Application Insights 2.2.1 , Oracle JDK 11.

Issues we meet is that JAXB can't parse the configuration XML and return null which made AI lose the instrumentation key to send telemetry. You may attach to AI and set a breakpoint [here](https://github.com/m

[2019-05-15 08:31] lidkowiak opened #929 "It's not possible to turn on GCPerformanceCounter using <JvmPC name="GC" enabled="true" />"
It's not possible to turn on GCPerformanceCounter with such configuration:

[code]

Is it possible to turn it on somehow?

[2019-05-15 20:36] littleaj commented on #929
@lidkowiak, the GC performance counters should be on by default.

On what environment are you using the SDK: OS? App Server? Web Framework (e.g. Servlets, Spring)? SDK Version?

[2019-05-15 22:50] littleaj commented on #868
`WIN_SDK_LIB_PATH` was removed in favor of `APPINSIGHTS_WIN_SDK_PATH` and `APPINSIGHTS_VS_PATH`.

#918
https://github.com/microsoft/ApplicationInsights-Java/pull/918/commits/a96b53570a47c5db48336be2dcfe866dfad735c3

[2019-05-16 07:59] QiAnXinCodeSafe opened #930 "xss"
### Expected behavior
Describe what you expected to happen.

### Actual behavior
Describe what actually happened that was unexpected.

### To Reproduce
![图片](https://user-images.githubusercontent.com/39950310/57836342-0ff54000-77f3-11e9-9165-1064a8f66097.png)
When the accessed path does not exist, the program directly pastes the path into a string and returns it on the error page. The attacker may

[2019-05-20 15:44] jdubois commented on #880
I confirm the issue and the solution!

[2019-05-21 06:57] swati-rashmi opened #931 "How to configure app insights with dropwizard application"
Configuring app insights with dropwizard application

[2019-05-22 02:34] mariojunior commented on #894
+1

[2019-05-22 12:43] lidkowiak commented on #929
OS: Mac
App Server: Wildfly
SDK version: 2.1.2

I haven't found code that even create instance of GCPerformanceCounter.

[2019-05-23 03:30] a651694192 opened #934 "Spring boot tracing not work"
I just create a project which is exactly same as spring boost demo, just change from gradlew to maven, I just see requests but not dependencies in Azure insight database.

### Expected behavior
As we call a GET /trackDependencyAutomatically to our localhost server and then the handler would call another GET request to google, there should be a dependency record in the dependencies table in azure i

[2019-05-23 19:27] littleaj opened #935 "QuickPulse needs ability to change LiveMetrics endpoint"
https://github.com/microsoft/ApplicationInsights-Java/blob/5ef196e19e67f5691b5af404fe2ec0dd52049862/core/src/main/java/com/microsoft/applicationinsights/internal/quickpulse/DefaultQuickPulseDataFetcher.java#L38

This needs to be configurable so Live Metrics works in all environments. This will also make it more testable.

[2019-05-24 07:56] GeorgHoffmeyer opened #937 "Keep applicationinsights-spring-boot-starter version the same as applicationinsights-core"
currently there is a gap between the actual appinsights version and the version of the spring-boot-starter.
The version of applicationinsight and the starter should be the same, so that there is only one versioning.

[2019-05-24 10:17] abhinav-jain09 opened #938 "With spring web AI does not work"
### Expected behavior
Spring boot tomcat should start normal

### Actual behavior
Tomcat does not start

### To Reproduce
try to include the dependency

#### Sample Application
pom file looks like this
<dependencies>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter</artifactId>
            <exclusions>
                <exclusi

[2019-05-27 06:06] SirWayne commented on #884
@dhaval24 @Incarnation-p-lee
Is there an update to this issue?

[2019-05-27 08:17] swati-rashmi commented on #931
@littleaj Is there a way by which this can be done

[2019-05-27 08:47] emorozovs opened #939 "CoreAgentNotificationsHandler->fetchExplainQuery fails with Oracle driver when long query is detected"
Hi guys,

Oracle jdbc driver cannot process query with standard SQL syntax EXPLAIN SELECT <query...>. That invoked from CoreAgentNotificationHandler.fetchExplainQuery in condition when query time is more than ImplementationsCoordinator.INSTANCE.getQueryPlanThresholdInMS(). Please resolve the issue by changing the query for OracleDB to EXPLAIN PLAN FOR SELECT <query...>, or by adding feature to dis

[2019-05-28 02:50] Incarnation-p-lee commented on #884
@SirWayne
Sorry for just noticing this issue. There is one question about how you use keyvault secrets starter ? Can u add secret with name `spring.datasource.ur` to keyvault ？

[2019-05-28 08:01] SirWayne commented on #884
@Incarnation-p-lee no, this is not possible. You have to use `spring-datasource-url` but this convention is very confusing and you cannot use all combintation see key `azure.application-insights.instrumentation-key`, which is not working.

Error is in key vault is:
[code]

[2019-05-28 15:28] Incarnation-p-lee commented on #884
@SirWayne
That may be the restriction from keyvault secrets names, take your example, you cannot add `azure.application-insights.instrumentation-key` as keyvault secret name. Only `azure-applicationInsights-instrumentationKey` is valid, and respectively property `azure.applicationinsights.instrumentationkey` will be generated from property source. If you insist to keep '-' in property, it is hardl

[2019-05-29 00:00] cy33hc commented on #722
@dhaval24 I doubt it's fixed since the master code branch still executing the "EXPLAIN" cmd which doesn't exists in Azure SQL Server.

[2019-05-29 07:38] SirWayne commented on #884
Yes so you have to discuss with your key vault team about this restriction, because this will not work with spring boot properties. How i said you cannot use `applicationInsights-instrumentationKey` this will not work.

For me this is a Microsoft issue, you cannot fix this in the `azure-keyvault-secrets-spring-boot-starter`. I think you should discuss this with your key vault team about the `.` re

[2019-05-29 18:13] littleaj commented on #935
Also, need to verify configuration endpoint is configurable

[2019-05-29 18:27] littleaj commented on #938
I think this is a version conflict with the log4j2 appender and the spring boot starter. Please try with the latest version of spring boot starter, [1.1.2](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/2.3.1) and the latest log4j2 appender [2.3.1](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/2.3.1)

[2019-05-29 22:00] maxgolov commented on #939
As a temporary workaround, could you please refer to this example config:
https://github.com/Microsoft/ApplicationInsights-Java/wiki/AI-Agent.xml

and try to change
**<MaxStatementQueryLimitInMS>10000</MaxStatementQueryLimitInMS>**
   to
**<MaxStatementQueryLimitInMS>1000000</MaxStatementQueryLimitInMS>**
That way the exception is going to be avoided on longer-running SQL queries.

The proper fix

[2019-05-30 18:44] #907 closed

[2019-06-03 21:09] kilsbo commented on #722
I appreciate the response to my initial post in this matter.

However, I've pointed out in the source code what the problem actually is, and the moment when our application hit that part of this library code, creating the Exception I've given. Therefore I'm beyond the phase where I'm analyzing logs.

Intuition tells me that it was assumed that SQL Server was not the obvious database choice when us

[2019-06-12 17:01] geoarchitect commented on #674
Is it possible to get some of these fixes merged into an alpha release of the spring dependencies and a new agent? You currently have a 2.4.0-BETA tag out, maybe we can do something similar?

I'm sure we could help test if you make this available.

[2019-06-14 20:20] 163satish commented on #600
Is there any update on this? What is the planned release ETA date for this issue?

[2019-06-18 21:10] usecloud opened #952 "Cannot fetch jmx counter for GC with Java SDK agent"
### Expected behavior
I am trying to fetch data from mbeans about last GC duration but I am receiving error
### Actual behavior
RROR 18-06-2019 20:59:52.694+0000, 27(PerformanceCounterContainer-0): Failed to fetch JMX object 'java.lang:type=GarbageCollector,name=PS MarkSweep' with attribute 'LastGcInfo.#duration': 'java.lang.ClassCastException: sun.management.GcInfoCompositeData cannot be cast to

[2019-06-19 09:13] Rajkumar-dev opened #953 "Logback Logs are not sending to Azure AppInsights"
### Expected behavior
Logback logs should send to application insights.

### Actual behavior
logs are not sending to AppInsights

### To Reproduce
1. Created Maven based Spring boot Project.
2. Added dependency of appinsights and logback to pom.xml
3. Added Application Insights properties along with instrumentation key under application.properties
4. Added aiappender in logback-spring.xml
5. creat

[2019-06-21 20:53] littleaj commented on #953
It looks like you need to add the `<instrumentationKey>` element into the logback config:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-trace-logs#add-the-appender-to-your-logging-framework

[2019-06-22 07:23] littleaj commented on #935
# Design
## Configuration
* Each endpoint will be configurable in two parts:
  * **Host URL**: the protocol (http|https only) and the hostname. no trailing slash.
  * **URI Path**: the URI with a leading slash.
* If the trailing/leading slash is included/missing, then it will be removed/added, respectively.
* throws if protocol is missing
* The endpoint values will be stored in `EndpointConfigurat

[2019-06-23 02:20] littleaj commented on #935
@trask, what do you think of this?

[2019-06-24 22:45] littleaj commented on #935
I think we should include `<ProfileQuery>` endpoint since it's also configurable in other languages: https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-monitoringandmanagement#net-with-applicationinsightsconfig

[2019-06-24 23:06] littleaj commented on #935
Updating the design:
Given the current implementations in other languages, we're going to keep the  `<EndpointAddress>` element and add one for QuickPulse:
[code]
Similar for ProfileQuery, but I'm not sure where to put that element yet.

[2019-06-25 06:26] Rajkumar-dev commented on #953
@littleaj

I tried the same by adding instrumentationkey tag in logback-spring.xml. But it doesn't work out.

Could you please check that, am i missing something else.

Please find the project under this link.
https://github.com/Rajkumar-dev/Java_AzureAppInsights_Logback_Springboot.git

[2019-06-25 10:56] Syquel opened #955 "applicationinsights-web fat-jar broken on Maven with Java 11"
### Expected behavior
If com.microsoft.azure:applicationinsights-spring-boot-starter:1.1.2 is included in the project as Maven dependency and bundled with the WAR, the application should start up.

### Actual behavior
The application throws an exception at startup.

### To Reproduce
- Include com.microsoft.azure:applicationinsights-spring-boot-starter:1.1.2 as a Maven dependency in the project
- B

[2019-06-26 18:38] littleaj commented on #955
Java 11 support is not yet supported, but in-progress. Full support will be available in 2.5.0. We're planning to release a beta version in July.

That being said, this is good feedback and we'll fix this issue in 2.4.1

[2019-06-29 13:47] patternpaul commented on #934
@littleaj This may or may not help. I can confirm that you NEED to use applicationinsights-spring-boot-starter 1.2.0-BETA with agent: 2.4.0-BETA-SNAPSHOT. I can also confirm that using applicationinsights-spring-boot-starter 1.2.0-BETA with agent 2.3.1 or lower wont work. I am confirming this with an application built with Maven.

And by "wont work", I mean custom instrumentation or downstream dep

[2019-07-01 06:00] Rajkumar-dev commented on #953
Hi

Anyone please check this issue

[2019-07-01 19:18] littleaj commented on #953
I ran your app and had to do two things to make it work:
1. Modify logback-spring.xml as such:
[code]
2. Add a sleep to let the application run longer than the buffer flush period.

I think what you were seeing is when the application shuts down, it was stopping the sender threads before they had a chance to flush. Short lived processes are not a supported scenario for the TelemetryClient at this

[2019-07-02 17:55] littleaj opened #963 "Configure POM for agent jar"
We're going to start publishing the agent jar to maven. The agent build.gradle file needs to include publishing.gradle and define the generatePom function like the other artifacts on maven.

[2019-07-03 09:43] Rajkumar-dev commented on #953
Hi @littleaj

Thanks for your response.

I have tried the same. When I am adding sleep at the end, it is able to flush the logging details to application insights.

So it means, At the end of the application if we have any logger details we can't send that to application insights. Am i right? is there any way to do immediateflush. I checked the same, immediateflush will work only for RollingFileap

[2019-07-03 23:49] littleaj commented on #953
@Rajkumar-dev, yes, if you set the `max-telemetry-buffer-capacity` to 1 ([starter config properties](https://github.com/microsoft/ApplicationInsights-Java/tree/master/azure-application-insights-spring-boot-starter#configure-more-parameters-using-applicationproperties)), it will pass each item to the http client immediately. It's still possible for the sender's http client to terminate before the i

[2019-07-08 08:46] HarshaSuranjith commented on #674
Hi @dhaval24, does insights java agent support Java 12 ??

[2019-07-10 18:35] cijothomas opened #969 "livemetrics does not pick instrumentation key in code."
### Expected behavior
Configured ikey in code as per below doc.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started?toc=%2Fazure%2Fazure-monitor%2Ftoc.json#alternative-ways-to-set-the-instrumentation-key
LiveMetrics and every other telemetry should pick this instrumentationkey.
### Actual behavior
Describe what actually happened that was unexpected.
All expect Livemetrics is

[2019-07-10 19:17] gernd opened #970 "Add possibility for adding operation(parent)id using the application insight logback appender"
At the moment I see no possibility (correct me if I am wrong) to provide the operation_id or the operation_parentId to the Trace Telemetries that are sent using the logback appender.

It would be helpful (for correlating these traces to the related requests) to provide such a possibility

[2019-07-10 19:38] itsforbrijesh commented on #969
we are also facing this issue, support case created.

1. Create Dynamic Java project and add new servlet
2. Add code TelemetryConfiguration.getActive().setInstrumentationKey(instrumentationKey);
3. Remove Instrumentation key from ApplicationInsights.xml
4. Update web.xml

[files.zip](https://github.com/microsoft/ApplicationInsights-Java/files/3379137/files.zip)

Application Type: Dynamic Web with

[2019-07-11 10:29] #963 closed

[2019-07-11 10:30] #927 closed

[2019-07-11 10:34] #955 closed

[2019-07-12 06:31] emmansun opened #976 "Can not auto collect http remote dependency for azure blob storage via agent"
### Expected behavior
I hope to see blob store http remote dependency with agent

### Actual behavior
I can't find any http remote dependency, but i can see method dependency and exception.

#### Sample Application
If applicable, provide a sample application which reproduces the issue.

### System information
Please provide the following information:
 - SDK Version: 2.3.1
 - OS type and version: L

[2019-07-12 20:21] Matthew-Kanderka opened #977 "class "javax.annotation.ManagedBean"'s signer information does not match signer information of other classes in the same package"
### Expected behavior
If com.microsoft.azure:applicationinsights-agent:2.5.0-BETA is included in the project as Gradle dependency, it should start up.

### Actual behavior
`[ERROR] SpringApplication - Application run failed <org.springframework.beans.BeanInstantiationException: Failed to instantiate [org.springframework.boot.web.servlet.context.AnnotationConfigServletWebServerApplicationContext]:

[2019-07-12 20:48] littleaj commented on #977
@Matthew-Kanderka , `applicationinsights-agent` is a special dependency that shouldn't be on the compile classpath. It is added to the application using the `-javaagent` JVM option. See [this section](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-agent#install-the-application-insights-agent-for-java) in the documentation for instructions configuring the agent.

[2019-07-12 20:48] #977 closed

[2019-07-15 13:35] nitinprabhu opened #979 "Bring back custom agent instrumentation"
- We are currently trying to update our java version 11 which is supported by https://github.com/microsoft/ApplicationInsights-Java/blob/2.5.0-BETA/CHANGELOG.md
but the problem is it has removed support for <Class> custom instrumentation in AI-Agent.xml.

- We do use Class custom instrumentation so we would like to know how we can achieve the same in 2.50-BETA release or future releases.
[code]

[2019-07-15 21:17] timja commented on #674
@dhaval24 @trask @littleaj
Any reason this is still open?

Seems like support was released in the beta version.

I've tested it on one of my apps and it works (spring-boot 2 with postgresql jdbc)

Also, is Class support likely to come back to AI-Agent.xml or is it gone for good?

[2019-07-15 21:20] littleaj commented on #674
@timja Thanks, I'll close this as fixed.

Regarding class support, we've had some others ask for it so it will likely return in 2.5.0-BETA2 or GA, whichever comes first.

[2019-07-15 21:21] littleaj commented on #674
Java 9+ support added in #971 (2.5.0-BETA)

[2019-07-15 21:21] #674 closed

[2019-07-17 18:09] littleaj commented on #970
We added automatic collection for logback using `applicationinsights-agent` (without using appender) in 2.5.0-BETA which also has this feature.

[2019-07-17 18:17] littleaj commented on #460
Java 9+ support added in #971 (2.5.0-BETA)

[2019-07-17 18:17] #460 closed

[2019-07-17 18:19] littleaj commented on #979
We're adding this back in the next release. :)

[2019-07-17 18:21] #386 closed

[2019-07-17 18:21] #388 closed

[2019-07-17 18:22] #389 closed

[2019-07-17 18:24] #407 closed

[2019-07-17 18:24] #417 closed

[2019-07-17 18:28] #425 closed

[2019-07-17 18:30] littleaj commented on #427
Fixed in #971

[2019-07-17 18:30] #427 closed

[2019-07-17 18:31] littleaj commented on #452
Fixed in #971

[2019-07-17 18:31] #452 closed

[2019-07-17 18:35] nitinprabhu commented on #979
Thanks @littleaj for the update

[2019-07-17 18:38] littleaj commented on #455
We may be adding support for wildcards in the near future, but I would not recommend it on the scale you suggested. Using the Java Profiler for App Insights on-demand may be a better choice for this scenario.

[2019-07-17 18:39] littleaj commented on #636
Fixed in #971

[2019-07-17 18:39] #636 closed

[2019-07-18 14:48] gernd commented on #970
Thanks for your reply! This means that are no plans in near future to provide such functionality for the appender lib in case I do not want to use the agent?

[2019-07-18 23:03] #969 closed

[2019-07-18 23:46] cijothomas commented on #969
@trask please update the doc (Please note that Live Metrics does not support reading instrumentation key from code.) that this is supported from newer version of sdk.

[2019-07-18 23:47] cijothomas commented on #969
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started this doc i meant

[2019-07-19 20:56] trask commented on #934
@patternpaul, thanks for the info. Starting with 2.5.0-BETA, we have sync'd the version numbering between the spring boot starter, SDK and Agent to make this clearer. I'm not sure, but I suspect that the issue you had with agent jars being present in same directory is fixed in 2.5.0-BETA (we have entirely re-written the agent).

@a651694192, are you still having an issue? If so, can you post your

[2019-07-19 23:06] littleaj commented on #704
Fixed https://github.com/microsoft/ApplicationInsights-Java/pull/959

[2019-07-19 23:06] #704 closed

[2019-07-20 19:01] #979 closed

[2019-07-21 08:55] Ravuthaumar opened #986 "Security vulnerabilities in applicationinsights-web & applicationinsightsspring-boot-starter"
We are using AppInsight for log aggregation in spring boot services hosted on Azure. When we ran veracode security scan, it reported following flaws in applicationInsight and ApplicatiionInsight spring-boot-starter. Wanted to check if you are aware of the issues and have plan to fix them in the upcoming releases.

1) applicationinsights-web-2.4.0.jar
   - Use of a Broken or Risky Cryptographic Alg

[2019-07-22 05:27] emmansun commented on #976
Support java.net.HttpURLConnection from 2.5.0-BETA?

[2019-07-22 09:11] colonMan opened #987 "Agent 2.5.0-BETA does not capture my custom logs on JBoss EAP 7.0"
### Expected behavior
Since 2.5.0-BETA the "agent now captures application logging via Log4j 1.2, Log4j2 and Logback". So my custom log outputs should be visible as Trace-Events in AI.

### Actual behavior
My custom log outputs are not visible in AI. Seems like my custom log outputs don't get captured or transmitted. Note that log outputs from com.microsoft.applicationinsights are transferred as e

[2019-07-22 17:00] trask commented on #987
Hi @colonMan, can you post your `logback.xml` file? Thanks.

[2019-07-22 18:59] trask commented on #911
Closing, but please re-open if you are still having this issue. Thanks.

[2019-07-22 18:59] #911 closed

[2019-07-22 19:00] trask commented on #938
Closing, but please re-open if you are still having this issue. Thanks.

[2019-07-22 19:00] #938 closed

[2019-07-23 06:47] colonMan commented on #987
Hello trask!

Unfortunately I can't use the logback framework due to business restrictions. The JBoss EAP 7.0 uses its own logging system (afaik based on log4j) that is configured in the standalone.xml config file. Do you need the settings from there?

[2019-07-23 13:28] ambergoel commented on #987
hi ,
I am also using Jboss Fuse , which is internally using pax loging framework. When I try to integrate Application insight I am getting below error -
2019-07-23 11:49:21,640 CM Configuration Updater (Update: pid=org.ops4j.pax.logging) ERROR Appenders contains an invalid element or attribute "ApplicationInsightsAppender"
2019-07-23 11:49:21,642 CM Configuration Updater (Update: pid=org.ops4j.pax

[2019-07-23 21:52] trask commented on #987
@colonMan, yes, your `standalone.xml` would be helpful, and I'll try to repro.

@ambergoel, can you open a separate issue for this? Thanks.

[2019-07-24 06:50] colonMan commented on #987
Here are the relevant party of my standalone.xml:

[code]

[2019-07-24 08:27] ambergoel commented on #987
Sure. thanks

[2019-07-24 08:37] ambergoel opened #991 "Configurations for pax logging"
### Expected behavior
Currently I am using Jboss Fuse ESB product , which is internally using pax framework for logging application logs. I want to use Azure application insight to view my esb logs.

### Actual behavior
When I configure pax logging as per given instructions , I got below error
[code]

### To Reproduce
I am using default pax loging configuration and supplying log4j2.xml file with b

[2019-07-24 14:46] ambergoel commented on #991
Now I am trying with pax logging configuration and stuck up with appender type option , can any one suggest the appender type here -

log4j2.appender.aiAppender.name = aiAppender
log4j2.appender.aiAppender.packages = com.microsoft.applicationinsights.log4j.v2
#log4j2.appender.aiAppender.type = org.apache.logging.log4j
log4j2.appender.aiAppender.ApplicationInsightsAppender.name = aiAppender
log4j2.

[2019-07-24 17:59] trask commented on #900
I suspect this is fixed in 2.5.0-BETA.2 by #978

[2019-07-24 17:59] #900 closed

[2019-07-24 18:00] trask commented on #937
Hi @GeorgHoffmeyer, this is fixed now in 2.5.0-BETA. Thanks.

[2019-07-24 18:00] #937 closed

[2019-07-24 18:04] trask commented on #939
Hi @emorozovs, this should be fixed in 2.5.0-BETA. Thanks.

[2019-07-24 18:04] #939 closed

[2019-07-24 18:27] littleaj commented on #370
If you are still having this issue with the latest version, please reopen.

[2019-07-24 18:27] #370 closed

[2019-07-24 18:29] littleaj commented on #371
@trask @AlexKlimovMS This still seems relevant

[2019-07-24 18:36] littleaj commented on #387
It appears this is already available via:
collectionFrequencyInSec: https://github.com/microsoft/ApplicationInsights-Java/wiki/ApplicationInsights.XML#performancecounters
FlushIntervalInSeconds: https://github.com/microsoft/ApplicationInsights-Java/wiki/ApplicationInsights.XML#channel

[2019-07-24 18:36] #387 closed

[2019-07-24 18:37] #390 closed

[2019-07-24 18:38] #391 closed

[2019-07-24 18:44] littleaj commented on #394
This is available

[2019-07-24 18:44] #394 closed

[2019-07-24 18:44] littleaj commented on #404
@trask @AlexKlimovMS seems reasonable and still relevant

[2019-07-24 18:50] littleaj commented on #416
For this you could try disabling QuickPulse: https://github.com/microsoft/ApplicationInsights-Java/wiki/ApplicationInsights.XML#quickpulse
Alternatively or in addition, you could set the `MaxTelemetryBufferCapacity` to 1, https://github.com/microsoft/ApplicationInsights-Java/wiki/ApplicationInsights.XML#channel, which would send telemetry as soon as it was queued. Let us know if this does not fix

[2019-07-24 18:50] #416 closed

[2019-07-24 20:07] trask commented on #969
Thanks @cijothomas, I have created docs PR https://github.com/MicrosoftDocs/azure-docs/pull/35789.

[2019-07-24 20:24] trask commented on #931
Hi @swati-rashmi, this should be easier now with 2.5.0-BETA. Check out https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started-25-beta, and let us know if you have any troubles. Thanks.

[2019-07-24 20:29] trask commented on #899
Hi @piotrzaremba, you can set the config directory via system property `applicationinsights.configurationDirectory` (code is in [ConfigurationFileLocator.java](https://github.com/microsoft/ApplicationInsights-Java/blob/2.5.0-BETA.2/core/src/main/java/com/microsoft/applicationinsights/internal/config/ConfigurationFileLocator.java#L49)). Let us know if this addresses what you need. Thanks.

[2019-07-26 12:47] vlev commented on #910
We hit the same bug with 2.4.0 version.

Also, with AI agent instrumenting Apache Http Client, this bug prevents some of the outgoing http requests from executing:
[code]

In this particular case, traceId was 31 symbols long.
[code]

[2019-07-26 13:03] vlev commented on #910
This is pretty significant issue for the users of AI agent.
I could provide a fix proposed by @raedur. Will it be possible to create dedicated release 2.4.1?

[2019-07-26 17:15] trask commented on #910
Hi @vlev, yes, a PR would be great. As far as releasing dedicated 2.4.1 for this, it looks like this exception is caught and logged by [TraceContextCorrelation.java](https://github.com/microsoft/ApplicationInsights-Java/blob/2.4.0/web/src/main/java/com/microsoft/applicationinsights/web/internal/correlation/TraceContextCorrelation.java#L482), so it should not prevent the outgoing http request from

[2019-07-29 02:42] emmansun commented on #976
Use `StorageEvent<SendingRequestEvent>` and `StorageEvent<RequestCompletedEvent>` to write AZURE BLOB Storage telemetry manually first.

[2019-07-29 06:36] vlev commented on #910
Hi @trask,
Here is the place where the actual call fails:
[code]

It seems, that createChildIdFromTraceparentString() won't work with null value.
[code]
This method is called thru cryptic asm instrumentation:
[code]

[2019-07-29 09:20] Ravuthaumar commented on #986
Hello team,

Can you please update us when these issues will be resolved?

Thanks

[2019-07-29 10:16] crows9p opened #998 "How to Use Application Insights with Spring Boot"
**Use Framework**
- Spring Boot 2.1.6.RELEASE

**Use Agent**
- applicationinsights-agent-2.5.0-BETA.2.jar

**Add Depedency(pom.xml)**
[code]

**Add Properties(application.yml)**
[code]

**Create Java Configuration**
[code]

**Create AI-Agent.xml**
[code]

`AI-Agent.xml` file is setting in the same path as `applicationinsights-agent-2.5.0-BETA.2.jar` file

Made these settings for two applications

[2019-07-30 05:22] abialas opened #999 "Enable package scan for instrumentation (not have to list class with methods which should be instrumented)"
**Is your feature request related to a problem? Please describe.**
I want to analyze the performance problem of the application. However, I do not know where exactly the problem is located so I do not know which classes / methods I have to list inside <Instrumentation></Instrumentation>.

**Describe the solution you would like**
To list all classes and methods it is very time-consuming. Maybe ther

[2019-07-30 17:43] trask commented on #976
Hi @emmansun, what library are you using to send data to Azure Blob Storage? Thanks.

[2019-07-30 18:14] trask commented on #998
Hi @crows9p,

* Yes, `AI-Agent.xml` is required
* Agent is required for monitoring outgoing HTTP calls (e.g. calls made via `RestTemplate`)
* No
* https://github.com/microsoft/ApplicationInsights-Java/wiki/AI-Agent.xml

Thanks,
Trask

[2019-07-31 00:36] crows9p commented on #998
Thank you!

[2019-07-31 00:36] #998 closed

[2019-07-31 18:18] littleaj commented on #439
@valamelkor Do you still see this issue with the latest version, 2.4.0?

[2019-07-31 18:24] #465 closed

[2019-07-31 18:27] littleaj commented on #472
@M-Muni do you still see this issue with the latest version, 2.4.0?

[2019-07-31 18:29] #494 closed

[2019-07-31 18:33] littleaj commented on #515
@tobiasdiez Do you still see this issue with the latest version, 2.4.0?

[2019-07-31 18:34] #522 closed

[2019-07-31 20:43] littleaj commented on #910
Fixed in version 2.4.1, releasing this week.

[2019-07-31 20:43] #910 closed

[2019-08-02 14:17] madhunaidu2468 opened #1004 "Spring boot application not sending logs to Azure application-insights"
I am having 2 spring boot applications using azure application insights. Both are using the same dependencies, same instrumentation-key, same application-properties.
But in one service the logs are getting to application insights and the other service is not printing logs. I checked this using azure portal.

I debugged enabling logger level to trace and found the following error logs in the servic

[2019-08-02 17:45] trask commented on #1004
Hi @madhunaidu2468, can you try with one of the latest versions (either 2.4.0 or 2.5.0-BETA.2) and see if you have similar issue / error logs? Thanks.

[2019-08-02 19:16] trask commented on #991
Hi @ambergoel, it looks like Fuse is not finding the ApplicationInsightsAppender class. Check out Redhat's article [How Do I Add a Custom Log4J Appender to Fuse Karaf or Fabric?](https://access.redhat.com/solutions/2479471).

Alternatively, you could try ApplicationInsights Java Agent 2.5.0-BETA.2, which captures logging automatically (without needing to register an appender), see https://docs.mic

[2019-08-02 22:44] trask commented on #999
Hi @abialas, I think a profiler would be better suited to this task. An integrated profiler is on our road map, but in the meantime, you could use Java Flight Recorder to profile your app. Check out https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-java#flight-recorder, and feel free to post back here with any questions. Thanks.

[2019-08-04 00:37] emmansun commented on #976
Hi @trask , we used `https://github.com/Azure/azure-storage-java/tree/v5.5.0/microsoft-azure-storage/src/com/microsoft/azure/storage/blob`, it used `java.net.HttpURLConnection`.

[2019-08-04 00:50] emmansun commented on #727
We implemented a `CommandListener` and injected it into `MongoClient` via `MongoClientOptions` to collect mongodb dependencies. In fact, the nodejs version also used such mongodb driver's APM feature to implment mongodb's telemetry auto-collect.

[2019-08-05 12:43] madhunaidu2468 commented on #1004
Hi,

I tried using the version 2.4.0 and the issue still exists.

[2019-08-05 22:05] trask commented on #910
Thanks @vlev !

[2019-08-05 22:23] trask commented on #1004
Hi @madhunaidu2468, can you turn on the logging of the AI http requests? I'd like to see a couple of the requests that are generating the 400 responses so we can investigate further.

[code]

Thanks,
Trask

[2019-08-06 11:38] madhunaidu2468 commented on #1004
Hi Trask,

Thanks for the quick response. The solution in this [link](https://github.com/Microsoft/ApplicationInsights-Java/issues/880) worked for me.

[2019-08-06 23:40] geoarchitect opened #1009 "Application Insights Error - java.io.FileNotFoundException renaming temp file"
We have been seeing a lot of these errors from application insights using the Spring Boot Starter and Logback. The issue is present from v1.1.1 through 2.5.0-Beta.2.

AI: ERROR 06-08-2019 23:27:46.162+0000, 17(ActiveTransmissionLoader-worker-0): Rename To Temporary Name failed, exception: java.io.FileNotFoundException: Source '/tmp/root/transmissions/Transmission5847754688257616391.trn' does not e

[2019-08-07 19:43] #570 closed

[2019-08-08 14:21] geoarchitect commented on #1009
Let me know if you want us to test or try anything.

[2019-08-09 13:58] shwetamumbarkar opened #1013 "Issue with AppInsights in Java Web App"
We find an intermittent issue of AppInsights log not being sent to Azure in our Java Web App.

We tried the SDK logger and get the below trace:

[code]
Any clue how this can be fixed?

We've tried the below link, but didn't help.

https://github.com/microsoft/ApplicationInsights-node.js/issues/180

[2019-08-09 15:59] trask opened #1014 "Logging appenders do not pick up the instrumentation key when set via application insights spring boot starter"
See #1004 and #880.

Workaround is to set the instrumentation key in the appender configuration when using the application insights spring boot starter (and not using the ApplicationInsight.xml), but opening this issue to look into a how to get rid of this extra configuration step.

[2019-08-09 19:06] trask commented on #1004
Thanks @madhunaidu2468. Closing this, consolidating into #1014.

[2019-08-09 19:06] #1004 closed

[2019-08-09 19:06] trask commented on #880
Thanks all. Closing this, consolidating into #1014.

[2019-08-09 19:06] #880 closed

[2019-08-09 19:12] b4rd commented on #1014
I solved this by using [this](https://github.com/qos-ch/logback-extensions/wiki/Spring) extension.
This is how my configuration looks like:
[code]

By delaying the instantiation of the appender, it will pick up the TelemetryConfiguration created and configured by spring.

Would be nice to have a simpler way though :)

[2019-08-09 23:37] littleaj commented on #801
Fixed in 2.5

[2019-08-09 23:37] #801 closed

[2019-08-09 23:39] littleaj commented on #600
Duplicate of #810. More conversation on that one. Closing this.

[2019-08-09 23:39] #600 closed

[2019-08-09 23:40] littleaj commented on #856
Done

[2019-08-09 23:40] #856 closed

[2019-08-09 23:48] littleaj commented on #952
It looks like the `#` character is the issue:  `'LastGcInfo.#duration'`. Try `LastGcInfo.duration`. If that doesn't fix, please share your performance counter configuration in your ApplciationInsights.xml

[2019-08-09 23:50] littleaj commented on #952
@usecloud It looks like `LastGcInfo.#duration` is the issue. I don't think `#` is a valid name character. Try `LastGcInfo.duration`. If that doesn't work, please share your perf counter configuration from ApplicationInsights.xml

[2019-08-10 00:00] littleaj commented on #986
* MessageDigestCalculatingInputStream: CWE ID 327 does not apply here because this is not an encryption related class. Also, we don't use it.
* CWE ID 201: We do use ByteArrayOutputStream to transmit data, but it is encrypted before it's sent.
* CWE ID 404: this looks like a false positive. The Scanner used in Languages.java appears to be closed properly

[2019-08-10 00:00] #986 closed

[2019-08-10 00:10] #863 closed

[2019-08-11 20:16] trask commented on #1014
Hi @b4rd, @madhunaidu2468, I haven't been able to reproduce this ☹️, can you look at my repro https://github.com/trask/issue-1014 and give me some pointers how I can make it more similar to the applications where you are having the issue?

E.g.
* Are you running your app as jar or war file?
* If war file, what servlet container are you using (and version)?
* What version of Spring Boot are you usi

[2019-08-11 21:54] b4rd commented on #1014
Hi @trask,
You're right. I have integration tests with a mock server for testing that the log messages are actually sent. In this setup my tests started passing with this `DelegatingLogbackAppender`.
Now I switched back to using the ApplicationInsightsAppender directly, and I had to add some `Thread.sleep` to make it work again.

I guess it's because now the traces are stored on the file system wh

[2019-08-11 22:17] trask commented on #1014
Hi @b4rd, that may also be due to ApplicationInsights batching, try setting `FlushIntervalInSeconds` to `1` (see https://github.com/microsoft/ApplicationInsights-Java/wiki/ApplicationInsights.XML#channel).

[2019-08-12 07:59] florianrusch commented on #793
This issue seems to be a little but unfocused. I was also looking for this integration or something like that.

Our scenario:
We are building a microservice plattform with a lot of Spring Boot backend services and a Angular frontend service. On our local dev deployment we are using Spring Cloud Sleuth in combination with Zipkin/Jaeger for tracing the requests between the services (direct http call

[2019-08-12 14:07] b4rd commented on #1014
I've discovered today that the current behaviour is still not perfect:

When `ApplicationInsightsAppender` gets instantiated by Logback, the eventually created default `TelemetryConfiguration` will load the heartbeat module with default settings, ignoring the values I have in `application.properties`.

There might be other side effects as well.

[2019-08-15 08:35] qwazer opened #1020 "additional-spring-configuration-metadata.json doesn't contain properties from ApplicationInsightsProperties"
### Expected behavior
additional-spring-configuration-metadata.json contain properties from ApplicationInsightsProperties

### Actual behavior
additional-spring-configuration-metadata.json doesn't contain properties from ApplicationInsightsProperties

### To Reproduce
see ../com/microsoft/azure/applicationinsights-spring-boot-starter/2.4.1/applicationinsights-spring-boot-starter-2.4.1.jar!/META-IN

[2019-08-15 21:26] Dpetters opened #1021 "Log warning if trace message exceeds Sanitizer.MAX_MESSAGE_LENGTH"
**Is your feature request related to a problem? Please describe.**
I spent too much time debugging why we had an odd drop in a metric in a PowerBI dashboard that we power with our AI telemetry. The root cause ended up being some trace messages getting silently truncated.

**Describe the solution you would like**
Enabling SDKLogger should cause some warnings to be printed out in the cases where the

[2019-08-20 08:42] pamarthid18 opened #1022 "Upgrade issue"
### Expected behavior
After updating the applications insight sdk in java application, no need to show again upgrade information.

### Actual behavior
After updating the applications insight SDK in java application, still in the portal, it is showing need to upgrade 2.4.0 or lataer

### System information
Please provide the following information:
 - SDK Version: 2.4.1 (Java)
 - OS type and version

[2019-08-20 12:13] colonMan opened #1023 "Support request tracking of the new Java 11 Http Client"
Currently requests made with the new Java 11 Http Client don't get tracked by the Application Insights Agent. With the new Java 11 support the new http client should also be supported (https://openjdk.java.net/groups/net/httpclient/intro.html).

[2019-08-20 23:33] trask commented on #880
Hi @jdubois, I'm trying to reproduce this (see my attempt at https://github.com/trask/issue-1014), can you give me any pointers how you were able to repro? Thanks!

[2019-08-20 23:34] #929 closed

[2019-08-21 18:16] littleaj commented on #1023
Thanks for mentioning this. We will be adding this support in a future version.

[2019-08-22 02:13] #810 closed

[2019-08-22 17:26] jdubois commented on #880
Hi @trask ! I have generated a sample JHipster microservice at https://github.com/jdubois/application-insights-demo and then applied the same changes as your sample project to it: https://github.com/jdubois/application-insights-demo/commit/defb7b4729b36d350d36fbbc6dc9b30c2012308d

And indeed, that works!!! I'm guessing that in my original logback-spring.xml configuration (see https://github.com/jd

[2019-08-22 17:31] trask commented on #880
Thanks for trying :-). It's normal for that method to not get called, but the instrumentation key should then be added when sending the telemetry https://github.com/microsoft/ApplicationInsights-Java/blob/2.4.0/core/src/main/java/com/microsoft/applicationinsights/TelemetryClient.java#L410. Unless the logging appender is stuck in a different class loader and doesn't share the globally configured in

[2019-08-23 06:14] shwetamumbarkar commented on #1013
We are using same container for two different WARS which are running inside JBOSS application server. Both WARS are currently refer to two different set of truststore and keystore.
We have added truststore and keystore file path in jboss configuration folder and also added path in standalone.xml file of JBOSS.
We have analysed and identify application insight is not able to find the path for trust

[2019-08-23 07:21] dahlsdata opened #1029 "NPE in TraceContextCorrelation when running in Kubernetes"
Using Spring Boot 2 actuators i have created a Health Endpoint that does an apache httpClient connection to localhost to check if a specific page is loading ok.

We have instrumented the app with application insights java agent.
It works fine running applicationinsights-agent-2.4.1.jar
When running applicationinsights-agent-2.5.0-BETA.jar, it will sometimes crash with a NPE when running in AKS. (A

[2019-08-23 09:57] jdubois commented on #880
There are several different ways to run a JHipster application (see https://www.jhipster.tech/development/#running-java-server ) so maybe there's something there that triggered the issue, but I can't find it...
Another idea: I do use the same library versions as you for Application Insights, but JHipster has been upgraded since my original tests, so maybe some other library was the cause of the is

[2019-08-23 16:25] trask commented on #1029
Hi @dahlsdata, this looks like same problem as #910, which was fixed in 2.4.1, and was merged into 2.5.0-BETA.3 (that was released just yesterday!).

[2019-08-26 21:04] shantanookirtane opened #1035 "Log Markers to be shown in Application Insight"
Capture [Log4j Markers](https://logging.apache.org/log4j/2.x/manual/markers.html) and [Logback Markers](https://www.slf4j.org/apidocs/org/slf4j/Marker.html) as custom properties on the corresponding trace (log message) telemetry.

[2019-08-27 17:58] dahlsdata opened #1037 "IllegalStateException: Already connected using javaagent"
### Expected behavior
Outgoing dependencies tracked. Inter-service dependencies tracked

### Actual behavior
IllegalStateException: Already connected on inter-service communications

### System information
Please provide the following information:
 - SDK Version: applicationinsights-agent-2.5.0-BETA.3.jar
 - OS type and version: AKS 1.14 - Ubuntu
 - Application Server type and version (if applicab

[2019-08-27 17:59] dahlsdata commented on #1029
Yes seems the NPE is fixed on 2.5.0-BETA.3 version

[2019-08-27 17:59] #1029 closed

[2019-08-27 22:38] tobiasdiez commented on #515
Yes! We updated on July 11 to 2.4.0 but on July 23 a user triggered an error leading to 4.000 reports. The reported exceptions look as follows:
![image](https://user-images.githubusercontent.com/5037600/63812792-c953cd80-c92b-11e9-8731-231faa35d1d1.png)
and stack trace
[code]

The common theme is that all duplicate exceptions are reported in the [FallbackExceptionHandler](https://github.com/JabRef

[2019-08-29 02:43] #1037 closed

[2019-08-29 12:15] lawrencegripper opened #1043 "Possible to leak threads"
### Expected behavior

TelemetryClient not leak threads.

### Actual behavior

In a high throughput application we had instances which called the code below, as different requests used different initializes to augment telemetry.

[code]

We saw the application slowly accumulate threads and eventually fail as when idle from our workload it had 32k threads pinning CPU at 80%+ on a large box.

![imag

[2019-08-29 19:51] littleaj commented on #1013
I worked on a similar issue in tomcat. The issue turned out to be that the trustStore was of type JKS, but the property `javax.net.ssl.trustStoreType` was set to `pkcs12`.

Another way this can happen is if the value of `javax.net.ssl.trustStore` points to a cert and not a keystore. If this is the case, you can use [`keytool`](https://docs.oracle.com/javase/8/docs/technotes/tools/unix/keytool.html

[2019-08-29 22:16] littleaj commented on #1043
@lawrencegripper, based on your description, it seems like several function requests are being served within the same application and since each `TelemetryClient` spawns threads each time its constructed, this would explain the increase.

I suggest you promote the `TelemetryClient` to a static variable and do the initialization in the static constructor of your function. Let me know if you see a d

[2019-08-30 09:44] ambergoel commented on #991
hello Trask , yes you are right fuse is not able to find out the ApplicationInsightsAppender class , I tried to execute the steps mentioned in url , but it doesn't work. Getting the same error.

[2019-08-30 18:41] trask commented on #991
Hi @ambergoel, can you try using the [ApplicationInsights Java Agent 2.5.0.BETA.3](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/2.5.0-BETA.3) to capture the logging? See https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-agent-25-beta

[2019-09-03 14:30] TimtationOne opened #1048 "Unable to deactivate Application Insights in application.properties"
I'm using Application Insights with Spring and try to deactivate it by default, to be able to activate it only on the environments where I need it.

So I followed the guide which is saying:

azure.application-insights.enabled=false
azure.application-insights.web.enabled=false
Note: Do not configure azure.application-insights.instrumentation-key property for optimal performance and avoiding any App

[2019-09-03 22:50] trask opened #1051 "Capture dependencies during non-servlet requests (e.g. during scheduled jobs, queue processing, service buses, etc)"
These dependencies are not captured in 2.3.1 and prior. But they are captured in 2.4.0 and 2.4.1. But now, again, they are not captured in 2.5.0.

[2019-09-04 08:18] rsitrifork opened #1053 "Spring Boot Java 12 javaagent breaks on urlconnection"
### Expected behavior
I expected the javaagent to either track the urlconnection request, or ignore it

### Actual behavior
I have tried adding the java agent to a spring boot application built and run through docker. I have included a sample below, but the docker file looks like:

    FROM openjdk:12-jdk

    ADD applicationinsights-agent-2.5.0-BETA.4.jar ai/applicationinsights-agent.jar
    ADD

[2019-09-04 18:12] #924 closed

[2019-09-04 18:18] #898 closed

[2019-09-04 19:55] trask commented on #1053
@rsitrifork Thanks, I was able to repro using your sample! Looking into this now.

[2019-09-05 14:11] jakehell opened #1055 "Using Struts RequestNameInterceptor doesn't Load ApplicationInsights.xml"
### Expected behavior
After following https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started#if-youre-using-struts-2 and creating an ApplicationInsights.xml file, I would expect the ```RequestNameInterceptor``` to have the ```ApplicationInsights.xml``` file loaded.

### Actual behavior
In the ```setRequestNameSafe()``` method in ```RequestNameInterceptor```:
 ```RequestTelemetry

[2019-09-05 17:27] trask commented on #1055
Hi @jakehell, have you registered the ApplicationInsights web filter in your `web.xml`?

[2019-09-05 20:51] #1053 closed

[2019-09-06 17:05] jakehell commented on #1055
@trask I followed https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started#applications-using-webxml and the configuration is still not being loaded.

[2019-09-09 01:40] andxu opened #1060 "Provide a common jar of applicationinsights-core"
I am using very basic(we don't need to inject http requests) AI features in [azure maven plugins](https://github.com/microsoft/azure-maven-plugins) the packing way AI used produces a very large  jar by [shadowjar](https://github.com/microsoft/ApplicationInsights-Java/blob/master/core/build.gradle#L135) which will causes many duplicated classes loaded like `org.apache.commons.lang3` which will cons

[2019-09-10 04:56] trask commented on #1055
Hi @jakehell,

Is the `WebRequestTrackingFilter` listed before all other filters in your `web.xml`?

Is Application Insights capturing any request data?

What version of Application Insights are you using?

Thanks,
Trask

[2019-09-11 00:02] jakehell commented on #1055
It must be something specific with my application as I am not able to reproduce with https://github.com/jakehell/struts2-starter-sample.

Will create a future issue if I believe there is something wrong with the api.

Thanks for the help @trask

[2019-09-11 00:02] #1055 closed

[2019-09-14 10:25] tobiasdiez opened #1061 "Specify module information"
For usage with Java 9+, it would be nice if you could modularize AI by adding a `module-info` file.

[2019-09-16 19:22] kuldeepagrawal opened #1063 "Adaptive sampling for springboot app"
Can we add adaptive sampling for springboot application. I see that we have class added https://github.com/microsoft/ApplicationInsights-Java/tree/master/core/src/main/java/com/microsoft/applicationinsights/internal/channel/sampling and there is a way to achieve in using applicationinsight.xml https://github.com/microsoft/ApplicationInsights-Java/wiki/Sampling#adaptive-sampler but can we add it fo

[2019-09-18 18:08] littleaj commented on #1060
This is something we'd like to do in the future

[2019-09-20 00:16] trask commented on #722
This is fixed in 2.5.0

[2019-09-20 00:16] #722 closed

[2019-09-20 21:00] #935 closed

[2019-09-24 09:13] smathangi opened #1067 "Glowroot => ApacheHttpClient4xInstrumentation#onReturn() is broken for few api methods."
### Expected behavior
Instrumentation should work for all execute() methods of HttpClient interface.

### Actual behavior
It seems there is a bug in the glowroot's ApacheHttpClient4xInstrumentation [https://github.com/glowroot/instrumentation/issues/1](url)
Because of this our application which is using ApacheHttpClient4 throwing errors when integrated with applicationinsights-agent-2.5.0.jar.

Is

[2019-09-24 18:20] trask commented on #1067
Thanks for reporting this!

I'll look into it now.

In the meantime, to disable the instrumentation, try

[code]

[2019-09-24 22:21] hirowla commented on #1051
From my observations, less information was captured in 2.4.1 than 2.3.1 or 2.5.0. Having said that, I'm not capturing any dependencies automatically for non-servlet requests. This is definitely a feature I would like to have.

[2019-09-24 22:22] hirowla commented on #727
This is something I'm very interested in having - in relation to Spring Boot applications.

[2019-09-25 03:08] Flanker32 commented on #416
@littleaj Thanks for your help, tried disable QuickPulse and set MaxTelemetryBufferCapacity to 1, but this issue still occurs, will throw NoClassDefFoundError and come into endless loop

[2019-09-25 04:08] #1067 closed

[2019-09-25 04:08] #727 closed

[2019-09-25 21:21] #899 closed

[2019-09-25 21:27] #892 closed

[2019-09-25 21:42] #873 closed

[2019-09-25 21:42] #741 closed

[2019-09-26 14:36] hberrayana commented on #955
I'm still having the same issue with 2.5.0
This is the stacktrace:
[code]

[2019-09-26 19:42] lmolkova opened #1078 "Enable W3C on by default with back-compat"
.NET SDKs already turn it on by default.

[2019-09-27 17:16] trask opened #1082 "Use WEBSITE_SITE_NAME and WEBSITE_INSTANCE_ID environment variables if available"
`WEBSITE_SITE_NAME` ==> default role name if available
`WEBSITE_INSTANCE_ID` ==> default role instance if available

[2019-09-27 17:23] cijothomas commented on #1082
current impl:
https://github.com/microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/WindowsServer/WindowsServer.Shared/AzureWebAppRoleEnvironmentTelemetryInitializer.cs

The current implementation has an issue that it wont detect slot swap instantly (a major customer confusion). The proposal is to read this from incoming http header which is always accurate:
https://github.com/microsoft/

[2019-10-01 14:28] timja commented on #1067
@trask would it be possible for a release of this?
Today owasp dependency failures came out hitting dependencies of application insights (older versions i.e. 2.3.0), we've had some teams try upgrade to latest and they've hit this bug

[2019-10-01 18:05] trask commented on #1067
Hi @timja, thanks for the nudge, we will release 2.5.1-BETA today.

[2019-10-02 03:13] trask commented on #1067
2.5.1-BETA is released now

[2019-10-04 20:42] #872 closed

[2019-10-04 20:42] littleaj commented on #871
not in plan

[2019-10-04 20:42] #871 closed

[2019-10-04 20:46] littleaj commented on #861
fixed

[2019-10-04 20:46] #861 closed

[2019-10-04 20:46] littleaj commented on #859
non-essential

[2019-10-04 20:46] #859 closed

[2019-10-04 20:47] littleaj commented on #857
2.5.0 has this feature

[2019-10-04 20:47] #857 closed

[2019-10-04 20:49] #840 closed

[2019-10-04 20:50] littleaj commented on #825
This should work in 2.5.0

[2019-10-04 20:50] #825 closed

[2019-10-04 20:52] littleaj commented on #823
We've addressed these.

[2019-10-04 20:52] #823 closed

[2019-10-04 20:55] littleaj commented on #821
This should work in 2.5.0. Reactivate if the issue is not resolved.

[2019-10-04 20:55] #821 closed

[2019-10-04 21:01] littleaj commented on #819
@AlexKlimovMS can you provide any insights on this?

[2019-10-04 21:01] littleaj commented on #812
Fixed

[2019-10-04 21:01] #812 closed

[2019-10-04 21:47] AlexKlimovMS commented on #819
Some Application Insights ikey have special 3 letter prefixes. We should contact ingestion team for the full list of possible prefixes.

[2019-10-06 16:19] wcom939 opened #1086 "Messages fail to be transmitted on application shutdown"
### Expected behavior
On application shutdown, flush is called in order to flush out the remaining messages to send to the cloud.

### Actual behavior
Describe what actually happened that was unexpected.
A race condition occurs whereas while the library attempts to transmit the last of the messages, the httpclient is already stopped causing a "Connection pool shutdown" error in the TransmissionNet

[2019-10-06 17:15] asubmani commented on #1086
@dhaval24 could you suggest the best way to get this to resolution? We will be opening a support ticket with the name of the AppInsights workspace name.

[2019-10-07 20:17] vdcloud opened #1087 "Local hosted Java app fails to send telemetry, while telemetry from .NET app works on same machine"
I have a maven java 8 app where i have configured Application Insights. I have the SDKLogger set to console and can see the AI: TRACE logs in the console output. However, the java app is unable to send the telemetry to Application insights instance on Azure.

The Java app fails with the following error. However, **on the same machine, I tried a ASP.NET Core App with same instrumentation key and it

[2019-10-07 20:24] littleaj commented on #1087
@vdcloud, Make sure your java proxy settings are correct: https://github.com/microsoft/ApplicationInsights-Java/wiki/Using-an-HTTP-Proxy

Let us know if that doesn't work.

[2019-10-07 20:36] littleaj commented on #1086
@wcom939, this is a known issue and is currently in our backlog. I'll update this ticket when we have an ETA.

If your scenario will allow it, you can adjust the [channel settings](https://github.com/microsoft/ApplicationInsights-Java/wiki/ApplicationInsights.XML#channel) (FlushIntervalInSeconds, MaxTelemetryBufferCapacity) to be more aggressive.

[2019-10-07 21:24] vdcloud commented on #1087
With -Dhttps.proxyHost and -Dhttps.proxyPort settings, the runtime socket exception goes away (i.e. no AI: ERROR in console output, only AI: TRACE statements). However, the https requests to my Java API or any other telemetry still does not show up in the App Insights Performance, Availability or any other tiles. I waited/refreshed multiple times to allow for flush interval to elapse.

[2019-10-07 22:48] littleaj opened #1089 "QuickPulse regression in 2.5.1-beta"
The QuickPulse urls are malformed. From the http logs:
[code]
(missing slash before 'ping')

[2019-10-08 15:22] dsibilio commented on #790
I've noticed the Pull Request which added Netty/Webflux support has been merged into the **codeless** branch (https://github.com/microsoft/ApplicationInsights-Java/pull/1074).

Any idea on when this feature will be released for usage with the Spring Boot starter module?

[2019-10-10 03:09] uday1982c commented on #682
Looks like App Insight Live Metrics Stream for Java Spring Boot Starter web application is not available still. See the below message in the portal. Can some one please share more detail that my understanding is correct or not.

![image](https://user-images.githubusercontent.com/12500881/66535990-27560200-eae1-11e9-904f-d8fdf654fa72.png)

Using the below version.
![image](https://user-images.githu

[2019-10-10 20:29] vdcloud opened #1092 "Request Telemetry does not work for me in Dropwizard application with web-auto:2.5.0"
My rest api uses Dropwizard application framework. I followed the steps described in [Get started with Application Insights in a Java web project](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started) .

Besides these steps, I added SDKLogger so i could see the AI traces in the console as well. I can see the performance counters being pushed to AI and visible in the Live Metri

[2019-10-11 13:23] vdcloud commented on #1092
Update: I was able to get this to work by manually registering WebRequestTrackingFilter and switching over to web in place of web-auto

[2019-10-13 18:50] pbvaltech commented on #955
@hberrayana I am having the same issue.  Did you manage to resolve this?

[2019-10-14 08:43] hberrayana commented on #955
Yes, this how I included the dependency:
[code]

[2019-10-14 11:12] cforce opened #1094 "Outdated "app insights web" module for java"
I am wonderig that i get messages in azure porrtal app insights worrkpace live metrics view i need to updatet to newer version than 2.5.0
![image](https://user-images.githubusercontent.com/393286/66747116-06483500-ee84-11e9-9645-7a33e4bc2fc1.png)

But there is no newer stable version for java here and the link from portal points me to a nuget package.
https://www.nuget.org/packages/Microsoft.Appli

[2019-10-14 19:55] vdcloud opened #1095 "Dependency tracking does not work from app running in docker (linux) container"
I have a Java application that is sending request telemetry and dependencies correctly when i run the application from my windows 10 machine. When i run the same application from a docker container (linux), only the request telemetry and perf counters seem to be getting collected and pushed, not the dependencies to SQL Server.

![image](https://user-images.githubusercontent.com/19971842/66778911-0

[2019-10-14 21:46] #1089 closed

[2019-10-16 05:55] petergphillips opened #1098 "Configurable masking for SQL statements with sensitive data"
We have enabled the new java agent with JDBC SQL tracking and are very pleased with the information it provides.

However we due to having to work with a legacy application we have to alter user passwords with an oracle SQL statement - namely `ALTER USER user_name IDENTIFIED BY new_password;`

This oracle statement can't be written as a prepared statement so therefore can't be parameterised and un

[2019-10-16 13:20] DCampodonico opened #1099 "Add TrackAvailability method"
It would be nice to have the [TrackAvailability](https://docs.microsoft.com/en-us/dotnet/api/microsoft.applicationinsights.telemetryclient.trackavailability?view=azure-dotnet) method in Java. Currently it's only available in .NET.

[2019-10-23 07:31] jyotsnaravikumar opened #1114 "Unable to implement logging with Application Insights on spring-boot app"
### Expected behavior
Describe what you expected to happen.
Spring-Boot Application to log into application insights as per docs:
https://docs.microsoft.com/en-us/java/azure/spring-framework/configure-spring-boot-java-applicationinsights?view=azure-java-stable#configure-springboot-application-to-send-log4j-logs-to-application-insights

### Actual behavior
Describe what actually happened that was u

[2019-10-23 17:53] abhaykmishra201 opened #1116 "AppInsights Agent is NOT working with Apache Felix/Adobe AEM CMS to capture Server Side dependencies"
Server Side Dependencies are NOT being tracked for Adobe AEM application. As per Adobe it has to do both AppInsights & Apache Felix to work together. Please investigate and have this issue resolved ASAP.

Regards,
Abhay

[2019-10-23 18:14] littleaj commented on #1114
@jyotsnaravikumar Do you see the same issue in the latest version of the starter? 2.5.0

[2019-10-23 18:18] littleaj commented on #1116
@abhaykmishra201, are you using the [java agent](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-agent) for dependency tracking? Do you see any requests tracked by the filter?

[2019-10-24 21:00] abhaykmishra201 commented on #1116
@littleaj - Yes, we are using Java Agent 2.5.0 for dependency tracking. Yes server side requests are being tracked by the filter. We have issues with Server side dependency tracking. Please help us with this. Thanks.

[2019-10-28 13:33] JacekCzernik commented on #952
without # is not working eitgher

[2019-10-29 12:03] timja commented on #1067
Any chance of a GA release @trask soon?
We're running the beta on quite a few applications but we get questions often on why we're using a beta...

[2019-10-30 18:12] littleaj commented on #952
We've found the issue and plan to fix in the next service release.

[2019-10-30 18:27] littleaj commented on #1009
@geoarchitect, This error can be safely ignored.

This can happen when sending telemetry to Azure has failed and the items have been written to disk for sending in the future. If a thread has already read one of these files this error can occur, but does not indicate an issue in data flow.

The CPU spike is likely the result of the thread(s) reading the files and resending the telemetry.

We discu

[2019-10-30 18:43] mlankisetti commented on #1116
On Wed, Oct 30, 2019 at 2:16 PM Arthur Little <notifications@github.com>
wrote:

Yes we are using 2.5.0 for core,wed and agent as well.
--
Thanks & Regards,
Mohan Ravi Kumar L.
Mobile:91-9980688100

[2019-10-30 19:44] trask commented on #1067
Hi @timja, just released now, thanks again for reporting this!

[2019-11-11 20:21] tobiasdiez opened #1155 "Exception Provider class xmlpull not found in modularized application"
When using applicationinsights-core-2.5.1 in an modularized java 12 (or 13) application, you get the following error:

[code]

The file `/META-INF/services/com.microsoft.applicationinsights.core.dependencies.xmlpull.v1.XmlPullParserFactory` indeed contains `com.microsoft.applicationinsights.core.dependencies.xmlpull.mxp1.MXParser,org.xmlpull.mxp1_serializer.MXSerializer` which is indeed a strange

[2019-11-11 20:26] trask commented on #1155
Hi @tobiasdiez, thanks for reporting this! I wonder if the problem is that `org.xmlpull.mxp1_serializer.MXSerializer` should be shaded.

Can you try modifying `/META-INF/services/com.microsoft.applicationinsights.core.dependencies.xmlpull.v1.XmlPullParserFactory` to instead contain

[code]

and see if that change would fix the issue?

[2019-11-12 18:39] trask commented on #1078
Resolved by #1141

[2019-11-12 18:39] #1078 closed

[2019-11-18 01:44] sairam-github commented on #641
Is there a further update on this? A reference document would really help. I had to spend a couple of hours to find a reference for adding configuration for method tracking. Refer https://github.com/microsoft/ApplicationInsights-Java/wiki/Configure-Dependecy-Type-in-the-Agent-Configuration.

[2019-11-18 02:21] sairam-github opened #1165 "Add support for automatic context propagation across messaging technologies (ex: JMS)"
Please add support for automatic context propagation across messaging technologies (ex: JMS) so that both operation_id and operation_parentId need not be embedded in the actual message object.

[2019-11-20 21:03] kasuri opened #1166 "Live Metrics support for custom filtering"
Hi,

We are incorporating App Insights for my company and one feature that we are very interested in (live stream metrics) does not seem to be supported by the Java SDK. It's available for .NET but our apps are using JAVA.  Is there an alternative available or any plan to incorporate with Java?

Here is the reference URL that suggests with JAVA custom filters are not supported.   https://docs.micr

[2019-11-20 21:30] littleaj commented on #1166
Yes, we currently only have partial support for live metrics in the Java SDK. [The table on that page](https://docs.microsoft.com/en-us/azure/azure-monitor/app/live-stream#supported-features-table) does reflect the currently supported features.

I'll update this ticket there are plans to implement in the future.

[2019-11-25 08:15] UncleInf commented on #790
Could you please clarify the state of this feature? Do we have a reasonable (in complexity) path of using insights in webflux even before full spring boot support?

[2019-11-25 08:43] laszlozold commented on #1092
Hi @vdcloud  - May I ask how you registered WebRequestTrackingFilter manually? - Thanks!

[2019-11-27 19:28] #721 closed

[2019-11-27 19:35] littleaj commented on #802
Is anyone still experiencing this issue with 2.5.1?

[2019-11-29 04:02] anotherfatcat opened #1168 "Could not send data to Application Insights in Azure China."
### Expected behavior
Leveraging this SDK should be able to send telemetry/metrics to Application Insights of Azure China area.

### Actual behavior
Even I've gotten the instrumentation key and set it to APPLICATION_INSIGHTS_IKEY environment variable correctly, still no data was saved in the Application Insights within Azure China area. And the same approach could help us to send telemetry/metrics

[2019-12-02 14:31] apescione opened #1169 "How to use Application Insights in Web Java deployed in Wildfly"
Hi,
I have an web application (I cannot modify its code) deployed on Wildfly and I want to use Application Insights and its Agent to monitor it.

Is There a Jboss/Wildfly module that I could use for?

Could I apply another approach for doing this?

Thank you in advance.

I've created this issue as Feature because probably there is a way to do it.

[2019-12-03 11:55] joergjo commented on #1168
Have you set the [custom endpoint](https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-endpoints) for Azure China?

[2019-12-03 20:16] littleaj commented on #1168
@anotherfatcat, from the logs, I can see that @joergjo is correct; you need to override the SDK endpoint.

I strongly recommend upgrading to version 2.5.1. This adds the [Connection String feature](https://github.com/microsoft/ApplicationInsights-Java/wiki/ApplicationInsights.XML#connectionstring) which makes setting the SDK endpoints much easier, and also fixes a bug with live metrics in Azure Ch

[2019-12-04 02:03] anotherfatcat commented on #1168
No, I didn't. After I set the endpoint for Azure China, it works fine. Thanks for your reminder.

[2019-12-04 02:11] anotherfatcat commented on #1168
Thanks for your suggestion. Could you please let me know where I can find more details about the environment variable EndpointSuffix? Currently I can only do the endpoint override in ApplicationInsights.XML file, but if an environment variable can help me to override the endpoint, that would be great.

[2019-12-04 06:00] eseybee opened #1170 "class conflict with a "glowroot$auxContext" class"
We are trying Application Insights integration with Artifactory (Java web app) in Azure IAAS.

There is a class conflict with a "glowroot$auxContext" class.
[code]

AI-Agent.xml file:
[code]

System Information:
-    os.name: Linux
-    os.version: 3.10.0-957.5.1.el7.x86_64
-    java.runtime.name: OpenJDK Runtime Environment
-    java.runtime.version:1.8.0_222-b10

[2019-12-04 19:11] littleaj commented on #1168
@anotherfatcat, the EndpointSuffix is part of the connection string, e.g you would set the environment variable
[code]
Where `*your ikey*` is replaced with the instrumentation key for your Application Insights resource.
You should find the connection string shown in the Overview tab in your Application Insights resource.

[2019-12-04 22:33] trask commented on #1170
Hi @eseybee, Artifactory has a Glowroot-based monitoring of its own (http://bullfrog.live/), which we are probably conflicting with as we are also using Glowroot-based instrumentation. Can you check if you are using the BullFrog monitoring, and if so, are you able to remove it? Thanks!

[2019-12-05 07:44] anotherfatcat commented on #1168
Cool! It is working well now!

Thanks for your detailed comments.

[2019-12-05 07:44] #1168 closed

[2019-12-05 23:04] eseybee commented on #1170
Hi @trask, we have removed BullFrog but we are still seeing the “Exception in thread "main" java.lang.ClassFormatError: Duplicate field name "glowroot$auxContext" with signature "Lorg.glowroot.instrumentation.api.AuxThreadContext;" in class file org/apache/juli/ClassLoaderLogManager$Cleaner”

[2019-12-09 14:06] itsforbrijesh commented on #1169
We also have same requirement where we don't want to package SDK with Apps rather have it on the server where all apps can refer. This will allow us to deploy the newer version without redeploying the app and just restart is needed to take an effect of the new SDK jar.

[2019-12-11 03:38] lmolkova opened #1174 "Id format changes in W3C mode"
In W3C mode we report parentId and Id in the format of `|traceId.parentSpanId.` and `|traceId.spanId.` respectively.

This is not needed anymore even for backward compatibility reasons. Compatibility with old versions of Application Insights SDK is handled by ingestion.

**Describe the solution you would like**

**When SDK receives a valid incoming request** with
1. `traceparent = 00-traceId-paren

[2019-12-11 15:45] DamianJava opened #1175 "Question: Tracking Dependencies in a JMS Consumer"
Hi,

Is it possible to track dependencies in a JMS consumer rather than a web request.

Looking at the code it seems that dependency tracking is tied to the agent bridge, but I may have got this wrong.

Would I have to bind the agent bridge to the thread around processing a message in a JMS  consumer?

Thanks

### System information
Please provide the following information:
 - SDK Version: 2.5.1

[2019-12-11 19:19] #627 closed

[2019-12-11 19:29] #720 closed

[2019-12-11 19:31] littleaj commented on #730
Done

[2019-12-11 19:31] #730 closed

[2019-12-11 19:33] #731 closed

[2019-12-11 19:33] #732 closed

[2019-12-11 19:33] #759 closed

[2019-12-11 19:35] #764 closed

[2019-12-11 19:37] #649 closed

[2019-12-11 19:37] #630 closed

[2019-12-11 19:52] MS-jgol commented on #790
Are you using App Service or AKS by any chance? We do have Netty/Webflux support in preview in those environments. Let's connect if this is something of interest, send me a dm!

[2019-12-11 19:57] MS-jgol commented on #1175
Are you running your app in App Service or AKS by any chance?

[2019-12-11 21:53] MS-jgol commented on #707
Are you using App Service or AKS by any chance? We do have Netty support in preview in those environments. Let's connect if this is something of interest, send me a dm!

[2019-12-12 08:38] DamianJava commented on #1175
Unfortunately not. The application is deployed in a standalone tomcat instance and is consuming messages from an ActiveMQ instance. Thanks.

[2019-12-12 12:16] zaabskr commented on #790
@MS-jgol Do you mean you have provided support in applicationinsights-spring-boot-starter for Netty/Webflux? If so do let me know how to enable it.

[2019-12-12 15:23] StuartConnor1 opened #1176 "Question: Java 1.6 support - please see below"
HI we have an old application that is on Java 1.6 and we are looking to roll Azure Appinsights into all our applications. I can see that at the momnet Java 1.8 and above is supported. Was 1.6 every supported? and if so can I have teh SDK's if it was? Appreciate that it's not supported. We are looking to upgrade the Java but want to use Appinsights to get a bench mark of performance before we upgra

[2019-12-12 16:22] MS-jgol commented on #790
@zaabskr Let's first clarify: are you running your app(s) in App Service or AKS? We started supporting Netty/Webflux in those environments only.

[2019-12-13 01:33] littleaj commented on #1176
@StuartConnor1 The last version to support Java 6 was [1.0.10](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/v1.0.10). Support was dropped in version [2.0.1](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/v2.0.1) (See notes in [2.0.0-BETA](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/v2.0.0-BETA))

Currently, we build with Java 8 but w

[2019-12-16 09:58] zaabskr commented on #790
@MS-jgol I am running the app in App Service

[2019-12-17 09:47] ijmac3 opened #1179 "SecurityException: class "com.microsoft.applicationinsights.web.javaee.RequestNameInterceptor_cs27u3_Impl"'s signer information does not match signer information of other classes in the same package - Weblogic"
Our product is currently required to work on both Wildfly and Weblogic. Previously, we were only using `applicationinsights-core` and `applicationinsights-logging-log4j2` and this was working well. Recently, we also introduced the `applicationinsights-web-auto` library and it stopped working on Weblogic, complaining that `com.microsoft.applicationinsights.web.javaee.RequestNameInterceptor_cs27u3_I

[2019-12-17 19:09] littleaj commented on #1179
@ijmac3, I wasn't able to locate the exact issue, but I found a lead:
* This issue is with a different product, but the top of the stack trace is the same: https://www.oracle.com/webfolder/community/siebel/3605672.html
However, I can't seem to gain access to the page to view the solution 😞 . Perhaps you will have better luck.

I'll continue to look for leads, but I'm not very familiar with the dep

[2019-12-17 23:38] alitaghavi commented on #1086
Any ETA on this?

[2019-12-18 13:34] SergeyKanzhelev opened #1180 "SDK must truncate fields to the length acceptable by the backend"
### Expected behavior
If `SessionID` was set to the value that is longer than 64 characters, telemetry must be send with the truncated value to be received by Application Insights backend

### Actual behavior
See error message: "Error sending data: 100: Field 'ai.session.id' on type 'ContextTagKeys' is too long. Expected: 64 characters, Actual: 66"

### To Reproduce
Steps to reproduce the behavior

[2019-12-18 13:37] SergeyKanzhelev commented on #1180
See https://github.com/microsoft/ApplicationInsights-dotnet/blob/94495100a60c9278973cc10df34e0a9245cec5a5/BASE/src/Microsoft.ApplicationInsights/Extensibility/Implementation/Property.cs#L31-L54

[2019-12-18 17:32] littleaj commented on #1180
@trask, this shouldn't be too difficult. Queuing for BETA.2.

[2019-12-19 11:47] lidkowiak opened #1183 "Exclude some urls from tracking"
It would be nice to have a possibility of defining URL patterns to filter by WebRequestTrackingFilter. There are cases when we don't want to collect telemetries for particular paths/resources (e.g. actuator endpoints)

Solution proposal:
You can add config property (with default value "/*")

[2019-12-28 16:59] kunalchandratre1 opened #1185 "Do you support normal java application [not web app] to use for capturing custom events?"
I created a sample java application in eclipse. It is not a web application. It is a simple class with main method. I plan to use this project to log custom events.
Do you support normal java application in eclipse[not web app] to use for capturing custom events?

[2019-12-30 16:04] MS-jgol commented on #1185
@kunalchandratre1
If by "not web app" you mean a non-http app, then no, we do not support that.

[2019-12-30 23:15] littleaj commented on #1185
@kunalchandratre1 We don't support any automatic instrumentation for non-webapps, but you can still use the `TelemetryClient.track` methods (e.g. `trackEvent`) with an ApplicationInsights.xml configuration file.

[2020-01-03 08:33] mercer commented on #1051
I also want to learn how to instrument calls to service bus, correlate them, and see the calls in application map.

I see this documented for .net client. What about java client?

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-end-to-end-tracing

[2020-01-03 08:43] mercer commented on #1051
I also see https://github.com/microsoft/ApplicationInsights-Java/wiki/Tracking-Azure-ServiceBus-message-processing-with-Apache-Qpid

Is this the way?

[2020-01-09 13:22] itisvamsi opened #1188 "ClientAbort exception(Broken pipe)"
Hi We are using applicationinsights-web , applicationinsights-agent 2.5.0 version in the application and we are facing with the below exception.(ClientAbortException , Broken pipe_

[code]

[2020-01-15 19:46] littleaj commented on #1188
@itisvamsi Does this exception occur without the application insights agent and/or web filter? Could you confirm this is an issue with application insights?

[2020-01-21 22:39] #1180 closed

[2020-01-23 07:39] intuitiveminds commented on #790
@MS-jgol @trask I'm also interested in testing the Webflux/Netty support. We are using App Service to deploy a Spring Boot-enabled reactive application as a jar file and I included the application insights boot starter (v2.5.1) - should HTTP telemetry flow in automatically? Or do we have to configure something or use a different version of the SDK?

Thanks in advance,
Sven

[2020-01-23 13:14] nitishsinghal29 commented on #765
when can we have this feature available, it will really incorporate AppInsights java agent in spring boot app flawlessly.

[2020-01-24 03:12] zaabskr commented on #790
@intuitiveminds  The support is available in azure spring cloud. It is in preview mode.

[2020-01-31 09:07] J4cku commented on #790
Hi,
jsut to be clear - there is no possibility to use either applicationinsight-spring-boot-starter or java agent for webflux apps right now?

[2020-01-31 22:18] trask commented on #790
@J4cku that is correct

[2020-02-03 18:29] trask commented on #1009
note to future self: i got lots of these warning messages after my laptop woke up from overnight sleep while running multiple apps being monitored by Application Insights (so they were all sharing the same temp directory)

[2020-02-09 21:52] villaratio commented on #1114
I'm using version 2.5.1 and ran into the same issue.
Here's my maven config

`    <dependency>
      <groupId>com.microsoft.azure</groupId>
      <artifactId>applicationinsights-spring-boot-starter</artifactId>
      <version>2.5.1</version>
    </dependency>
    <dependency>
      <groupId>com.microsoft.azure</groupId>
      <artifactId>applicationinsights-logging-logback</artifactId>
      <vers

[2020-02-10 23:47] MS-jgol commented on #790
@zaabskr On App Service, you can use auto instrumentation for your apps on Linux (not for custom containers though) and Windows. WebFlux and Netty are supported in that environment.

[2020-02-11 11:15] oscarh commented on #790
If I understand correctly, there has already been a solution developed, but this solution isn't yet publicly available? We are running a number of Java Spring Boot applications using WebFlux in AKS. Is it possible for us to access to a version of the applicationinsights-spring-boot-starter that would work for us?

[2020-02-11 15:15] sairam-github opened #1198 "Out of the box support for tracking telemetry of I/O operations"
**Is your feature request related to a problem? Please describe.**
Describe what the problem you have encountered; e.g I'm always frustrated when [...]

**Describe the solution you would like**
Describe what you want to happen.

**Describe alternatives you have considered**
Describe any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshot

[2020-02-11 15:18] sairam-github commented on #1198
Currently, the only way to track the telemetry of I/O operations is by using custom events. It would be very useful if Java SDK has out-of-the-box support.

[2020-02-11 16:02] jochenvw opened #1199 "Error: Could not resolve dependencies for latest snapshot"
I'm trying to use the latest App Insights Spring Boot Starter in my project, but Maven does not seem to be able to fetch it from the repository:

I would like to use:
[](https://mvnrepository.com/artifact/com.microsoft.azure/applicationinsights-spring-boot-starter/2.6.0-BETA.2)

So my POM looks like:

[code]

While running `mvn clean install -U` - I get:

`[ERROR] Failed to execute goal on project

[2020-02-11 19:15] trask commented on #1198
Hi @sairam-github, what I/O operations are you interested in tracking?

[2020-02-11 19:16] trask commented on #1199
@jochenvw thanks for reporting this! This is going to be fixed in 2.6.0-BETA.3 by #1197.

[2020-02-12 02:42] #1174 closed

[2020-02-12 09:45] jochenvw commented on #1199
@trask - thanks for getting back to me. And then it should 'just work' or do I need to still configure a custom repository and/or enable snapshot stuff?

[2020-02-12 17:08] sairam-github commented on #1198
Hi Trask, our app is reading (FileInputStream/DataInputStream) and writing (FileOutputStream/DataOutputStream) to the file system or a shared mount. I would like the ability to capture, at a high level, some info about the connection and track the telemetry data. I know I could track it using custom events, however, just wondering if SDK covers this by default (as it does for Rest calls, Oracle DB

[2020-02-12 19:51] trask commented on #1198
Hi @sairam-github, file operations tend to be a bit lower-level than what we typically capture (e.g. network operations). We're working on providing options for lower-level diagnostics in the future, but no timeline on that yet.

[2020-02-12 19:52] trask commented on #1199
@jochenvw Yes, it should just work once we release 2.6.0-BETA.3 (you can also go back to 2.6.0-BETA which doesn't have this problem either, this problem was just introduced in 2.6.0-BETA.2).

[2020-02-13 01:44] #1199 closed

[2020-02-13 16:00] sairam-github commented on #1198
Thanks for the update, I appreciate it.

[2020-02-14 12:45] QiAnXinCodeSafe opened #1202 "Unused Field"
https://github.com/microsoft/ApplicationInsights-Java/blob/e9119f29d9342b13c4440471f964f61349161e7c/test/performance/src/main/java/com/microsoft/applicationinsights/core/volume/FakeTransmissionOutput.java#L40

Unused Field

[2020-02-14 12:58] QiAnXinCodeSafe opened #1203 "Hardcoded file separator"
https://github.com/microsoft/ApplicationInsights-Java/blob/e9119f29d9342b13c4440471f964f61349161e7c/core/src/main/java/com/microsoft/applicationinsights/extensibility/initializer/docker/internal/DockerContextPoller.java#L44

The path split symbol problem is different for different operating systems. Hard-coded file separators should not be used. Instead, use a platform-independent API provided by

[2020-02-14 13:03] QiAnXinCodeSafe opened #1204 "Unreleased Resource: Streams"
https://github.com/microsoft/ApplicationInsights-Java/blob/e9119f29d9342b13c4440471f964f61349161e7c/samples/misc/src/plugins/java/com/microsoft/applicationinsights/sample/plugins/GitBuildInfoContextInitializer.java#L62

The program can potentially fail to release a system resource.

[2020-02-16 19:42] gennadiy-dubina opened #1208 "NopThreadContext is used for background process"
Hi everybody,

We are using appinsight agent for monitoring spring boot applications.
some application consume request via http, other uses service bus (we use azure service bus via https://github.com/microsoft/spring-cloud-azure )

Agent records dependencies correctly for  apps with http endpoints and DOES NOT record dependencies for apps with service bus endpoints,

After some debugging i have f

[2020-02-16 22:24] adamkulcsar opened #1209 "SecurityException: class "org.xmlpull.v1.XmlPullParserFactory"'s signer information does not match signer information of other classes in the same package"
Shadow JAR is evil and source of numerous class loading problems. Please provide a distribution with proper pom.xml files.

### Expected behavior
Able to use XStream indepenendently from this lib

### Actual behavior
Exception thrown because of this shadow jar

### To Reproduce
Use XStream

#### Sample Application
If applicable, provide a sample application which reproduces the issue.

### System

[2020-02-18 18:58] MS-jgol commented on #790
Anyone interested in Application Insights in preview, please follow the instructions here:
https://github.com/microsoft/Application-Insights-K8s-Codeless-Attach/blob/master/SETUP.md

Your feedback is very much appreciated!

[2020-02-19 17:44] #1202 closed

[2020-02-19 17:44] #1203 closed

[2020-02-19 17:44] #1204 closed

[2020-02-19 19:41] littleaj commented on #1209
This will be fixed in 2.6.0. 2.6.0-BETA.2 has already addressed this issue if you'd like to try that version.

[2020-02-20 10:34] oscarh commented on #790
Sorry about my confusion, but how is this related to the applicationinsights-spring-boot-starter? I think that we would prefer add that to our spring configuration, rather than deploying a side-car on each pod.

[2020-02-20 16:00] MS-jgol commented on #790
@oscarh There is at the moment no other way for us application insights to support Webflux/Netty. In March we will be releasing a stand alone agent that will have the functionality you are looking for.

[2020-03-02 06:05] nuk23 opened #1212 "Unable to view Live Metric for Java Web app"
### Expected behavior
I am using Maven based Java Web application (Mulesoft) which essentially uses Java Spring. I am using Application Insights web auto SDK version 2.5.0 to send the tememetry data to App insights and using Application.xml file.
while checking on the Live Metric tab its unable to show any telemtry/traces and keeps giving a pop up to update the SDK version. However I am able to se

[2020-03-02 06:16] nuk23 commented on #1094
@cforce .Did you find a solution to this one ? I am facing the same issue.

[2020-03-04 19:34] littleaj commented on #1094
@nuk23 What region is your application insights resource located? Could you share a screenshot of the message?

[2020-03-04 19:39] littleaj commented on #1212
@nuk23 This view has recently been updated and will be released in your region soon. Not all features of live metrics are supported by the Java SDK. The full list of supported features is documented here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/live-stream#supported-features-table.

[2020-03-04 19:40] #1094 closed

[2020-03-10 05:40] gianlucagravina opened #1215 "using applicationinsights-web-auto 2-6-3-BETA.3 for JAVA, Azure still redirect me to nuget"
### Expected behavior
Using the latest version of the library I would expect the AppInsights live metrics would notify me only in case of newer version (would love to configure even if just stable or prereleases too)

### Actual behavior
Using the latest version 2.6.3-BETA3 in the live metrics preview I still have the message on the right pane ("Your application is instrumented with Application In

[2020-03-10 10:18] fox918 commented on #1048
I can confirm this behaviour using the latest version 2.5.1 of applicationinsights-spring-boot-starter

[2020-03-10 19:40] trask commented on #1215
Hi @gianlucagravina, the UX fix for this should be rolled out to all regions next Mon 3/16. With the new UX, it will direct you to [this support matrix](https://docs.microsoft.com/en-us/azure/azure-monitor/app/live-stream#supported-features-table) instead of displaying that incorrect message.

[2020-03-10 19:41] trask commented on #1212
The UX fix for this should be rolled out to all regions next Mon 3/16.

[2020-03-12 12:40] grava commented on #635
Hi, I am trying with no luck to configure my spring boot app to use FeignClient to use OkHttp or Apache Http Client and send data to AppInsights. Can someone point me to a complete configuration to aaccomplish the above ?
I tried with the application.yaml config using
feign:
 okhttp:
    enabled:true

but I cannot see any dependency in my AppInsights application map.

thanks !

[2020-03-14 03:57] grava opened #1216 "Unable to track External Dependencies with JAVA Agent"
### Expected behavior
Spring boot app should track external dependencies in the application map

### Actual behavior
No dependencies tracked if not manually tracked (client.trackDependency(...)) tried using
- OkHttp Client for Feign
- Apache HttpClient for Feign
- Normal RestClient
still no dependency tracking in the application map in app insights.

### To Reproduce
libraries used:
'org.springfra

[2020-03-16 11:44] apescione commented on #790
Any News about this support? @MS-jgol about the stand alone agent?

[2020-03-16 14:41] MS-jgol commented on #790
@oscarh @zaabskr @J4cku @dsibilio @apescione
We are in private preview now!! The agent works in any environment. Please follow the link below for the full list of functionality supported and the instructions.
Public preview is March 31st.
Please, everyone, provide your feedback - we really appreciate it!
https://github.com/trask/docs-work-in-progress/wiki/Application-Insights-Java-3.0-Private-Prev

[2020-03-17 15:46] the-wrangler17 opened #1217 "Heartbeat Module using default config when using Logback Appender in Spring Boot app"
### Expected behavior
The Heartbeat Module should use the configuration in application.properties,  not the default configuration, regardless of the Logback Appender.

### Actual behavior
The presence of the Logback Appender is causing the Heartbeat Module to initialize with the defaults, heartbeat interval of 15 minutes. The heartbeat interval in application.properties is configured to 60 seconds

[2020-03-18 02:15] trask commented on #1216
Hi @grava! Thanks for the sample application! When I ran it and hit `http://localhost:10030/manual`, it captured remote dependency for me:

![image](https://user-images.githubusercontent.com/218610/76918493-a36c2700-6883-11ea-8823-f34cb786fcbf.png)

Is this what you are not seeing, or is it something else that you are not seeing?

Thanks!

[2020-03-18 03:34] giventocode opened #1218 "Spring-boot configuration clarification"
The documentation for spring-boot states the following:

Note: Do not configure azure.application-insights.instrumentation-key property for optimal performance and avoiding any Application Insights beans creation by Spring.

If it is not recommended to use standard spring DI and config, what is the suggested approach?

[2020-03-18 04:15] trask commented on #1218
Hi @giventocode! That note is under the section [Completely disable Application Insights using application.properties](https://github.com/microsoft/ApplicationInsights-Java/blob/master/azure-application-insights-spring-boot-starter/README.md#completely-disable-application-insights-using-applicationproperties), and only applies if you are trying to completely disable Application Insights.

[2020-03-18 04:17] giventocode commented on #1218
Thank you!

[2020-03-18 04:17] #1218 closed

[2020-03-18 18:40] littleaj commented on #1217
@the-wrangler17 It looks like the appender is initializing the heartbeat module before application.properties is processed. As a workaround, you could try providing an ApplicationInsights.xml with the heartbeat configuration.

[2020-03-25 21:10] GrumpyMeow opened #1220 "IBM Integration Bus v10 monitoring"
Hi,

I'm trying to get the Java SDK Application Insights implemented on IBM Integration Bus v10.
It seems i'm only getting a limited amount of data from the WebAdmin-site.
I enabled SDKLogger and got info. In this info i see the message "agent not found" & "agent not running". But i did setup the environment variables:
SET CATALINA_OPTS=-javaagent:"C:\applicationinsights-agent-2.6.0-BETA.jar" -Dap

[2020-03-26 09:58] surbhin commented on #1212
Hi ,
Is the fix already rolled out?
I am facing the same issue for a spring app deployed in Tomcat.
The steps defined here at
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started?tabs=maven
are being followed.
SDK version tried:
2.5.0
2.6.0
1.0.10 ->> mentioned https://github.com/microsoft/ApplicationInsights-Java/issues/450

None of these versions are helping send logs to to

[2020-03-26 15:39] trask commented on #1212
Hi @surbhin, can you attach a screenshot of what you are seeing in Live Metrics? Thanks!

[2020-03-30 09:53] tobiasdiez opened #1222 "Cannot be used in a modularized application"
Using the applications insights core component in a modularized application throws the following error on compile time:
[code]
As more and more applications are getting modularized now, it would be nice to have a workable version.

Setup can be found in https://github.com/JabRef/jabref/blob/dependabot/gradle/com.microsoft.azure-applicationinsights-core-2.6.0/build.gradle

These errors are new when

[2020-03-30 18:22] gdufrene opened #1223 "Remove dependency to guava"
**Is your feature request related to a problem? Please describe.**
ApplicationInsight is provided as a shaded jar with quite a lot of dependency.
It leads to a jar around 20 Mo.
Most of this comes from guava dependency.

**Describe the solution you would like**
Would you like a PR to remove guava ?
Most of guava usage is Strings.isNotOrEmpty Or Preconditions
It could easily be replaced with common

[2020-03-31 13:44] dylan-asos opened #1224 "Update documentation for Sampling configuration"
The documentation for the sampling configuration is out of date - XML Element names have changed from what is documented,

https://github.com/microsoft/ApplicationInsights-Java/wiki/Sampling

For example, adaptive sampling should be like: (values here are the defaults configured if not provided)

[code]

Please update!

[2020-04-01 10:04] dylan-asos commented on #1063
+1 - is this being worked on? Otherwise may have a look at effort involved

[2020-04-01 22:00] littleaj commented on #1222
@tobiasdiez, the grpc dependency was removed in 2.6.0. I believe removing the `provides * with *` statements shown here will solve the issue.

[2020-04-02 08:20] dylan-asos commented on #1063
@littleaj @trask I had a look, this seems pretty easy to bring inline with the XML based approach.

* Add new class Adaptive to ApplicationInsightsProperties->Sampling to hold adaptive sampling config. All existing settings of Sampling remain as-is.

* Remove _TelemetryProcessor fixedRateSamplingTelemetryProcessor from_ ApplicationInsightsModuleConfiguration.

* Add new class _TelemetrySamplerInit

[2020-04-02 09:34] tobiasdiez commented on #1155
This issue is still present in 2.6:
[code]

[2020-04-02 09:49] tobiasdiez commented on #1222
Thanks for the quick help. Removing the provides statements indeed resolves the compiler errors. There are still some warnings though:
[code]

Sadly, on runtime one still encounters the bug https://github.com/microsoft/ApplicationInsights-Java/issues/1155 which makes it still not possible to use 2.6 in a modularized app :(.

[2020-04-03 08:47] oscarh commented on #790
Hi, is the public preview available now?

Where can we provide feedback to the private preview? We seem to have issues connecting to Redis cache since we've added the agent.

[2020-04-03 16:39] trask commented on #790
Hi @oscarh! Yes, public preview is available now: https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.0.0-PREVIEW.

If you have any issues with the preview, please open a new issue here.

[2020-04-03 17:06] MS-jgol commented on #790
@oscarh Thank you for getting back to us! @trask beat me to the answer... :)
Here is the link to more docs just in case:
https://github.com/microsoft/ApplicationInsights-Java/wiki/3.0-Preview:-Getting-started

[2020-04-16 05:08] LennartHaggkvistHM opened #1230 "applicationinsights-agent-3.0.0-PREVIEW.2 with Spring configuration"
### Expected behavior
Start as usual using the old (and documented) configuration

### Actual behavior
Exception:
[code]

### To Reproduce
Steps to reproduce the behavior:
Take a working Spring Boot application that is using the 2.x version of the agent.
We used applicationinsights-agent-2.6.0-BETA.2.jar
together with
[code]

The issue is probably that the old version worked when using the spring

[2020-04-16 06:22] LennartHaggkvistHM commented on #1230
Tried to upgrade SDK to 2.6.1-BETA but no difference.
[code]

[2020-04-16 15:41] trask commented on #1230
Hi @LennartHaggkvistHM, for 3.0-Preview, you can specify the connection string using environment variable also: https://github.com/microsoft/ApplicationInsights-Java/wiki/3.0-Preview:-Configuration-Options#connection-string

[2020-04-17 07:49] LennartHaggkvistHM commented on #1230
Thanks, I did miss that part of the documentation. It would be good to include that in how to upgrade from 2.x (for example https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent#upgrading-from-application-insights-java-sdk-2x)
(also an update of the spring-boot starter would be good)

In in unrelated thing: on https://github.com/microsoft/ApplicationInsights-Java/wiki/3.0-

[2020-04-18 19:02] normalian commented on #1114
I had same issue here with trying a version below.

		<dependency>
			<groupId>com.microsoft.azure</groupId>
			<artifactId>applicationinsights-spring-boot-starter</artifactId>
			<version>2.5.0</version>
		</dependency>

[2020-04-19 14:38] StepeCZ commented on #710
Im experiencing the very same issue on latter versions as well.

When trying to use Spring standard property configuration it does not work, instrumentation key is always null which causes no logs to be published.

Once I add ApplicationInsights.xml it starts working.

        <dependency>
            <groupId>com.microsoft.azure</groupId>
            <artifactId>azure-servicebus-jms-spring-boot-s

[2020-04-22 18:34] #1230 closed

[2020-04-22 22:16] trask commented on #1230
@LennartHaggkvistHM thanks for pointing out this issue! we've fixed the docs, and PREVIEW.4 will be more lenient, e.g. accepting both "error" and "ERROR".

[2020-04-29 01:29] wcom939 commented on #1086
It does look like this was fixed here https://github.com/microsoft/ApplicationInsights-Java/commit/369eae9837b5c197a217659f6de341a7a5ba1e1a

The previous issue was the client shutdown was not synchronized. I will test the new library and see if it solves the issue

[2020-04-29 20:24] estaylorco commented on #884
I just want to affirm that this really is a problem.  It is safe to safe that Azure Key Vault does _not_ support Spring Boot.  Until this problem of dots and dashes is fixed, please pull from the documentation and marketing materials any indication that Key Vault supports Spring Boot.  Thank you.

[2020-05-01 15:06] nikhilingole commented on #780
Hi, @littleaj  / @dhaval24  - Has there been any update to this, even I am facing a similar situation
where I am trying to add properties from either env or spring lookup but can't see it in ApplicationInsights log. I am using Spring Boot starters version - 2.6.0
Can you share a sample log4j2.xml configuration with the PatternLayouts including these look-ups so that I cross check my config.

[2020-05-04 12:52] the-mod opened #1231 "Order of Context Initializers"
### Expected behavior
I wrote a custom ContextInitializer which sets the Cloud Role Instance.
The Cloud Role Instance should appear in AppInsights with each and every log message.
Messages with Log4J seams fine, but logs send with TelemetryClient got overwritten by the default values again.

### Actual behavior
Value is overwritten by IP in this Case
[see here](https://github.com/microsoft/Applica

[2020-05-05 16:22] yvespp opened #1232 "Example for custom telemetry with OpenTelemetry and agent 3.0"
**Is your feature request related to a problem? Please describe.**
I'm trying to add custom telemetry using OpenTelemetry and agent 3.0.0-PREVIEW.4 but I can't get it to work. I can see the dependencies and requests etc. in Application Insights that are automatically created by the agent but my custom telemetry isn't showing up.

My code looks like this:
[code]

**Describe the solution you would l

[2020-05-06 15:56] bigredmachine opened #1233 "[QUERY] JMX metrics which aren't available initially, never recorded"
**Query/Question**
I'm finding that some JMX metrics I'm trying to record via Java Application Insights aren't being recorded.
The one's which aren't being recorded are the one's which take the longest to appear in JConsole after the application starts up.
I've turned on the SDKLogger to see what's happening, and getting the following error
'java.lang.IllegalArgumentException: Cannot find object n

[2020-05-13 15:43] zoomingrocket opened #1235 "Agent 3.0 PREVIEW.4 In Process Agent - Custom JMX Metrics with Boolean Values Not Collected"
Using PREVIEW.4 in process java agent with custom jmx metrics configured in json for collection. JMX Metric will show in Metrics list until first time a value is set either to true or false and it will stop showing up in Application Insights

Request to either provide a mechanism to define type of jmx attribute so that a translation of boolean to numeric can be done or auto parse

[2020-05-13 15:53] zoomingrocket opened #1236 "Add auto-instrumentation support for RabbitMQ (AMPQ)"
**Is your feature request related to a problem? Please describe.**
We are monitoring complete middleware java JVM using in process agent. We noticed that calls made out from JVM over AMPQ protocol to Rabbitmq brokers were not captured automatically as dependency.

**Describe the solution you would like**
It would be good to bundle AMPQ (0-9-1, 1.0) protocol monitoring alongside Kafka & JMS.

**Des

[2020-05-14 12:54] ravindrakmr opened #1237 "Environment variable for logging level"
Looks like we can not set logging level external to ApplicationInsights.json file. Can we have an option to set logging level as well via some environment variable similar to connection string ? My scenario is I want different logging levels for different environments.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#application-log-capture

[2020-05-14 17:54] andrejpk opened #1238 "applicationinsights-spring-boot-starter: Don't crash when an instrumentionKey is not supplied; just run without AI"
**Is your feature request related to a problem? Please describe.**
Yes: When I use the applicationinsights-spring-boot-starter package, my app can't run without an App Insights instrumentation key. This breaks my CI tests which have no use for app insights. Now in my build pipeline I need to create a dummy App Insights environment to keep my CI builds happy.

**Describe the solution you would like

[2020-05-14 17:57] andrejpk commented on #1114
Here's a pom.xml excerpt that works (logging and metrics):
[code]

[2020-05-14 18:27] vs6f8 opened #1239 "Webjob keeps running even after all the tasks of the executable jar are performed."
I have a web job that performs a batch operation.
The WebJob runs a jar file. This job was running fine earlier but was not writing to the Application Insights. We made changes to our application by adding the java agent jar and the applicationinsights jar's.
Since we made the changes the application is logging to Application Insights and the application is also performing its tasks, but the WebJo

[2020-05-14 19:27] andrejpk commented on #1238
One might say: just disable app insights in the config for the CI builds:
[code]
but it crashes anyway. Even if AI is disabled, it won't let your app run without an ikey.

[2020-05-15 00:09] StevenAtMSI opened #1240 "Unable to Send Custom Metrics during application shutdown"
### Expected behavior
To be able to send last minute metrics during a normal exit or user interrupt.

### Actual behavior
Generally Application Insights silently fails to send the metrics during the TransmissionNetworkOutput due to the httpClientRef in ApacheSender43 having a closed connection manager. A IllegalStateException is produced stating "Connection pool shut down".

### To Reproduce
Run A

[2020-05-20 09:45] emmansun opened #1242 "Duplicated HTTP dependencies reported"
### Expected behavior
For every http (tracked component) dependency, there should be only one AI dependency record.

### Actual behavior
There are 2 http dependency records per single http dependency. One type is HTTP and another one is Http (tracked component), both dependencies client_Browser=Apache-HttpClient 4.5

For type = HTTP, there are no resultCode, target is domain name, name is url with

[2020-05-21 03:13] trask commented on #1242
Hi @emmansun! I don't recall seeing this issue before. Can you try with 2.6.0 (or [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent))?

[2020-05-21 09:07] emmansun commented on #1242
Thanks @trask , i handled it via custom TelemetryProcessor first. My request is started from JMS Listener.
![image](https://user-images.githubusercontent.com/7235232/82543022-8a366e00-9b85-11ea-94c9-23a78bce55b3.png)

[2020-05-21 09:07] #1242 closed

[2020-05-22 04:30] gpj1 opened #1244 "Configuration in ApplicationInsights.json is not in effect"
### Expected behavior
Configuration like rolename, logging.threshold should take effect when configured as documented in https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config

### Actual behavior
Data sent to AppInsights but roleName and loglevel is not what is given in ApplicationInsights.json.
In AppInsights, cloud rolename is AppServiceName and log level is 'trace'

##

[2020-05-22 17:21] MS-jgol commented on #1244
@gpj1 We tried to reproduce the issue on our side through the steps above, and could not. Can you please try opening a support ticket in Azure Portal?

[2020-05-22 18:51] zoomingrocket commented on #1244
Have not tried using environment variables, but definitely customized the ApplicationInsights.json default location by using JVM startup parameter as below. Environment variables becomes tricky depending upon how you are starting the service and if those variables are in effect :)

-javaagent:/d00/install.d/appinsights/applicationinsights-agent-3.0.0-PREVIEW.4.jar
-Dapplicationinsights.configurati

[2020-05-24 00:35] trask commented on #1240
Hi @StevenAtMSI, 3.0 Preview supports this (it registers a shutdown hook and flushes any buffered telemetry). https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent

[2020-05-28 19:36] librucha opened #1247 "HttpServletRequest is not included in RequestTelemetryContext"
### Expected behavior
`ThreadContext.getRequestTelemetryContext().getHttpServletRequest()` returns current servlet request if is implementation of HttpServletRequest

### Actual behavior
returns always `null`

### To Reproduce
Steps to reproduce the behavior:
Create own Telemetry initializer
in onInitializeTelemetry call `ThreadContext.getRequestTelemetryContext().getHttpServletRequest()`

#### Sa

[2020-05-28 20:01] anumalasri opened #1249 "Supporting Latest Spring Boot version"
Latest version still using deprecated Spring Boot Versions:

https://repo1.maven.org/maven2/com/microsoft/azure/applicationinsights-spring-boot-starter/2.6.1-BETA/applicationinsights-spring-boot-starter-2.6.1-BETA.pom

[code]

As part of `azure-spring-boot` or `spring-cloud-azure`, other Azure components are supporting latest `Spring Boot v2.3.X`.

Can ApplicationInsights also support latest Sprin

[2020-05-28 23:46] anumalasri commented on #1249
Getting below error when we integrate `com.microsoft.azure:applicationinsights-core:2.6.0` with `Spring Boot v2.3.0.RELEASE`

[code]

[2020-05-29 03:26] trask commented on #1249
Hi @anumalasri, I just tried with applicationinsights-spring-boot-starter `2.6.1-BETA` and Spring Boot `2.3.0.RELEASE`, but wasn't able to reproduce the issue you are seeing. Can you create a github repo with a sample app that I can run to reproduce the issue you are seeing?

[2020-05-29 03:29] trask commented on #1239
Hi @vs6f8, I suspect that this is resolved by https://github.com/microsoft/ApplicationInsights-Java/pull/1245. We are planning to release a new version with this fix in the next few days.

[2020-05-29 15:11] ToBeKedge commented on #1244
@zoomingrocket have you tried to put the agent .jar and the config .json in the same folder without using -Dapplicationinsights.configurationFile?
On our side, it's work when .jar and .json are in the same folder.

It is described [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent):

[2020-05-29 15:15] gpj1 commented on #1244
@MS-jgol Can I create support ticket while using public preview features?

[2020-05-29 15:16] zoomingrocket commented on #1244
@ToBeKedge  - Yup, that works! But we have multiple JVM processes that we needed to monitor with different configurations so we did not want to duplicate the agent jar multiple times, only create separate ApplicationInsights.json file based on different JVM processes requirement

[2020-05-29 15:37] MS-jgol commented on #1244
@gpj1 Definitely, our public preview features are fully supported :)

[2020-05-29 15:42] ToBeKedge commented on #1244
@zoomingrocket solution is duplicated .jar and .json for each config... if you use linux, you can make a link on the .jar to keep only one version, no?

[2020-05-29 18:40] gitrepo12345 commented on #1212
Hi @trask. I am using appinsights version 1.0.8 and my gradle build is passing but I do not see Live Metrics in Azure. I tried updating to latest version and my build fails with error.
![image](https://user-images.githubusercontent.com/39868420/83293801-e450b800-a1b1-11ea-9e15-4e0af0bd7411.png)
Any help is much appreciated.

[2020-05-29 19:12] zoomingrocket commented on #1244
@ToBeKedge  Why to do that when it has out of box functionality to point to different configuration :)

[2020-05-29 19:45] trask commented on #1212
Hi @gitrepo12345, live metrics is not supported in `1.0.8`. The latest version is `2.6.0`, or you can try the 3.0 Preview which is generally much easier to get up and running.

[2020-05-29 22:57] ToBeKedge commented on #1244
Yes for sure! 😉

[2020-05-30 03:55] gitrepo12345 commented on #1212
@trask I tried updating to version 2.0.14 but the build fails. When I run the build with version 1.0.8, I do not have any issues with the build. This is the build error -

![image](https://user-images.githubusercontent.com/39868420/83318961-834fd100-a1ff-11ea-82a1-d45c0cbfd528.png)

[2020-05-30 03:58] MS-jgol commented on #1212
@gitrepo12345 Have you tried the 3.0 version? Strongly recommend that one.

[2020-05-30 04:36] gitrepo12345 commented on #1212
@MS-jgol I just tried 3.0 version. Getting similar error.

[2020-05-30 17:04] anumalasri commented on #1249
@trask ..  My application has lot many other dependencies , including few internal dependencies.  After upgrading AI version from `2.5.1` to `2.6.0+`, getting error during application shutdown.

Please give some time to remove internal dependencies and create sample app ..

[2020-05-30 17:22] trask commented on #1212
Hi @gitrepo12345, 3.0 is not a maven dependency, see https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent

[2020-05-30 20:07] gitrepo12345 commented on #1212
@trask Thanks for your prompt response. I am wondering how to pass this argument in Azure Pipelines. I am using Azure Hosted Windows Agent 2019 to run this pipeline.

[2020-06-01 22:59] trask commented on #1212
Hi @gitrepo12345, not sure about this setup, you'll need to figure out where to add JVM args to the Java process you are trying to monitor.

Typical JVM args include -Xmx512m and -XX:+UseG1GC. So try to find out where to add these, and it will be the same place.

[2020-06-02 09:52] MNicks opened #1251 "Put AI Agent 3.0 into MVN repo"
Even it's still in preview, do you see a change to provide AI Agent 3.0 as dependency in the official MVN repo. To download and include the JAR manually into a project is somehow cumbersome

[2020-06-03 05:45] prat19 opened #1252 "Issue with Java Agent 2.6.0"
Hi,
I have setup the Java agent 2.6.0 for my Jersey Restful Web Services. After hitting some requests successfully, I get the below error.
java.lang.NoClassDefFoundError: com/microsoft/applicationinsights/internal/schemav2/ExceptionData
    com.microsoft.applicationinsights.TelemetryClient.trackException(TelemetryClient.java:279)
    com.microsoft.applicationinsights.TelemetryClient.trackException

[2020-06-03 06:19] MS-jgol commented on #1252
@prat19 We recommend to switch to the Java 3.0 agent:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent

It looks like you are using TelemetryClient.trackException() to track the custom logs/exceptions - you can do so via log4j and the telemetry will be captured automatically.

To configure the log capture, please follow the instructions here:
https://docs.microsoft.co

[2020-06-04 07:01] prat19 commented on #1252
@MS-jgol , thank you for the solution, we are using applicationinsights-agent-3.0.0-PREVIEW.4.jar and found not errors in the last 24 hrs.

[2020-06-04 07:01] #1252 closed

[2020-06-04 12:43] simon-an commented on #884
I can confirm that azure application-insights and azure keyvault are working together.
Tested with:
azure-keyvault-secrets-spring-boot-starter version 2.2.1
applicationinsights-spring-boot-starter version 2.6.1
spring boot 2.2.6.RELEASE

Keyvault Secret Name:  **azure-applicationinsights-instrumentationkey**

[2020-06-04 19:48] trask commented on #1239
Hi @vs6f8, 2.6.1 is released now with the fix for #1245.

[2020-06-05 07:45] padjiwib opened #1255 "Why does getAccountId have package-private access level?"
https://github.com/microsoft/ApplicationInsights-Java/blob/231926835648e4184f05565a619e757cbf212eaf/core/src/main/java/com/microsoft/applicationinsights/extensibility/context/UserContext.java#L45

What makes it different from other getters? Can we set this to public?

[2020-06-08 13:20] dylan-asos opened #1256 "Question - pre-aggregated metrics"
The AI SDK for .Net supports multi-dimensional pre-aggregated metrics, e.g. https://github.com/microsoft/ApplicationInsights-dotnet/issues/774.

While the Java SDK has trackMetric functionality, I couldn't find an equivalent for client metric aggregation.

Micrometer supports this functionality and has a source for Azure Monitor (https://docs.microsoft.com/en-us/azure/azure-monitor/app/micrometer-

[2020-06-09 04:49] trask commented on #1256
Yes, that's a good approach, I suggest you use [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent), which has built-in Micrometer support

[2020-06-09 05:05] trask commented on #1232
Hi @yvespp, what version of OpenTelemetry API are you using? Because OpenTelemetry API is still in beta, and still rapidly changing, 3.0.0-Preview.4 only supports the OpenTelemetry API version at the time of it's release, which was OpenTelemetry 0.3.0.

[2020-06-09 07:28] tobiasdiez commented on #1155
In 2.6.1 it is still present: https://github.com/JabRef/jabref/pull/6594

[2020-06-09 09:19] dylan-asos commented on #1256
OK thanks @trask

[2020-06-09 09:19] #1256 closed

[2020-06-09 11:59] yvespp commented on #1232
Hi @trask, I was using OpenTelemetry 0.4.0 snapshot. I downgraded to to 0.3.0 and now it works.
Thanks!

[2020-06-09 22:11] #1232 closed

[2020-06-09 22:17] trask commented on #1155
Hi @tobiasdiez, can you create a github repository with a simple repro?

[2020-06-10 03:10] #439 closed

[2020-06-10 03:11] trask commented on #371
Addressed in 3.0 Preview: https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#http-proxy

[2020-06-10 03:11] #371 closed

[2020-06-10 03:12] trask commented on #309
Not relevant anymore in 3.0 Preview

[2020-06-10 03:12] #309 closed

[2020-06-10 03:14] #472 closed

[2020-06-10 03:16] trask commented on #869
Addressed in 3.0 Preview (it now parses and captures only specific parts of the connection string)

[2020-06-10 03:16] #869 closed

[2020-06-10 03:18] trask commented on #824
Closing as LocalForwarder has been deprecated

[2020-06-10 03:18] #824 closed

[2020-06-10 03:20] #802 closed

[2020-06-10 03:28] #790 closed

[2020-06-10 03:35] trask commented on #1051
This is resolved in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 03:35] #1051 closed

[2020-06-10 03:36] trask commented on #1082
Resolved in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 03:36] #1082 closed

[2020-06-10 03:37] trask commented on #1086
Resolved in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 03:37] #1086 closed

[2020-06-10 03:43] trask commented on #1092
This should work now without additional configuration in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 03:43] #1092 closed

[2020-06-10 03:45] trask commented on #1095
This setup should be much clearer now in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 03:45] #1095 closed

[2020-06-10 03:46] #991 closed

[2020-06-10 03:52] trask commented on #953
This is resolved in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 03:52] #953 closed

[2020-06-10 03:52] #934 closed

[2020-06-10 03:55] trask commented on #930
This is test code

[2020-06-10 03:55] #930 closed

[2020-06-10 03:56] #923 closed

[2020-06-10 03:56] #931 closed

[2020-06-10 03:56] #922 closed

[2020-06-10 03:56] trask commented on #902
This should work now without additional configuration in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 03:56] #902 closed

[2020-06-10 03:57] trask commented on #891
This is resolved in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) (buffer is flushed on JVM shutdown hook)

[2020-06-10 03:57] #891 closed

[2020-06-10 03:58] #792 closed

[2020-06-10 03:59] #673 closed

[2020-06-10 04:01] trask commented on #641
This is resolved in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) (configuration options are fully documented)

[2020-06-10 04:01] #641 closed

[2020-06-10 04:06] #548 closed

[2020-06-10 04:08] #1188 closed

[2020-06-10 04:09] trask commented on #1208
Hi @gennadiy-dubina, are you using JMS for your service bus endpoints? If so, [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) should auto-capture that now.

[2020-06-10 04:10] #1212 closed

[2020-06-10 04:11] #1209 closed

[2020-06-10 04:12] #1215 closed

[2020-06-10 04:13] trask commented on #1185
This is supported now in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 04:13] #1185 closed

[2020-06-10 04:14] trask commented on #1179
This should be resolved in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 04:14] #1179 closed

[2020-06-10 04:14] #1176 closed

[2020-06-10 04:15] trask commented on #1175
This is supported in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 04:15] #1175 closed

[2020-06-10 04:16] trask commented on #1169
Please try out [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) and let us know if that resolves the issue for you

[2020-06-10 04:17] trask commented on #1170
Please try out [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) and let us know if that resolves the issue for you

[2020-06-10 04:19] trask commented on #1220
Hi @GrumpyMeow, are you using JMS? If so, [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) should auto-capture that now.

[2020-06-10 04:21] trask commented on #1165
JMS is auto-captured and auto-correlated now in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 04:21] #1165 closed

[2020-06-10 04:23] trask commented on #1116
Please try out [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) and let us know if that resolves the issue for you

[2020-06-10 04:27] trask commented on #1022
The portal U/X has been fixed

[2020-06-10 04:27] #1022 closed

[2020-06-10 04:28] #1013 closed

[2020-06-10 04:29] trask commented on #976
This should be resolved in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 04:29] #976 closed

[2020-06-10 04:34] #442 closed

[2020-06-10 04:36] #458 closed

[2020-06-10 04:42] #515 closed

[2020-06-10 04:43] trask commented on #707
Netty is supported now in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 04:43] #707 closed

[2020-06-10 04:44] trask commented on #719
Please try out [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) and let us know if that resolves the issue for you

[2020-06-10 04:46] trask commented on #819
Closing since this was reported by internal dev team, and haven't had any customer requests for this.

[2020-06-10 04:46] #819 closed

[2020-06-10 04:47] #729 closed

[2020-06-10 04:50] trask commented on #1087
Please try out [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) and let us know if that resolves the issue for you

[2020-06-10 04:55] #999 closed

[2020-06-10 04:58] trask commented on #889
Using attach-focused sdk naming now in 3.0 Preview

[2020-06-10 04:58] #889 closed

[2020-06-10 05:01] trask commented on #793
Kafka is supported now in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent), and we are tracking future RabbitMQ support in #1236.

[2020-06-10 05:01] #793 closed

[2020-06-10 05:03] trask commented on #798
Please try out [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) and let us know if that resolves the issue for you

[2020-06-10 05:08] trask commented on #1014
This is resolved in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) (everything is collected by the agent now)

[2020-06-10 05:08] #1014 closed

[2020-06-10 05:10] trask commented on #970
For the near future, we are focusing on the agent and auto-collection.

[2020-06-10 05:10] #970 closed

[2020-06-10 05:11] trask commented on #1099
Can you let us know what your use case is for TrackAvailability?

[2020-06-10 05:12] trask commented on #987
Please try out [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) and let us know if that resolves the issue for you

[2020-06-10 05:18] trask commented on #1217
This should be resolved in [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent)

[2020-06-10 05:18] #1217 closed

[2020-06-10 05:19] #1216 closed

[2020-06-10 05:28] trask commented on #1222
Closing this as it is continued in #1155

[2020-06-10 05:28] #1222 closed

[2020-06-10 05:33] trask commented on #1231
In [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) you can set the cloud role instance either via configuration file or environment variable: https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#cloud-role-instance

[2020-06-10 05:35] #1244 closed

[2020-06-10 05:46] trask commented on #601
[3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) supports auto-collection of Kafka and JMS in case you are using either of those

[2020-06-10 05:59] trask commented on #1114
Please try out [3.0 Preview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) and let us know if that resolves the issue for you

[2020-06-10 06:02] trask commented on #1235
Hi @zoomingrocket do you have a single jmx metric that sometimes reports `true`/`false` and sometimes reports a numeric value? Curious what is the specific metric? Trying to think how best to capture that.

[2020-06-10 15:51] shrutinar opened #1258 "Java Agent causing out-of-memory issue"
### Expected behavior
We had done the integration of Adobe Experience Manager (AEM) for telemetry following the article: https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent and the logs and KMX metrics are now being written to appinsights.
### Actual behavior
However on AEM VMs we are getting OOM issues.
The integration was done using applicationinsights-agent-3.0.0-PREV

[2020-06-11 11:38] shrutinar commented on #1258
Hello Trask,
Here are the required details:

1.       PFA the complete screen shot from Heap dump memory analyzer (Heap_dump_1.png & Heap_dump_2.png) that we observed on our pre-prod server.

2.       There is only one javaagent being used, here is the command
CQ_JVM_OPTS="-server -Djava.awt.headless=true -Djava.io.tmpdir=/tmp -Xmx2g -XX:MaxMetaspaceSize=1g -XX:+HeapDumpOnOutOfMemoryError -XX:+Pri

[2020-06-13 04:14] DCampodonico commented on #1099
TrackAvailability is needed for cases when you have to write Custom Track Availability Tests.
I have a microservice architecture using gRPC and I want to log availability metrics for this services.

[2020-06-15 06:36] shrutinar commented on #1258
Any update on this issue?

Regards,
Shruti

[2020-06-15 10:06] the-mod commented on #1231
@trask thanks for that hint. It will solve the Issue to set the Role Instance, but were you able to reproduce/investigate the order of the initializers?

[2020-06-15 16:30] MS-jgol commented on #1258
@shrutinar We highly recommend to open a support ticket with us. Do you think you can that?

[2020-06-16 12:39] shrutinar commented on #1258
Hi,
Yes, my colleague has logged Support Request Id 120061626005899 for this.

Regards,
Shruti

From: MS-jgol <notifications@github.com>
Sent: Monday, June 15, 2020 10:01 PM
To: microsoft/ApplicationInsights-Java <ApplicationInsights-Java@noreply.github.com>
Cc: Shruti Narula <shruti.narula@publicissapient.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/ApplicationInsights-Java]

[2020-06-18 21:40] cchetangeek commented on #1051
I don't see Service Bus message processing track with 3.0.0-PREVIEW.4
However, I do see http dependencies and sql dependencies tracked (similar to 2.6.0).
I would want to track dependencies with ServiceBuss send/receive too.
Application is using spring boot 2.x and azure-servicebus 3.2.0 and
ApplicationInsights.json contains connectionString and roleName.
Is there any configuration to enable Servi

[2020-06-19 04:41] trask commented on #1258
Hi @shrutinar, can you upload the `applicationinsights.log` and the heap dump to the support case? (you mentioned earlier that you had attached the log file but i don't think it worked)

[2020-06-19 19:05] anandchugh opened #1260 "Using application insights agent java application is not exiting"
When I execute my application with following command, I can see after processing, it exits properly

`java -jar "./application.jar"`

When used with  -javaagent:./applicationinsights-agent-3.0.0-PREVIEW.4.jar -jar "

`java -javaagent:./applicationinsights-agent-3.0.0-PREVIEW.4.jar -jar "./applicaiton.jar"`

it is not exiting.

**Expected Behavior**: When main function ends in application.jar, prog

[2020-06-19 20:28] jesjobom commented on #1155
Hello. I am facing the same problem.
Here's a simple test.
https://github.com/jesjobom/applicationinsights-java-module-test

module-info.java
[code]

Error:
[code]

[2020-06-22 10:57] johanstenberg-sj opened #1261 "Web Flux and Application Insights Spring Boot starter"
Hi,

Is Web Flux still not supported by Application Insights Spring Boot starter?
If so it would make an excellent candidate for a new feature request.

BR

Johan

[2020-06-22 13:40] multicaststorm commented on #1251
I agree....Also it would great to have the sources available in maven (preferably aligned to the jar classes post-shading)

[2020-06-22 13:49] multicaststorm commented on #1170
A similar issue was happening to me when running within my IDE, although I think it was due to IntelliJ doing something 'intelligent'

When I ran standalone as a gradle java exec task, then all was fine.

I have also given 3.0 preview a go and it seems to work well for me.

Any news on 3.0 being fully released (including an accessible sdk)?....We want to starting using applications insights for al

[2020-06-22 17:01] MS-jgol commented on #1170
@multicaststorm Glad to hear that 3.0 is working for you.
Why is 3.0 GA critical? We have customers using it production already. Official GA data though is early November.
What are you planning to use the SDK for? We are investing heavily into the agent in hopes that it will give you the functionality you are looking for.

[2020-06-22 17:49] MS-jgol commented on #1261
@johanstenberg-sj Check out the Application Insights Java 3.0 - https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent
WebFlux is supported in that version

[2020-06-23 10:10] multicaststorm commented on #1170
@MS-jgol It would set off alarm bells at my workplace if I want to use a dependency that is not in maven and has the name 'Preview'! (even though im sure its fine)

I wanted to use the SDK for customizations e.g. Custom TelemetryInitializer

Also I want to have finer grain control over my logging telemetry. So I created my own Log handler against v2.6.1 sdk (with custom field mappings and filter).

[2020-06-23 10:59] shrutinar commented on #1258
Please find the appinsightslogs attached.

[applicationinsights-log.txt](https://github.com/microsoft/ApplicationInsights-Java/files/4818866/applicationinsights-log.txt)

The heap dumps are around 5GB thus not able to attach in the thread, is there any other way i can share?

Thanks!

[2020-06-24 04:33] trask commented on #1258
Hi @shrutinar, we found the memory leak! And it should be fixed in the newly released 3.0.0-PREVIEW.5: https://github.com/microsoft/ApplicationInsights-Java/releases

[2020-06-24 04:33] #1258 closed

[2020-06-24 04:33] trask commented on #1260
Hi @anandchugh! This should be fixed now in the newly released 3.0.0-PREVIEW.5: https://github.com/microsoft/ApplicationInsights-Java/releases

[2020-06-24 04:33] #1260 closed

[2020-06-24 04:37] shrutinar commented on #1258
Thanks for the update.

[2020-06-24 06:29] trask commented on #1170
Hi @multicaststorm, could you share your custom TelemetryInitializers with us? We are trying to understand the various ways that they are being used as we plan for 3.0 GA. If you prefer not to share publicly, please send to trask.stalnaker@microsoft.com. Thanks.

[2020-06-24 08:05] #1261 closed

[2020-06-24 10:00] jzanon opened #1263 "DeadLockDetectorPerformanceCounter does not send thread stack in TelemetryTrace"
### Expected behavior
DeadLockDetectorPerformanceCounter shall send some thread stack elements within message of TraceTelemetry.

### Actual behavior
DeadLockDetectorPerformanceCounter only send ThreadInfo without thread stack trace in TraceTelemetry.

### To Reproduce

- DeadLockDetectorPerformanceCounter enabled (default behavior)
- When a deadlock occurs or is created for test purpose

#### Sam

[2020-06-24 17:09] trask commented on #1051
Hi @cchetangeek, if you are using JMS to access Service Bus then it is supported in 3.0-PREVIEW, but if you are using Azure SDK it is not supported yet.

[2020-06-25 09:24] multicaststorm commented on #1170
Our custom initializer is only doing simple stuff like setting some global fields, e.g:
[code]

But our bigger issue is the other areas we plan to customise:

- Our custom log handlers (similar to your Log4J apppender in 2.6.x). We want to have complete control over what logs are sent and also the ability to set additional context specific dimensions via our semantic logging api.

- The ability to

[2020-06-25 20:43] trask commented on #1170
hey @multicaststorm, thanks for getting back,

* For your custom initializer - is there any conditional logic involved here, or these are just statically applied to all telemetry?
  * Would it work for you if we supported declaring global attributes in `ApplicationInsights.json`?
* Custom log handlers - you can disable agent log capture and continue doing the same in 3.0
* Custom telemetry - you c

[2020-06-26 05:33] knutwannheden opened #1266 "OpenTelemetry exporter build?"
We are currently using a custom implementation of the OpenTracing SPI to send our tracing data to Application Insights (the implementation is based on the Application Insights SDK 2.6.1) from a Quarkus application. Our plan is to move to OpenTelemetry as soon as it is supported by Quarkus.

Since Quarkus also supports native image generation (using GraalVM) auto-instrumentation using a Java agent

[2020-07-01 09:55] multicaststorm commented on #1170
@trask

- Global Attributes in `ApplicationInsights.json` - This would be an improvement, but I can already see that I might want to set my application version number (which I could do programmatically in a custom initializer)
- Custom log handlers - Do you mean by continuing to do the custom stuff with 2.x sdk, and rest via 3.x codeless agent? Is this a sustainable approach going forward? i.e. wi

[2020-07-02 16:43] matchr89 opened #1267 "Missing logs with ApplicationInsights-Java and Spring Boot 2.3.0"
### Expected behavior
Logs, thrown in a RestController class, can be found in Azure ApplicationInsights.

### Actual behavior
The class logs to stdout when run locally. On aks cluster the logs can be found with 'kubectl logs' but do not appear in the application insights gui. The problems appears with Spring Boot 2.3.0, 2.3.1 but not with 2.1.6.
### To Reproduce
Use Spring Boot 2.3.0 and log somet

[2020-07-02 20:55] trask commented on #1267
Hi @matchr89! Can you try [3.0.0-PREVIEW.5](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) and see if that resolves the issue?

[2020-07-06 14:14] 123Jun321 opened #1269 "FromSeverityLevel settings"
**Is your feature request related to a problem? Please describe.**
we just want to know can we modify the trace level(FromSeverityLevel ) without restarting the app?
if can, could you tell us how to do that?

Thanks first！

**Describe the solution you would like**
Describe what you want to happen.

**Describe alternatives you have considered**
Describe any alternative solutions or features you've

[2020-07-06 16:29] MS-jgol commented on #1269
@123Jun321 What version of Application Insights Java are you using?

I strongly recommend to use the Java 3.0 agent, which does not require restarting the app: https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent

Here are the available configuration options:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config

[2020-07-06 20:56] JasonFreeberg opened #1270 "How to register a custom TelemetryInitializer"
I have a Spring Boot project configured with the AI Spring Boot Starter. I am able to do the core scenarios (see auto-instrumented telemetry and log custom metrics/events). However, I want to register a [custom telemetry initializer](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling) to tag my outgoing telemetry with a custom dimension, but I cannot figure out how to

[2020-07-06 22:23] Smaranikasarla commented on #1251
With the  latest AI Agent Preview Version 5, we were able to completely trace the logs on AppInsights for our Application built using Spring WebFlux. We are planning to put this in production sometime in 4th Quarter. Can you help us with an estimated timeline when the GA version would be available?

[2020-07-07 04:47] MS-jgol commented on #1251
@Smaranikasarla Wow, great to hear such a positive feedback!
We plan to GA the Java 3.0 agent in the early November. This should work with your timeline it seems.

[2020-07-07 13:41] 123Jun321 commented on #1269
Hi @MS-jgol ，Thanks very much first.
we used applicationinsights-web-auto 2.5.0

And actually we want to control the level of trace logs which were sent the Application Insights, can we use the below JSON to do this?

{
  "instrumentationSettings": {
    "preview": {
      "instrumentation": {
        "logging": {
          "threshold": "ERROR"
        }
      }
    }
  }
}

[2020-07-07 18:07] MS-jgol commented on #1269
@123Jun321
You can control the trace logs in Java 3.0 agent, here are the instructions:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#application-log-capture

[2020-07-07 19:28] Smaranikasarla commented on #1251
@MS-jgol  Awesome! Yes that about the same time we are planning to go live. Thank you for that information

[2020-07-08 12:43] 123Jun321 commented on #1269
Hi  @@MS-jgol

We have a test in our local with tomcat 8.5, but when we changed the ApplicationInsights.json, we didn't found it worked.

there were steps how we test:
1.deploy the web app to tomcat
2.config the tomcat as the article said https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-arguments#tomcat-8-windows
3.run it, visit the web app
4.change the ApplicationInsights.

[2020-07-08 12:45] 123Jun321 commented on #1269
By the way, the region of Application Insights we used  is in china

[2020-07-08 16:44] anandchugh commented on #1260
Hi @trask ,
We are still facing this issue with PREVIEW.5 release.
Is you see the screenshot, we are getting errors while using app insights:
`2020-07-08 22:03:22.645+05 ERROR c.m.a.i.p.AbstractUnixPerformanceCounter - Performance Counter JSDK_ProcessIOPerformanceCounter: Error in file '/proc/455/io': Error while parsing file: '%s'
2020-07-08 22:04:22.609+05 ERROR c.m.a.i.p.AbstractUnixPerformance

[2020-07-08 17:59] trask commented on #1260
Hi @anandchugh, can you capture a thread dump while it's in the not-stopping state and post that here? That will help us see what non-daemon threads are running and preventing the application from terminating. thx!

[2020-07-08 18:21] jeanabraham opened #1273 "Seeing all entries as 'trace' log level in Application Insights logs"
### Expected behavior
- All logs levels reflected in Azure Application Insights dashboard as it is in the console/stdout logs. 'INFO' shows up as info itemType.
- Correct timestamp as it is in the console/stdout logs.

### Actual behavior
**Azure Application Insights dashboard:**
All log levels (INFO, DEBUG, etc) show up as 'trace' in itemType.
![image](https://user-images.githubusercontent.com/81

[2020-07-08 18:30] jeanabraham commented on #1273
Figured out the timestamp issue. Didn't realize there was a 'local time' option for viewing. Just need to figure out why all log entries are showing up with 'trace' itemType.

[2020-07-08 19:06] anandchugh commented on #1260
Please find the attached threaddump.
[thdump.txt](https://github.com/microsoft/ApplicationInsights-Java/files/4892724/thdump.txt)

[2020-07-08 23:47] MS-jgol commented on #1269
@123Jun321 Just to confirm: am I understanding this correctly that after step 2, when you run the app, the telemetry is working, and after you change the config settings it stops working? Meaning, the config changes are not having any effect, correct?

If the above is true, can you please send us your config file after the changes were made (make sure to remove all private information...)?

On a s